<script src="/common/public/js/layer_mobile/layer.js"></script>
<!--中间弹出层-->
<div class="box" style="display: none;">
    <div class="release">
        <img src="https://www.wezchina.com/wap/tpl/default/images/activity_06.jpg" alt="">
        <div class="content_s" style="margin-bottom: -400px;">
            <div class="list_t">
                <a href="/wap/index.php?ctl=publish&amp;act=deal">
                    <img class="list_02" src="https://www.wezchina.com/wap/tpl/default/images/activity_02.png" alt="">
                    <p class="list_text">发项目</p>
                </a>
            </div>
            <div class="list">
                <div class="list_footer_text">
                    <a href="/wap/index.php?ctl=publish&amp;act=article">
                        <img class="list_01" src="https://www.wezchina.com/wap/tpl/default/images/activity_03.png" alt="">
                        <p class="list_text_left">发文章</p>
                    </a>
                </div>
                <div class="list_footer_active">
                    <a href="/wap/index.php?ctl=publish&amp;act=roadshow">
                        <img class="list_03" src="https://www.wezchina.com/wap/tpl/default/images/activity_04.png" alt="">
                        <p class="list_text_right">发活动</p>
                    </a>
                </div>
            </div>
            <img class="list_last" src="https://www.wezchina.com/wap/tpl/default/images/activity_1.png" alt="">
        </div>
    </div>
</div>
</div>
<!-- page 结束 -->
<div class="head_search_mask"></div>
<script>
    window.onload=function(){
        $(".bottom_mid").click(function(){
            $(".box").show();
            $(".content_s").css({"margin-bottom":"0px"});
        });
        $(".list_last").click(function(){
            $(".box").hide();
            $(".content_s").css({"margin-bottom":"-400px"});
        });

    };
</script>
<style>
    .layui-m-layerchild {
        border-radius: 2px;
        background: none;
    }
    .layui-m-layerbtn {
        display: box;
        display: -moz-box;
        display: -webkit-box;
        width: 100%;
        height: 31px!important;
        line-height: 31px;
        font-size: 0;
        border-top: 1px solid #DDD;
        background-color: #FFF;
    }
    .layui-m-layerbtn span[yes] {
        color: #1aad19;
    }
    .layui-m-layerbtn, .layui-m-layerbtn span {
        position: relative;
        text-align: center;
        border-radius: 2px;
    }
    #login_vue {
        width: 3.2rem;
        max-width: 640px;
        height: 2.06rem;
        border-radius: 0.06rem;
        background-color: #ecf0f3;
        padding-top: 0.01rem;
    }

    .layui-layer-btn0 {
        width: 83% !important;
        height: 0.4rem !important;
        line-height: 0.4rem !important;
        background: #24c3fb !important;
        color: #fff !important;
        -webkit-border-radius: 0.04rem !important;
        -moz-border-radius: 0.04rem !important;
        border-radius: 0.04rem !important;
        font-size: 0.14rem !important;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box !important;
        display: block;
        margin-left: 0.27rem!important;
    }
</style>
<script type="text/javascript">
// mb_add
function mb_add()
{ 
    // return false;
    layer.open({
      type: 1
      ,content: $('#footer_add').html()
      ,anim: false
      ,style: 'background:#fff;position:fixed; left:0; top:0; width:100%; height:100%; border: none;'
    });
}

function close_footer_add()
{
    layer.closeAll();
}

// 需要依赖layer moble
function mb_login(href){
    var weid = $app.get_storage('weid');
    layer.open({
        content: '仅需一步,即可激活您的账号'
        ,btn: ['激活', '暂不']
        ,style: 'width: 260px; color: #818180; background-color: #fff ;'
        ,yes: function(index){
            layer.open({
                content: `
                <div id="login_vue">
                    <div id="app_ss">
                        <div id="login-info">
                            <ul>
                                <li id="phonenum">
                                    <input type="text" v-model="login.phone" value="" name="login_phone" placeholder="请输入手机号码" maxlength="11" id="login_phone">
                                </li>
                                <li id="checknum">
                                    <input type="text" v-model="login.code" value="" name="login_check"  placeholder="请输入手机验证码" maxlength="6" id="login_check"> <span v-if="check_num>0">剩余{{check_num}}秒</span> <span v-else @click="code();">{{code_string}}</span>
                                </li>
                            </ul>
                        </div>
                         <div ><a class="layui-layer-btn0" @click="login_post();">激活</a></div>
                    </div>
                </div>
                `
            });

            new Vue({
                el: '#login_vue',
                data: {
                   code_string : '获取验证码',
                   login: {
                        phone : '',
                        code : '',
                        weid : '',
                        ref_type : pages_type,
                        from_type : '',
                        ref_url : window.location.pathname,
                        type : '',
                        domain : pages_index
                   },
                   check_num : 0,
                   verification : {
                        'phone' : /^((1[1-9]{1})+\d{9})$/,
                        'check' : /^\d{6}$/,
                   }
                },
                mounted() {
                },
                methods:{
                    timer(){
                        setTimeout(()=>{
                            if(!this.check_num == 0)
                            {
                                this.check_num--;
                                this.timer();
                            }
                        } , 1000);
                    },
                    code (){

                        if(!this.verification.phone.test(this.login.phone))
                        {
                            mb_message('手机号不对');
                        }
                        this.check_num = 60;
                        ajax.post('codes' , {'phone' : this.login.phone}).then((data)=>{
                            if(data.code == 200)
                            {
                                //this.check_num = 60;
                                this.timer();
                            }
                        });
                    },
                    login_post(){
                        if(!this.verification.phone.test(this.login.phone))
                        {
                            mb_message('手机号不对');
                            return;
                        }

                        if(!this.verification.check.test(this.login.code))
                        {
                            mb_message('验证码有误!');
                            return;
                        }
                        if(is_wx == 'yes')
                        {
                            var weid = $app.get_cookie('weid');
                            this.login.weid = weid;
                            this.login.type = 1;
                            this.login.from_type = 2;
                            ajax.post('userAct' , this.login).then((data)=>{
                                if(data.code == 200)
                                {
                                    $app.set_login_data(data);
                                    $app.open_page(href);
                                }
                            });
                        }
                        else
                        {
                            ajax.post('login' , this.login).then((data)=>{
                                if(data.code == 200)
                                {
                                    $app.set_login_data(data);
                                    $app.open_page(href);
                                }
                            });
                        }
                    }
                }
            });
        }
    });
}

</script>

