* {
    padding: 0;
    list-style: none;
    margin: 0;
    text-decoration: none; }

section {
    width: 100%; }

main {
    width: 1200px;
    margin: 0 auto; }

/*bnaner  && nav*/
.ban {
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.bnaner_aubou {
    width: 100%;
    height: 340px;
    background: #17233D;
    background-size: cover;
    position: relative; }
.bnaner_aubou main {
    height: 100%;
    position: relative; }
.bnaner_aubou main img {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 990; }
.bnaner_aubou main .bnbntitle {
    width: 620px;
    height: 128px;
    position: absolute;
    left: 0;
    top: 30%;
    background: url("../img/bnbnbn.jpg"); }

.navx {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0; }

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff; }

.span {
    color: #FF0000 !important;
    border-bottom: 2px solid #FF0000; }

/*content*/
.content {
    width: 100%;
    height: auto; }

.content main {
    height: 100%;
    display: flex;
    justify-content: space-between; }

.toptop {
    width: 100%;
    height: 1px;
    display: none; }

.toptop main {
    height: 1px; }

.fixeds {
    display: block;
    position: fixed;
    top: 70px;
    left: 0; }

.boxb {
    width: 230px;
    margin: 0;
    height: 100%; }

.content_left {
    width: 230px;
    height: 100%;
    box-sizing: border-box;
    border-top: 10px solid #CF2822;
    padding-top: 30px;
    background: #fff; }

.content_left li {
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 60px;
    text-align: center; }

.content_left li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #333; }

.con_title {
    width: 100%;
    height: 33px; }

.con_title p {
    width: 100%;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666; }

.content_rights {
    width: 930px;
    margin: 0;
    height: 100%;
    margin-bottom: 20px;
}

.about_titless {
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #ebebeb;
    padding-top: 20px;
    overflow: hidden;
    line-height: 41px;
    margin-bottom: 20px;
}

.about_titless span {
    font-size: 18px;
}

.about_title {
    width: 100%;
    height: 112px;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    line-height: 41px;
    margin-bottom: 20px; }
.about_title .title_con {
    width: 100%;
    height: 55px;
    margin-top: 40px;
    overflow: hidden;
    position: relative; }
.about_title .title_con .lineder {
    width: 4px;
    height: 22px;
    background: #cf2822;
    float: left;
    margin-top: 5px; }
.about_title .title_con span {
    float: left;
    display: block;
    width: auto;
    height: 22px;
    line-height: 32px;
    font-size: 22px;
    margin-left: 10px; }
.about_title .title_con img {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0; }

.about_con {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}


.content_left li a.about {
    background: #f5f5f5;
    color: #D32720 !important; }











.caseq {
    width: 930px;
    height: auto; }
.caseq ul {
    width: 930px;
    height: auto;
    overflow: hidden; }
.caseq ul li {
    width: 210px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px; }
.caseq ul li img {
    width: 100%;
    display: block;
    height: 111px; }
.caseq ul li p {
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 14px; }
.caseq ul li p span {
    font-size: 16px;
    color: #333;
    line-height: 16px;
    font-weight: bold; }
.caseq ul li p:nth-of-type(2) {
    margin-top: 11px; }
.caseq ul li:nth-of-type(4n) {
    margin-right: 0; }



.new{
    width: 46px;
    height: 22px;
    border: 1px solid #cf2822;
    text-align: center;
    font-size: 14px;
    background: #ffe5e4;
    color: #cf2822;
    position: absolute;
    line-height: 22px;
    top: 18px;
    left: 120px;
    border-radius: 11px;
}
.horr {
    width: 930px;
    height: auto; }
.horr ul {
    width: 100%;
    height: auto;
    overflow: hidden; }
.horr ul li {
    width: 285px;
    height: 386px;
    float: left;
    margin-right: 37px;
    margin-bottom: 37px;
    box-sizing: border-box; }
.horr ul li img {
    display: block;
    width: auto;
    height: 100%; }
.horr ul li:nth-of-type(3n) {
    margin-right: 0;
    margin-bottom: 0; }

.product {
    width: 930px;
    height: auto; }
.product li {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
    padding: 40px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between; }
.product li .text {
    width: 583px;
    height: auto;
    float: left; }
.product li .text p {
    font-size: 14px;
    color: #999;
    margin-bottom: 30px; }
.product li img.img01 {
    display: block;
    width: 304px;
    height: 259px;
    float: left;
    margin-left: 30px;
    margin-top: 90px; }
.product li img.img02 {
    display: block;
    width: 290px;
    height: 475px;
    float: left; }
.product li:nth-of-type(1){
    padding-top: 0;
}
.product li .text-2 {
    width: 594px;
    height: auto; }
.product li .text-2 p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 24px;
    color: #999; }
.product li .text-2 span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px; }
.product li .title_prod {
    width: 930px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #333;
    font-size: 24px; }
.product li .content_right_top {
    width: 930px !important;
    height: 300px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.product li .content_right_top li {
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    color: #333333;
    position: relative;
    border-bottom: 0px solid #fff; }
.product li .content_right_top li span {
    display: block;
    width: 100%;
    height: auto; }
.product li .content_right_top li span:hover {
    text-decoration: underline;
    color: #D32720; }
.product li .content_right_top li .img {
    display: block;
    width: 138px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    position: relative;
    margin: 0 auto; }
.product li .content_right_top li .img img {
    width: auto;
    height: auto; }
.product li .content_right_top li .pos {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
.product li .content_right_top li .img_con {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #999; }
.product li .title_prod2 {
    width: 930px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 30px; }
.product li p {
    font-size: 14px;
    color: #999; }
.product li .center {
    text-align: center;
    line-height: 24px; }
.product li .people-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 40px; }
.product li .people-img li {
    width: 100px;
    float: left;
    height: 100px;
    padding: 0;
    border-bottom: 0px solid #fff;
    margin-right: 3px;
    margin-bottom: 3px; }
.product li .people-img li img {
    display: block;
    width: 100%;
    height: 100%; }
.product li .soul {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 50px; }
.product li .soul li {
    width: 275px;
    height: 152px;
    float: left;
    background: red;
    padding: 0;
    margin-left: 9px; }
.product li .soul li img {
    display: block;
    width: 100%;
    height: 100%; }
.product li .soul li:nth-of-type(1) {
    width: 362px;
    height: 313px;
    margin-left: 0; }
.product li .soul li:nth-of-type(2), .product li .soul li:nth-of-type(3) {
    margin-bottom: 9px; }

.developes {
    width: 930px;
    height: auto;
    overflow: hidden; }
.developes li {
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    border-left: 1px solid #DA1C21;
    position: relative;
    margin-left: 14px; }
.developes li img {
    left: -10px;
    top: -8px;
    position: relative;
    z-index: 999; }
.developes li span {
    font-size: 16px;
    color: #333;
    line-height: 60px; }
.developes li div.c {
    width: 6px;
    height: 6px;
    background: #DA1C21;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 18px; }
.developes li p {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    padding-left: 40px; }
.developes li div.circle {
    width: 12px;
    height: 12px;
    border: 1px solid #DA1C21;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 10px;
    background: #fff; }
.developes .con {
    height: 60px; }
.developes .year {
    font-size: 16px;
    color: #333;
    line-height: 35px;
    margin-left: 20px; }

.addwe {
    width: 930px;
    height: auto; }
.addwe p {
    width: 100%;
    height: 37px;
    font-size: 14px;
    color: #666;
    line-height: 14px; }
.addwe p span {
    color: #cf2822; }
.addwe .adduss {
    width: 930px;
    height: auto;
    margin-bottom: 60px; }
.addwe .adduss li {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center; }
.addwe .adduss li span {
    display: block;
    width: auto;
    height: 60px;
    font-size: 14px;
    color: #666;
    line-height: 60px;
    display: flex; }
.addwe .adduss li span:nth-of-type(1) {
    padding: 0 37px; }
.addwe .adduss li span:nth-of-type(2) span {
    padding: 0 40px; }
.addwe .adduss li:nth-of-type(2) {
    overflow: hidden; }
.addwe .adduss li:nth-of-type(2) span:nth-of-type(2) span {
    border-left: 1px solid #d9d9d9; }
.addwe .adduss li:nth-of-type(1) {
    border-top: 1px solid #d9d9d9; }
.addwe .adduss li:nth-of-type(1) span {
    color: #333; }
.addwe .adduss li:nth-of-type(1) span:nth-of-type(2) {
    width: 80px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    position: relative;
    margin-right: 20px; }
.addwe .adduss li:nth-of-type(1) span:nth-of-type(2) select {
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #666; }
.addwe .adduss li:nth-of-type(2) {
    height: 39px;
    background: #f5f5f5; }

.contectus {
    width: 930px;
    height: auto;
    margin-bottom: 130px; }
.contectus li {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9; }
.contectus li .contecttype {
    width: 50%;
    height: 154px; }
.contectus li .contecttype p {
    font-size: 14px;
    color: #666666;
    line-height: 30px; }
.contectus li .contecttype p span {
    font-size: 20px;
    color: #333;
    line-height: 40px; }
.contectus li .media {
    width: 330px;
    height: 100%;
    box-sizing: border-box; }
.contectus li .media p {
    font-size: 14px;
    color: #666666;
    line-height: 30px; }
.contectus li .media p span {
    font-size: 20px;
    color: #333;
    line-height: 40px; }
.contectus li:nth-of-type(3) {
    position: relative;
    border-bottom: 0 solid #fff; }
.contectus li:nth-of-type(3) iframe {
    margin: 0 auto; }
.contectus li:nth-of-type(3) div.positionss {
    width: 697px;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    position: absolute;
    bottom: -90px;
    left: 116px;
    text-align: center; }
