/* 文章列表 开始 */
.article_main{
	width:1200px;
	padding:0;
	overflow:hidden;
}
.article_main .mod_title{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #dadada;
}
.article_l {
	background:#fff;
	float:left;
	width:230px;
	overflow:hidden;
	margin-top:26px;
}
.article_l li {
	border-bottom: 1px solid #ebebeb;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	text-align:center;
}
.article_l li a{
	display: block;
	width: 100%;
	height: 100%;
}
.article_l li i{
	font-size: 24px;
	margin-right: 16px;
	color: #666;
	position: relative;
	top: 4px;
}
.article_l li.on {
	background-color: #f5f5f5;
	border: none;
	color: #FFF;
}
.article_l li.on a,.article_l li.on a i{
	color:#cf2822;
}
.article_l li:hover{
	background-color: #f5f5f5;
}
.article_l li a:hover{
	color: #333;
}
.article_r{
	background:#fff;
	float:right;
	width:940px;
	overflow: hidden;
}
.article_r_list{
	width:940px;
	border-bottom: 1px dashed #ccc;
	padding:30px 0;
}
.article_r_list .list_l{
	float: left;
	width: 680px;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	padding-left: 50px;
	overflow: hidden;
}
.article_box .article_r_list h3{
	position:relative;
	float:left;
	width:750px;
	height: 30px;
	line-height: 30px;
	font-size:22px;
	overflow: hidden;
	font-weight:normal;
	padding-left:50px;
}
.article_box .article_r_list h3 i ,
.faq_box .article_r_list h3 i{
	position:absolute;
	left:0;
	top:4px;
	width:40px;
	height:20px;
	background: url(/common/img/all.png) 0 -270px no-repeat;
	display:block;
}
.faq_box{ padding:20px; }
.faq_title { 
	font-size:16px;
	font-weight:bolder;
	padding:5px 0px;
}
.faq_box .article_r_list h3{
	position:relative;
}
.faq_box .article_r_list h3 i{
	background-position:0 -295px;
}
.article_r_list h3 a{width:620px;}
.article_r_list .muted{
	font-size:12px;
	width:130px;
	text-align:center;
}
.article_box .article_r_list .text {
	position:relative;
	line-height:24px;
	margin:15px 0 5px 0;
	color:#666;
	font-size:14px;
	padding-left:50px;
	overflow:hidden;
}
.article_box .article_r_list .text i{
	position:absolute;
	left:20px;
	top:5px;
	width:20px;
	height:20px;
	background: url(/common/img/all.png) -45px -270px no-repeat;
	display:block;
}
.faq_box .article_r_list .text i{
	background-position:-45px -295px;
}
.article_box .article_r_list h3{
	width:750px;
	height:auto;
}
.faq_box .article_r_list h3 {width:725px}
.faq_box .article_r_list h3 a{
	width:725px;
}
.faq_box .article_r_cont{padding:0 15px;}
.faq_box .article_r_list{width:770px}
.faq_box .last{border:0;}
/* 文章列表 结束 */


/* 新版关于我们 */
.about_top_img{
	margin-top: 70px;
	height: 350px;
	background: url(/common/img/aboutus.jpg) no-repeat center center;
}
.about_line_box{
	width: 100%;
	height: 12px;
}
.about_img_bottom{
	width: 230px;
	height: 12px;
	float: left;
	background-color: #cf2822;
}
.apply_btn{
	width: 124px;
    height: 42px;
    line-height: 42px;
    background-color: #ffcf83;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0 atuo;
}
.apply_btn:hover{ 
	background-color:#faaa00;
	color: #333;
}

.article_r_img>a{
	display: inline-block;
	margin:15px;
}
.article_r_img a img{
	width: 200px;
	height: 80px;
}