* { margin: 0; padding: 0; list-style: none; }

a {
    display: inline-block;
}

a, a:hover {
    text-decoration: none;
}

.check a, .check a:hover {
    color: #337ab7;
}

#bg {
    width: 100%;
    min-width: 1366px;
    height: auto;
    min-height: 768px;
    margin: 0 auto;
    background: url('/common/img/loginbg.png') no-repeat center;
    background-size: 100%;
}

.home_login_top {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.login_top_wrap {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.login_top_wrap img {
    width:120px;
    height: 40px;
}

.home_login_center {
    width: 100%;
    height: 558px;
    min-height: 558px;
    overflow: hidden;
    position: relative;
    background: url('/common/img/login_bg.jpg');
    background-size: cover;
    background-position: center;
}

.bg_top_img {
    width: 1200px;
    height: 558px;
    position: relative;
    margin: 0 auto;
}

.bg_bottom_img {
    width: 100%;
    height: 675px;
    overflow-y: hidden;
    background: url('/common/img/loginbg_1.png');
    background-size: cover;
    position: relative;
}

.home_login_bottom {
    height: 90px;
    position: relative;
    top: 70px;
    color: #333;
}

.home_login_bottom .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_login_bottom .links a {
    width: 92px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    color: #333;
}

.home_login_bottom .links span {
    width: 4px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    padding: 0 6px;

}

.home_login_bottom .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    top: 17px;
}

.home_login_bottom .copyright span {
    padding-right: 5px;
}

.show-login {
    position: absolute;
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid #e9e9e9;
    z-index: 25;
    transform: translateY(-50%);
    left: 52%;
    top: 41%;
    padding: 2rem;
    border-radius: 5px;
}

#qrcode {
    width: 35px;
    height: 33px;
    margin-left: 300px;
    margin-top: -35px;
    opacity: 0.6;
    float: right;
    background-image: url(/common/img/qrc.png);
    background-size: 35px 33px;
}

.to-login {
    position: absolute;
    top: 265px;
    right: 0;
    width: 35px;
    height: 32px;
    margin-right: 24px;
    margin-top: -18px;
    opacity: 0.6;
    float: right;
    background-image: url(/common/img/pc.png);
    background-size: 35px 33px;
}

.wexin {
    position: relative;
    width: 358px;
    height: 280px;
    display: none;
}

.wx {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.qrcode {
    width: 220px;
    height: 220px;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
}

.check span {
    cursor: pointer;
}

.login-heading {
    height: 42px;
    line-height: 60px;
    text-align: left;
    padding-left: 1rem;
    color: #333;
    overflow: hidden;
    font-size: 24px;
    border-radius: 2px 2px 0 0;
    /*border-bottom: 1px solid #eee;*/
    /*background-color: #F8F8F8;*/
}

.login-body {
    padding: 15px;
}

#log-in {
    margin-top: 20px;
    text-align: left;
}

#log-in > a {
    width: 176px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    background-color: #007cd3;
    border: 1px solid #007cd3;
    color: #FFF !important;
    border-radius: 4px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

.news_menu a {
    line-height: 2.2rem !important;
    text-decoration: none !important;
}

.get-check, .get-check:hover, .get-check:active {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
    background-color: #007cd3!important;
    border: 1px solid #007cd3!important;
    color: #fff!important;
}

.get-check:hover {
    text-decoration: underline!important;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0;
}
