.section {
    text-align: center;
    color: #fff;
    position: relative;
    min-width: 1000px;
    overflow: hidden;
}

.warp {
    width: 1200px;
    margin: 0 auto;
}

/*.headt .cont{background:#262e4d;}
.headt .cont a{background:#fff;}
.headt .cont a:hover{background:#2e365a;}*/
.page1 {
    height: 992px;
}

.banner {
    position: absolute;
    height: 992px;
    width: 100%;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}

.slide1 {
    background-image: url("/common/img/main_banner1.jpg");
}

.slide2 {
    background-image: url("/common/img/main_banner2.jpg");
}

.slide3 {
    background-image: url("/common/img/main_3.jpg");
}

.slide h2 {
    font-size: 56px;
}

.slide h3 {
    font-size: 24px;
    padding: 10px;
}

.slide .txt {
    width: 500px;
    display: block;
    margin: 0 auto
}

.slide .txt p {
    line-height: 1.9em;
}

.page1 .arrow_btn {
    opacity: 0.3;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 44%;
    margin-top: -15px;
    background: url("/common/img/main_arrow.png") no-repeat;
    z-index: 999;
}

.page1 .arrow_btn:hover {
    opacity: 0.9;
}

.page1 .arrow_btn.l {
    left: 0;
    margin-left: 5%;
}

.page1 .arrow_btn.r {
    right: 0;
    background-position: -46px 0;
    margin-right: 5%;
}

.p1Btn {
    width: 360px;
    margin: 30px auto;
}

.p1Btn a {
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    display: block;
    float: left;
    padding: 0 26px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
    margin: 0 10px;
    background: rgba(0, 0, 0, 0.1);
}

.p1Btn a.b1 {
    border: 1px solid #e42424;
    background: #e42424;
    padding: 0 36px;
}

.p1Btn a.b1:hover {
    border-color: #dc1616;
    background: #dc1616;
}

.p1Btn a.b2:hover {
    border-color: #dc1616;
    background: #dc1616;
}

.p1_btn {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.p1_btn span {
    height: 5px;
    width: 40px;
    background: #fff;
    opacity: 0.3;
    display: inline-block;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}

.p1_btn span.active {
    opacity: 0.7;
}

.fp-controlArrow {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background: url("/common/img/main_arrow.png") no-repeat -46px 0;
}

.fp-controlArrow.fp-prev {
    width: 40px;
    background-position: 0 0;
}

.tit {
    overflow: hidden;
    padding: 70px 0 41px;
}

.tit .en {
    display: block;
    color: #d2d2d2;
    font-size: 23px;
    margin-top: 3px;
}

.tit span {
    font-size: 38px;
    color: #333;
}

.pro_sc {
    position: relative;
    height: 590px;
    background: url("/common/img/main_bg.png") no-repeat 8px 230px;
    left: 98px;
    top: -20px;
    margin-bottom: 50px;
}

.psc, .psc1 {
    position: absolute;
    cursor: pointer;
}

.psc span.f_write {
    color: #fff;
}

.psc em, .psc1 em {
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 149px;
    height: 149px;
    padding: 0;
    margin: 0 auto;
}

.psc span {
    color: #666;
    font-size: 16px;
    display: block;
    margin-top: -4px;
}

.psc_1 em {
    background-image: url("/common/img/main_icon1.png");
}

.psc_2 em {
    background-image: url("/common/img/main_icon2.png");
}

.psc_3 em {
    background-image: url("/common/img/main_icon3.png");
}

.psc_4 em {
    background-image: url("/common/img/main_icon4.png");
}

.psc_5 em {
    background-image: url("/common/img/main_icon5.png");
}

.psc_a em {
    background-image: url("/common/img/main_icon0.png");
    width: 270px;
    height: 153px;
    background-position: 0 0;
}

.psc_1 {
    left: -55px;
    top: 254px;
}

.psc_2 {
    left: 147px;
    top: 120px;
}

.psc_3 {
    left: 426px;
    top: 34px;
}

.psc_4 {
    left: 706px;
    top: 120px;
}

.psc_5 {
    left: 916px;
    top: 254px;
}

.psc_a {
    left: 360px;
    top: 370px;
}

.psc_a b {
    color: #333;
    margin: 5px 0;
    display: block;
    font-size: 20px;
}

.psc.hover em {
    background-position: 0 0;
}

.psc .info {
    position: absolute;
    top: 150px;
    font-size: 14px;
    line-height: 1.5em;
    text-align: left;
    background: #0ec9ff;
    color: #fff;
    width: 300px;
    padding: 10px 20px 10px;
    z-index: 2;
    left: 50%;
    margin-left: -170px;
    display: none;
    border-radius: 3px;
}

.psc .info b {
    display: block;
    text-align: center;
    padding: 0 0 2px;
}

.psc .info:after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #0ec9ff;
    left: 50%;
    margin-left: -15px;
}

.psc_1.hover span {
    color: #67d1b3;
}

.psc_1 .info {
    background: #67d1b3;
}

.psc_1 .info:after {
    border-bottom-color: #67d1b3;
}

.psc_2.hover span {
    color: #ff7b91;
}

.psc_2 .info {
    background: #ff7b91;
}

.psc_2 .info:after {
    border-bottom-color: #ff7b91;
}

.psc_3.hover span {
    color: #feaa47;
}

.psc_3 .info {
    background: #feaa47;
}

.psc_3 .info:after {
    border-bottom-color: #feaa47;
}

.psc_4.hover span {
    color: #63b7fc;
}

.psc_4 .info {
    background: #63b7fc;
}

.psc_4 .info:after {
    border-bottom-color: #63b7fc;
}

.psc_5.hover span {
    color: #91d74c;
}

.psc_5 .info {
    background: #91d74c;
}

.psc_5 .info:after {
    border-bottom-color: #91d74c;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes fadeInDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.page3 {
    background: #fafafa;
    padding: 80px 0;
}

.page3 .warp {
    height: 587px;
}

.page3 .left {
    width: 75%;
    float: left;
    position: relative;
}

.page3 .right {
    float: right;
    width: 32%;
    margin-right: -33px;
    margin-top: 50px;
}

.page3 .left .phone {
    width: 222px;
    height: 437px;
    background: url("/common/img/main_phone.png") no-repeat;
    position: absolute;
    top: 150px;
    right: 70px;
    z-index: 2;
}

.page3 .left .pc {
    width: 700px;
    height: 587px;
    background: url("/common/img/main_pc.png") no-repeat;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
}

.page3 .right a {
    display: block;
    float: left;
    width: 30%;
    text-align: center;
    color: #333333;
    padding: 10px 0;
    margin: 12px 0;
    font-size: 14px
}

.page3 .right a span {
    display: block;
    margin-top: 3px;
}

.page3 .right a b {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.page3 .right a b img {
    position: absolute;
    top: 0;
    left: 0;
}

/*.page3 .right a:hover b img,*/
.page3 .right a.active b img {
    top: -64px;
}

.page3 .pc ul {
    width: 652px;
    height: 418px;
    overflow: hidden;
    position: relative;
    margin: 26px 0 0 24px;
}

.page3 .pc ul li {
    position: absolute;
    left: 652px;
    top: 0;
}

.page3 .pc ul li.active {
    left: 0;
}

.page3 .phone ul {
    width: 177px;
    height: 311px;
    overflow: hidden;
    position: relative;
    margin: 51px 0 0 23px;
}

.page3 .phone ul li {
    position: absolute;
    left: 169px;
    top: 0;
}

.page3 .phone ul li.active {
    left: 0;
}

.consultaion {
    padding-bottom: 80px;
    position: relative;
}

.consultaion .p4_arrow {
    position: absolute;
    top: 40%;
    display: block;
    width: 40px;
    height: 40px;
    background: url("/common/img/main_arrow2.png") no-repeat;
    margin-top: -20px;
    opacity: 0.3;
}

.consultaion .p4_arrow.l {
    left: -60px;
}

.consultaion .p4_arrow.r {
    right: -60px;
    background-position: -46px 0;
}

.consultaion .p4_arrow:hover {
    opacity: 1;
}

.arrow_point {
    text-align: center;
    margin-top: 45px;
}

.arrow_point span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #eee;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.arrow_point span:hover {
    background: #999;
}

.arrow_point span.active {
    background: #b60000;
}

.ct_warp {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 377px;
}

.ct_warp ul {
    position: absolute;
    left: 0;
    top: 0;
}

.ct_warp li {
    border: 1px solid #eee;
    padding: 20px 20px 15px;
    cursor: pointer;
    color: #666;
    width: 26%;
    text-align: left;
    float: left;
    margin: 0 22px;
    height: 340px;
    position: relative
}

.ct_warp li .img {
    height: 132px;
    overflow: hidden;
    display: block;
}

.ct_warp li .img img {
    width: 100%;
}

.ct_warp li a {
    color: #333;
}

.ct_warp li h2 {
    font-size: 16px;
    padding: 10px 0;
    height: 50px;
    overflow: hidden;
    margin-top: 6px;
    color: #333;
}

.ct_warp li p {
    font-size: 14px;
    line-height: 1.85em;
    height: 71px;
    overflow: hidden;
    color: #888;
}

.ct_warp li .time {
    font-size: 14px;
    float: left;
    margin: 10px 0 0;
}

.ct_warp li .time b {
    font-size: 20px;
    display: block;
}

.ct_warp a.deilt_btn {
    float: right;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 5px 42px 5px 20px;
    margin: 26px 0 0;
    border-radius: 30px;
    background: url('/common/img/main_detail.png') no-repeat 60px center
}

.ct_warp li:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #b60000;
}

.ct_warp li:hover a {
    color: #000
}

.ct_warp li:hover a.deilt_btn {
    color: #fff;
    border-color: #b60000;
    background: #b60000 url('/common/img/main_detail_h.png') no-repeat 60px center;
}

.ct_warp .ct_fot {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 280px;
}

.page5 {
    position: relative;
}

.page5 .got h2 {
    font-size: 43px;
}

.page5 .got p {
    font-size: 18px;
    width: 804px;
    margin: 30px auto;
}

.page5 .go {
    margin-top: 50px;
}

.page5 .go input {
    height: 44px;
    width: 220px;
    padding: 0 10px;
    line-height: 44px;
    border: 0;
    border-radius: 1px 0 0 1px;
    font-size: 16px;
}

.page5 .go span {
    background: #f4f4f4;
    display: inline-block;
    padding: 0 10px;
    line-height: 44px;
    color: #333;
    height: 44px;
    font-size: 16px;
}

.page5 .go button {
    padding: 0 20px;
    height: 44px;
    background: #ffa200;
    color: #fff;
    font-size: 18px;
    border: 0 none;
    margin: 0 0 0 5px;
    border-radius: 1px;
    position: relative;
    top: 1px;
    border: 0;
    cursor: pointer;
}

.got {
    background: url("/common/img/main_page5bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
}

.ban2_info {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding-left: 94px;
}

.p1Btn_new {
    margin: 26px 0;
}

.p1Btn_new a {
    width: 162px;
    height: 46px;
    padding: 0;
    text-align: center;
    line-height: 46px;
    margin-left: 0
}

.p1Btn_new a.b2:hover {
    background: rgba(255, 255, 255, .9);
    border-color: #fff;
    color: #333;
}