*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
}
main{
    width: 1200px;
    margin: 0 auto;
}



/*bnaner  && nav*/
.bnaner{
    width: 100%;
    height: 340px;
    background: url('../img/help1.png') no-repeat center/cover;
    position: relative;
    margin-top:70px;
}
.nav1{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}
.span{
    color: #FF0000!important;
    border-bottom: 2px solid #FF0000;
}

/*content*/
.content{
    width: 100%;
    height: auto;
}
.content main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.toptop{
    width: 100%;
    height: 1px;
    display: none;
    float: left;
}
.toptop main{
    height: 1px;
}
.fixeds{
    display: block;
    position: fixed;
    top: 70px;
    left: 0;
}
.boxb{
    width: 230px;
    height: 100%;
    margin-left: 0!important;
}
.content_left{
     width: 230px;
     height: 100%;
    box-sizing: border-box;
    border-top: 10px solid #CF2822;
    padding-top: 30px;
    background: #fff;
}

.content_left li{
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
}
.content_left li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #333;

}
.con_title{
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #E6E6E6;

}
.con_title p{
    width: 100%;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666;
}
.content_right{
    width: 930px;
    height: 100%;
    margin-left: 40px;
}
.content_right > ul{
    width: 100%;
    height: auto;
}
.content_right > ul > li{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.content_right > ul > li:nth-of-type(2){
    width: 100%;
    height: auto;
}
.content_right_top{
    width: 100%;
    height: 300px;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_right_top > li{
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    color: #333333;

}
.content_right_top > li > span{
    display: block;
    width: 100%;
    height: auto;
}
.content_right_top > li > span:hover{
    text-decoration:underline;
    color: #D32720;
}
.img{
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    position: relative;
}
.img img{
    width: auto;
    height: auto;
}
.pos{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.list_title{
    width: 100%;
    height: 54px;
    line-height: 54px;
}
.line{
    width: 2px;
    background: #CF2822;
    height: 18px;
    float: left;
    margin-top: 18px;
}
.list_title span{
    font-size: 18px;
    font-weight: bold;
    color: #4c4c4c;
    display: block;
    float: left;
    margin-left: 10px;
}
.list_p{
    width: 100%;
    height: auto;
}
.list{
    width: 100%;
    height:auto;
    overflow: hidden;

}
.list > li{
    width: 465px;
    height:220px;
    float: left;
    overflow: hidden;
}
.text > a{
    display: block;
    width: auto;
    height: auto;
}
.text > a > span:hover{
    text-decoration:underline;
    color: #D32720;
}
.list > li > ul {
    width: 100%;
    height: 118px;
    overflow: hidden;
}
.list > li > ul > li{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.line_cicle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666;
    float: left;
    margin-top: 10px;
}
.text{
    width: 95%;
    height: 100%;
    font-size: 14px;
    color: #666;
}
.text > a:hover span{
    color: #D32720!important;
}
.list > li > ul > li .text > a:hover span{
    color: #D32720!important;
}
.list > li > p > a{
    color: #666;
}
.list > li > p{
    line-height: 34px;
    font-size: 12px;
    display: block;
    box-sizing: border-box;
    padding-left: 13px;
    margin-bottom: 49px;
}

.content_left li a:hover {
    background: #f5f5f5;
    color: #D32720;
}


