.my-zhezhao{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0,0,0,.5);
    display: none;

}
.jihuo{
    display: block;
    background: #fff;
    width: 246px;
    height: 87px;
    margin-top: 65%;
    margin-left:20%;
    border-radius: 6px;
    position: absolute;
    z-index: 9999999;
    top: 3%;
    display: none;
}
 .jihuo .title{
    text-align: center;
    height: 51px;
    line-height: 51px;
    color: #818180;
}
 .jihuo .butt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ddd;
}
 .jihuo .butt span{
    display: block;
    height: 36px;
    line-height: 36px;
    flex:1;
}
 .jihuo .butt .span1{
    border-right: 1px solid #ccc;
}
 .jihuo .butt .span2{
    color: #1aad19;
}

.input-w{
    display: none;
    background: #ecf0f3;
    padding:0 22px;

    width:80%;
    height: 206px;
    border-radius: 6px;
    margin-top: 50%;
    margin-left: 10%;
    position: absolute;
    z-index: 999999;
    top: 2%;
}
.input-w input{
    height: 40px;border: none;
    border-radius: 4px;
    padding-left:8px;
    color: #1d1d1d;
}
.input-w .input1{
    width: 100%;
    margin-top: 20px;
}
.input-w .input2{
    width: 70%;
    margin-top: 10px;
}
.input-w .btn1{
    width: 27%;
    height: 39px;
    background: #ff605d;
    color:#fff;
    border-radius: 4px;
    margin-left: 1%;
    font-size:14px;
}
.input-w .btn2{
    width:100%;
    height: 40px;
    background: #24c3fb;
    color:#fff;
    border-radius: 4px;
    font-size:14px;
    margin-top:20px;
}
.div-div{
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    background: #fff;
    padding-top: 10px;
}
.div-div p{
    font-size: 0.26rem;
    line-height: 0.46rem;
    color:#1d1d1d;
}
.div-div img{
    width:100%;
}