@charset "UTF-8";
* {
    padding: 0;
    list-style: none;
    margin: 0;
    text-decoration: none;
}

section {
    width: 100%;
}

main {
    width: 1200px;
    margin: 0 auto;
}

/*澶撮儴*/
header {
    width: 100%;
    height: 70px;
}

header main {
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_left {
    width: 97px;
    height: 100%;
    background: url("../../../jiejuefangan/img/wz_02.jpg") no-repeat center/cover;
}

.head_middle {
    width: 648px;
    height: 100%;
}

.head_middle > li {
    width: auto;
    height: 100%;
    padding: 0 30px;
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    color: #4d4d4d;
    float: left;
    cursor: pointer;
}

.head_right {
    width: 80px;
    height: 33px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    font-size: 14px;
    color: #666666;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
}

/*bnaner  && nav*/
.bnaner {
    width: 100%;
    height: 340px;
    background: url('../img/help1.png') no-repeat center/cover;
    position: relative;
    margin-top: 70px;
}
.content_left li a.about {
    background: #f5f5f5;
    color: #D32720 !important;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

.span {
    color: #FF0000 !important;
    border-bottom: 2px solid #FF0000;
}

.content_left li a {
    display: block;
    width: 100%;
    height: 100%;
}

.content_left li a.about {
    background: #f5f5f5;
    color: #D32720 !important;
}
#gonggao{
    width: 100%;
    height: 170px;
    background: #fff;
    padding: 35px 0;
    box-sizing: border-box;
}
#gonggao > a{
    display: block!important;
    width: 100%!important;
    height: 100%!important;
}
.imgbox{
    width: 200px;
    height: 100px;
    float: left;
    margin: 0;
}
.imgbox > img{
    display: block;
    width: 200px;
    height: 100px;
}
.img_text{
    width: 704px;
    height: 100%;
    float: right;

}
.img_con{
    width: 582px;
    height: 100%;
    float: left;
}
.img_con > p{
    font-size: 18px;
    line-height: 39px;
    color: #333;
}
.con_con{
    /*display: block;*/
    width: 100%;
    height: 61px;
    box-sizing: border-box;
    padding-right: 20px;

}
.con_con p{
    display: block;
    width: 100%;
    height: 61px;
    /*position: relative;*/
    line-height: 20px;
    max-height: 40px;    /*max-height/height设置为line-height的整数倍,防止文字显示一半*/
    overflow: hidden;
    font-size: 14px;
    color: #999;
}

.img_time{
    width: 122px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    border-left: 1px solid #BFBFBF;
    padding-left: 20px;
    font-size: 24px;
    color: #666;
}
.img_time p:nth-of-type(2){
    font-size: 16px;
    line-height: 16px;
}
.xiang{
    width: 74px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #BFBFBF;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    margin-top: 15px;
}

/*content*/
.content {
    width: 100%;
    height: auto;
}

.content main {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.toptop {
    width: 100%;
    height: 1px;
    display: none;
}

.toptop main {
    height: 1px;
}

.fixeds {
    display: block;
    position: fixed;
    top: 70px;
    left: 0;
}

.boxb {
    width: 230px;
    height: 100%;
}

.content_left {
    width: 230px;
    height: 100%;
    box-sizing: border-box;
    border-top: 10px solid #CF2822;
    padding-top: 30px;
    background: #fff;
    float: left;
}

.content_left li {
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    color: #333;
    line-height: 60px;
    text-align: center;
}

.content_left li a:hover {
    background: #f5f5f5;
    color: #D32720;
}

.con_title {
    width: 100%;
    height: 33px;
}

.con_title p {
    width: 100%;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666;
}

.content_right {
    width: 930px;
    height: 100%;
    margin-left: 40px;
    margin-bottom: 70px;
}
.detail_title{
    width: 100%;
    height: 157px;
    box-sizing: border-box;
    padding-top: 65px;
    padding-bottom:40px;
}
.detail_title p{
    display: block;
    width: 100%;
    text-align: center;
}
.detail_title p:nth-of-type(1){
    height: 18px;
    color: #333;
    font-size: 18px;
}
.detail_title p:nth-of-type(2){
    height: 14px;
    color: #333;
    font-size: 14px;
    margin-top: 20px;
}
.con_cons{
    width: 100%;
    height: auto;

}
.con_cons > img{
    display: block;
    width: 100%!important;
    height: auto!important;
    margin: 0 auto;
    margin-top: 15px;
}
.next_title{
    width: 100%;
    padding-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    height: 100px;
    border: 1px dashed #666;
    border-radius: 5px;
    margin-bottom: 35px;
}
.next_title p span:nth-of-type(1){
    font-weight: 900;
    color: #333;
}
.about_title {
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #ebebeb;
    padding-top: 20px;
    overflow: hidden;
    line-height: 41px;
    /*margin-bottom: 20px;*/
}

.about_title span {
    font-size: 18px;
}

.tye {
    margin-top: 50px;
    height: 54px;
}

.tye main {
    width: 100%;
    height: 100%;
}

.tye > main > ul {
    width: 317px;
    margin: 0 auto;
    height: 100%;
}

.tye main ul li {
    float: left;
}

.tye main ul li a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
}

.tye_b {
    margin: 0 auto;
}

/*# sourceMappingURL=next.css.map */
