#toggle-button-app,
#we_toggle-button-app,
#we_toggle-button-app1,
#we_toggle-button-app2,
#toggle-button-1,
#toggle-button-2,
#toggle-button-3,
#toggle-button-4 {
    display: none;
}

.button-label {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 26px;
    background-color: #ccc;
    border-radius: 26px;
    overflow: hidden;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 0;
    left: 7px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
}

.button-label .text {
    line-height: 26px;
    font-size: 14px;
    font-weight: none;
}

.on {
    color: #fff;
    display: none;
    text-indent: 10px;
}

.off {
    color: #999;
    display: inline-block;
    text-indent: 34px;
}

.button-label .circle {
    transition: all 0.3s;
    margin-left: -8px;
}

#toggle-button-app[checked]+label.button-label .circle,
#we_toggle-button-app[checked]+label.button-label .circle,
#we_toggle-button-app1[checked]+label.button-label .circle,
#we_toggle-button-app2[checked]+label.button-label .circle,
#toggle-button-1[checked]+label.button-label .circle,
#toggle-button-2[checked]+label.button-label .circle,
#toggle-button-3[checked]+label.button-label .circle,
#toggle-button-4[checked]+label.button-label .circle {
    left: 50px;
}

#toggle-button-app[checked]+label.button-label .on,
#we_toggle-button-app[checked]+label.button-label .on,
#we_toggle-button-app1[checked]+label.button-label .on,
#we_toggle-button-app2[checked]+label.button-label .on,
#toggle-button-1[checked]+label.button-label .on,
#toggle-button-2[checked]+label.button-label .on,
#toggle-button-3[checked]+label.button-label .on,
#toggle-button-4[checked]+label.button-label .on {
    display: inline-block;
}

#toggle-button-app[checked]+label.button-label .off,
#we_toggle-button-app[checked]+label.button-label .off,
#we_toggle-button-app1[checked]+label.button-label .off,
#we_toggle-button-app2[checked]+label.button-label .off,
#toggle-button-1[checked]+label.button-label .off,
#toggle-button-2[checked]+label.button-label .off,
#toggle-button-3[checked]+label.button-label .off,
#toggle-button-4[checked]+label.button-label .off {
    display: none;
}

#toggle-button-app[checked]+label.button-label,
#we_toggle-button-app[checked]+label.button-label,
#we_toggle-button-app1[checked]+label.button-label,
#we_toggle-button-app2[checked]+label.button-label,
#toggle-button-1[checked]+label.button-label,
#toggle-button-2[checked]+label.button-label,
#toggle-button-3[checked]+label.button-label,
#toggle-button-4[checked]+label.button-label {
    background-color: #fea2a2;
}