body{
    background-color: #fff;
}
*{
    box-sizing: border-box;
}
.promotion{
    padding:0.1rem;
    padding-bottom:0.58rem;
}
.promotion .info{
    border-bottom:0.03rem solid #f0f3f4;
    width:100%;
}
.promotion .info img{
    display: block;
    width:1.88rem;
    height:1.88rem;
    margin:0 auto;
}
.promotion .info p{
    padding:0.2rem 0;
    color: #555;
    font-size:0.16rem;
}
.promotion .detail{
    padding:0.2rem 0 0.1rem 0;
    border-bottom:0.03rem solid #f0f3f4;
}
.promotion .detail h3,.promotion .detail p{
    font-size:0.14rem;
    color: #666;
    line-height: 0.2rem;
    padding: 0 0.1rem;
    margin-bottom: 0.1rem;
}
.promotion .detail h3{
    border-left: 0.05rem solid red;
}
.promotion .footer{
    border-top: 1px solid #ccc;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 0.6rem;
    background-color: #FFF;
}
.promotion .footer a{
    margin: 0.08rem auto;
    height: 0.46rem;
    display: block;
    font-size: 0.16rem;
    width: 65%;
    text-decoration: none;
    line-height: 0.46rem;
    text-align: center;
    background-color: #f70;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    color: #fff;
}