html{
    font-size:26.66vw;
}
*{
    margin:0;
    padding:0;
}
body{
    font-size:0.14rem;
    background-color: #e8e8ed;
}
[v-cloak] {
    display:none;
}
body::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
header{
    width:100%;
    height:0.45rem;
    line-height:0.45rem;
    background: linear-gradient(180deg,#fff,#efefef);
    text-align: center;
    position: fixed;
}
header a{
    display: inline-block;
    width:0.42rem;
    height:0.45rem;
    position: absolute;
    left:0;
    top:0;
}
header a:after{
    content: '';
    display: block;
    width:0.12rem;
    height:0.12rem;
    border-top:1px solid #848689;
    border-left:1px solid #848689;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top:50%;
    left:0.18rem;
    margin-top:-0.06rem;
}
header span{
    font-size:0.16rem;
    color: #333;
}
.order-container{
    padding-top:0.45rem;
}
.singleOrder{
    padding:0 0.1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0.1rem 0;
}
.singleOrder:first-child{
    margin-top:0;
}
.order-number{
    height:0.45rem;
    line-height:0.45rem;
    overflow: hidden;
}
.order-number span{
    float: left;
}
.order-number i{
    float: right;
    font-style: normal;
    font-size:0.18rem;
}
.order-status{
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:0.1rem 0;
}
.order-status>div{
    float: left;
}
.order-status>a{
    float: right;
    width:0.75rem;
    height:0.25rem;
    background: #f19325;
    line-height:0.25rem;
    text-align: center;
    color: #fff;
    margin-top:0.06rem;
}
.order-status>a:not(:first-child){
    margin-right:0.05rem;
}
.order-detail{
    padding: 0.1rem 0;
}
.order-detail img{
    display: inline-block;
    width:0.75rem;
    height:0.75rem;
    border:1px solid gray;
    vertical-align: top;
    margin-right:0.1rem;
}
.order-detail>div{
    display: inline-block;
    vertical-align: top;
    width:74%;
}
.order-detail>div>p{
    line-height:0.2rem;
}
.order-detail>div>p:last-child{
    margin-top:0.05rem;
}

/*覆盖layer弹窗的样式*/
.layui-layer-dialog{
    width:3.3rem !important;
    left:0.22rem !important;
}
.layui-layer-btn{
    line-height: 0.36rem !important;
    text-align: center !important;
}
.layui-layer-btn a{
    font-size:0.16rem !important;
    height:0.36rem !important;
    line-height:0.36rem !important;
    margin:0 0.06rem !important;
    padding:0 0.5rem !important;
    vertical-align: middle !important;
}
.layui-layer-dialog .layui-layer-content{
    border-bottom: 1px solid #efefef !important;
}