html{
	font-size: 26.66vw;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
	font-size: 0.14rem;
}
.my-container{
	padding-top: 0.58rem;
	padding-bottom: 0.5rem;
}
.temp1,.temp2{
	padding: 0.1rem 0.08rem;
	border-bottom: 0.02rem solid #efefef;
	display: table;
}
.left{
	display: table-cell;
	vertical-align: top;
}
.left span{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 0.18rem;
	background: url("../img/slice.jpg") no-repeat center center;
	background-size: cover;
	margin-right: 0.22rem;
}
.right{
	display: table-cell;
}
.right .title{
	color: #4284b5;
	margin: 0.1rem 0;
}
.right p{
	width: 2.46rem;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	margin-top: 0.1rem;
	margin-bottom: 0.08rem;
}
.temp1 .right .content{
	height: 0.48rem;
	background-color: #f2f2f2;
	margin-bottom: 0.13rem;
	display: table;
	padding: 0.04rem 0.08rem 0.04rem 0.06rem;
	width: 2.80rem;
}
.content span{
	display: table-cell;
	vertical-align: middle;
}
.content span:first-child{
	width: 0.5rem;
}
.content img{
	width: 0.5rem;
	height: 0.36rem;
	background-size: cover;
	display: block;
}
.content span:last-child{
	font-size: 0.12rem;
	padding-left: 0.1rem;
}
.other{
	overflow: hidden;
	width: 3.02rem;
}
.other span{
	float: left;
	color: #a6a6a6;
	font-size: 0.12rem;
}
.other span:last-child{
	float: right;
	width: 0.18rem;
	height: 0.12rem;
	background-image: url("../img/review.svg");
	margin-top: 0.02rem;
	background-size: contain;
	background-repeat: center center;
	background-repeat: no-repeat;
}
.temp2 .right .content{
	width: 2.52rem;
	margin-bottom: 0.13rem;
	overflow: hidden;
}

.temp2 .content img{
	display: block;
	width: 0.8rem;
	height: 0.78rem;
	float: left;
	margin-right: 0.04rem;
	margin-bottom: 0.04rem;
}
