html{
	font-size: 26.66vw;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eeeeee;
	font-size: 0.14rem;
}

.art-temp1,.art-temp2{
	padding: 0.1rem 0.08rem;
	border-bottom: 0.02rem solid #efefef;
	display: table;
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
}
.art-left{
	display: table-cell;
	vertical-align: top;
}
.art-left span{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 0.18rem;
	background: url("../img/slice.jpg") no-repeat center center;
	background-size: cover;
	margin-right: 0.22rem;
}
.art-right{
	display: table-cell;
	padding-top: 0.1rem;
}
.art-right .art-title{
	color: #4284b5;
	margin: 0.1rem 0;
}
.art-right p{
	width: 2.46rem;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	margin-top: 0.08rem;
	margin-bottom: 0.06rem;
}
.art-temp1 .art-right .art-content{
	height: 0.48rem;
	background-color: #f2f2f2;
	margin-bottom: 0.13rem;
	display: table;
	padding-left: 0.06rem;
	padding-right: 0.08rem;
	width: 2.88rem;
	box-sizing: border-box;
}
.art-content span{
	display: table-cell;
	vertical-align: middle;
}
.art-content span:first-child{
	width: 0.5rem;
}
.art-content img{
	width: 0.5rem;
	height: 0.36rem;
	background-size: cover;
	display: block;
}
.art-content span:last-child{
	font-size: 0.12rem;
	padding-left: 0.1rem;
}
.art-other{
	overflow: hidden;
	width: 2.94rem;
}
.art-other span{
	float: left;
	color: #a6a6a6;
	font-size: 0.12rem;
}
.art-other span:last-child{
	float: right;
	width: 0.16rem;
	height: 0.18rem;
	background-image: url("../img/review.svg");
	margin-top: 0.02rem;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.art-temp2 .art-right .art-content{
	width: 2.52rem;
	margin-bottom: 0.13rem;
	overflow: hidden;
}

.art-temp2 .art-content img{
	display: block;
	width: 0.8rem;
	height: 0.78rem;
	float: left;
	margin-right: 0.04rem;
	margin-bottom: 0.04rem;
}