html{
	font-size: 100px;
}
body{
	margin:0;
	padding:0;
	background: #f1f1f1;
	font-size: 0.12rem;
}
.myInfo{
	padding: 0.2rem 0.2rem;
}
.myInfo .name{
	font-size: 0.14rem;
}
.myInfo span{
	display: inline-block;
	vertical-align: middle;
}
.myInfo .img{
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	background: gray;
	margin-right: 0.2rem;
}
.des,.user_select,.history{
	margin-bottom: 0.16rem;
}
.user_select{
	overflow: hidden;
}
.des div,.user_select div,.history{
	background: white;
	padding: 0.1rem 0.2rem;
}
.des div:first-child{
	padding: 0.1rem 0.2rem;
	display: table;
}

.des div:nth-child(2),.user_select div:nth-child(2){
	border-top: 1px solid #f1f1f1;
}
.box label{
	padding-right: 0.2rem;
	font-size: 0.14rem;
}
.des div:first-child label{
	width: 0.6rem;
	vertical-align: top;
}
.foot div{
	margin: 0 0.14rem;
}
.foot p{
	width: 100%;
	height: 0.4rem;
	background: white;
	line-height: 0.4rem;
	text-align: center;
	border-radius: 0.042rem;
	margin: 0.18rem 0;
	font-size: 0.16rem;
}
.foot .enter{
	background: #04BE02;
	color: white;
}
.myInfo .wid, .des span{
	color: gray;
}

.weui-switch{
	width:  0.42rem;
	height: 0.22rem;
	float: right;
}
.weui-switch:after, .weui-switch-cp__box:after{
	width: 0.25rem;
	height: 0.2rem;
	border-radius: 0.1rem;
}
.weui-switch:before, .weui-switch-cp__box:before{
	background: none;
}