@charset "utf-8"

.mall { width: 100%; background-color: #f2f2f2; }
.mall, .menu, .shop { position: fixed; top: 3.175rem; right: 0; bottom: 0.51rem; left: 0; }

.menu { font-size: 0.13rem; right: auto; width: 0.725rem; background-color: #fff; overflow-y: scroll; -webkit-overflow-scrolling: touch; z-index: 1; text-align: center; }
.menu > ul > li { height: 0.4rem; font-size: 0.12rem; line-height: 0.4rem; border-bottom: 1px solid #eee; }

.shop { left: 0.8rem; overflow-y: scroll; -webkit-overflow-scrolling: touch; z-index: 1; font-size: 0.14rem; color: #333; }
.shop > ul > li { background-color: #fff; height: 1rem; padding-right: 0.1rem; border-bottom: 1px solid #f2f2f2; }
.shop > ul > li > a { display: flex; color: #333; height: 1rem; }
.shop > ul > li > a > slide.li_img_wap { padding-right: 0.1rem; }
.shop > ul > li > a > slide.li_img_wap > img { width: 0.8rem; height: 0.8rem; padding: 0.1rem; }
.shop > ul > li > a > slide.li_info { font-size: 0.12rem; }
.shop > ul > li > a > slide.li_info > h3 { font-size: 0.12rem; font-weight: 400; /* height: 0.4rem; */ padding-top: 0.1rem; margin-bottom: 0.04rem; overflow-y: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.shop > ul > li > a > slide.li_info > .lii_price { color: #f00; }
.shop > ul > li > a > slide.li_info > .lii_sold { padding-top: 0.05rem; }
.shop > ul > li > a > slide.li_info > .lii_sold span { padding-right: 0.1rem; }