#container{
    padding-top:0;
}
.personal,.friends,.about-me{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.about-me{
    background: url("../img/mybackground.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width:100%;
    height:1.65rem;
}
.personal{
    padding:0.2rem 0.24rem 0.16rem;
    border-bottom:1px solid #4dc1ec;
    overflow: hidden;
    display: table;
    vertical-align: middle;
    width:100%;
}
.personal div{
    display: table-cell;
    font-size:0.12rem;
    color: #fff;
    vertical-align: middle;
}
.my-left{
    overflow: hidden;
    width:74%;
}
.my-left img,.my-left p{
    float: left;
}
.my-left img{
    width:0.62rem;
    height:0.62rem;
    -webkit-border-radius: 0.31rem;
    -moz-border-radius: 0.31rem;
    border-radius: 0.31rem;
    margin-right: 0.1rem;
}
.my-left p label,.my-left p strong{
    display: block;
}
.my-left p strong{
    font-size:0.16rem;
    font-weight:bold;
    margin-top:0.04rem;
    margin-bottom:0.06rem;
}
.my-left p label span{
    margin-right:0.08rem;
}
.my-right{
    text-align: right;
}
.my-right a{
    font-size:0.14rem;
    color: #fff;
}
.my-right a i{
    display: inline-block;
    width:0.1rem;
    font-size:0.12rem;
}

.friends div{
    display: inline-block;
    float: left;
    width:1.24rem;
    padding:0.16rem 0;
    text-align: center;

}
.friends div label{
    display: block;
    border-right: 1px solid #4dc1ec;
}
.friends div:last-child label{
    border:none;
}
.friends a,.friends span{
    color: #fff;
    font-size:0.12rem;
    display: block;
}
.other-me ul{
    background: #fff;
    margin-bottom:0.06rem;
    padding:0 0.14rem;
    box-sizing: border-box;
}
.other-me ul li{
    height:0.4rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    line-height: 0.4rem;
    display: table;
    width:100%;
}
.other-me ul li span,.other-me ul li img{
    display: table-cell;
    vertical-align: top;
}
.other-me ul li span{
    width:100%;
    overflow: hidden;
}
.other-me ul li img{
    width:0.14rem;
    height:0.2rem;
    margin-top:0.1rem;
}
.other-me ul li a{
    color: #010101;
    font-size:0.14rem;
}
.other-me ul li span i,.other-me ul li span a,.other-me ul li span .icon-img{
    float: left;
}
.other-me ul li span .icon-img{
    width:0.16rem;
    height:0.14rem;
    margin-top:0.13rem;
}
.other-me ul li span a{
    margin-left:0.14rem;
}