html {
    font-size: 26.66vw;
}

* {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
body {
    font-size: 0.14rem;
    background: #f7f7f7;
}

body::-webkit-scrollbar {
    display: none;
}

[v-cloak] {
    display:none;
}

header {
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    background: linear-gradient(180deg, #fff, #efefef);
    text-align: center;
    position: fixed;
}

header a {
    display: inline-block;
    width: 0.42rem;
    height: 0.45rem;
    position: absolute;
    left: 0;
    top: 0;
}

header a:after {
    content: '';
    display: block;
    width: 0.12rem;
    height: 0.12rem;
    border-top: 1px solid #848689;
    border-left: 1px solid #848689;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 0.18rem;
    margin-top: -0.06rem;
}

header span {
    font-size: 0.16rem;
    color: #333;
}
.form{
    background: white;
    padding-top:0.45rem;
}
.form div{
    height:0.24rem;
    line-height:0.24rem;
    padding:0.1rem;
    border-bottom:1px solid #eee;
}
.form div:last-child{
    border:none;
}
.form div span:first-child{
    color: #999;
    margin-right:0.1rem;
    display: inline-block;
    width:0.56rem;
}
.form div input{
    line-height:0.22rem;
    outline:none;
    border:none;
}
.form .detail{
    height:0.44rem;
}
.form div textarea{
    width:79%;
    height:100%;
    line-height:0.26rem;
    outline:0;
    resize: none;
    border:none;
    vertical-align: top;
}
.form .select-address{
    position: relative;
}
.form .select-address:after{
    content: '';
    display: block;
    width:0.1rem;
    height:0.1rem;
    border-top:1px solid #bebebe;
    border-right:1px solid #bebebe;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 0.1rem;
    top:50%;
    margin-top: -0.05rem;
}
.submit{
    margin:0.2rem 0.1rem 0;
    height:0.46rem;
    line-height:0.46rem;
    text-align: center;
    font-size:0.16rem;
    background-color: #e4393c;
    color: white;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
}
.modal-bg{
    background: rgba(0,0,0,.7);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.modal-bg .modal{
    width:100%;
    height:300px;
    background-color: #fff;
    color: black;
    position: absolute;
    left:0;
    bottom:0;
}

.modal .list{
    padding:0 0.1rem;
}
.modal .list div:first-child{
    height:0.4rem;
    line-height: 0.4rem;
    border-bottom:1px solid #eee;
}
.modal .list ul{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height:3rem;
    overflow-y: auto;
}
.modal .list ul::-webkit-scrollbar{
    display: none;
}
.modal .list ul li{
    padding:0.06rem 0;
    border-bottom:1px solid #eee;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
    opacity: 0
}
.modal .modal-top{
    padding:0 0.1rem;
    background-color: #f3f2f8;
    height:0.4rem;
    line-height:0.4rem;
}
.list ul .font-red{
    color: #e4393c;
}
