/**
 * Created by weifeng on 2017/11/12.
 */

@charset "utf-8";

div.section { position: fixed; width: 100%; top: 0; right: 0; bottom: 0; left: 0; background-color: #f2f2f2; overflow-y: scroll; -webkit-overflow-scrolling: touch; z-index: 1; font-size: 0.14rem; color: #333; }

.section > slide { display: flex; margin: 0; background-color: #fff; padding: 0 0 0.05rem; border-bottom: 1px solid #ddd; }
.section > slide:last-child { margin-bottom: 0;}
.section > slide > slide.li_img_wap { flex: 1.7; }
.section > slide > slide.li_img_wap > img { width: 0.36rem; height: 0.36rem; margin: 0.09rem 0 0 0.08rem; border-radius: 50%; }
.section > slide > slide.li_info { flex: 8.3; font-size: 0.12rem; }
.section > slide > slide.li_info > h2 { font-size: 0.14rem; font-weight: unset; height: 0.2rem; padding: 0.2rem 0 0.02rem; color: rgba(28, 108, 167, 1); }
.section > slide > slide.li_info > h3 { font-size: 0.14rem; font-weight: unset; max-height: 0.2rem; margin: 0 0.25rem 0.05rem 0; overflow-y: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
.section > slide > slide.li_info > .lii_img { width: 92%; display: flex; flex-wrap: wrap; margin-bottom: 0.02rem; }
.section > slide > slide.li_info > .lii_img img { width: 0.92rem; height: 0.88rem; margin: 0.005rem 0.052rem 0.04rem 0 }
.section > slide > slide.li_info > .lii_img img:nth-child(3n) { margin-right: 0; }
.section > slide > slide.li_info > .lii_sold { padding: 0.1rem 0; background-color: #eee; width: 2.88rem; }
.section > slide > slide.li_info > .lii_sold > a { display: flex; color: #333; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_img_wap { display: inline-flex; align-items: center; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_img_wap > img { width: 0.48rem; height: 0.48rem; border: 1px solid #eee; margin: 0 0.05rem 0 0.10rem; background-color: #fff; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info { overflow: hidden; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > h3 { height: 0.16rem; max-height: 0.32rem; padding-right: 0.05rem; color: #4d4d4d; font-size: 0.12rem; font-weight: unset; overflow-y: hidden; white-space: nowrap; text-overflow: ellipsis; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > .lii_price { font-size: 0.15rem; color: #f63434; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > .lii_sold1 { font-size: 0.12rem; color: #999999; }
.section > slide > slide.li_info > .lii_sold span { padding-right: 0.1rem; }
.section > slide > slide.li_info > .lii_eval { display: flex; justify-content: space-between; align-items: center; padding: 0.10rem 0.15rem 0.05rem 0; color: #9b9b9b; }