/** { margin: 0; padding: 0; list-style: none; }*/
/*::-webkit-scrollbar { width: 0; height: 0; }*/
/*html, body { font-size: 26.66vw; position: relative; height: 100%; }*/
/*a { text-decoration: none; display: inline-block; }*/

div.section { position: fixed; width: 100%; top: 0; right: 0; bottom: 0; left: 0; background-color: #f2f2f2; overflow-y: scroll; -webkit-overflow-scrolling: touch; z-index: 1; font-size: 0.12rem; color: #333; }

.section > slide { display: flex; margin: 0.01rem 0; background-color: #fff; padding: 0 0 0.05rem; }
.section > slide:last-child { margin-bottom: 0;}
.section > slide > slide.li_img_wap { padding-right: 0.22rem; }
.section > slide > slide.li_img_wap > img { width: 0.36rem; height: 0.36rem; margin: 0.09rem 0 0 0.08rem; border-radius: 50%; }
.section > slide > slide.li_info { font-size: 0.12rem; padding-right: 0.14rem; }
.section > slide > slide.li_info > h2 { font-size: 0.14rem; font-weight: unset; height: 0.2rem; padding: 0.2rem 0 0.02rem; color: rgba(28, 108, 167, 1); }
.section > slide > slide.li_info > h3 { font-size: 0.14rem; font-weight: unset; max-height: 0.2rem; margin: 0 0.22rem 0.05rem 0; overflow-y: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
.section > slide > slide.li_info > .lii_img img { width: 0.88rem; height: 0.88rem; margin: 0.005rem; }
.section > slide > slide.li_info > .lii_sold { margin: 0.05rem 0; background-color: #eee; width: 2.87rem; }
.section > slide > slide.li_info > .lii_sold > a { display: flex; color: #333; /* height: 0.6rem; */ }
.section > slide > slide.li_info > .lii_sold > a > slide.li_img_wap { display: inline-flex; align-items: center; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_img_wap > img { width: 0.48rem; height: 0.48rem; border: 1px solid #eee; margin: 0 0.05rem; background-color: #fff; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info { overflow: hidden; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > h3 { font-size: 0.12rem; font-weight: unset; max-height: 0.32rem; overflow-y: hidden; padding: 0.025rem 0.05rem 0.025rem 0; height: 0.16rem; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > .lii_price { font-size: 0.11rem; color: #f00; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > .lii_sold { font-size: 0.11rem; padding: 0.025rem 0; color: #9b9b9b; }
.section > slide > slide.li_info > .lii_sold span { padding-right: 0.1rem; }
.section > slide > slide.li_info > .lii_eval { display: flex; justify-content: space-between; align-items: center; padding: 0 0 0.05rem 0; color: #9b9b9b; }