html{
    font-size:26.66vw;
}
*{
    margin:0;
    padding:0;
}
body{
    font-size:0.14rem;
}
header{
    width:100%;
    height:0.45rem;
    line-height:0.45rem;
    background: linear-gradient(180deg,#fff,#efefef);
    text-align: center;
    position: fixed;
}
header a{
    display: inline-block;
    width:0.42rem;
    height:0.45rem;
    position: absolute;
    left:0;
    top:0;
}
header a:after{
    content: '';
    display: block;
    width:0.12rem;
    height:0.12rem;
    border-top:1px solid #848689;
    border-left:1px solid #848689;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top:50%;
    left:0.18rem;
    margin-top:-0.06rem;
}
header span{
    font-size:0.16rem;
    color: #333;
}
.list-content{
    background: #fff;
    padding-top:0.46rem;
}
.list-content .no-comment{
    text-align: center;
    margin-top:0.1rem;
}
.list-top{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left:0.1rem;
    border-bottom:1px solid #eee;
}
.head-img{
    box-sizing: border-box;
    height:0.3rem;
    line-height: 0.3rem;
    display: table;
    width:100%;
    border-bottom:1px solid #eee;
    padding:0.1rem 0.1rem 0.1rem 0;
}
.head-img label, .head-img span{
    display: table-cell;
    vertical-align: middle;
}
.head-img label{
    width:78%;
}
.head-img span{
    font-size:0.13rem;
    color: #848689;
}
.head-img label img{
    vertical-align: middle;
    width:0.3rem;
    height:0.3rem;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin-right:0.04rem;
}
.list-top .star{
    display: inline-block;
    height:0.12rem;
    width:0.14rem;
    background: url("../img/comment-star.png") repeat-x 0 -0.1rem;
    -webkit-background-size: 0.15rem 0.22rem;
    background-size: 0.15rem 0.22rem;
}
.list-top .red-star{
    background-position: 0 0;
}
.main{
    padding-bottom: 0.12rem;
}
.main>div{
    margin-top:0.08rem;
}
.main .comment{
    text-align: justify;
    margin:0.1rem 0.1rem 0.1rem 0;
}
.main ul{
    overflow: hidden;
}
.main ul li{
    display: inline-block;
    float: left;
    margin-right:0.11rem;
}
.main ul li img{
    display: block;
    width:0.8rem;
    height:0.8rem;
}
.main .text{
    font-size:0.12rem;
    color: #bfbfbf;
    margin-top:0.05rem;
    line-height:0.12rem;
}
.count{
    padding:0.1rem;
    text-align: right;
}
.count span{
    display: inline-block;
    font-size:0.12rem;
    color: #bfbfbf;
}

.count span i{
    background: url("../img/assess-btns-icon.png") no-repeat 0 0;
    -webkit-background-size: 1.5rem 0.28rem;
    background-size: 0.86rem 0.14rem;
    display: inline-block;
    width:0.18rem;
    height:0.14rem;
    vertical-align: middle;
    margin-right:0.04rem;
}


