.feedback{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
}
.back{
    width: 0.2rem;
    height: 100%;
    float: left;
    background-image: url("../common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.header h3{
    font-size: 0.2rem;
    line-height: 0.44rem;
    color:#000;
    font-weight: 500;
    text-align: center;
    padding-right: 0.4rem;
}
.title{
    padding-left: 0.12rem;
    height: 0.3rem;
    font-size: 0.14rem;
    color: #B4B4B4;
    line-height: 0.3rem;
}
form{
   width: 100%;
    height: auto;
    display: block;
}
#advice{
    width: 100%;
    height: 1.8rem;
    padding: 0.05rem 0.12rem;
    color: #2F2F2F;
    font-size: 0.16rem;
    line-height: 0.25rem;
    border: none;
    border-top: 0.01rem solid #E5E5E5;
    border-bottom:0.01rem solid #E5E5E5;
    box-sizing: border-box;
    display: block;
    outline: none;
    resize: none;
}
#contact{
    width: 100%;
    padding-left: 0.12rem;
    height: 0.44rem;
    font-size: 0.16rem;
    line-height: 0.44rem;
    display: block;
    box-sizing: border-box;
    border: none;
    border-top: 0.01rem solid #E5E5E5;
    border-bottom:0.01rem solid #E5E5E5;
    outline: none;
}
#sub{
    width:94%;
    height: 0.35rem;
    background:rgba(70,178,59,0.8);
    font-size: 0.16rem;
    color: #fff;
    display: block;
    outline: none;
    border: none;
    margin: 0.2rem auto;
    border-radius: 0.03rem;
}