.page{
    width: 100%;
    height: auto;
    background: #fff;
}
.header{
    width: 100%;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
}
.back{
    width: 0.2rem;
    height: 100%;
    float: left;
    background-image: url("../common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.header h3{
    font-size: 0.2rem;
    line-height: 0.44rem;
    color:#000;
    font-weight: 500;
    text-align: center;
    padding-right: 0.4rem;
}
.mingxi{
    width: 100%;
    height: auto;
}
.mingxi-list{
    width:100%;
    height: auto;
    overflow: hidden;
}
.mingxi-list li{
    width: 100%;
    height: 0.3rem;
    padding: 0.15rem 0;
    border-bottom: 0.01rem solid #F1F1F1;
}
.mingxi-left{
    width: auto;
    height: 100%;
    float: left;
    padding-left: 0.12rem;
}
.mingxi-left strong{
     width:1.5rem;
     overflow: hidden;
     display: block;
     height: auto;
     font-size: 0.16rem;
     font-weight: bold;
     color: #000;
 }
.mingxi-left span{
    width:1.2rem;
    overflow: hidden;
    display: block;
    height: auto;
    font-size: 0.12rem;
    color: #8F8E8F;
}
.mingxi-right{
    width: auto;
    height: 100%;
    float: right;
    padding-right: 0.12rem;
    font-size: 0.18rem;
    line-height: 0.3rem;
    color: #000;
}