.page{
    width: 100%;
    height: auto;
    background: #fff;
    position: absolute;
    top: 0;
    bottom:0;
}
.header{
    width: 100%;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
}
.back{
    width: 0.2rem;
    height: 100%;
    float: left;
    background-image: url("../common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.header h3{
    font-size: 0.2rem;
    line-height: 0.44rem;
    color:#000;
    font-weight: 500;
    text-align: center;
    padding-right: 0.4rem;
}
/*我的钱包主体内容开始*/
.page-con{
    width: 100%;
    height: auto;
}
.img{
    width:90%;
    height:1.8rem;
    background-image:url("../common/img/page.png");
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: center;
    margin:0.2rem auto;
    border-radius: 0.05rem;
    position:relative;
}

.yu{
    width: 100%;
    height: 0.3rem;
    background: #F4C467;
    border-bottom-left-radius: 0.05rem;
    border-bottom-right-radius: 0.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.balance{
    width:40%;
    height: 100%;
    float: left;
    font-size: 0.14rem;
    color: #4D4639;
    line-height: 0.3rem;
    text-align:left;
    padding-left: 0.05rem;
}
.balance span{
    font-weight: 600;
    color: #242121;
}
.chengyi{
    width:40%;
    height: 100%;
    float:left;
    font-size: 0.14rem;
    color:#4D4639;
    text-align: left;
    line-height: 0.3rem;
}
.chengyi span{
    font-weight: 600;
    color: #242121;
}
.tixian{
    width:14%;
    height:100%;
    border-radius: 0.03rem;
    /*background:#0DD7A5;*/
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.3rem;
    color:#242121;
    z-index: 999;
    float: right;
    padding-right: 0.05rem;
}
.caozuo{
    width: 100%;
    height: 0.7rem;
    margin-top: 0.15rem;
}

.c-bottom{
    width: 90%;
    height: 0.3rem;
    margin:0.1rem auto;
}
.chongzhi{
    width: 45%;
    height: 0.28rem;
    border: 0.01rem solid #0DD7A5;
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.3rem;
    color: #0DD7A5;
    float: left;
    border-radius: 0.03rem;
}
.jiaoyi{
    width: 45%;
    height:0.28rem;
    border:0.01rem solid #0DD7A5;
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.3rem;
    color: #0DD7A5;
    float: right;
    border-radius: 0.03rem;
}
/*我的钱包主体内容结束*/