.page{
    width: 100%;
    height: auto;
    background: #F0F2F5;
    position: absolute;
    top: 0;
    bottom:0;
}
.header{
    width: 100%;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
}
.back{
    width: 0.2rem;
    height: 100%;
    background-image: url("../common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    float: left;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.header h3{
    font-size: 0.2rem;
    line-height: 0.44rem;
    color:#000;
    font-weight: 500;
    text-align: center;
    padding-right: 0.4rem;
}
.success{
    width: 100%;
    height: auto;
}
.zhangdan{
    width: 90%;
    height: auto;
    background: #fff;
    margin: 0.2rem auto;
    position: relative;
}
.suc{
    width: 100%;
    height: auto;
    border-bottom: 0.01rem dashed #DDDDE6;
    padding-top: 0.1rem;
    padding-bottom: 0.15rem;
}
.success-biao{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.05rem auto 0;
    border-radius: 50%;
    background:url("../common/img/2018-01-04_104620.png") no-repeat;
}
.success h4{
    font-size: 0.18rem;
    color: #65b122;
    line-height: 0.3rem;
    text-align: center;
}
.zhangdanB{
    width:100%;
    height:0.7rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.zhangdanB span{
    display: block;
    font-size: 0.16rem;
    color: #494949;
    line-height: 0.25rem;
    padding-left: 0.12rem;
}
.zhangdanB span:first-of-type::before{
    content: "订单编号：";
}
.zhangdanB span:nth-of-type(2)::before{
    content: "支付金额：";
}
.yL{
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: #F0F2F5;
    position: absolute;
    top: 1rem;
    left:-0.12rem;
}
.yR{
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: #F0F2F5;
    position: absolute;
    top: 1rem;
    right:-0.12rem;
}
.b-liebiao{
    width:90%;
    height: 0.3rem;
    background: #F63434;
    display: block;
    border-radius: 0.05rem;
    font-size: 0.16rem;
    line-height: 0.3rem;
    margin: 0 auto;
    text-align: center;
}
.b-liebiao a{
    color: #fff;
}
