.page{
    width: 100%;
    height: auto;
    background: #F3F3F6;
    position: absolute;
    top: 0;
    bottom:0;
}
.header{
    width: 100%;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
}
.back{
    width: 0.2rem;
    height: 100%;
    background-image: url("../common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    float: left;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.header h3{
    font-size:0.2rem;
    line-height: 0.44rem;
    color:#000;
    font-weight: 500;
    text-align: center;
    padding-right: 0.4rem;
}
.page-tixian{
    width: 100%;
    height: auto;
}
.tixian{
    width: 85%;
    height:2.2rem;
    background:#fff;
    margin: 0.1rem auto;
    padding: 0 0.12rem;
}
.ti-weizhi{
    width: 100%;
    height: 0.5rem;
    font-size: 0.14rem;
    line-height: 0.5rem;
    border-bottom:0.01rem solid #F1F1F1;
}
.ti-weizhi .title{
    float: left;
    color: #959495;
}
.weizhi{
    width: auto;
    height: 100%;
    float: right;
    color: #4B4A4B;
}
.weizhi::after{
    content: ">";
    color: #C8C8C9;
}
.jine{
    width: 100%;
    height: 1.4rem;
    border-bottom:0.01rem solid #F1F1F1;
}
.je{
    width: 100%;
    height: 0.5rem;
    font-size: 0.14rem;
    line-height: 0.5rem;
    color: #8E8D8E;
}
.je-num{
    width: 100%;
    height: 0.6rem;
    font-size: 0.2rem;
    color: #000000;
    font-weight: bold;
    line-height: 0.6rem;
}
.num-money{
    height: 0.6rem;
    padding-left: 0.03rem;
    font-size: 0.22rem;
    outline: none;
    border: none;
    font-weight: bold;
    line-height: 0.6rem;
}
.tishi{
    width: 100%;
    height: 0.3rem;
}
.tishi-jine{
    width: auto;
    height: 100%;
    float: left;
    font-size: 0.14rem;
    line-height: 0.3rem;
    color: #989798;
}
.tishi-caozuo{
    width:auto;
    height:100%;
    float: right;
    font-size: 0.14rem;
    line-height: 0.3rem;
    color: rgba(70,178,59,1);
}
button{
    width: 90%;
    height: 0.3rem;
    background:rgba(70,178,59,0.8);
    color: #fff;
    font-size: 0.16rem;
    line-height: 0.3rem;
    border-radius: 0.03rem;
    border: none;
    margin: 0.2rem auto;
    display: block;
}