.page{
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom: 0.5rem;
}
.header{
    width: 100%;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
}
.back{
    width: 0.2rem;
    height: 100%;
    float: left;
    background-image: url("../common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.header h3{
    font-size: 0.2rem;
    line-height: 0.44rem;
    color:#000;
    font-weight: 500;
    text-align: center;
    padding-right: 0.4rem;
}
.zmail{
    width: 100%;
    height: auto;
}
.zmail-list{
    width: 100%;
    height: auto;
}
.zmail-list li{
    width: 90%;
    height: auto;
    margin: 0.2rem auto;
    background:#F3F3F3;
}
/*简介开始*/
.zmail-jie{
    width:95%;
    height: auto;
    padding: 0.1rem 0.12rem;
    display: none;
}
.zmail-top{
    width: 100%;
    height: 0.2rem;
    margin-bottom: 0.05rem;
}
.zmail-top .author{
    width:auto;
    height:100%;
    font-size: 0.16rem;
    color: #333;
    font-weight: 600;
    line-height: 0.22rem;
    float: left;
}
.zmail-top .zmail-time{
    margin-left: 0.15rem;
    font-size: 0.14rem;
    color: #A7A7A7;
    line-height: 0.22rem;
    float:left;
}
.zmail-title{
    width: 100%;
    height: 0.25rem;
    font-size: 0.16rem;
    color: #333;
    font-weight:500;
    line-height: 0.25rem;
}
.zmail-jie p{
    width: 100%;
    height: 0.5rem;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #333;
    overflow: hidden;
    position: relative;
}
.zmail-jie p span{
    width: 0.35rem;
    height: 0.2rem;
    position: absolute;
    right: 0;
    bottom: 0.1rem;
    z-index: 999;
    background-image: url("../common/img/2018-01-03_183920.png");
    background-repeat: no-repeat;
    background-position: center;
}
/*简介结束*/
/*详情开始*/
.zmail-block{
    width: 100%;
    height: auto;
    display: none;
}
.zmail-block>span{
    width: 1.5rem;
    height: 0.2rem;
    font-size: 0.14rem;
    background: #F8F8F8;
    margin: 0 auto;
    color: #A7A7A7;
    line-height: 0.22rem;
    text-align: center;
    display: block;
    margin-bottom: 0.15rem;
}
.list-con{
    width: 100%;
    height: auto;
    background: #F3F3F3;
    border: 0.01rem solid #DCDCDC;
    padding-bottom: 0.15rem;
}
.list-con h4{
    margin-left: 0.12rem;
    font-size: 0.16rem;
    color: #49BE38;
    font-weight: bold;
    line-height: 0.23rem;
    margin-bottom: 0.05rem;
}
.list-con p{
    width: 95%;
    height: auto;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #333;
    margin: 0 auto;
    position: relative;
}
.list-con p span{
    width: 0.35rem;
    height: 0.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: block;
    margin-bottom: 0;
    background-image: url("../common/img/2018-01-03_183948.png");
    background-repeat: no-repeat;
    background-position: center;
}
/*详情结束*/
.block{
    display: block;
}
