/*测导航第一栏显示*/
.aside li:last-of-type{
    padding-left: 36px;
    background: #fff;
    border-left: 4px solid #97BE0D;
}
.aside li:last-of-type a{
    color: #333;
}
/*测导航第一栏显示*/
.zuzi{
    width: 100%;
    height: auto;
}
.zuzi-con{
    width: 100%;
    height: auto;
}
.zuzi-con img{
    display: block;
    width:830px;
    height: 446px;
    margin:0 auto;
}