<#extend#>public/domain/domain_extend.html</#extend#>
<link rel="stylesheet" href="{{PATH_TML}}css/content.css">
<script type="text/javascript">
    show.header = 'no';
</script>
<div class="content">
	<div class="head">
		<div class="back" @click="window.location.href='/user'"></div>
		<input type="text" class="sousuo" placeholder="搜索文章" v-model="keyword" @keyup.enter="getData(true)">
	</div>
	<ul class="cont-list">
		<li v-for="item in myArtList">
			<a :href="'/' + item.domain + '/article/' + item.weid | href('weplats')">
				<div class="cont-left">
					<div class="time">{{item.updated_at | formateTime('YMD')}}</div>
					<h4>{{item.title}}</h4>
					<p>{{item.summary | limitLen(0,30)}}</p>
					<div class="operate">
						<span>阅读 {{item.views}}</span>
					</div>
				</div>
				<div class="cont-right">
					<img :src="item.cover | img_src" alt="">
				</div>
			</a>
		</li>
	</ul>
	<div class="cont-end"><a href="">{{textTip}}</a></div>
</div>
<script>
$app.set_title('我的文章');
new Vue({
    el: '#app',
    data: {
		myArtList : [],
        keyword : '',
        totalPage : '',
		page : 1,
		limit : 10,
        isBottom : false,
		textTip : '没有文章了！赶快去发表'
    },
    mounted: function(){
		this.getData();
        window.addEventListener('scroll',this.handleScroll)
	},
	methods : {
        getData : function (flag) {
            if(flag){
                this.page = 1;
                this.myArtList = [];
			}
            ajax.get('articles',{params:{limit:this.limit,page:this.page,keywords:this.keyword}}).then((res)=>{
                console.log(res);
                this.isBottom = true;
                this.textTip = '';
                if(res.code == 200){
					this.myArtList.push.apply(this.myArtList,res.data.list);
                    this.totalPage = Math.ceil(res.data.total/10);
                }
                if(flag && !res.data.list.length){
                    this.textTip = '没有找到您要的信息哦~'
				}
            })
        },
		handleScroll : function () {
            if(window.pageYOffset + window.innerHeight === document.documentElement.scrollHeight && this.isBottom){
                if(this.page >= this.totalPage){
                    this.textTip = '没有文章了！赶快去发表';
                    return;
				}
                this.page+=1;
                this.isBottom = false;
                this.textTip = '加载中，请稍候...'
				this.getData();
			}
        }
	}
});
</script>