<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>收货地址</title>

    <link rel="stylesheet" href="{{PATH_TML}}css/set-address.css">

    <script src="{{PATH_TML}}js/jquery-3.2.1.min.js"></script>
    <script src="{{PATH_CONFIG}}"></script>
    <script src="{{PATH_TML}}js/vue.min.js"></script>
    <script src="{{PATH_TML}}js/vue-resource.min.js"></script>
    <script src="{{PATH_TML}}js/layui/layui.all.js"></script>
</head>
<body>
<div id="addressPage" v-cloak>
    <header>
        <span>收货地址</span>
        <a class="back" href="javascript:history.back(-1)"></a>
    </header>
    <div class="form">
        <div>
            <span>收货人</span>
            <input type="text" v-model="name" placeholder="姓名">
        </div>
        <div>
            <span>联系方式</span>
            <input type="text" v-model="phone" placeholder="手机号码">
        </div>
        <div class="select-address" @click="choose()">
            <span>所在地区</span>
            <span>{{currentPro + currentCity + currentCounty}}</span>
        </div>
        <div class="detail">
            <span>详细地址</span>
            <textarea v-model="detailAddr" placeholder="详细地址需要写楼栋楼层或房间号信息"></textarea>
        </div>
        <div>
            <span>邮政编码</span>
            <input type="text" v-model="zip" placeholder="邮政编码">
        </div>
    </div>
    <div class="submit" v-if="!isModify" @click="onSubmit()">确认并使用该地址</div>
    <div class="submit" v-if="isModify" @click="onModify()">确认</div>
    <transition name="fade">
        <div class="modal-bg" v-show="showModel">
            <div class="modal" v-show="showModel">
                <div class="modal-top">
                    <span>所在地区</span>
                    <i @click="showModel=false">×</i>
                </div>
                <div class="list">
                    <div>
                        <span>{{selectPro ? selectPro : '请选择'}}</span>
                        <span v-show="selectPro">{{selectCity ? selectCity : '请选择'}}</span>
                        <span v-show="selectCity">{{selectCounty ? selectCounty : '请选择'}}</span>
                    </div>
                    <div>
                        <ul>
                            <li v-for="item in proList" :class="{'font-red' : item.id == pro}" @click="getPro(item,$event)">{{item.name}}</li>
                        </ul>
                        <ul v-show="selectPro">
                            <li v-for="city in cityList" :class="{'font-red' : city.id == chooseCity}" @click="getCity(city,$event)">{{city.name}}</li>
                        </ul>
                        <ul v-show="selectCity">
                            <li v-for="county in countyList" :class="{'font-red' : county.id == chooseCounty}" @click="getCounty(county,$event)">{{county.name}}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</div>
<script>
//    Vue.http.headers.common['token'] = 'eyJpdiI6IlwvTFZlRU5lQ2FlMHE3MW16dkFmNUVnPT0iLCJ2YWx1ZSI6Ijc2ZWt3M1o5U2RcL2tWNTlYazBSVDVsMDIwaHpcL2dWZ2VwSVY1V2hib3o0RmxTMzBvU2o1SEMyZ2U2UjRVV0xielFBWlROb1ArbGhyRTY3VHBXTlwvenZwUXF6aHBpUmROeFJJNE5CRUh2YyswPSIsIm1hYyI6ImIzYjBiYzM2YjBlMjkxNDAzMjZlYzM5YWJmMWNhOGEzMDJkY2FjMzFiNGQwMGM0NGFlYTRkMTVlMzNhZGU1N2EifQ=='

    Vue.http.headers.common['token'] = window.localStorage.getItem("token");

    var app = new Vue({
        el: "#addressPage",
        data: {
            pro: null,
            chooseCity: null,
            chooseCounty: null,
            info: "",
            name : '',
            phone : '',
            detailAddr : '',
            proList: [],
            cityList: [],
            countyList:[],
            currentPro: '',
            currentCity: '',
            currentCounty: '',
            selectPro: '',
            selectCity: '',
            selectCounty: '',
            zip : '',
            showModel: false,
            isModify: false,
            modifyObj:{}
        },
        mounted: function () {
            var hasWeid = localStorage.getItem('weid');
            var weid = hasWeid ? hasWeid : "aafc6a60-c2b6-11e7-804f-2b2e90492ab4";
            var self = this;
            this.modifyObj = JSON.parse(window.localStorage.getItem("modify"));
            console.log(this.modifyObj);
            if(!this.isEmptyObj(this.modifyObj)){
                this.isModify = true;
                this.name = this.modifyObj.name;
                this.phone = this.modifyObj.telophone;
                this.currentPro = this.modifyObj.province_name;
                this.currentCity = this.modifyObj.area_name;
                this.currentCounty = this.modifyObj.county_name;
                this.detailAddr = this.modifyObj.detail;
                this.zip = this.modifyObj.zipcode;
                this.pro = this.modifyObj.province_id;
                this.chooseCity = this.modifyObj.area_id;
                this.chooseCounty = this.modifyObj.county_id;
            }

            this.$http.get(USERDETAIL + '/' + weid).then(function (res) {
                console.log("用户信息",res);
                this.info = res.data.data;

                this.$http.get(apiUrl + "province/list").then(function (res) {
                    console.log("省列表",res);
                    this.proList = res.data.data.list;
                    if(!this.isModify){
                        var isFind = this.proList.filter(function (one) {
                            if (self.info.province_id) {
                                return one.id === self.info.province_id
                            } else {
                                return one.id === 27
                            }
                        });
                        if (isFind.length) {
                            this.pro = isFind[0].id;
                            this.currentPro = isFind[0].name;
                        }
                    }

                    this.$http.get(apiUrl + "area/list/" + this.pro).then(function (res) {
                        console.log("市列表",res);
                        this.cityList = res.data.data.list;
                        if(!this.isModify){
                            var isFind = this.cityList.filter(function (t) {
                                if(self.info.area_id){
                                    return t.id === self.info.area_id
                                }else{
                                    return t.id === 294
                                }
                            })
                            if(isFind.length){
                                this.chooseCity = isFind[0].id;
                                this.currentCity = isFind[0].name;
                            }
                        }


                        this.$http.get(apiUrl + "county/list/" + this.chooseCity).then(function (res) {
                            console.log("乡镇列表",res);
                            this.countyList = res.data.data.list;
                            if(!this.isModify && this.countyList.length){
                                this.chooseCounty = this.countyList[0].id;
                                this.currentCounty = this.countyList[0].name;
                            }
                        })
                    })
                }, function (err) {
                    console.log(err)
                })
            }, function (err) {
                console.log(err)
            });
        },
        methods: {
            choose: function () {
                this.showModel = true;
            },
            getPro: function (item) {
                this.currentCity = '';
                this.currentCounty = '';
                this.selectCity = '';
                this.selectCounty = '';
                this.pro = item.id;
                this.currentPro = item.name;
                this.selectPro = item.name;
                var self = this;
                this.$http.get(apiUrl + "area/list/" + this.pro).then(function (res) {
                    this.cityList = res.data.data.list;
                    if(this.cityList.length){
                        this.chooseCity = this.cityList[0].id;
                        this.currentCity = this.cityList[0].name;
                    }
                })
            },
            getCity: function (item) {
                this.chooseCounty = '';
                this.selectCounty = '';
                this.chooseCity = item.id;
                this.currentCity = item.name;
                this.selectCity = item.name;
                this.$http.get(apiUrl + "county/list/" + this.chooseCity).then(function (res) {
                    this.countyList = res.data.data.list;
                    if(this.countyList.length){
                        this.chooseCounty = this.countyList[0].id;
                        this.currentCounty = this.countyList[0].name;
                    }
                })
            },
            getCounty: function (item) {
                this.chooseCounty = item.id;
                this.currentCounty = item.name;
                this.selectCounty = item.name;
                this.showModel = false;
            },
            onSubmit : function () {
                var data = {
                    name : this.name,
                    province_id : this.pro,
                    area_id : this.chooseCity,
                    county_id : this.chooseCounty,
                    detail : this.detailAddr,
                    zipcode : this.zip,
                    telophone : this.phone,
                    stats : 2
                };

                this.$http.post(apiUrl + 'users/address/store',data).then(function (res) {
                    console.log(res);
                    if(res.data.code === 200){
                        window.location.href = '/shopping/pay/address';
                    }else{
                        layer.msg('保存失败');
                    }
                },function (err) {
                    console.log(err)
                })

            },
            onModify : function () {
                var data = {
                    weid : this.modifyObj.weid,
                    name : this.name,
                    province_id : this.pro,
                    area_id : this.chooseCity,
                    county_id : this.chooseCounty,
                    detail : this.detailAddr,
                    zipcode : this.zip,
                    telophone : this.phone,
                    status : this.modifyObj.status
                };
                this.$http.post(apiUrl + 'users/address/update',data).then(function (res) {
                    console.log(res);
                    if(res.data && res.data.code === 200){
                        var domain = window.sessionStorage.getItem("domain");
                        var shopping_weid = window.localStorage.getItem("shopping_weid");
                        if(!domain) {
                            domain = 'index';
                        }
                        window.location.href = '/'+ domain +'/wemall/order/'+ shopping_weid;
                    }else{
                        layer.msg('保存失败');
                    }
                })

            },
            isEmptyObj:function (obj) {
                for(var key in obj){
                    if(key){
                        return false;
                    }
                }
                return true;
            }
        }
    })

</script>
</body>
</html>