<!DOCTYPE html>
<html>
    <head lang="en">
        <title> 我的购物车 </title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" id="favicon" href="" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <link rel="stylesheet" type="text/css" href="/common/css/main.css">
        <link rel="stylesheet" type="text/css" href="/common/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}shopping/css/shopcart.css">
        <script src="{{PATH_TML}}user/common/js/loading.js"></script>
        <script src="/common/js/jquery-3.2.1.min.js"></script>
        <script src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
        <script src="{{PATH_CONFIG}}"></script>
        <script src="/common/js/vue/vue.min.js"></script>
        <script src="/common/js/vue/vue-resource.min.js"></script>
    </head>
    <body>
        <div class="left-nav"></div>
        <div class="login">
            <div id="top"></div>
            <div id="middle"></div>
            <div id="right">
                <div class="container1" id="cart_shopping" v-cloak>
                    <div class="con-hd">
                        <nav class="navbar navbar-default display-head">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <ol class="breadcrumb">
                                        <li>
                                            <a href="javascript:void(0)"> 我的账户 </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"> 购物车 </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- 商品列表 -->
                    <div class="cart_title">
                        <div class="cart_shop_business_all">
                            <div class="cart_shop_select">选项</div>
                            <div class="cart_shop_img"> 商品 </div>
                            <div class="cart_shop_basic"> 套餐信息 </div>
                            <div class="cart_shop_price"> 单价 </div>
                            <div class="cart_shop_piece"> 数量 </div>
                            <div class="cart_shop_price"> 总价 </div>
                            <div class="cart_shop_operation"> 操作 </div>
                        </div>
                        <ul class="cart_shop_list" v-for="(item, index) in cart_list">
                            <div class="cart_shop_business">
                                <div class="cart_shop_select">
                                    <input type="checkbox" v-model="item.mall.pCheck" @click="selectStore(item)">
                                </div>
                                <span>{{item.mall.title}}</span>
                            </div>
                            <li class="cart_shop" v-for="(values, key) in item.goods">
                                <div class="cart_shop_select">
                                    <input type="checkbox"  v-model="values.checked" @click="selectItem(item,values)">
                                </div>
                                <div class="cart_shop_img">
                                    <img :src="ApiMaterPlatQiniuDomain +values.cover" alt="">
                                </div>
                                <div class="cart_shop_basic">
                                    <span>{{values.title}}</span>
                                    <span>库存：{{values.stock}}</span>
                                </div>
                                <div class="cart_shop_price">￥<span class="cart_shop_unit_price"></span>{{values.discount_picture ? parseFloat(values.discount_picture).toFixed(2) : parseFloat(values.price).toFixed(2)}}</div>
                                <div class="cart_shop_piece">
                                    <input id="count_min" name="" type="button" value="-" @click="count_add_min(values,item,'count_min')" />
                                    <input id="quantity"  name="" type="text" v-model="values.goods_num" />  
                                    <input id="count_add" name="" type="button" value="+" @click="count_add_min(values,item,'count_add')" />&nbsp;件
                                </div>
                                <div class="cart_shop_price">￥<span class="cart_shop_total_price"></span>{{parseFloat((values.discount_picture ? values.discount_picture : values.price) * values.goods_num).toFixed(2)}}</div>
                                <div class="cart_shop_operation">
                                    <span class="cart_shop_delete" @click="delectGood(values)"> 删除商品 </span>
                                </div>
                            </li>
                            <slide class="cart_shop_order">
                                <slide class="cart_shop_order_info">
                                    <span>
                                        已选商品({{item.numbers ? item.numbers : 0}})件 合计（不含运费）：￥ {{item.storeAllMoney ? parseFloat(item.storeAllMoney).toFixed(2) : "0.00"}}
                                    </span>
                                </slide>
                                <slide class="cart_shop_order_sub" @click="goOrder(item)"> 结算 </slide>
                            </slide>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{PATH_TML}}js/public_main_right_bg.js"></script>
        <!--模块引入-->
        <script src="{{PATH_TML}}user/common/js/generate.js"></script>
        <script src="/common/js/control.js"></script>
        <script src="{{PATH_TML}}user/js/common.js"></script>
        <script>

            Vue.http.headers.common['token'] = window.localStorage.getItem("token");

            var app = new Vue({
                el: "#cart_shopping",
                data: {
                    cart_list: []
                },
                mounted: function () {
                    // 获取默认列表
                    this.init()
                },
                methods: {
                    init : function () {
                        var body = {
                            user_id : window.localStorage.getItem("weid")
                        };
                        this.$http.post(apiUrl + 'cart/lists', body).then(function (res) {
                            if(res.data && res.data.code===200){
                                var list = res.data.data.list;
                                for(var i=0; i<list.length; i++){
                                    list[i].mall["pCheck"] = false;
                                    for(var a=0; a<list[i].goods.length; a++){
                                        list[i].goods[a]["checked"] = false;
                                    }
                                }
                                this.cart_list = list;
                                console.log(this.cart_list)
                            }
                        })
                    },
                    count_add_min: function(values,obj,names) {
                    	if(names == "count_add") {
                    		values.goods_num++;
                    		if(values.goods_num > values.stock) {
                    		    layer.msg('数量不能大于库存')
                    			values.goods_num = values.stock;
                    		}
                    	} else if(names == "count_min") {
							values.goods_num--;
		                    if (values.goods_num <= 0) {
		                        layer.msg('数量不能小于1')
		                        values.goods_num = 1;
		                    }
                    	}
                    	this.getNumber(obj)
                    },
                    getNumber : function (storeObj,flag) {
                        storeObj.storeAllMoney = 0.00;
                        storeObj.numbers = 0;
		                storeObj.goods.forEach(function(item) {
		                	if(flag) {
		                		item.checked = storeObj.mall.pCheck;
		                	}
		                	if(item.checked) {
                                storeObj.storeAllMoney += (item.discount_picture ? item.discount_picture : item.price) * item.goods_num;
                                storeObj.numbers++;
		                	}
		                });
		            },
                    selectStore: function(item) {
		                item.mall.pCheck = !item.mall.pCheck;
		                this.getNumber(item, true)
                    },
                    selectItem: function(item,values) {
		                values.checked = !values.checked;
		                var isAllCheck = item.goods.filter(function (data) {
		                    return data.checked === false;
		                });
		                item.mall.pCheck = (isAllCheck.length === 0);
		                this.getNumber(item)
                    },
                    goOrder: function (storeObj) {
                        var self = this;
                        var orderObj = {
                            goods_list : []
                        };
                        for(var i=0; i<storeObj.goods.length; i++){
                            if(storeObj.goods[i].checked){
                                var data = {
                                    "goods_id" : storeObj.goods[i].weid,
                                    "goods_num": storeObj.goods[i].goods_num
                                };
                                orderObj.goods_list.push(data)
                            }
                        }
                        this.$http.get(apiUrl + 'users/imagecodeid').then(function (res) {
                            console.log(res);
                            if(res.data && res.data.data){
                                var uniqueKey = res.data.data;
                                window.localStorage.setItem(uniqueKey,JSON.stringify(orderObj));
                                if(storeObj.storeAllMoney > 0){
                                    this.$http.get(apiUrl + 'pages/page/getDetailByUser/'+ storeObj.mall.plat_user_id).then(function (res) {
                                            if(res.data && res.data.code === 200){
                                                window.location.href = '/'+res.data.data.domain + '/wemall/order/' + uniqueKey
                                            }
                                    })

                                }
                            }
                        });

                    },
                    delectGood: function (good) {
                        console.log(good);
                        var self = this;
                        layer.confirm('确认删除该条商品吗？', {
                            title: false,
                            btn: ['确定','取消']
                        }, function(index){
                            self.$http.post(apiUrl+'cart/destroy',{'weid' : good.cartweid}).then(function (res) {
                                console.log(res);
                                if(res.data.code === 200){
                                    self.init()
                                }else{
                                    layer.msg('删除失败')
                                }
                                layer.close(index);
                            })
                        });
                    }
                }
            })
        </script>
    </body>
</html>