.date {
    line-height: 24px;
    text-align: center;
}

.day-art:hover {
    border: 1px solid #007fff;
    cursor: pointer;
}

.day-cover {
    width: 240px;
    height: 145px;
    margin-top: 10px;
    margin-left: 10px;
    /*border: 1px solid #eee;*/
    float: left;
    background: url(/common/img/vote_front_cover.png) no-repeat center;
    background-size: 100%;
}

.day-title {
    width: 410px;
    height: 35px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    /*border-bottom: 1px solid #EEEEEE;*/
    float: left;
}

.day-summary {
    width: 400px;
    height: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
    /*border: 1px solid #eee;*/
    overflow-y: hidden;
    text-indent: 2em;
    float: left;
}

.day-info {
    width: 400px;
    height: 20px;
    margin-top: -10px;
    margin-left: 15px;
    font-size: 15px;
    float: left;
}

.day-info img {
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
}

.day-type {
    position: relative;
    width: 70px;
    line-height: 16px;
    border: 1px solid white;
    border-radius: 18px;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 12px;
    z-index:25;
}