@charset "utf-8";

div#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 20;
    overflow: hidden;
    display: none;
}

.flex {
    display: flex;
}

.show-login {
    position: absolute;
    width: 360px;
    height: 330px;
    background: white;
    border: 1px solid #e9e9e9;
    z-index: 25;
    display: none;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.close {
    position: relative;
    float: right;
    width: 35px;
    height: 35px;
    margin-top: -2px;
    margin-right: -38px;
    cursor: pointer;
    background-image: url(../common/img/close.png);
    background-size: 100% 100%;
    color: white!important;
    opacity: 1!important;
    background-color: rgb(68, 66, 66);
}

.login-heading {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    text-align: center;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

button.btn.btn-default.dropdown-toggle {
    height: 44px;
    outline: none;
    padding: 0;
    border: 1px solid #ccc;
    width: 100%;
    margin-right: 0px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button.btn.btn-default.get-check {
    height: 44px;
    outline: none;
    padding: 0;
    border: 1px solid #ccc;
    width: 100%;
    margin-left: 0px;
    cursor: pointer;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-group-btn button:hover,
.input-group-btn button:focus,
.input-group-btn button:active {
    color: #333;
    background-color: #d4d4d4 !important;
    border-color: #8c8c8c !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.input-group-btn {
    flex: 1;
}

input.form-control.phone-num {
    flex: 3;
    height: 42px;
    line-height: 42px;
    text-indent: 1em;
    padding: 0;
    margin: 0;
    font-size: medium;
    outline: none;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input.form-control.check-num {
    flex: 3;
    height: 42px;
    line-height: 42px;
    text-indent: 1em;
    padding: 0;
    margin: 0;
    font-size: medium;
    outline: none;
    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login-body {
    margin: 15px;
}

.login-body>div {
    margin-top: 30px;
}

#log-in {
    text-align: center;
}

.button-primary,
.button-primary-flat {
    background-color: #1B9AF7;
    border-color: #1B9AF7;
    color: #FFF;
    font-weight: 300;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
    margin: 0 auto;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

#log-in .button-primary:active,
#log-in .button-primary.active,
#log-in .button-primary.is-active,
#log-in .button-primary-flat:active,
#log-in .button-primary-flat.active,
#log-in .button-primary-flat.is-active {
    background-color: #2798eb;
    border-color: #2798eb;
    color: #dedede !important;
}

#log-in .button-primary:hover,
#log-in .button-primary:focus,
#log-in .button-primary-flat:hover,
#log-in .button-primary-flat:focus {
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #fff !important;
}

.i-header {
    position: relative;
    width: 40px !important;
    height: 40px !important;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}