.show-login{
	width: 300px;
    height: 220px;
}
.close {
    margin-right: -1px!important;
    /*line-height: 36px;*/
    height:35px;
    background: #f8f8f8;
    color: #ccc!important;
    border-bottom: 1px solid #eee;
    margin-top:1px;
}
.login-heading{
	    height: 36px;
    line-height: 36px;
    font-size: 18px;
}
button.btn.btn-default.dropdown-toggle {
    height: 40px;
    line-height: 40px;
}
.login-body>div {
    margin-top: 12px;
}
.close-btn {
    display: inline-block;
    width: 32px;
    height: 36px;
    line-height: 36px;
    /*margin-top:-4px;*/
}
button.btn.btn-default.get-check {
    height: 40px;
}
input.form-control.phone-num,input.form-control.check-num, input.form-control.image_code{
    font-size:14px;
    border-radius: 0;
    max-width: 170px;
}
input.form-control.check-num, input.form-control.image_code{
    border-radius: 5px 0 0 5px;
}