* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fl {
    float: left;
}

.box {
    height: 35px;
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #5a5a5a;
}

.box button {
    padding: 0 10px;
    margin: 0 6px;
    height: 35px;
    float: left;
    outline: none;
    cursor: pointer;
    color: #5a5a5a;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #fff;
}

.box .first-page,
.box .last-page {
    margin: 0;
}

.box .pageWrap {
    height: 35px;
    float: left;
    overflow: hidden;
}

.box .pageWrap ul {
    width: auto;
    height: 35px;
    display: inline-flex;
}

.box .pageWrap ul li {
    width: 40px;
    height: 35px;
    margin: 0 2px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    line-height: 35px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}

.box .pageWrap ul .sel-page {
    background-color: #74afe7;
    border: 1px solid #74afe7;
    color: #fff;
}

.box .jump-text {
    width: 50px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    text-align: center;
    margin: 0 5px;
    border-radius: 3px;
}

.box .jump-button {
    margin: 0;
    float: left;
}

.box .total-pages,
.box .total-count {
    margin-left: 10px;
    float: left;
    font-size: 14px;
}