* {
    margin: 0;
    padding: 0;
    border: 0;
}

[v-cloak] {
    display: none;
}
html {
    /*font-size: 14px;*/
}

body {
    background: url(/common/img/bg.gif);
}

li {
    list-style: none;
}

a {
    text-decoration: none!important;
    color: #333;
}

#wepage {
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#header {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header > div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
}

#userinfo > div {
    padding: 15px;
}

#topline {
    width: 1200px;
    height: 40px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #999;
}

#topline p {
    display: flex;
    align-items: center;
    /*color: #999;*/
    color: white;
}

#topline a p img {
    width:20px;
    height:20px;
    margin-right:10px;
    border-radius: 20px;
}

#userinfo {
    width: 100%;
    height: 300px;
    background: url(/common/img/new/wepage.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}

#userinfo div {
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar1 {
    display: block;
    width: 100px;
    height: 100px;
    /*box-shadow: 1px 1px 5px 2px rgba(0,0,0,.2);*/
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
    /*border: 1px solid white;*/
}

#userinfo div p {
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 40px;
    color: white;
}

#userinfo div p span:first-child {
    font-size: 24px;
    padding-bottom: 15px;
}

#userinfo div p span:first-child img:last-child {
    cursor: pointer;
}

#userinfo div p span:last-child {
    width: 800px;
    line-height: 22px;
    font-size: 16px;
}

#menu {
    width: 100%;
    height: 56px;
    min-width: 1200px;
    background: white;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: none;
    /*box-shadow: 2px 2px 5px #e6e6e6;*/
    display: flex;
    justify-content: center;
}

#menu ul {
    position: relative;
    width: 1200px;
    display: flex;
    font-size: 16px;
    align-items: center;
    color: #999;
    margin-top: 15px;
}

#menu ul li {
    margin: 5px 45px 0 26px;
    /*margin: 18px 50px 0 25px;*/
    padding-bottom: 10px;
    cursor: pointer;
    transition-property: border-bottom, color;
    transition-duration: 0.2s;
}

.underline {
    color: #4d4d4d;
    border-bottom: 1px solid #46b2ee;
}

#menu ul li:hover {
    color: #4d4d4d;
    border-bottom: 3px solid #46b2ee;
}

#menu ul li:nth-child(2) {
    margin-left: -32px;
}

#menu ul li:last-child:hover,
#menu ul li:first-child:hover {
    border: none!important;
}

#container {
    display: flex;
    justify-content: center;
}

#content {
    width: 1200px;
    background: white;
}

#type {
    width: 790px;
    height: 58px;
    margin: 0 30px 10px 25px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #999;
}

#type li {
    margin: 28px 40px 14px 0;
    list-style: disc;
    padding-left: 10px;
    cursor: pointer;
}

#type li:hover {
    color: #333;
}

#type li:first-child {
    list-style: none;
    padding-left: 0;
}

#list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 821px;
    height: auto;
    margin-top: 21px;
    margin-left: 15px;
    padding: 0 15px;
    padding-bottom: 15px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

#list > a {
    display: block;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #e6e6e6;
}

#list > a:hover {
    border: 1px solid #46b2ee;
}

#list li {
    /*width: 790px;*/
    /*height: 200px;*/
    height: 160px;
    /*padding: 20px 0;*/
    /*border-bottom: 1px solid #e6e6e6;*/
    display: flex;
    justify-content: flex-start;
    align-items: unset;
}

.i0 {
    display: inline-block;
    width: 240px;
    min-width: 240px;
    min-height: 160px;
    margin-right: 20px;
}

#list li p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#list li p span {
    display: block;
}

#list li p span:nth-child(1) {
    padding: 8px 0;
    font-size: 18px;
    color: #1a1a1a;
}

#list li p span:nth-child(2) {
    color: #808080;
    line-height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#list li p span:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 14px;
    font-size: 14px;
    color: #999;
}

.i1 {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.i2 {
    display: block;
    width: 21px;
    height: 13px;
    margin-right: 5px;
}

.i3 {
    display: block;
    margin-right: 5px;
}

#pages {
    width: 820px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 60px 40px;*/
    margin-top: 20px;
}

#main {
    display: flex;
    justify-content: space-between;
}

#maininfo {
    width: 330px;
    height: 300px;
    margin-right: 15px;
    /*margin-top: -48px;*/
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    /*border-radius: 2px;*/
    /*background: #fcfcfc;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userhead {
    width: 100%;
    height: 130px;
    background: url(/common/img/new/bg.png) no-repeat center;
    background-size: 100% 100%;
    display: block;
}

#maininfo img {
    display: block;
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 90px;
    margin-top: -60px;
}

#maininfo ul {
    width: 100%;
    font-size: 15px;
    /*color: #808080;*/
    color: #666;
    padding: 18px 0 0 15px;
    display: flex;
    justify-content: flex-start;
}

#maininfo ul a li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
    border-right: 1px solid #e6e6e6;
}

#maininfo ul a li span {
    padding: 4px 0;
}

#maininfo ul a:nth-child(3) li {
    border-right: none;
}

#username {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#address {
    width: 330px;
    /*height: 393px;*/
    margin-top: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    /*background: #fcfcfc;*/
}

#address ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 22px 25px 21px 25px;*/
    margin: 22px 25px 0 25px;
}

#address ul li:first-child img {
    /*margin-right: 35px;*/
    display: block;
}

#address ul li:first-child img:last-child {
    margin-right: 6px;
}

#address ul li:first-child span {
    width: 278px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#address ul li:first-child span:last-child {
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    color: #666;
    text-align: justify;
}

#address ul li:nth-child(2),
#address ul li:nth-child(3) {
    width: 100%;
    font-size: 14px;
    color: #666;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
}

#address ul li:nth-child(3) {
    display: flex;
}

#address ul li:nth-child(2) span,
#address ul li:nth-child(3) span{
    padding-left: 7px;
}

#address ul li:nth-child(2) span {
    padding-left: 4px;
}

#address ul li:nth-child(3) span {
    text-align: justify;
    /*padding-left: 11px;*/
}

#address ul li:nth-child(4) {
    width: 100%;
    font-size: 16px;
    color: #666;
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
}

#address ul li:nth-child(4) img {
    margin-right: 25px;
}

#address ul li:nth-child(4) p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#address ul li:nth-child(4) p span:first-child {
    padding: 5px 0;
}

#friends {
    width: 330px;
    height: 360px;
    margin-top: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    /*background: #fcfcfc;*/
}

#friends ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#friends ul li:first-child {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #666;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#friends ul li:first-child p {
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#friends ul li:first-child p:first-child {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa;
}

#friends ul li:first-child p:last-child {
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa;
}

.friends {
    border-bottom: none!important;
    /*background: #fcfcfc!important;*/
    background: white!important;
}

.care {
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    margin: 10px;
}

#friends ul li a {
    display: inline-block;
    max-height: 74px;
}

#friends ul li:nth-child(2),
#friends ul li:nth-child(3) {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*flex-wrap: wrap;*/
    margin: 12px 16px;
    /*width: 296px;*/
    height: 222px;
}

#friends ul li:nth-child(4) {
    width: 100%;
    height: 50px;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.ivu-page{
    display: flex;
}
.ivu-page > li{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 0;
    height: auto !important;
}
.ivu-page > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;

}
.ivu-page-item-active{
    background-color: #46b2ee;
}
.ivu-spin-fix .ivu-spin-main {
    /*top: 50%!important;*/
}
/*.ivu-spin-fix {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.9);
}*/
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.none {
    position: relative;
    margin-top: 200px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

#shop {
    display: flex;
    flex-direction: column;
}

#shop > li {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: none;
    min-height: 300px;
    height: auto;
}

#shop > li > div:first-child {
    display: flex;
    width: 100%;
    min-height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

#shop > li > div:first-child > p:first-child {
    width: 4px;
    height: 20px;
    background: #46b2ee;
    margin-right: 10px;
}

#shop > li > div:first-child > p:last-child {
    height: 20px;
    font-size: 18px;
}

#shop > li > div:last-child {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

/*#shop > li > div:last-child > a {
    width: 245px;
    height: 316px;
    border: 1px solid #e6e6e6;
    margin: 10px 9px;
    display: block;
    transition: box-shadow 0.3s;
    cursor: pointer;
}*/

#shop > li > div:last-child > a {
    position: relative;
    width: 245px;
    height: 340px;
    border: 1px solid #e6e6e6;
    margin: 10px 9px;
    transition: box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#shop > li > div:last-child > a:hover {
    border: 1px solid #ff9c00;
    /*box-shadow: 0 5px 25px #e6e6e6;*/
}

.sp-title {
    font-size: 16px!important;
    padding: 10px!important;
    color: #555!important;
}

.sp-intro {
    padding: 0 10px!important;
    font-size: 13px!important;
    color: #777!important;
    line-height: 20px;
}

.sp-price {
    position: absolute;
    bottom: 35px;
    padding: 9px 7px!important;
    font-size: 22px!important;
    color: red!important;
    line-height: 16px;
}

.sp-info, .sp-pinfo {
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    border-top: 1px solid #e0e0e0;
    background: #fafafa;
    padding: 0 10px;
    height: 32px;
    min-height: 32px;
}

.sp-info {
    display: unset;
    position: absolute;
    bottom: 0;
    width: 243px;
}

.sp-pinfo {
    display: unset;
    position: absolute;
    bottom: 0;
    width: 243px;
    justify-content: center!important;
    background: #ff9c00;
}

.sp-pinfo i {
    color: white!important;
    font-style: normal;
}

.sp-info i {
    font-style: normal;
    font-size: 14px;
    color: #999;
}

.sp-info i em {
    color: #ff9c00;
}

.sp-price b {
    font-size: 14px;
    font-weight: 500;
    color: #999;
}

.sp-price b i {
    text-decoration: line-through;
}

.sp-btn, .act-btn {
    width: 135px;
    padding-left:55px;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

.sp-btn span, .act-btn span:nth-child(2) {
    width: 80px!important;
    /*height: 32px!important;*/
    text-align: center;
    font-size: 14px!important;
    color: #fff!important;
    background: #46b2ee;
    display: block!important;
    border-radius: 2px;
    padding: 6px 0!important;
}

.act-title-free {
    color: #eead3c!important;
}

.act-title-price {
    color: #ed4c4c!important;
}

.act-price {
    line-height: 18px!important;
    background: #ed4c4c!important;
}

.act-free {
    line-height: 18px!important;
    background: #eead3c!important;
}

#ozone {
    display: flex;
    flex-direction: column;
}

#ozone > li:first-child,
#ozone > li:nth-child(3),
#ozone > li:nth-child(5) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

#ozone > li > p:first-child,
#ozone > li:nth-child(3) > p:first-child,
#ozone > li:nth-child(5) > p:first-child {
    width: 4px;
    height: 20px;
    background: #46b2ee;
    margin-right: 10px;
}

#ozone > li > p:nth-child(2) {
    font-size: 18px;
}

#ozone > li:nth-child(2) {
    height: 208px;
}

#ozone > li:nth-child(4) {
    display: flex;
    flex-direction: column;
    height: 540px;
}

#ozone > li:nth-child(4) > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#ozone > li:nth-child(6) {
    display: flex;
    flex-direction: column;
    height: 650px;
}

#ozone > li:nth-child(6) > div {
    display: flex;
    justify-content: space-between;
    height: 520px;
}

#ozone > li:nth-child(6) > p:nth-child(2) > span {
    font-size: 15px;
    color: #999;
}

#ozone > li:nth-child(6) > div > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -25px;
    margin-left: -105px;
    height: 520px;
}

#ozone > li:nth-child(6) > div > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 110px;
    height: 25px;
    padding: 0;
    border: none;
}

#ozone > li:nth-child(6) > div > ul > li > span:first-child {
    width: 32px;
    height: 18px;
    margin-right: 10px;
}

#ozone > li:nth-child(6) > div > ul > li > span:last-child {
    font-size: 14px;
}

#ozone > li:nth-child(6) > p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#ozone > li:nth-child(6) > p > span {
    display: block;
}

#red {
    margin-top: 25px;
}

#ozone > li:nth-child(6) > .y {
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}

#ozone > li:nth-child(2) > div {
    width: 100%;
    height: 188px;
    background: url("/common/img/group_top.jpg") no-repeat center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ozone > li > div > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#ozone > li:nth-child(2) > div > ul > li {
    width: 39px;
    height: 55px;
    background: #FF3434;
    font-size: 46px;
    color: #fff;
    margin-right: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ozone > li:nth-child(2) > div > span {
    font-size: 32px;
    font-weight: bold;
    color: #FF3434;
    margin-left: 6px;
    margin-top: 15px;
}

.rcmd {
    width: 32px;
    height: 18px;
    background: #ff0000;
    display: block;
    float: left;
    margin-right: 10px;
}

#plats-user {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-bottom: 10px;
}

#center {
    position: absolute;
    right: 0;
    margin-right: 0!important;
    margin-bottom: 5px!important;
}

#center > a {
    display: block;
    font-size: 16px;
    color: #999!important;;
    margin-right: 15px;
}

#center > a:hover {
    color: #4d4d4d;
}

#center > a > p {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
}

#center > a > p > img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;
    display: block;
}

#address i {
    position: absolute;
    font-style: normal;
    margin-top: 5px;
    margin-left: 23px;
    color: #ff9900;
}

.read {
    position: relative;
    width: 1200px;
    min-height: 768px;
    height: auto;
    border-right: 1px solid #EEEEEE;
    background: white;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 50%;
}

#read-title, #read-info, #read-intro, #read-art, #read-other {
    width: 800px;
}

#read-other {
    margin-top: 20px;
}

#qrCode {
    margin-left: 928px;
    /*right: 50px;*/
    padding-top: 25px;
}

#read-only {
    margin-top: 20px;
}

#top {
    margin-left: 1070px;
}

#bottom1 {
    position: relative;
    width: 100%;
    height: 280px;
    padding: 40px 0;
    text-align: center;
    line-height: 30px;
    /*background: black;*/
    /*color: #FFFFFF;*/
    color: #666;
    font-size: 14px;
}

.special-footer {
    width: 100%;
    height: 236px;
    padding: 21px 0;
    background-color: #000;
    position: absolute;
}

.special-footer footer {
    width: 1080px;
    height: 194px;
    margin: 0 auto;
    padding: 21px 0;
    text-align: center;
}

.special-footer footer .footer-nav {
    margin-bottom: 7px;
    display: inline-flex;
}

.copyright {
    padding-bottom: 10px;
}

.footer-nav a {
    padding: 0 1em;
    color: #666!important;
    border-left: 1px solid #666!important;
}

.footer-nav a:hover, #icp:hover {
    text-decoration: underline!important;
}

.footer-nav a:nth-child(1) {
    border-left: none!important;
}

#icp {
    color: #ffffff!important;
}

.special-footer * {
    font-size: 14px;
}

.special-footer footer .copyright p {
    margin: .5em 0;
}

.special-footer footer .footer-nav a:first-child {
    border: none;
}

.special-footer a {
    color: #777;
}

.special-footer footer ._ideConac {
    height: 80px;
}

.special-footer footer ._ideConac img {
    width: 80px;
    height: 80px;
}

.nav-tabs > li {
    height: 37px!important;
    margin-top: 15px!important;
    font-size: 14px;
}

.nav-tabs {
    width: 820px;
    padding-left: 15px;
    margin-left: -15px;
}