/*双十一吊顶活动*/
.goActivity{
    width: 100%;
    height: 0.3rem;
    font-size: 0.3rem;
}
.activityLink{
    width: 100%;
    height: 1rem;
    display: flex;
}
.activityImg{
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    margin-top: 0.25rem;
    border-radius: 50%;
    font-size: 0.3rem;
    color: white;
    background-color: #64d000;
    margin-left: 0.3rem;
}
.activityFont{
    height: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.2rem;
    font-size: 0.3rem;
    margin-left: 0.2rem;
}
/*弹框*/
.hideModel{
    display: none !important;
    background-color: transparent !important;
}
.showModel{
    display: block !important;
    background-color: rgba(0,0,0,0.5) !important;
}
.Model{
    position: fixed;
    width: 100%;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    z-index: 10;
    display: none;
}
.showModelImg{
    width: 6rem;
    height: 6.4rem;
    margin: 2rem 0.75rem;
}
.closeM,.closeModle{
    position: absolute;
    width: 0.78rem;
    height: 0.78rem;
    top: 9.1rem;
    left: 3.36rem;
}
.shareContent{
    position: absolute;
    top: 2rem;
    left: 0.75rem;
    width: 6rem;
    height: 6,4rem;
    font-size: 0.4rem;
}
.shareFont{
    margin-top: 0.38rem;
    margin-left: 2rem;
    font-size: 0.49rem;
    font-weight: 600;
    color: #76716b;
    letter-spacing: 1px;
}
.shareZhuNong{
    margin-top: 0.3rem;
    margin-left: 1.65rem;
    font-size: 0.3rem;
    color: #afadaa;
}
.shareMoney{
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 0.4rem;
    margin-left: 2.28rem;
    background-color: #bd0000;
    color: white;
    border-radius: 50%;
    font-size: 1.16rem;
}
.shareLiJian{
    margin-top: 0.46rem;
    margin-left: 1.5rem;
    font-size: 0.5rem;
    color: #76716b;
}
.shareOnlyDay{
    margin-top: 0.3rem;
    margin-left: 2.14rem;
    font-size: 0.3rem;
    color: #76716b;
}
/*手慢弹框*/
.ModelTwo{
    position: fixed;
    width: 100%;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    z-index: 10;
    display: none
}
.sharehead{
    margin-top: 0.38rem;
    margin-left: 2.3rem;
    font-size: 0.49rem;
    font-weight: 600;
    color: #76716b;
    letter-spacing: 1px;
}
.shareOver{
    margin-top: 0.5rem;
    margin-left: 1.35rem;
    font-size: 0.32rem;
    color: #76716b;
}
.shareCry{
    width: 1.38rem;
    height: 1.38rem;
    margin-top: 0.83rem;
    margin-left: 2.30rem
}
.shareCryImg{
    width: 1.38rem;
    height: 1.38rem;
}
.shareLook{
    margin-top: 0.56rem;
    margin-left: 1.35rem;
    font-size: 0.3rem;
    color: #76716b;
}
/*引导遮罩*/
.ModelThree{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.showThree{
    display: block;
}
.hideThree{
    display: none;
}
.font,.sureBtn{
    color: white;
    font-size: 0.6rem;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}
.font{
    width: 6.4rem;
    margin: 1rem auto;
    font-size: 0.45rem

}
.sureBtn{
    background-color: white;
    border-radius: 0.2rem;
    width: 2.7rem;
    height: 0.6rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    color: #000;
    margin: 3.2rem auto;
}
.shareFriend{
    margin-top: 0.4rem;
}
.shareClick{
    margin-top: 0.4rem;
}
.shareGet{
    margin-top: 0.4rem;
}
.contentImg{
    width: 100%;
    height: 2.93rem;
}
.toTop{
    position: fixed;
    bottom: 1.2rem;
    right: .3rem;
    width: .6rem;
    height: .6rem;
    line-height: .6rem;
    color: #3d3d3d;
    background: rgba(255,255,255,0.68);
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    font-size: 0.36rem;
    z-index: 2;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    -webkit-transform: scale(0,0);
    -o-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
}
.toTopanimate{
    opacity: 1;
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}
.box{
    position: relative;
    overflow: hidden;
    width: 7.5rem;
    font-size: 0.24rem;
    color: #000;
    margin: 0 auto;
    background: #F5F6F7;
    padding-bottom: 1rem;
}
.goods-img{
    width: 100%;
    /*height: 7.8rem;*/
    height: 6.8rem;
    overflow: hidden;
    position: relative;
}
.abs{
    position: absolute;
    width: 1.65rem;
    top: 0.3rem;
    right: 0.3rem;
    z-index: 9;
}
.goods-img ul{
    height: 6.8rem;
}
.goods-img li{
    width: 100%;
    height: 6.8rem;
    background-size: 100% auto;
}
.goods-img img{
    width: 100%;
}
.goods-img-pagination{
    position: absolute;
    left: auto;
    right: 0.3rem;
    bottom: 0.04rem;
    z-index: 9;
    width: 0.6rem;
    height: 0.3rem;
    background: #fff;
    border-radius: 0.04rem;
    color: #757575;
    font-size:0.24rem;
    line-height: 0.33rem;
    text-align: center;
    padding-left: 0.07rem;
    padding-right: 0.07rem;
}
/*顶部bar css*/
.bar{
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 10;
}
.bar a{
    float: left;
    width: 0.64rem;
    height: 0.64rem;
    overflow: hidden;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    position: relative;
}
.bar .car-num{
    position: absolute;
    font-size: 0.20rem;
    color: #fff;
    background: #7a232e;
    display: inline-block;
    top: 0;
    right: 0;
    width: 0.3rem;
    height: 0.3rem;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 50%;
}
/*商品标题／简介／价格 部分*/
.goods-content{
    width: 100%;
    overflow: hidden;
    color: #000;
    line-height: 1;
    margin-bottom: 0.2rem;
    background: #fff;
    padding-bottom: .22rem;
}
.goods-content .goods-title{
    width: 6.9rem;
    /*height: .48rem;*/
    font-size: .34rem;
    margin: .33rem auto 0.08rem;
    overflow: hidden;
    line-height: 0.48rem;
}
.goods-content .goods-Introduction{
    width: 6.9rem;
    /*height: .4rem;*/
    line-height: 0.4rem;
    color: #757575;
    font-size: 0.28rem;
    margin: 0 auto 0.1rem;
}
.goods-content .goods-some{
    width: 6.9rem;
    height: 0.56rem;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
}
.goods-some .active_icon{
    /*margin-left: 0.2rem;*/
    /*width: 2.56rem;*/
    height: 0.4rem;
    margin-top: 0.08rem;
}
.active_icon ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.active_icon ul li{
    width: 1rem;
    line-height: 0.4rem;
    text-align: center;
    margin-left: 0.2rem;
    border-radius: 0.1rem;
    font-size: 0.25rem;
}
.active_icon ul .shuangshiyiBox,.shuangshiyiBoxImg{
    width: 0.81rem;
    height: 0.35rem;
}
.active_icon ul .zhunongBox,.zhunongBoxImg{
    width: 0.81rem;
    height: 0.35rem;
}
.active_icon ul .tejiaBox,.tejiaBoxImg{
    width: 0.81rem;
    height: 0.35rem;
}
.goods-some .goods-price{
    font-size: 0.4rem;
    line-height: 0.56rem;
    color: #98252B;
    display: inline-block;
}
.goods-some .goods-yprice{
    display: inline-block;
    color: #757575;
    font-size: 0.26rem;
    /*line-height: 0.26rem;*/
    line-height: 0.56rem;
    margin-left: 0.1rem;
}
.goods-some .goods-sold{
    display: inline-block;
    float: right;
    font-size: 0.28rem;
    /*color: #F25B4B;*/
    color: #98252B;
    line-height: 0.7rem;
}
.goods-specifications,.goods-red-packet,.goods-promotion,.goods-service,.evaluation-top{
    width: 100%;
    height: 0.9rem;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ECECEC;
    line-height: 0.9rem;
}
.goods-service{
    margin-bottom: 0.16rem;
    height: auto;
    min-height: 0.9rem;
}
.goods-service .tabarText .text{
    float: left;
}
.goods-service .serviceTitle{
    float: left;
    width: 5.5rem;
    line-height: 1.5;
    padding:0.22rem 0;
    white-space: initial;
}

.box .tabarText{
    font-size: 0.3rem;
    color: #232222;
    float: left;
    margin-left: 0.3rem;
    font-weight: 100;
    height: 0.9rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.goods-service .tabarText{
    width: 6.5rem;
    height: auto;
    min-height: 0.9rem;
}
.box .tabarText .tags{
    font-size: 0.24rem;
    color: #F25B4B;
    line-height: 0.33rem;
    border: 1px solid #F25B4B;
    margin-top: 0.25rem;
    padding: 0 0.1rem;
    border-radius: 0.08rem;
}
.box .tabarText .more{
    font-size: 0.24rem;
    color: #F25B4B;
    line-height: 0.33rem;
}
.box .tabarText .promotiontxt{
    font-size: 0.24rem;
    /*color: #F25B4B;*/
    color: #98252B;
    line-height: 0.33rem;
    border:none;
}
.box .tabarText .normal{
    color: #757575;
    font-size: 0.28rem;
    margin-right: 0.1rem;
}

.box .tabarIcon{
    float: right;
    margin-right: 0.3rem;
    color: #E3E3E3;
}
.box .tabarIcon a{
    color: #E3E3E3;
}
.goods-evaluation{
    margin-bottom: 0.2rem;
    overflow: hidden;
    background: #fff;
}
.evaluation-top .all{
    margin-right: 0;
}
.evaluation-main{
    width: 100%;
    /*height: 4.89rem;*/
    padding-bottom: 0.3rem;
    font-weight: 100;
    overflow: hidden;
}
.evaluation-main .user-img{
    float: left;
    width: 0.74rem;
    height: 1rem;
    margin: 0.16rem 0 0 0.26rem;
    overflow: hidden;
    position: relative;
}
.user-img img{
    display: block;
}
.user-img .vip-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.4rem;
    height: 0.32rem;
}
.user-img .user-logo{
    margin-top: 0.2rem;
    width: 100%;
    border-radius: 50%;
}
.evaluation-main .user-talk{
    float: left;
    width: 5.9rem;
    margin-left: 0.3rem;
}
.user-name{
    margin-top: 0.30rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
    height: 0.4rem;
    margin-bottom: 0.15rem;
    color: #232222;
}
.user-name img{
    width: 0.3rem;
    margin-left: 0.1rem;
    margin-top: 0.05rem;
    vertical-align: baseline;
}
.user-evaluation{
    font-size: 0.28rem;
    line-height: 0.44rem;
    color: #232222;
}
.user-goodsimg{
    margin-top: 0.21rem;
    width: 5.22rem;
    height: 1.64rem;
    overflow: hidden;
}
.user-goodsimg .imglist{
    float: left;
    width: 1.64rem;
    height: 1.64rem;
    margin-right: 0.1rem;
}
.imglist .look-img{
    line-height: 1.64rem;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.68);
}
.product-standard{
    color: #ADADAD;
    font-size: 0.24rem;
    margin-top: 0.25rem;
    overflow: hidden;
}
.edit-time{
    float: right;
}
.goods-details{
    width: 100%;
    background: #fff;
}
.goods-details h4{
    height: 1.4rem;
    padding: 0 1.3rem 0 1.3rem;
    overflow: hidden;
}
.goods-details h4 .left{
    float: left;
    width: 1.5rem;
    border-top: 1px solid #E3E3E3;
    margin-top: 0.7rem;
}
.goods-details h4 .center{
    float: left;
    width: 1.9rem;
    text-align: center;
    font-size: 0.32rem;
    line-height: 1.4rem;
    font-weight: 100;
    color: #232222;
}
.goods-details h4 .right{
    float: right;
    width: 1.5rem;
    border-top: 1px solid #E3E3E3;
    margin-top: 0.7rem;
}
.goods-details .goods-details-imgs{
    width: 100%;
    overflow: hidden;
}
.goods-details .goods-details-imgs img{
    display: block;
    width: 100%;
    overflow: hidden;
}
.goods-details .goods-details-imgs br{
    display: none;
}
.bottomNav{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-flex-flow: row;
    -o-flex-flow: row;
    -ms-flex-flow: row;
    -moz-flex-flow: row;
    flex-flow: row;
}
.bottomNav div{
    width: 2.49rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.3rem;
    font-weight: 100;
}
.bottomNav .iconfont{
    text-align: center;
    font-size: 0.52rem;
    width: 1.25rem;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    line-height: 1rem;
    margin: 0.1rem 0 0.1rem 0;
}
.bottomNav .iconfont:before{
    display: block;
    font-size: 0.36rem;
    line-height: 1.5;
    color: #333;
}
.bottomNav .iconfont p{
    width: 100%;
    line-height: 1;
    font-size: 0.2rem;
    color: #333;
}
.bottomNav .tocenter,.bottomNav .toindex{
    border-right: 1px solid #dcdcdc;
}
.bottomNav .favorate{
    color: #7a232e;
}
.bottomNav .add-car-btn{
    /*background: #f3f3f3;*/
    background: #ffb03f;
    color: white;
    flex:2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -o-flex: 2;
}
.bottomNav .buy-now-btn{
    /*background: #7A232E;*/
    background: #f23030;
    color: #fff;
    flex:2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -o-flex: 2;
}
.add-car-btn.lowerframe{
    color: #dadada;
}
.buy-now-btn.lowerframe{
    color: #905959;
}
.bottomNav .lowerFrame{
    position: absolute;
    width: 100%;
    height: 0.5rem;
    line-height:2;
    font-size: 0.24rem;
    text-align: center;
    background: rgba(0,0,0,0.4);
    color: #fff;
    bottom: 100%;
}
.fix-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.fixed-bg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}
.goods-specifications-fixed,.goods-promotion-fixed,.goods-service-fixed{
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 7.5rem;
    /*height: 3rem;*/
    background: #fff;
    z-index: 4;
    padding-bottom: 0rem;
    font-size: 0.24rem;
    -moz-transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    -o-transform-origin: left bottom ;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom ;
}
.goods-specifications-fixed .title{
    width: 100%;
    height: 1.62rem;
    border-bottom: 1px solid #ECECEC;
    position: relative;
}
.goods-specifications-fixed .goods_image{
    position: absolute;
    top: -0.4rem;
    left: 0.33rem;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #ECECEC;
    background: #fff;
}
.goods-specifications-fixed .goods_image img{
    display: block;
    width: 100%;
    height: 100%;
}
.goods-specifications-fixed .close{
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    font-size: 0.32rem;
    line-height: 0.32rem;
    color: #D1D1D1;
}
.goods-specifications-fixed .goods_price,.goods-specifications-fixed .goods_stock{
    padding-left: 2.18rem;
}
.goods-specifications-fixed .goods_price{
    font-size: 0.3rem;
    line-height: 0.42rem;
    color: #98252B;
    height: 0.42rem;
    padding-top: 0.2rem;
}
.goods-specifications-fixed .goods_stock{
    padding-top: 0.08rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: #232222;
    height: 0.4rem;
}
.goods-specifications-fixed .specifications{
    padding-left: 0.33rem;
    overflow: hidden;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 0.53rem;
}
.goods-specifications-fixed .common-spec-name{
    font-size: 0.26rem;
    color: #232222;
    margin-top: 0.35rem;

}
.goods-specifications-fixed .specifications ul{
    overflow: hidden;
    margin-top: 0.2rem;
}
.goods-specifications-fixed .specifications ul li{
    float: left;
    margin-right: 0.2rem;
    padding: 0 0.5rem 0 0.5rem;
    /*text-align: center;*/
    /*text-indent: 2em;*/
    line-height: 0.48rem;
    /*height: 0.48rem;*/
    border: 1px solid #D7D7D7;
    border-radius: 0.04rem;
    margin-bottom: 0.2rem;
}
.goods-specifications-fixed .specifications ul .check-specifications{
    /*background: #7A232E;*/
    /*border: 1px solid #7A232E;*/
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    color: #555;
}
.goods-specifications-fixed .buynum{
    padding:0.22rem 0.3rem;
    font-size: 0.3rem;
    color: #232222;
    line-height: 1;
    height: 0.3rem;
    border-bottom: 1px solid #ECECEC;
    /*overflow: hidden;*/
    position: relative;
    margin-bottom: 0.5rem;
}

.buynum .tips{
    position: absolute;
    color: #98252B;
    font-size: 0.24rem;
    right: 0rem;
    bottom: -0.2rem;
    display: none;
    background: #fff;
}
.goods-specifications-fixed .buynum .num-title{
    float: left;
}
.goods-specifications-fixed .buynum .num-input{
    float: right;
}
.goods-specifications-fixed .buynum input{
    width: 1rem;
    line-height: 0.3rem;
    color: #000;
    border: none;
    background: #fff;
    text-align: center;
    padding:0 0.1rem;
}
.goods-specifications-fixed .buynum span{
    font-size: 0.34rem;
}
.goods-specifications-fixed .buynum .minus{
    padding-right: 0.1rem;
}
.goods-specifications-fixed .buynum .add{
    padding-left: 0.1rem;
}
.goods-specifications-fixed .btns{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    line-height: 1rem;

}
.goods-specifications-fixed .choosebtn{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    -webkit-flex-flow: row;
    -o-flex-flow: row;
    -ms-flex-flow: row;
    -moz-flex-flow: row;
    flex-flow: row;
}
.goods-specifications-fixed .addcar{
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    /*background: #f3f3f3;*/
    /*color: #000;*/
    background: #f3f3f3;
    color: #555;
}
.goods-specifications-fixed .buynow{
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    /*background: #7A232E;*/
    background: #f23030;

}
.goods-specifications-fixed .addcarbtn{
    width: 100%;
    /*background: #7A232E;*/
    background: #f23030;
}

.goods-red-packet-fixed{
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 7.5rem;
    /*height: 3rem;*/
    /*background: #fff;*/
    z-index: 9999;
    padding-bottom: 1rem;
    font-size: 0.24rem;
    background: #F5F6F7;
    -moz-transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    -o-transform-origin: left bottom ;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom ;
}
.goods-red-packet-fixed h4{
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.42rem;
    padding: 0.2rem;
}
.goods-red-packet-fixed ul{
    overflow: scroll;
    font-size: 0.3rem;
    max-height: 7.5rem;
}
.goods-red-packet-fixed ul li{
    width: 6.7rem;
    height: 2rem;
    background: #F5F6F7 url('/shop_wap/images/RedBag_02.png') no-repeat center;
    margin: 0 auto 0.2rem;
    background-size:100%;
    font-weight: 100;
}
.goods-red-packet-fixed ul li .left{
    float: left;
    padding-left: 1.22rem;
    padding-top: .4rem;
    text-align: center;
    color: #ADADAD;
    font-size: .24rem;
}
.goods-red-packet-fixed .bag-title{
    font-size: .3rem;
}
.goods-red-packet-fixed ul li .right{
    float: right;
    padding-right: 0.5rem;
    padding-top: .25rem;
}
.goods-red-packet-fixed ul li .right .bag-amount{
    font-size: 0.7rem;
    text-align: center;
}
.goods-red-packet-fixed .right .bag-amount span{
    font-size: 0.28rem;
    color: #ADADAD;
}
.goods-red-packet-fixed ul li .right .bag-get{
    font-size: 0.26rem;
    text-align: center;
    border: 1px solid #7A232E;
    border-radius: .08rem;
    padding: 0 0.15rem 0 0.15rem;
}
.goods-promotion-fixed h4,.goods-service-fixed h4{
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.3rem;
    padding: 0.3rem;
    background: #fff;
}
.goods-promotion-fixed ul{
    overflow: hidden;
    font-size: 0.28rem;
    line-height: 0.4rem;
}

.goods-promotion-fixed ul li{
    width: 100%;
    height: 0.9rem;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;

}
.goods-promotion-fixed a{
    display: block;
    color: #F25B4B;
    padding-left: 0.4rem;
}
.goods-promotion-fixed span{
    font-size: 0.24rem;
    padding: 0 0.1rem 0 0.1rem;
    line-height: 0.9rem;
    border:1px solid #F25B4B;
    border-radius: 0.08rem;
}
.goods-promotion-fixed i{
    padding-left: 0.1rem;
}
.goods-promotion-fixed .iconfont{
    float: right;
    line-height: 0.9rem;
    margin-right: 0.5rem;
    color: #E3E3E3;
}
.goods-service-fixed ul{
    overflow-x: hidden;
    width: 100%;
    max-height: 5rem;
    border-top: 1px solid #eee;
}
.goods-service-fixed li{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 0.3rem;
    margin-bottom: 0.46rem;
}
.goods-service-fixed .text{
    font-size: 0.28rem;
    padding-left: 0.22rem;
    color: #757575;
}
.goods-service-fixed .serviceclose{
    width: 100%;
    height: 1rem;
    /*background: #7A232E;*/
    background: #f23030;
    text-align: center;
    font-size: 0.3rem;
    line-height: 1rem;
    color: #fff;
}
.bigImg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    z-index: 999;
}
.bigImg ul{
    position: absolute;
    top:50%;
    left: 0;
    margin-top: -4.5rem;
    height: 9rem;
}
.bigImg ul li{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.bigImg .close-bigimg{
    position: absolute;
    left: 50%;
    margin-left:-0.25rem;
    bottom: 1rem;
    background: #fff;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    z-index: 9;
}
.bigImg .close-bigimg .icon-close{
    display: block;
    line-height: 1;
    text-align: center;
    font-size: 0.5rem;
    color: #4d4d4d;
}
.bigimg-pagination{
    position: absolute;
    text-align: center;
}
.goodsOver{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    z-index: 998;
}
.goodsOver .card{
    width: 4.9rem;
    height: 6rem;
    margin: 2.3rem auto;
    background: #fff;
    border-radius: 0.1rem;
    /*overflow: hidden;*/
    position: relative;
}
.card .img img{
    width: 100%;
    margin-top: 0.93rem;
}
.textmax{
    text-align: center;
    font-size: 0.48rem;
    line-height: 1.13rem;
}
.textmin{
    font-size: 0.28rem;
    text-align: center;
}
.card .btn{
    color: #fff;
    background: #7a222e;
    margin: 0.4rem auto;
    width: 1.8rem;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 0.06rem;
    font-size: 0.3rem;
    text-align: center;
}
.card .btn a{
    color: #fff;
}
.closeOver{
    position: absolute;
    width: 0.46rem;
    height:1.24rem;
    right: 0.1rem;
    bottom: -1.2rem;
}
.closeOver .line{
    width: 2px;
    background: #fff;
    height: 1rem;
    margin: 0 auto;
}
.closeOver .iconfont{
    color: #fff;
    font-size:0.48rem;
    text-align: center;
    line-height: 1;
    margin-top: -0.08rem;
}



