body{
    font-size:0.14rem;
    background-color: #69554a;
    color: #333333;
}
.get-ticket{
    padding:0.55rem 0.38rem 0;
    background: url('/common/img/get-ticket-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.get-ticket>div:first-child{
    width:2.02rem;
    height:2.12rem;
    margin: 0 auto 0.07rem;
    color: #fffad9;
    text-align: center;
    background: url('/common/img/ticket_bg.png') left top no-repeat;
    padding-top: 0.44rem;
    -webkit-background-size: cover;
    background-size: cover;
}
.logo{
    width:0.6rem;
    height:0.6rem;
    margin:0 auto;
    margin-bottom:0.12rem;
    border-radius: 50%;
    background: #fff;
    color: #333;
    line-height: 0.6rem;
}
.get-ticket>div:first-child h3{
    font-size:0.18rem;
    margin-top:0.2rem;
}
.get-ticket>div:last-child{
    background-color: #fd5c4b;
    text-align: center;
    width: 100%;
    padding: 0.11rem 0.1rem;
    line-height: 0.16rem;
    border-radius: 0.04rem;
    box-sizing: border-box;
}
.get-ticket>div:last-child a{
    color: #fff;
    font-size: 0.16rem;
}