*{
    box-sizing: border-box;
}
body{
    font-size:0.14rem;
}
.card-info{
    margin:0.15rem 0.1rem;
    background-color: #fff;
}
.store-name{
    padding: 0.1rem 0.2rem;
    border-top-left-radius: 0.04rem;
    border-top-right-radius: 0.04rem;
    border-bottom:1px dashed #a3a3a3;
}
.store-name i{
    display: inline-block;
    width:0.25rem;
    height:0.25rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #c2c2c2;
    vertical-align: middle;
    margin-right:0.06rem;
}
.store-name span{
    color: #8a8b8c;
    font-size:0.14rem;
    vertical-align: middle;
}
.card-info .detail h2{
    padding-top: 0.24rem;
    line-height: 0.24rem;
    font-size: 0.28rem;
    text-align: center;
    font-weight: 400;
}
.card-info .detail>a{
    display: block;
    margin: 0.3rem auto;
    width: 1.45rem;
    height: 0.3rem;
    line-height: 0.3rem;
    background: #fd445b;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    text-align: center;
    color: #fff;
}
.card-info ul{
    padding-bottom:0.16rem;
}
.card-info ul li{
    margin: 0 0.2rem;
    padding-bottom: 0.13rem;
    line-height: 0.16rem;
}
.card-info ul li>div,.card-info ul li>p{
    display: inline-block;
    vertical-align: top;
    color: #444;
}
.card-info ul li>p{
    color: #8a8b8c;
    width:76%;
}