.member-list{
    margin:0.12rem;
    font-size:0.14rem;
    background: #fff;
    border-top: 0.05rem solid #ff4d64;
    border-radius: 0.04rem;
}
.member-list .top{
    line-height: 0.75rem;
    padding:0 0.2rem;
}
.member-list .top h3,.member-list .top a{
    display: inline-block;
    vertical-align: middle;
    height: 0.75rem;
    color: #333;
    font-size: 0.16rem;
    font-weight:normal;
    width:79%;
}
.member-list .top a{
    font-size: 0.14rem;
    width: 0.6rem;
    height: 0.22rem;
    line-height: 0.22rem;
    text-align: center;
    background-color: #ff4d64;
    border-radius: 0.06rem;
    color: #fff;
}