body{
    font-size:0.14rem;
}
*{
    box-sizing: border-box;
}
.top{
    padding:0.2rem 0.4rem 0;
    background-color: #ffdeb7;
    background: url('/common/img/ticket-info-top-bg.jpg') no-repeat center center;
    background-size: 6rem 4.5rem;
    position: relative;
}
.top>label>i,.me>i{
    width:0.42rem;
    height:0.42rem;
    background: url('/common/img/ticket-info-avatar.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.top>label>span{
    background-color: #fff;
    border-radius: 0.04rem;
    padding: 0.08rem 0.12rem;
    font-size: 0.12rem;
    line-height: 0.16rem;
    color: #999;
    vertical-align: middle;
    width:82%;
    display: inline-block;
}
.top .info-content{
    position: relative;
    background-color: #fd5c4b;
    border-top-left-radius: 0.05rem;
    border-top-right-radius: 0.05rem;
    padding: 0.16rem 0 0.65rem;
    max-width: 2.8rem;
    margin: 0 auto;
    margin-top:0.2rem;
}
.info-content>div{
    background: url('/common/img/info-content-bg.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width:2.14rem;
    height:0.89rem;
    margin:0 auto 0.05rem;
    padding:0.06rem 0.08rem 0;
}
.info-content>div>p{
    display: inline-block;
}
.info-content>div>p:first-child{
    width:10%;
    margin-top:0.1rem;
    margin-left:0.1rem;
    color: #8b8b8b;
}
.info-content>div>p:last-child{
    width:60%;
    margin-left: 0.26rem;
    vertical-align: top;
    margin-top: 0.2rem;
}
.info-content>div>p:last-child>span{
    display: block;
    color: #b7b7b7;
    font-size: 0.12rem;
}
.info-content>div>p:last-child>span:first-child{
    font-size:0.16rem;
}
.info-content>a{
    background-color: #fff889;
    border-color: #fff889;
    color: #161616;
    font-size: 0.16rem;
    margin: 0.2rem;
    text-align: center;
    padding: 0.11rem 0.1rem;
    line-height: 0.16rem;
    border-radius: 0.04rem;
    display: block;
}
.top .footer-img{
    width:100%;
    height:0.68rem;
    background: url('/common/img/ticket-info-cloud.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left:0;
    bottom:0;
}
.me{
    padding:0.3rem 0.15rem 0.18rem 0.25rem;
    background-color: #fff;
}
.me>p{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width:82%;
    margin-left:0.06rem;
}
.me p span{
    float: left;
}
.me p span:last-child{
    float: right;
    font-size:0.16rem;
    color: #fc5c4b;
}
.me p span:last-child:after{
    content: '';
    display: inline-block;
    width:0.07rem;
    height:0.07rem;
    border-top:2px solid #cbc9cc;
    border-right:2px solid #cbc9cc;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.line{
    border-top: 1px solid #ccc;
    text-align: center;
    padding-bottom:0.17rem;
    background-color: #fff;
}
.line span{
    font-size:0.16rem;
    color: #999;
    display: inline-block;
    padding: 0 0.1rem;
    margin-top: -0.13rem;
    background: #fff;
}
.ticket-info ul{
    width:100%;
    padding:0 0.1rem;
    background-color: #fff;
}
.ticket-info ul li{
    padding:0.15rem 0.18rem;
    border-bottom:1px solid #ececec;
}
.ticket-info ul li:last-child{
    border-bottom:none;
}
.ticket-info ul li>img,.ticket-info ul li>div{
    display: inline-block;
    vertical-align: middle;
}
.ticket-info ul li>img{
    width:0.42rem;
    height:0.42rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.detail{
    margin-left:0.06rem;
}
.detail h3{
    color: #333;
    font-size: 0.12rem;
    line-height: 0.16rem;
    width: 100%;
}
.detail h3 span:first-child{
    font-size: 0.14rem;
    color: #000;
    font-weight: normal;
}
.detail h3 span:last-child{
    margin-left: 0.05rem;
    color: #ccc;
}
.detail p{
    font-size: 0.14rem;
    color: #999;
    line-height: 16px;
    white-space: nowrap;
    margin: 0.05rem 0 0.02rem;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}