* {
    padding: 0;
    margin: 0;
    outline: none;
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-color: #f3f4f8;
    padding-bottom: 50px;
    font-family: 'microsoft yahei';
    line-height: 1;
    position: relative;
    overflow-y:auto!important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

a,
a:hover,
a:active,
a:link,
a:focus,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    border: 0;
}

textarea {
    resize: none !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.hide {
    display: none !important;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.display-ib {
    display: inline-block;
}

.btn {
    display: inline-block;
    min-width: 70px;
    padding: 12px 9px;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.btn-sm {
    padding: 6px 4px;
    font-size: 14px;
}

.btn-active {
    background-color: #34b0df;
    border: 1px solid #34b0df;
}

.btn-active-o {
    background-color: transparent;
    border: 1px solid #34b0df;
    color: #34b0df;
}

.btn-disabled {
    background-color: #a4a9ae;
    border: 1px solid #a4a9ae;
}

.btn-cancel {
    border: 1px solid #e5e5e5;
    background-color: transparent;
    color: #999;
}

.container {
    width: 990px;
    margin: 0 auto;
}
@media (min-width: 768px){

.container {
    width: 1000px!important;
}
}
.container-build {
    width: 990px;
    margin: 0 auto;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    border-bottom: 5px solid #e8eaf0;
    margin-bottom: 30px;
}

.nav .brand {
    display: inline-block;
    padding: 23px 0;
    float: left;
}

.nav .brand img {
    width: 80px;
}

.nav .nav-bar>ul {
    margin-left: 30px;
}

.nav .nav-bar>ul>li {
    display: inline-block;
}

.nav .nav-bar>ul>li>a {
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #999;
    padding: 25px;
}

.nav .nav-bar>ul>li.active>a {
    color: #555;
}

.nav .nav-bar>ul>li>a:hover {
    color: #34b0df;
}

.nav .nav-user {
    margin-left: 22px;
    position: relative;
    line-height: 36px;
}

.nav .nav-user .info {
    font-size: 13px;
    color: #999;
    padding: 22px 0;
}

.nav .nav-user .info>span {
    color: #34b0df;
    margin-right: 10px;
}

.nav .nav-user .info>a {
    margin-left: 10px;
    font-size: 24px;
    position: relative;
    top: 3px;
    color: #999;
}

.nav .nav-user .info .avatar {
    width: 34px;
    height: 34px;
    border: 1px solid #acacac;
    border-radius: 50%;
    margin-right: 8px;
}

.nav .nav-user .info .triangle {
    border-width: 5px;
    border-top-color: #d8d8d8;
    position: relative;
    top: -11px;
}

.nav .nav-user .dropdown {
    position: absolute;
    left: -55px;
    top: 56px;
    display: none;
    z-index: 1000;
}

.nav .nav-user .dropdown .top {
    width: 100%;
    height: 18px;
    background: url(http://fed.welian.com/1_my/box_bg_top.png);
}

.nav .nav-user .dropdown .bottom {
    width: 100%;
    height: 11px;
    background: url(http://fed.welian.com/1_my/box_bg_bottom.png);
    clear: both;
}

.nav .nav-user .dropdown .middle {
    width: 130px;
    padding: 0 8px;
    position: relative;
}

.nav .nav-user .dropdown .left,
.nav .nav-user .dropdown .right {
    width: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.nav .nav-user .dropdown .left {
    left: 0;
    background: url(http://fed.welian.com/1_my/box_bg_left.png);
}

.nav .nav-user .dropdown .right {
    right: 0;
    background: url(http://fed.welian.com/1_my/box_bg_right.png);
}

.nav .nav-user .dropdown .center {
    width: 100%;
    background-color: #fff;
}

.nav .nav-user .dropdown ul li a {
    width: 100%;
    text-align: center;
    display: block;
    color: #999;
    padding: 10px 0;
}

.nav .nav-user .dropdown ul li a:hover {
    background-color: #f5f6f7;
}

.aside {
    position: fixed;
    left: 50%;
    margin-left: 525px;
    bottom: 100px;
}

.aside>ul>li {
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.aside .strategy {
    width: 46px;
    height: 46px;
}

.aside .strategy:hover .front {
    display: none;
}

.aside .strategy:hover .back {
    display: block;
}

.aside .strategy .box {
    display: block;
    position: absolute;
    text-align: center;
    font-weight: bold;
}

.aside .strategy .front {
    z-index: 2;
}

.aside .strategy .back {
    padding: 8px;
    background-color: #34b0df;
    color: #fff;
    font-size: 14px;
    z-index: 1;
    border-radius: 2px;
    display: none;
}

.icon {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url(http://fed.welian.com/1_my/icon.png);
}

.icon-back-top {
    background-position: 0 0;
}

.icon-message {
    background-position: 0 -51px;
}

.icon-question {
    background-position: 0 -102px;
}

.pagination {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    overflow: hidden;
}

.pagination ul li {
    float: left;
    margin-right: 5px;
}

.pagination ul li a {
    display: block;
    background-color: #fff;
    color: #7d7d7d;
    padding: 5px 10px;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.pagination ul .active a {
    background-color: #34b0df;
    color: #fff;
}

.pagination ul .disabled a {
    background-color: #f7f8f9;
    color: #e5e5e5;
}

.copy {
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    font-size: 13px;
    padding: 6px 11px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

.blue-word {
    color: #34b0df;
    margin: 0 3px;
}

.input-group {
    display: inline;
    border-radius: 3px;
}

.input-group input {
    border: 2px solid #c6ccd2;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-radius: 3px 0 0 3px;
    width: 154px;
}

.input-group .add-on {
    display: inline-block;
    border: 2px solid #c6ccd2;
    line-height: 36px;
    font-size: 12px;
    background-color: #dbdbdb;
    padding: 0 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    position: relative;
    left: -6px;
    top: 0;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1000;
    filter: alpha(opacity=50);
    display: none;
}

.dialog {
    width: 460px;
    background-color: #fff;
    position: fixed;
    top: 75px;
    left: 50%;
    margin-left: -230px;
    z-index: 1001;
    border-radius: 5px;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.dialog-show {
    clip: inherit;
}

.dialog-head {
    line-height: 44px;
    position: relative;
    padding-left: 15px;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
}

.dialog-head h3 {
    font-weight: normal;
}

.dialog-head .fa {
    position: absolute;
    font-size: 20px;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.dialog-body {
    padding: 15px;
}

.dialog-footer {
    padding: 10px 15px;
    position: relative;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.bfc {
    overflow: hidden;
}

.loading {
    width: 140px;
    height: 140px;
    text-align: center;
    color: #adadad;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -85px;
    margin-top: -85px;
    z-index: 1003;
}

.loading>img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.loading>p {
    line-height: 25px;
}

.noty_text {
    font-size: 16px;
    line-height: 24px;
}

.disabled,
.btn-disabled {
    cursor: default;
}

.form .inline {
    display: block;
    padding-left: 145px;
    position: relative;
    min-height: 44px;
    margin-bottom: 25px;
}

.form .inline .form-label {
    display: block;
    width: 120px;
    line-height: 44px;
    text-align: right;
    color: #555;
    position: absolute;
    left: 0;
    top: 0;
}

.form .form-group {
    width: 730px;
    position: relative;
}

.form .input-control {
    width: 100%;
    line-height: 28px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    padding: 0 15px\9;
    height: 44px\9;
    line-height: 44px\9;
}

.form .select-control {
    position: relative;
    width: 80px;
    line-height: 28px;
    color: #8b8b8b;
    padding: 8px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding-right: 25px;
    cursor: pointer;
}

.form .select-control .triangle {
    border-top-color: #8b8b8b;
    right: 12px;
    top: 50%;
    margin-top: -2px;
}

.form .select-control .result {
    display: none;
    width: 100%;
    max-height: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    top: 45px;
    left: -1px;
    z-index: 99;
    background-color: #fff;
}

.form .select-control .result>ul {
    padding: 5px 0;
}

.form .select-control .result>ul>li {
    line-height: 28px;
    padding-left: 15px;
}

.form .select-control .result>ul>li:hover {
    background-color: #e5e5e5;
}

.form .radio-group {
    padding-left: 10px;
    line-height: 44px;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.form .radio-group label {
    cursor: pointer;
}

.form .checkedbox-group {
    line-height: 44px;
}

.form .checkedbox-group label {
    font-size: 16px;
    color: #555;
    margin-left: 5px;
    cursor: pointer;
}

.form .checkedbox-group label span {
    font-size: 13px;
    color: #adadad;
}

.form .red-word {
    color: red;
    position: relative;
    top: 3px;
}

.form label.error {
    color: red;
    font-size: 12px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -17px;
}

.form input.error {
    border-color: red;
}

.form .input-control {
    width: 667px;
    line-height: 28px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    padding: 0 15px\9;
    height: 44px\9;
    line-height: 44px\9;
}

.form label.error {
    color: red;
    font-size: 12px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -25px;
}

.form input.error {
    border-color: red;
}

.form .radio-group {
    display: inline-block;
    line-height: 28px;
    padding: 8px 0;
    margin-right: 10px;
}

.form .radio-group>label {
    padding: 0 10px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.red-word {
    color: red;
    margin: 0 3px;
}

.wl-user {
    position: relative;
    padding: 10px 0 10px 50px;
    border-top: 1px solid #eaeaea;
}

.wl-user:first-child {
    border-top: 0;
}

.wl-user-avatar {
    position: absolute;
    left: 0;
    top: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #eee;
}

.wl-user-name {
    line-height: 24px;
    font-size: 14px;
}

.wl-user-company {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
    color: #7d7d7d;
    overflow: hidden;
}

.wl-user-company>span {
    margin-right: 5px;
}

.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.ticket{
    padding:0 10px 0;
    margin-top:10px;
    background: #fff;
}
.ticket-item{
    position: relative;
    min-height: 45px;
    padding: 10px;
    border: 1px solid #04a6e9;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ticket-item:before{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 68%;
    display: block;
    width: 7px;
    height: 100%;
    content: "";
    background: url('/common/img/ticket_center.png') no-repeat;
    background-size: 100% 100%;
}
.ticket-item>p{
    float: left;
    width: 68%;
    line-height: 18px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}
.ticket-item>.tic-price{
    float: right;
    width: 30%;
    text-align: center;
    position: relative;
}
.ticket-item .tic-price span{
    position: absolute;
    z-index: 1;
    width:100%;
    display: block;
    color: #04a6e9;
    font-size: 18px;
    font-weight:bold;
}
.ticket-item .num{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #f9f9f9;
    border-top-right-radius: 7px;
    background-color: #04a6e9;
}
.ticket-item .num span{
    font-size: 12px;
    position: relative;
    top: 5px;
    left: 5px;
    display: block;
    width: 40px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    color: #fff;
}