
/*个人认证模块*/
html, body {
    background: #F7F6F2;
}

#form_list {
    display: none;
    background-color: #FFF;
}

#auth {
    color: red;
    background: #f7f7f7;
}

#top {
    background: url(/common/img/top.png) no-repeat center;
    background-size: 100% 100%;
}

.con-hd {
    /*width: 980px;*/
    /*margin: 20px auto 20px 20px;*/
    background-color: #FFF;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #FFF;
    content: ">";
}

.container-fluid {
    background: #CCC;
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 5px 15px;
}

.breadcrumb li a {
    color: #FFF!important;
}

.navbar {
    min-height: 37px;
}

.control-label {
    color: rgba(51, 51, 51, 0.8)!important;
}

.cert-to-pass, .submit2, #avatar-admin, .cert-success-info {
    display: none;
}

.jumu { background-color: #fff; padding: 25px; border-top: 1px solid #eee; }
.jumu .jumu-list, .jumu label { padding: 5px; color: #828282; font-size: 14px; font-weight: unset !important; }
.jumu label:not(:first-of-type) { margin-left: 1.5rem; }

.display-head {
    margin: 0;
    border: none;
    height: 30px;
    min-height: 30px;
}

.success-info {
    height: 75px;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    color: #666;
}

.success-info .warn-img {
    width: 50px;
    margin: 0px 25px;
}

.success-info .media-heading {
    margin-bottom: 10px;
}

.success-info .media-heading + p {
    margin-bottom: 0;
}

.form-horizontal {
    padding: 25px 100px 25px 0;
}

a {
    color: #FFF!important;
}

a:hover {
    color: #FFF!important;
}

.cert-success-info, .success-to-pass {
    height: 166px;
    background-color: #fff;
    color: #828282;
}

.success-to-pass, .media-left-success, .media-body-success {
    display: flex;
}

.media-left-success {
    width: 170px;
    justify-content: center;
    align-items: center;
}

.media-object-success {
    width: 100px;
    height: 100px;
}

.media-body-success {
    align-items: center;
    width: auto;
    flex: 1;
}

.medal-body-body {
    align-items: center;
}

.media-heading-success {
    height: 50px;
    font-size: 24px;
}

.real-cert {
    display: inline-block;
    color: #ff8585;
    padding: 0 10px 0 0;
    font-size: 30px;
    text-align: center;
}

.media-footing-success {
    height: 22px;
    font-size: 16px;
}

.success-status {
    color: #a5ca4d;
}

.avatar a {
    color: #333 !important;
}
.btn{
    /*display:inline-block;*/
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:100;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align: middle;
    touch-action:manipulation;
    cursor:pointer;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}
.btn-danger {
    background-color: #EA332D;
}

.on-line {
    height: 35px;
}

.on-line > a {
    display: inline-block;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    color: #666666 !important;
    text-decoration: underline!important;
    font-size: 16px;
}

.on-line > a:hover {
    color: #f00 !important;
}

.prompt-info {
    min-width: 10rem;
    padding: 0.5rem 1.5rem;
    min-height: 3.5rem;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -5%;
    background-color: rgba(0, 0, 0, .8);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 3.5rem;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.look_front, .look_back {
    display: inline-block;
}

.look_front > img, .look_back > img {
    margin-bottom: 5px;
}

.identity_info {
    font-size: 13px;
    color: #c3c3c3;
}