#top {
    background: url(/new.wezchina.com/user/img/top.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 10002;
}

#right {
    margin-top: 0;
    background: #fff;
}

#focus {
    color: red;
    background: #f7f7f7;
}

.art-issuer span {
    padding-right: 15px;
}


.art-text, .art-cover, .art-link {
    line-height: 65px;
}

.art-private {
    margin-top: 10px;
    line-height: 50px;
}

#yes, #no {
    margin-left: -30px;
}

.editor {
    margin-top: -500px;
    margin-left: 180px;
    display: none;
}

.image-upload{
    position: relative;
    width: 150px;
    height: 150px;
    border: dashed 1px #c4c4c4;
    margin-top: -175px;
    margin-left: 180px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    opacity: 0.5;
    background: url(/common/img/img-1.png) center no-repeat;
    /*background-size: 100%;*/
    background-color: #9c9c9c;
    float: left;
    display: none;
}

.image-upload:hover{
    opacity: 1;
}

.image{
    position: relative;
    height: 150px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

#summary{
    resize:none;
    overflow-x:hidden;
    overflow-y:visible;
    width:600px;
    height:100px;
    margin-left: 130px;
    margin-top: -20px;
    border-radius: 5px;
    line-height:30px;
    color:#363636;
    vertical-align:top;
}

#art-link {
    width: 600px;
    margin-left: 130px;
    margin-top: -50px;
}

.art-submit {
    margin-top: 25px;
    text-align: center;
    font-size: small;
}

.art-issuer span {
    padding-right: 15px;
}

.show-art {
    position: relative;
    width: 300px;
    height: 360px;
    border: 1px solid #d1d1d1;
    // top: 120px;
    margin: 0 15px;
    margin-bottom: 30px;
    background: white;
    float: left;
}

.show-title {
    width: 300px;
    height: 70px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.at {
    width: 280px;
    height:50px;
    line-height: 50px;
    font-size: 18px;
    color: #272727;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}

.ad {
    height: 20px;
    line-height: 1px;
    font-size: 15px;
    color: #828282;
}

.show-pic {
    height: 140px;
    background: url(/common/img/p2240259307.jpg) no-repeat center;
    background-size: 100%;
    margin: 0 10px;
}

.show-cont {
    height: 90px;
    margin-top: 10px;
    font-size: 14px;
    padding: 0 10px;
}

.show-bottom {
    height: 50px;
    border-top: 1px solid #EEEEEE;
    display: flex;
    justify-content: center;
    // align-itmes: center;
    line-height: 50px;
    z-index: 10001;
}

.show-bottom:hover {
    cursor: pointer;
}

.show-shade {
    width: 298px;
    height: 310px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-shade p {
    color: #f0f0f0;
    cursor: pointer;
}

.art-text, .art-cover, .art-link {
    line-height: 65px;
}

.art-private {
    margin-top: 10px;
    line-height: 50px;
}

#yes, #no {
    margin-left: -30px;
}

.editor {
    margin-top: -500px;
    margin-left: 180px;
    display: none;
}

.image-upload{
    position: relative;
    width: 150px;
    height: 150px;
    border: dashed 1px #c4c4c4;
    margin-top: -175px;
    margin-left: 180px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    opacity: 0.5;
    background: url(/common/img/img-1.png) center no-repeat;
    background-color: #9c9c9c;
    float: left;
    display: none;
}

.image-upload:hover{
    opacity: 1;
}

.image{
    position: relative;
    height: 150px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

#summary{
    resize:none;
    overflow-x:hidden;
    overflow-y:visible;
    width:600px;
    height:100px;
    margin-left: 130px;
    margin-top: -20px;
    border-radius: 5px;
    line-height:30px;
    color:#363636;
    vertical-align:top;
}

#art-link {
    width: 600px;
    margin-left: 130px;
    margin-top: -50px;
}

.art-submit {
    margin-top: 25px;
    text-align: center;
    font-size: small;
}

.more {
    position: relative;
    width: 100%;
    height: 40px;
    left: -50px;
    margin-top: 120px;
    /*background-color: white;*/
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    float: left;
    cursor: pointer;
}
.show-cont .title {
    height: 23px;
    line-height: 20px;
    overflow: hidden;
}
.show-cont .time {
    font-size: 0.7rem;
    color: #666;
}
#top {
    background: url(../img/top.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 10002;
}


#active_l {
    color: red;
    background: #f7f7f7;
}
.btn-group .icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.btn-group .icon-bill {
    background: url(http://fed.welian.com/0_icon/icon_bill.png);
    background-size: 100% 100%;
}

.btn-group .icon-account {
    background: url(http://fed.welian.com/0_icon/icon_account.png);
    background-size: 100% 100%;
}

.btn-group .btn-active-o {
    margin-right: 10px;
}

.filter {
    height: 86px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
}

.filter ul li {
    float: left;
    width: 312px;
    height: 86px;
    text-align: center;
    border-left: 1px solid #ebebeb;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.filter ul li:first-child {
    border-left: 0;
    background: url(../img/filter_bg_all.png);
    background-position: -1px -1px;
}

.filter ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #555;
    line-height: 86px;
}

.filter ul li span {
    color: #3474ba;
    margin-left: 12px;
    position: relative;
    top: 1px;
}

.filter .underline {
    display: none;
    width: 312px;
    height: 5px;
    background-color: #3474ba;
    position: absolute;
    bottom: -5px;
    left: -1px;
}

.filter .underline .triangle {
    border-width: 5px;
    border-bottom-color: #3474ba;
    position: absolute;
    top: -10px;
    left: 138px;
}

.filter .selected .underline {
    display: block;
}

.activity {
    /*width: 724px;*/
    padding: 20px 20px 20px 246px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
        border-bottom: 1px solid #ccc;
}

.activity .status {
    width: 69px;
    height: 33px;
    position: absolute;
    top: 28px;
    left: 1px;
    z-index: 99;
}
.property span{
        display: inline-block;
    line-height: 2.5;
}
.activity .status .up {
    width: 69px;
    height: 30px;
    position: absolute;
    z-index: 101;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    left: 0;
}

.activity .status .down {
    width: 13px;
    height: 33px;
    position: absolute;
    z-index: 100;
    left: 0;
}

.activity .status-start .up {
    background-color: #fad46b;
}

.activity .status-start .down {
    background-color: #e2bc52;
}

.activity .status-process .up {
    background-color: #f58410;
}

.activity .status-process .down {
    background-color: #dd770f;
}

.activity .status-over .up {
    background-color: #93a4aa;
}

.activity .status-over .down {
    background-color: #7d8d93;
}

.activity .poster {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 206px;
    height: 152px;
    z-index: 89;
}

.activity .poster .pic {
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.detail {
    width: 670px;
    text-align: left;
}

.detail .title {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    height: 48px;
    overflow: hidden;
}

.detail .property {
    color: #9f9f9f;
}

.detail .property div {
    margin-top: 10px;
}

.detail .property .clearfix {
    padding: 0;
    margin: 0;
}

.detail .property .display-ib {
    margin-right: 20px;
    background-color:transparent;
}

.detail .flow {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.operation {
    position: absolute;
    top: 20px;
    right: 0;
}

.operation li {
    margin-bottom: 12px;
}

.operation li a {
    color: #999;
}

.operation li a .fa {
    position: relative;
    width: 16px;
    font-size: 16px;
    top: 0;
    margin-right: 7px;
}

.operation li a:hover {
    color: #555;
}

.operation li a.disabled,
.operation li a.disabled:hover {
    color: #ccc;
}

.nodata {
    padding: 30px;
    text-align: center;
}

.nodata p {
    margin-bottom: 25px;
}

.guidance {
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
}

.guidance .container-build {
    padding-top: 70px;
}

.guidance .msg {
    position: relative;
}

.guidance .msg>img {
    position: absolute;
    right: 120px;
    top: 34px;
}

.guidance .hole {
    position: absolute;
    width: 150px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
    right: -40px;
    top: -19px;
}

.guidance .desc {
    padding-top: 110px;
    float: right;
    text-align: center;
    padding-right: 100px;
}

.guidance .action {
    margin-top: 20px;
}

.guidance .action a {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 10px;
    padding: 7px 4px;
    font-size: 12px;
    min-height: 0;
}


.header_top{
    line-height: 30px;
    background-color: #CCC;
}
.header_top p{
        color: #FFF;
    padding-left: 30px;
    margin-bottom: 25px;
}
#right{
        position: relative;
    height: auto!important;
    margin-left: 230px;
    float: left;
    left: 80px;
    top: 110px;
    width: 998px;
    background:#fff;
    // overflow:hidden;
}
.container {
    width: 970px!important;
}
* {
    padding: 0;
    margin: 0;
    outline: none;
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-color: #f3f4f8;
    padding-bottom: 50px;
    font-family: 'microsoft yahei';
    line-height: 1;
    position: relative;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

a,
a:hover,
a:active,
a:link,
a:focus,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    border: 0;
}

textarea {
    resize: none !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.hide {
    display: none !important;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.display-ib {
    display: inline-block;
}

.btn {
    display: inline-block;
    min-width: 70px;
    padding: 5px 12px;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.btn.btn-active {
    color: #fff!important;

}

.btn-sm {
    padding: 6px 4px;
    font-size: 14px;
}

.btn-active {
    background-color: #34b0df;
    border: 1px solid #34b0df;
}

.btn-active-o {
    background-color: transparent;
    border: 1px solid #34b0df;
    color: #34b0df;
}

.btn-disabled {
    background-color: #a4a9ae;
    border: 1px solid #a4a9ae;
}

.btn-cancel {
    border: 1px solid #e5e5e5;
    background-color: transparent;
    color: #999;
}

.container {
    width: 990px;
    margin: 0 auto;
}

.container-build {
    width: 990px;
    margin: 0 auto;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    border-bottom: 5px solid #e8eaf0;
    margin-bottom: 30px;
}

.nav .brand {
    display: inline-block;
    padding: 23px 0;
    float: left;
}

.nav .brand img {
    width: 80px;
}

.nav .nav-bar>ul {
    margin-left: 30px;
}

.nav .nav-bar>ul>li {
    display: inline-block;
}

.nav .nav-bar>ul>li>a {
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #999;
    padding: 25px;
}

.nav .nav-bar>ul>li.active>a {
    color: #555;
}

.nav .nav-bar>ul>li>a:hover {
    color: #34b0df;
}

.nav .nav-user {
    margin-left: 22px;
    position: relative;
    line-height: 36px;
}

.nav .nav-user .info {
    font-size: 13px;
    color: #999;
    padding: 22px 0;
}

.nav .nav-user .info>span {
    color: #34b0df;
    margin-right: 10px;
}

.nav .nav-user .info>a {
    margin-left: 10px;
    font-size: 24px;
    position: relative;
    top: 3px;
    color: #999;
}

.nav .nav-user .info .avatar {
    width: 34px;
    height: 34px;
    border: 1px solid #acacac;
    border-radius: 50%;
    margin-right: 8px;
}

.nav .nav-user .info .triangle {
    border-width: 5px;
    border-top-color: #d8d8d8;
    position: relative;
    top: -11px;
}

.nav .nav-user .dropdown {
    position: absolute;
    left: -55px;
    top: 56px;
    display: none;
    z-index: 1000;
}

.nav .nav-user .dropdown .top {
    width: 100%;
    height: 18px;
    background: url(http://fed.welian.com/1_my/box_bg_top.png);
}

.nav .nav-user .dropdown .bottom {
    width: 100%;
    height: 11px;
    background: url(http://fed.welian.com/1_my/box_bg_bottom.png);
    clear: both;
}

.nav .nav-user .dropdown .middle {
    width: 130px;
    padding: 0 8px;
    position: relative;
}

.nav .nav-user .dropdown .left,
.nav .nav-user .dropdown .right {
    width: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.nav .nav-user .dropdown .left {
    left: 0;
    background: url(http://fed.welian.com/1_my/box_bg_left.png);
}

.nav .nav-user .dropdown .right {
    right: 0;
    background: url(http://fed.welian.com/1_my/box_bg_right.png);
}

.nav .nav-user .dropdown .center {
    width: 100%;
    background-color: #fff;
}

.nav .nav-user .dropdown ul li a {
    width: 100%;
    text-align: center;
    display: block;
    color: #999;
    padding: 10px 0;
}

.nav .nav-user .dropdown ul li a:hover {
    background-color: #f5f6f7;
}

.aside {
    position: fixed;
    left: 50%;
    margin-left: 525px;
    bottom: 100px;
}

.aside>ul>li {
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.aside .strategy {
    width: 46px;
    height: 46px;
}

.aside .strategy:hover .front {
    display: none;
}

.aside .strategy:hover .back {
    display: block;
}

.aside .strategy .box {
    display: block;
    position: absolute;
    text-align: center;
    font-weight: bold;
}

.aside .strategy .front {
    z-index: 2;
}

.aside .strategy .back {
    padding: 8px;
    background-color: #34b0df;
    color: #fff;
    font-size: 14px;
    z-index: 1;
    border-radius: 2px;
    display: none;
}

.icon {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url(http://fed.welian.com/1_my/icon.png);
}

.icon-back-top {
    background-position: 0 0;
}

.icon-message {
    background-position: 0 -51px;
}

.icon-question {
    background-position: 0 -102px;
}

.pagination {
    text-align: center;
    display: block!important;
}

.pagination ul {
    display: inline-block;
    overflow: hidden;
}

.pagination ul li {
    float: left;
    margin-right: 5px;
}

.pagination ul li a {
    display: block;
    background-color: #fff;
    color: #7d7d7d;
    padding: 5px 10px;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.pagination ul .active a {
    background-color: #34b0df;
    color: #fff!important;
}

.pagination ul .disabled a {
    background-color: #f7f8f9;
    color: #e5e5e5!important;
}

.copy {
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    font-size: 13px;
    padding: 6px 11px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

.blue-word {
    color: #34b0df;
    margin: 0 3px;
}

.input-group {
    display: inline;
    border-radius: 3px;
}

.input-group input {
    border: 2px solid #c6ccd2;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-radius: 3px 0 0 3px;
    width: 154px;
}

.input-group .add-on {
    display: inline-block;
    border: 2px solid #c6ccd2;
    line-height: 36px;
    font-size: 12px;
    background-color: #dbdbdb;
    padding: 0 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    position: relative;
    left: -6px;
    top: 0;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1000;
    filter: alpha(opacity=50);
    display: none;
}

.dialog {
    width: 460px;
    background-color: #fff;
    position: fixed;
    top: 75px;
    left: 50%;
    margin-left: -230px;
    z-index: 1001;
    border-radius: 5px;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.dialog-show {
    clip: inherit;
}

.dialog-head {
    line-height: 44px;
    position: relative;
    padding-left: 15px;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
}

.dialog-head h3 {
    font-weight: normal;
}

.dialog-head .fa {
    position: absolute;
    font-size: 20px;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.dialog-body {
    padding: 15px;
}

.dialog-footer {
    padding: 10px 15px;
    position: relative;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.bfc {
    overflow: hidden;
}

.loading {
    width: 140px;
    height: 140px;
    text-align: center;
    color: #adadad;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -85px;
    margin-top: -85px;
    z-index: 1003;
}

.loading>img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.loading>p {
    line-height: 25px;
}

.noty_text {
    font-size: 16px;
    line-height: 24px;
}

.disabled,
.btn-disabled {
    cursor: default;
}

.form .inline {
    display: block;
    padding-left: 145px;
    position: relative;
    min-height: 44px;
    margin-bottom: 25px;
}

.form .inline .form-label {
    display: block;
    width: 120px;
    line-height: 44px;
    text-align: right;
    color: #555;
    position: absolute;
    left: 0;
    top: 0;
}

.form .form-group {
    width: 730px;
    position: relative;
}

.form .input-control {
    width: 100%;
    line-height: 28px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    padding: 0 15px\9;
    height: 44px\9;
    line-height: 44px\9;
}

.form .select-control {
    position: relative;
    width: 80px;
    line-height: 28px;
    color: #8b8b8b;
    padding: 8px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding-right: 25px;
    cursor: pointer;
}

.form .select-control .triangle {
    border-top-color: #8b8b8b;
    right: 12px;
    top: 50%;
    margin-top: -2px;
}

.form .select-control .result {
    display: none;
    width: 100%;
    max-height: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    top: 45px;
    left: -1px;
    z-index: 99;
    background-color: #fff;
}

.form .select-control .result>ul {
    padding: 5px 0;
}

.form .select-control .result>ul>li {
    line-height: 28px;
    padding-left: 15px;
}

.form .select-control .result>ul>li:hover {
    background-color: #e5e5e5;
}

.form .radio-group {
    padding-left: 10px;
    line-height: 44px;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.form .radio-group label {
    cursor: pointer;
}

.form .checkedbox-group {
    line-height: 44px;
}

.form .checkedbox-group label {
    font-size: 16px;
    color: #555;
    margin-left: 5px;
    cursor: pointer;
}

.form .checkedbox-group label span {
    font-size: 13px;
    color: #adadad;
}

.form .red-word {
    color: red;
    position: relative;
    top: 3px;
}

.form label.error {
    color: red;
    font-size: 12px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -17px;
}

.form input.error {
    border-color: red;
}

.form .input-control {
    width: 667px;
    line-height: 28px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #333;
    padding: 0 15px\9;
    height: 44px\9;
    line-height: 44px\9;
}

.form label.error {
    color: red;
    font-size: 12px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -17px;
}

.form input.error {
    border-color: red;
}

.form .radio-group {
    display: inline-block;
    line-height: 28px;
    padding: 8px 0;
    margin-right: 10px;
}

.form .radio-group>label {
    padding: 0 10px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.red-word {
    color: red;
    margin: 0 3px;
}

.wl-user {
    position: relative;
    padding: 10px 0 10px 50px;
    border-top: 1px solid #eaeaea;
}

.wl-user:first-child {
    border-top: 0;
}

.wl-user-avatar {
    position: absolute;
    left: 0;
    top: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #eee;
}

.wl-user-name {
    line-height: 24px;
    font-size: 14px;
}

.wl-user-company {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
    color: #7d7d7d;
    overflow: hidden;
}

.wl-user-company>span {
    margin-right: 5px;
}

.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/* .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
} */

.pagination>li {
    display: inline-block!important;
}


/* .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
} */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    background-color: #34b0df!important;
    border-color: #34b0df!important;
}