.level_top{
	height: 50px;
    margin: 20px 0;
    padding: 0 20px;
}
.level_top p{
	line-height: 36px;
    height: 36px;
    width: 150px;
    border: 1px solid #ccc;
    text-align: center;
    float: left;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}
.level_title{
    border-top: 1px solid #eee;
    height: 45px;
    line-height: 45px;
    background: #fafafa;
    overflow: hidden;
        margin: 0 20px;
}
.level_title .level_title_no{
	width: 15%;
}
.level_title li{
	float: left;
	width: 20%;
	text-align: center;
}
.level_title_img{
	position: relative;
    top: -45px;
    left: 43px;
    height: 20px;
    cursor: pointer;
}
.level_title_ul{
    text-align: center;
    margin:20px 0;
    overflow: hidden;
}
.level_title_ul li:first-child{
	width: 15%;
	height: 45px;
}
.level_title_ul>li{
	width: 20%;
	text-align: center;
	line-height: 45px;
	float: left;
}
.level_title_ul>li input{
	text-align: center;
    height: 35px;
    border: 1px solid #e5e5e5;
    color: #B1B1B1;
    border-radius: 4px;
}
.level_title_input{
    width: 180px;
}
.level_title_rebate{
	width: 120px;
	margin-right: 5px;
}
.level_title_check{
	height: 16px;
    width: 16px;
    border: 1px solid #e5e5e5;
    margin-top: 13px;
    cursor: pointer;
}
.level_title_check img{
	display: none;
}
.level_title_check .level_title_checked{
	display: block;
}
.level_title_ul li em{
	color: #B70000;
	margin: 0 5px;
}
.level_title_btn{
	height: 40px;
    width: 80px;
    color: #fff;
    background: #FDCA77;
    border-radius: 4px;
    float: left;
    margin-left: 13.7%;
    cursor: pointer;
}
.level_title_label em{
    margin: 0 5px;
    color: #B70000;
}
.level_title_label{
	height: 40px;
    line-height: 40px;
    margin-left: 19px;
    float: left;
}
.level_title_footer{
	height: 40px;
    margin: 10px 34px;
}
.level_title_btn:hover{
	background: #ED9B1C;
}
.level_top p:hover{
	background: #FAFAFA;
}