.clearfloat{zoom:1}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0;font-size:0;}

/* 商品分类 */

.sort_box{
	width: 980px;
	margin: 30px auto;
}
.sort_top{
	width: 967px;
}
.sort_top li{
	width: 148px;
	height: 44px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	float: left;
}
.sort_top li a{
	display: inline-block;
	color: #fff!important;
	width: 148px;
	height: 44px;
}
.add_sort{
	background-color: #ff9c00;
	margin-right: 23px;
}
.sort_save{
	background-color: #fdca77;
}
.sort_bottom{
	margin-top: 20px;
	color: #666;
}
.sort_bottom .sort_bottom_tit{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #f0f0f0;
}
.sort_bottom .sort_bottom_tit span{
	display: inline-block;
}
.sort_name{
	width: 55%;
	text-align: center;
}
.sort_order{
	width: 12%;
	text-align: center;
	margin: 0 5%;
}
.sort_operate{
	width: 20%;
	text-align: center;
	float: right;
}
.sort_operate span{
	float: left;
}
.operate_box{
	margin-top: 30px;
	position:static !important;
	display:block !important;
}
.operate_box input{
	float: left;
	font-size: 14px;
}
.operate_box li{
	line-height: 40px;
	margin-bottom: 30px;
}
.sort_info{
	width: 55%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border:1px solid #e0e0e0;
	border-radius: 3px;
	color: #666;
}
.order_info{
	text-align: center;
	line-height: 40px;
	width: 12%;
	height: 40px;
	border:1px solid #e0e0e0;
	border-radius: 3px;
	color: #666;
	margin: 0 0 0 6%;
}
.operate_info{
	display: inline-block;
	text-align: center;
	width: 19%;
	float: right;
}
.operate_info a{
	background:none !important;
	color: #666 !important;
	display:inline-block !important;
}

/* 添加商品 */
.roadshow_create_m{
	width:1118px;
	padding:40px;
	overflow:hidden;
	background:#fff;
	margin-bottom:20px;
}
.control-group .control-label{
	width:76px;
	text-align:right;
}
.control-group .control-label span{
	width: 100%;
	text-align: right;
}
.textbox{width:500px;}
.welcomeTips{
	width:1158px;
	padding:20px;
	background:#fffbea;
	color:#ba9c6d;
}
.welcomeTips .iconfont{font-size:20px;}
.ui-button{

}

.image_box .image_item{
	position:relative;
	width:60px;
	height:60px;
	margin-right:15px;
}
.image_box .image_item .remove_image{
	position:absolute;
	top:-3px;
	right:-23px;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	cursor:pointer;
	-moz-border-radius:50%; -khtml-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;
}
.image_box .image_item .remove_images{
	position:absolute;
	top:-3px;
	right:-23px;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	cursor:pointer;
	-moz-border-radius:50%; -khtml-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;
}
.image_box .image_item .remove_image .iconfont{
	color:#fff;
	font-size:12px;
}
.image_box .image_item .remove_images .iconfont{
	color:#fff;
	font-size:12px;
}
.imgupload_box input.filebox{
	position:absolute;
	top:0;
	left:0;
  	width: 60px;
  	height: 60px;
  	cursor: pointer;
  	padding: 0;
	filter: alpha(opacity=0);
  	-moz-opacity: 0;
  	-khtml-opacity: 0;
  	opacity: 0;
}
.imgupload_page input.filebox{
	position:absolute;
	top:0;
	left:0;
  	width: 60px;
  	height: 60px;
  	cursor: pointer;
  	padding: 0;
	filter: alpha(opacity=0);
  	-moz-opacity: 0;
  	-khtml-opacity: 0;
  	opacity: 0;
}
.imgupload_box .imgupload{
	width: 78px;
  	height: 78px;
  	line-height:68px;
  	border:1px dashed #ccc;
  	text-align:center;
  	font-size:40px;
  	cursor:pointer;
  	word-wrap:normal;
}
.imgupload_page .imgupload{
	width: 78px;
  	height: 78px;
  	line-height:68px;
  	border:1px dashed #ccc;
  	text-align:center;
  	font-size:40px;
  	cursor:pointer;
  	word-wrap:normal;
}

.img_con{
	  display: inline-block;
	  padding-top:6px;
      height:39px;
}

.estate_add_m .textbox{margin:0;}
.estate_add_m .control-group-inline{float:left;width:434px;}
.estate_add_m .control-group-inline .textbox{width:300px;}
.estate_add_m .float_unit{position: absolute;top:0;right:10px;color:#8e8e8e;}
.estate_add_m .control-group .control-label{width:100px;text-align:right;}
.estate_add_m .control-group .annex_text{width:200px;font-size: 14px;color:#888888;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.estate_add_m .control-title{
	font-size:16px;
	border-bottom:1px solid #e3e3e3;
	padding:8px 0;
	margin-bottom:30px;
}
.estate_add_m .control-group-annex{margin-bottom:20px;}
.estate_add_m .control-group-annex #image_img{
	height:40px;
	border-radius:0;
	  cursor: url(../images/zoom.cur),auto;
}


/*路演列表*/

.roadshowlistbox{
  clear: both;
}
.wz-roadshowlist{
  clear: both;
  display: inline-block;
  margin: 0 -10px;
}
.wz-roadshowlist li{
  position: relative;
  float: left;
  width: 280px;
  margin: 15px 0px 15px 20px;
  padding: 15px;
  border: 1px #eee solid;

}

.wz-roadshowlist li:hover{
  border:1px #EAB95C solid;
}

.wz-art-date{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px #eee solid;
}
.wz-art-tit{
  height: 36px;
  line-height: 36px;
}
.wz-art-img{
  height: 136px;
    overflow: hidden;
    display: inline-block;
}
.wz-art-img img{
  width: 280px;
}
.wz-art-info{
  margin: 10px 0;
    height: 75px;
    line-height: 24px;
    overflow: hidden;
}
.wz-art-btnbox{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  background: #f7f7f7;
  width: 310px;
  border-top: 1px #eee solid;

}
.wz-art-btnbox a{
  margin-left: -1px;
    width: 153px;
    height: 50px;
    display: inline-block;
    border-left: 1px #eee solid;
    cursor: pointer;
}

.wz-art-btnbox .icon-art-edit{
  background: url(../images/wz_ui/wz-new-icon.png) 66px -272px no-repeat;
    background-size: 120px;
}
.wz-art-btnbox .icon-art-del{
  background: url(../images/wz_ui/wz-new-icon.png) 66px -232px no-repeat;
    background-size: 120px;
}

.imgupload-info{
  position: absolute;
    background: rgba(0,0,0,0.5);
    bottom: -2px;
    height: 22px;
    line-height: 22px;
    width: 80px;
    font-size: 12px;
    left: 0;
    display: none;
}

.article-view{
  position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    width: 100%;
    height: 277px;
    line-height: 277px;
    background: rgba(0,0,0,0.6);
    display: none;

}

.article-view a{
  color: #fff;

}

.wz-roadshowlist li:hover .article-view{
  display: block;
}
.setmid {
    color: #999;
    color: #3e3e3e;
    display: inline-block;
}
.agreementlf label {
    width: 135px;
    color: #999;
    margin-right: 10px;
    text-align: right;
    float: left;
    font-size: 14px;
    color: #3e3e3e;
    margin-left: 0;
}
.clcky {
    width: 14px;
    height: 24px;
    margin-left: 119px;
    margin-bottom: -15px;
    background: url(../images/fanwe_ui/ui_cbobg.png) no-repeat;
    position: relative;
    top: 2px;
    left: 2px;
    cursor: pointer;
}
.clcky-check {
    background: url(../images/fanwe_ui/ui_cbobg.png) 0 -77px no-repeat;
}
.check-stylesubmit {
    margin: 12px 6px 12px 40px;
    width: 15px !important;
}
.control-text .textbox{
	width: 263px;
	border-radius: 3px;
	margin-left: 20px;
}
.imguploadinfo{
  display: inline-block;
  font-size: 14px;
  color: #999;
  line-height: 0;
}
.tc{
	text-align: left;
}
.field_select.medium dt{
	border-radius: 3px;
}
.pro_info_tit{
	width: 970px;
	margin: 20px auto 0;
	height: 36px;
	border-bottom: 1px solid #f0f0f0;
}
.pro_info_tit span{
	display: inline-block;
	line-height: 36px;
	width: 97px;
	text-align: center;
	border-bottom: 1px solid #ff9c00;
}
.setlist{
	margin: 20px 0 10px 0;
}
.pro_sort label{
	text-align: left;
	margin-left: 21px;
	line-height: 36px;
}
.pro_sort label input{
	width: 18px;
	height: 18px;
	border: 1px solid #d2d2d2;
	margin-right: 6px;
	position: relative;
	top: 4px;
}
.dashed{
	width: 970px;
	border:1px dashed #e0e0e0;
	margin:20px auto;
}
.image_box .image_item{
	margin-right: 30px;
}
.wz-upload-leftbox{
	margin-left: 130px;
}
.holder_tip_box textarea{
	width: 300px;
}
.setlist .textareabox{
	margin-left: 20px;
	padding: 0 10px;
}
/* 商品管理 */
.product_manage_box{
	padding:20px;
}
.manage_tit{
	height: 38px;
	border-bottom: 1px solid #f0f0f0;
}
.manage_tit ul{
	float: left;
}
.manage_tit li{
	float: left;

}
.manage_tit li a{
	display: inline-block;
	width: 100%;
	height: 38px;
	height: 38px;
	line-height: 38px;
	padding: 0 34px;
}
.manage_tit li.current{
	border-bottom: 1px solid #ff9c00;
}
.new_pro{
	float: right;
	display: inline-block;
	width: 118px;
	height: 36px;
	color: #fff!important;
	background-color: #fdca77;
	font-size: 14px;
	border-radius: 3px;
	line-height: 36px;
	text-align: center;
}
.new_pro:hover{color:#fff !important;background:#ffb132;}
.list_screen{
	float:right;
	display:inline-block;
	width:118px;
	margin:0 10px;
	height:36px;
	border:1px solid #eee;
	padding:8px 0 0;
}
.list_screen select{
	border:0 none;
	width:90%;
	margin-left:5%;
}
.pro_operate{
	height: 30px;
	line-height: 30px;
	margin: 22px 0;
}
.pro_operate label{
	float: left;
	line-height: 48px;
	margin-right: 30px;
	margin-left: 40px;
}
.pro_operate label input{
	margin-right: 10px;
}
.pro_operate ul{
	float: left;
	margin-top: 6px;
}
.pro_operate ul li{
	float: left;
}
.pro_operate ul li a{
	border: 1px solid #ebebeb;
	display: inline-block;
	margin-right: 15px;
	padding: 0px 20px;
	border-radius: 3px;
}
.pro_operate ul li a.current{
	color: #ff9c00;
}
.pro_tit{
	height: 40px;
	background-color: #fafafa;
	/*overflow:hidden;*/
	border:1px solid transparent;
}
.pro_tit li{
	float: left;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-right: 1px solid #eee;
}
.tit_pro{
	width: 290px;
}
.tit_pri,.tit_sell,.tit_inventory,.tit_order,.tit_operate{
	width: 87px;
}
.tit_sort{
	width: 184px;
}
.pro_tit li.tit_operate{
	border-right: none;
	width: 129px;
	float:right;
}
.pro_list li{
	height: 136px;
	border-bottom: 1px solid #f0f0f0;
	font-family:"sans-serif";    color: #777;
	border:1px solid transparent;
	border-bottom:1px solid #d4d4d4;

}
.pro_list li input{
	float: left;
	margin-left: 6px;
	margin-top: 60px;
}
.pro_list li span{
	display: inline-block;
}
.pro_list li .pro_info{
	display: inline-block;
	float: left;
	margin-left: 3px;
	margin-top: 6px;
	width: 268px;
	overflow:hidden;
}
.pro_list li .pro_info img{
	width: 78px;
	height: 78px;
	margin-top:20px;
	float: left;
	display:block;
}
.pro_list li .pro_info div{
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	width: 170px;
	font-size:0;
}
.pro_list li .pro_info div:before {
	content: '.';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.pro_list li .pro_info div span{
	display:inline-block;
	line-height: 1.4em;
	font-size:12px;
	color:#505050;
}
.pro_list li .pro_operate_box{
	float: right;
	width:129px;
	height:121px;
	display: table-cell;
	vertical-align: middle;
	font-size:0;
	text-align:center;
	padding-top:15px;
}
.pro_list li .pro_operate_box:before {
	content: '.';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.pro_list li .pro_operate_box a{
	padding-top:10px;
	display:inline-block;
	line-height:1.5em;
	font-size:12px;
	display:block;
	color:#ff9c00;
}
.pro_list li .pro_operate_box a:hover{color:#e78d00;}
.pro_price,.sell_num,.pro_inventory,.pro_order_info{
	width: 81px;
	text-align: center;
	line-height:136px;
}
.mt30{margin-top:30px;}
.pro_sort_info{
	width: 185px;
	text-align: center;
}



#pro_ship_address{padding-top:6px;/* padding-left: 130px; */
    display: block;}
.set_adr{display:inline-block;color:#ff9c00;}
.ship_address_box{font-family:"微软雅黑";width:500px;height:300px;display:none;border:1px solid #e0e0e0;background:#fff;position:fixed;z-index:15;}
.ship_address_box h3{height:38px;font-size:16px;line-height:38px;padding:0 10px;background:#e6e6e6;font-weight:500;}
.ship_address_box h3 .close{position:absolute;top:10px;right:10px;text-decoration:none;color:#fff;background:#ccc;display:block;width:20px;height:20px;line-height:16px;text-align:center;border-radius:50%;}
.ship_address_box .adressall{overflow:auto;padding:10px;height:230px;}
.ship_address_box .adressall .sa_cum{border-bottom:1px solid #e9e9e9;padding:10px;position:relative;padding-left:30px;}
.ship_address_box .adressall .sa_cum input{position:absolute;left:5px;top:15px;}
.ship_address_box .adressall .sa_cum h4{font-size:14px;font-weight:500;padding-top:3px;}
.ship_address_box .adressall .sa_cum .address {font-size:14px;padding:5px 0;color:#666;}
.ship_address_box .sa_footer{position:absolute;bottom:10px;left:0;width:100%;height:30px;line-height:30px;}
.ship_address_box .sa_footer a{font-size:14px;text-decoration:none;color:#666;}
.ship_address_box .sa_footer .add_mode{float:left;background:#2d9aff;border-radius:5px;padding:0 20px;color:#fff;float:left;margin-left:20px;}
.ship_address_box .sa_footer .eidt_modes{float:right;margin:0 20px 0 0;color:#2d9aff;}
.ship_address_box .mode_name{clear:both;padding:10px;font-size:14px;color:#444;overflow:hidden;}
.ship_address_box .mode_name span{display:block;float:left;line-height:30px;}
.ship_address_box .mode_name input{height:24px;padding:2px;float:left;line-height:24px;border:1px solid #e0e0e0;margin:0 10px;}
.ship_address_box .sel_address{border:1px solid #eee;margin:0 10px;overflow:hidden;}
.ship_address_box .sel_address .sa_b{width:50%;float:left;background:#fff;height:200px;overflow:hidden;}
.ship_address_box .sel_address .sa_b div{overflow:auto;height:170px;}
.ship_address_box .ship_address_box h5{font-size:14px;font-weight:500;padding:0 10px 5px;}
.ship_address_box .sel_address h6{background:#f6f6f6;overflow:hidden;padding:5px 10px;font-weight:500;font-size:14px;}
.ship_address_box .sel_address h6 span{float:left;}
.ship_address_box .sel_address h6 i{font-style:normal;float:right;position:relative;padding-right:20px;}
.ship_address_box .sel_address h6 i input{position:absolute;right:3px;top:2px;}
.ship_address_box .sel_address ul {display:block;}
.ship_address_box .sel_address ul li{padding:4px 10px;overflow:hidden;}
.ship_address_box .sel_address ul li span{float:left;font-size:14px;}
.ship_address_box .sel_address ul li input{float:right;margin:3px 0;}

.modeset{height:350px;z-index:16}
.modeset .sa_footer{text-align:center;bottom:25px;}
.modeset .sa_footer a{padding:6px 40px;font-size:16px;margin:0 5px;border:1px solid #eee;border-radius:5px;}
.modeset .sa_footer a.ok{background:red;color:#fff;border-color:red;}
.modeset h5{font-weight:500;padding:0 10px 5px;}
.floadbg{background:rgba(0,0,0,0.3);position:fixed;width:100%;z-index:14;top:0;left:0;}

.orders_list_title{
	border-collapse:collapse;
    margin-bottom: 21px;
	font-size:12px;
	font-family:"sans-serif";
	width:100%;
    border: 1px solid #eaeaea;
}
.orders_list_msg{
	background:#f9f9f9;
}
.orders_list_title td{
    border: 1px solid #eaeaea;
	padding:8px 10px;
}
.orders_list_msg td{border:none;}
.orders_list_content td{padding:15px 10px;}
.list_left span{
	margin: 0 20px;
}
.orders_list_pic{
	border-right: 1px solid #f7f7f7;
	float: left;
	position:relative;
	padding-left:100px;
}
.orders_list_pic .img{
	width: 80px;
	height: 80px;
	display:block;
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-40px;
	display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    text-align: center
}
.orders_list_pic .img img{width:100%;vertical-align:middle;}
.contact_seller{position:relative;padding-left:23px;display:inline-block;}
.contact_seller i{position:absolute;left:0;top:0px;background:url(../images/tel.png) no-repeat;display:block;width:20px;height:20px;}
.contact_seller span{position:absolute;right:0;top:25px;padding:10px;background:#1296db;color:#fff;border:2px solid #1296db;font-weight:700;font-size:16px;font-family:"微软雅黑";display:none;/*height:20px;*/width:230px;text-align:center;line-height:20px;}
.contact_seller span:after{content:"";width: 0;height: 0;border-left: 5px solid transparent; border-right: 5px solid transparent;border-bottom: 10px solid #1296db;position:absolute;top:-10px;right:10px;display:block;}

.orders_list_pic .txt{
	padding-right:10px;
}
.orders_list_buy{
	text-align: center;
}
.orders_list_addr p{padding:3px 0;}
.orders_list_addr em{font-size:14px;padding:0 10px;}
.orders_list_details{
    text-align: center;
    min-height: 66px;
}
.orders_list_details a{
	line-height: 26px;
	color: #FF6060;
	display: block;
}
.orders_list_details .list_details_btn{
	width: 57px;
	height: 25px;
	line-height: 25px;
	border-radius: 2px;
	background-color: #FDCA77;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
.list_details_btn:hover{
	background-color: #E58E0A;
}
.list_frame{
	position: fixed;
	left: 0;right: 0;bottom: 0;top: 0;
	background: rgba(0,0,0,.4);
	display: none;
	z-index: 99;
}
.list_frame_content{
	width: 600px;
	background: #fff;
	margin-top: 290px;
}
.list_frame_title{
	width: 100%;
    height: 50px;
    line-height: 50px;
    background: #F4F5F9;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 16px;
}
.list_frame_cot{
	margin: 10px 40px;
}
.list_frame_way{
	line-height: 55px;
	height: 55px;
}
.list_frame_way div{
	float: left;
}
.list_mode{
	width: 110px;
    color: #404040;
}
.list_em>em{
	background: #44B448;
}
.list_no em,.list_unno em{
	border: 5px solid #eee;
    width: 12px;
    height: 12px;
    line-height: 55px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.list_no{
	width: 100px;
}
.list_frame_gs,.list_frame_num{
	height: 55px;
	line-height: 55px;
}
.list_wl{
	width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    margin-left: 20px;
    padding-left: 5px;
}
.list_frame_footer{
	width: 100%;
    height: 60px;
    line-height: 60px;
    background: #F4F5F9;
    padding-right: 10px;
    box-sizing: border-box;
}
.list_frame_footer button{
	width: 125px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border-radius: 3px;
	border: 1px solid #ccc;
	float:right;
	margin-right: 20px;
	margin-top: 12px;
}
.list_cancel{
	background: #fff;
}
.list_success{
	background: #FD4337;
	color: #fff;
}
.list_con{
	height: 38px;
	border: 1px solid #EFEFEF;
	background: #FAFAFA;
}
.list_con li{
	float: left;
	text-align: center;
	margin-top: 10px;
}
.list_pro{
	width: 381px;
	border-right: 1px solid #EFEFEF;
}
.list_sort{
	width: 150px;
	border-right: 1px solid #EFEFEF;
}
.list_order{
	width:361px ;
	border-right: 1px solid #EFEFEF;
}
.list_operate{
	width: 111px;
}
.list_time{
	margin-top: 12px;
	margin-bottom: 15px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #EFEFEF;
	background: #FAFAFA;
}
.list_time div{
	float: left;
	cursor: pointer;
}
.list_time .laydate-icon, .laydate-icon-default, .laydate-icon-danlan, .laydate-icon-dahong, .laydate-icon-molv{
	height:26px;
	border-color:#e0e0e0;
	margin:5px;
}
.list_time .orders_no{
	float:left;
    height: 26px;
    border: 1px solid #e0e0e0;
    margin: 5px;
    padding: 5px;
    width: 200px;
}
.orders_time{
	margin-left: 20px;
	margin-right: 10px;
}
.orders_list_time{
    border: 1px solid #ccc;
    height: 25px;
    margin: 0 10px;
	color:#636363;
}
.orders_time_list select{
	width: 50px;
	margin: 0 10px;
}
.orders_screen{
	width: 50px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
    margin-top: 6px;
    line-height: 24px;
}
.add_mode_btn_warp{border:2px dashed #fef6ea;margin:20px;background:#fefbf7;}
.add_mode_btn{text-align:center;width:200px;font-weight:500;color:#ff9c00;font-size:14px;height:40px;line-height:40px;display:block;border-radius:3px;margin:20px auto 15px;}
.add_mode_btn:hover{background:#ff9c00;color:#fff;}
.add_mode_btn:hover{color:#fff!important;background:#df8800;}
.sa_list{position:relative;}
.sa_list h3{background:#fafafa;font-weight:500;height:30px;line-height:30px;font-size:14px;padding:0 10px;}
.sa_list dl{margin:20px;overflow:hidden;border-top:1px solid #f0f0f0;padding:10px 10px 20px;}
.sa_list dl dt{width:70%;float:left;}
.sa_list dl  dd {display:none;width:16%;float:right;padding-top:24px;text-align:center;height:100%;display: table-cell;vertical-align: middle;
}
.sa_list dl dd a{padding:5px;margin:5px;font-size:14px;}
.sa_list dl dt h4{font-size:16px;margin:5px 0;}
.sa_list dl dt p{color:#888;font-size:14px;line-height:1.6em;}

/*订单详情*/
// .od_about_order{border:1px solid #f4f4f4;overflow:hidden;margin:0 auto;font-size:12px;margin-top:10px;}
.od_about_order{    padding: 10px 20px;}
.od_about_order h2{border-bottom:1px solid #f4f4f4;background:#f4f4f4;padding:5px;font-size:14px;}
.od_about_order_left{float:left;padding:10px 2%;line-height:1.8em;}
.od_about_order_left p{overflow:hidden;position:relative;padding-lefT:80px;}
.od_about_order_left .t{position:absolute;left:0;top:0;display:block;width:70px;text-align:right;margin-right:10px;}
.od_about_order_left.od_w50{width:46%;}
.od_about_money{
    // background:#fafafa;
    padding:30px;margin:10px auto;text-align:right;line-height:2em;overflow:hidden;}
.od_about_money .b{font-size:16px;font-weight:700;font-family:"微软雅黑";}

.noPro{text-align:center;line-height:136px;border-bottom:1px solid #efefef;}

.od_about_order .product_manage_box {margin-top:0;}

#right {
    background-color: #fff;
    font-size: 14px;
    /*top: 120px;*/
}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p, input, button {
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}
div {
    margin: 0 auto;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
input, select {
    outline: medium none;
}
input, button {
    font-family: "Microsoft YaHei";
    border: medium none;
    overflow: visible;
}


.list_title {
    border-bottom: 2px solid #307ab6;
}
.clearfix {
    zoom: 1;
}
.list_title {
    border-left: 1px solid #eee;
    border-bottom: 2px solid #eee;
    color: #494949;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    height: 41px;
    line-height: 40px;
    margin-bottom: 20px;
    border-left: none;
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
    background: #ccc;
    border: 1px solid #ccc;
}
.homeright .list_title {
    background: #ccc;
    border: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0;
}
.list_title div {
    background-color: #fff;
    border: 1px solid #eee;
    border-left: 0;
    border-bottom: 0;
    float: left;
    font-size: 14px;
    padding: 0 25px;
    cursor: pointer;
}


.homeright .list_title .cur {
    padding: 0 10px;
    border: 0;
    border-bottom: none;
    background: #ccc;
}


.bg_gray2, .list_title .cur {
    background: transparent;
    color: #fff;
    border:none;
}
.list_title .cur, .list_title .cur a {
    color: #fff;
}

.operate_box {
    display: none;
    position: absolute;
    right: -40px;
    bottom: 232px;
    z-index: 50;
    height: 80px;
    top: 0;
}
.od_about_order_left.od_w50.order_x{width:100%}
.close{    background: none;}