.ticket-order-container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:20px;
    background-color: #fff;
}
.search{
    margin-bottom:10px;
    overflow: hidden;
}
.search>div,.search>button{
    float: left;
}
.search>div{
    margin-right:20px;
}
.search>div>input{
    width:200px;
    height:26px;
    line-height: 26px;
    border:1px solid #e0e0e0;
    padding-left:6px;
}
.search>button{
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
}