.we-release input,
.we-release select {
	width: 100%;
	height: 35px;
	display: block;
	margin: 0;
}

.modal-header .close {
	color: #999!important;
	margin-right: 0;
	margin-top: -11px;
}
.addimg{width:20%;float: left;}
.addimgmore{padding-left:30px;}
.we-release span,
.we-release-add span {
	/*padding-left: 0;*/
}

.mt20 {
	margin: 20px 0;
}

.use-right-box {
	padding: 0 20px;
}

.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open>.dropdown-toggle.btn-danger.focus,
.open>.dropdown-toggle.btn-danger:focus,
.open>.dropdown-toggle.btn-danger:hover {
	color: #fff!important;
}

.btn-danger,
.btn-danger:hover {
	color: #fff!important;
}

#imgForm {
	display: none;
}

.avatar {
	display: block;
	margin: 0;
	cursor: pointer;
}

.image-cut {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	display: block;
	position: fixed;
	overflow: hidden;
	z-index: 1019;
	background-color: #fff;
}

.image-cut .top {
	height: 46px;
	line-height: 46px;
	background-color: #f2f2f5;
	color: #111111;
	padding: 0 15px;
}

.image-cut .center {
	height: 400px;
}

.image-cut .bottom {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
}

.z {
	float: left;
}

.y {
	float: right;
}

.title {
	font-size: 26px;
}

.image-cut .top .title {
	font-size: 16px;
}

.image-cut .center .z {
	height: 400px;
	width: 70%;
}

.image-cut .center .y {
	padding: 20px;
}

.image-cut .center .y .img-show {
	width: 180px;
	height: 180px;
	background-color: #f7f7f7;
	overflow: hidden;
}

.image-cut .center .y .img-show1 {
	width: 100px;
	height: 100px;
	background-color: #f7f7f7;
	overflow: hidden;
	margin-top: 10px;
	float: right;
	clear: both;
}

.image-cut .center .y .img-show2 {
	width: 50px;
	height: 50px;
	background-color: #f7f7f7;
	overflow: hidden;
	margin-top: 10px;
	float: right;
	clear: both;
}

.image-cut .bottom .z input {
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}

.image-cut .bottom .btn {
	background-color: #007cd3;
	color: #ffffff;
	width: 180px;
}

#masker {
	display: none;
	border: 0px;
	background: #000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	z-index: 1000;
}

.we-release {
	width: 100%;
	height: auto;
	background-color: #FFF;
}
#right {
    background-color: #fff;
    font-size: 14px;
    /*top: 120px;*/
}
.breadcrumb{background: #ccc;    padding: 0 15px;}
.breadcrumb a,.breadcrumb>.active{color:#fff!important;font-size:14px;}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #FFF!important;
    content: ">"!important;
}
.btn-file,.btn-file:hover,.btn-file:focus{    background: #d9534f!important;
    color: #fff!important;
    border: none!important;
    font-size: 14px!important;
    margin-left: 14px;}
.progressContainer{width:25%;float:left;position: relative;    margin: 10px auto;}
.infoWrapper,.progressFileSize,.progress,.status{display:none;}
.info{
	display: block;
    position: absolute!important;
    background: transparent;
    right: 0;
    width: 100%!important;
    height: auto;
        /* right: 0; */
    left: 23px!important;
    top: 0!important;
    width: 100%!important;
    max-width: 100px;
    height: auto;
    margin: 0;
    font-size: 28px;
    /* color: #d4d4d4; */
    line-height: 0px;
    margin-top:0!important;
    margin-left:0!important;
}
.progressCancel{float:right;}
.imgWrapper img{max-width: 100px;}
.imglabel{margin-bottom: 10px;}
.imgWrapper{padding:0;}
.setting-form label{font-weight: normal;}
.set_adr {
    display: inline-block;
    color: #ff9c00!important;
    margin: 8px 0;
}
.ship_address_box h3 .close{right:45px!important;}
.cancel{float:none;}
.ship_address_box .sa_footer a {

    color: #666!important;
}
.modeset .sa_footer a.ok {
    color: #fff!important;
}
.ship_address_box .sa_footer .add_mode {
    color: #fff!important;
}




.ordertable table{
	width:100%;
	border: 1px solid #eee;
	margin-bottom:10px;
}
.ordertable table th,.ordertable table td{
	padding:8px;
	vertical-align: top;
}
.ordertable table td{
	padding:26px 8px;
}
.ordertable table thead{
	background: #eee;
	border: none;
}
.ordertable table thead tr th:last-child a{
	margin-right:10px;
}
.ordertable table tbody tr{
	border:1px solid #eee;
	font-size:12px;
}
.ordertable table tbody tr td img{
	display: block;
	width:80px;
	height:80px;
}
.ordertable table tbody tr td.oper a{
	display: block;
	width: 64px;
	height: 24px;
	line-height: 24px;
	background: orange;
	color: #fff !important;
	margin-bottom: 4px;
	border-radius: 2px;
}
.ordertable table tbody tr td.oper,
.ordertable table tbody tr td.price{
	border-left:1px solid #eee;
	text-align: center;
}

.ordertable table tbody tr:not(:first-child)>td.oper,
.ordertable table tbody tr:not(:first-child)>td.price{
	display: none;
}

.ordertable table tbody tr td a{
	cursor: pointer;
}
ul.list-header{
	width:100%;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	margin-bottom: 10px;
}
ul.list-header li{
	display: inline-block;
	text-align: center;
	padding:8px 0;
	width:80px;
}

.comment_mongolia_layer { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .5); z-index: 99; display: none; }
.comment_bomb_box {
	display: none; position: fixed; transform: translate(-50%, -50%); left: 50%; top: 50%; width: 750px; min-height: 470px; border-radius: 3px; background-color: #fff; color: #555; z-index: 100; }
.comment_bomb_box_header { height: 45px; display: flex; justify-content: space-between; align-items: center; padding: 0 15px; }
.comment_bomb_box_title { flex: 1; font-size: 17px; }
.comment_bomb_box_close { width: 45px; height: 45px; text-align: center; line-height: 45px; margin-right: -15px; }

.comment_bomb_box_content { height: 400px; border: 1px solid #eee; border-left: none; border-right: none; padding: 15px;  overflow-y: auto;}
.comment_bomb_box_group { display: flex; align-items: center; margin-bottom: 15px; }
.comment_bomb_box_name { width: 80px; }
.comment_bomb_box_input { flex: 1; }
.bomb_box_title { width: 610px; max-width: 610px; height: 34px; border: 1px solid #ccc; border-radius: 5px; outline: none; text-indent: 1em; color: #555; }
.bomb_box_textarea { width: 610px; max-width: 610px; border: 1px solid #ccc; border-radius: 5px; outline: none; padding: 10px 0; color: #555; }
.bomb_box_title, .bomb_box_textarea, .comment_save { -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; }
.bomb_box_title:focus, .bomb_box_textarea:focus, .comment_save:focus { box-shadow: 0 0 5px rgba(81, 203, 238, 1); border: 1px solid rgba(81, 203, 238, 1); }
.bomb_box_star  { flex: 1; }
#star2 { margin: 0; }

.comment_bomb_box_footer { height: 45px; display: flex; justify-content: center; align-items: center; padding: 0 15px; }
.comment_save { width: 80px; height: 30px; text-align: center; line-height: 30px; border: 1px solid #ccc; border-radius: 3px; outline: none; }
.comment_bomb_box_content p{
	margin-bottom:10px;
}
.comment_bomb_box_content p span:first-child{
	margin-right:12px;
}
.comment_bomb_box_content p span{
	display: inline-block;
	vertical-align: top;
}
.comment_bomb_box_content p span:last-child{
	width:77%;
}