/*个人认证模块*/
html, body {
    background: #F7F6F2;
}

#form_list, #v_form_list {
    display: none;
    background-color: #FFF;
}

#v-auth {
    color: red;
    background: #f7f7f7;
}

#top {
    background: url(/common/img/top.png) no-repeat center;
    background-size: 100% 100%;
}

.con-hd {
    width: 900px;
   margin: 0px auto 20px 0px;
    background-color: #FFF;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #FFF;
    content: ">";
}

.container-fluid {
    background: #CCC;
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 5px 15px;
}

.breadcrumb li a {
    color: #FFF!important;
}

#personal {
    /*display: none;*/
}

.navbar {
    min-height: 37px;
}

.control-label {
    color: rgba(51, 51, 51, 0.8)!important;
}

.form-horizontal {
    padding: 25px 100px 25px 0;
}

a {
    color: #FFF!important;
}

a:hover {
    color: #FFF!important;
}

.cert-success-info, .success-to-pass {
    height: 166px;
    background-color: #fff;
    color: #828282;
}

.success-to-pass, .media-left-success, .media-body-success {
    display: flex;
}

.media-left-success {
    width: 170px;
    justify-content: center;
    align-items: center;
}

.media-object-success {
    width: 100px;
    height: 100px;
}

.media-body-success {
    align-items: center;
    width: auto;
    flex: 1;
}

.medal-body-body {
    align-items: center;
}

.media-heading-success {
    height: 50px;
    font-size: 24px;
}

.real-cert {
    display: inline-block;
    color: #ff8585;
    padding: 0 10px 0 0;
    font-size: 30px;
    text-align: center;
}

.media-footing-success {
    height: 22px;
    font-size: 16px;
}

.success-status {
    color: #a5ca4d;
}

.avatar a {
    color: #333 !important;
}

.av-on-line {
    float: none;
    padding: 3rem 4rem;
    display: none;
}

.av-on-line > a {
    // display: block;
    // text-align: center;
    // cursor: pointer;
    // height: 35px;
    // font-size: 14px;
    // background-color: #ea332d;
    width: 248px;
    height: 34px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color:#EA332D;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 0px;
    cursor: pointer;
}

.whether-to-pass, .submit2, #avatar-admin, .v-cert-success-info {
    display: none;
}

.display-head {
    margin: 0;
    border: none;
    height: 30px;
    min-height: 30px;
}

.success-info {
    height: 75px;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    color: #666;
}

.warn-img {
    width: 50px;
    margin: 0px 25px;
}

.media-heading {
    margin-bottom: 10px;
}

.media-heading + p {
    margin-bottom: 0;
}


.btn-danger {
    background-color: #EA332D;
}

.prompt-info {
    min-width: 10rem;
    padding: 0.5rem 1.5rem;
    min-height: 3.5rem;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -5%;
    background-color: rgba(0, 0, 0, .8);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 3.5rem;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

/*个性域名模块*/

/* #top {
    position: fixed;
    width: 100%;
    height: 90px;
    float: left;
    background-color: white;
    margin: 0 auto;
    left: 90px;
    text-align: center;
    line-height: 90px;
    z-index: 25;
    background: url({{PATH_TML}}user/img/top.png) no-repeat center;
    background-size: 100% 100%;
}

#middle {
    position: fixed;
    width: 200px;
    min-height: 678px;
    height: auto;
    left: 0;
    margin-left: 0;
    border-right: 1px solid #DFDEDA;
    background: white;
    float: left;
    left: 90px;
    z-index: 25;
}

#right {
    position: relative;
    width: auto;
    height: 768px;
    top: 120px;
    left: 90px;
    float: left;
    overflow: hidden;
    background: #fff;
    padding-bottom: 50px;
} */

#domain {
    color: red;
    background: #f7f7f7;
}

.cont-hd {
    width: 610px;
    margin: 25px auto 25px 25px;
    display: inline-block;
}

.cont-hd .panel {
    height: auto;
    border-radius: 5px;
}

.form-inline, .alert.alert-danger.alert-dismissible {
    margin: 10px;
}

.close {
    margin: 0;
    width: auto;
    height: auto;
}

.panel-default {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

.panel-body {
    padding-top: 0;
    font-size: 15px;
}

.cont-hd .panel {
    border-radius: 0;
}

.momain {
    padding-top: 10px;
}