body,
html {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: hidden;
}


#top {
	background: url(/common/img/top.png) no-repeat center;
	background-size: 100% 100%;
}

#personaldata {
	color: red;
	background: #f7f7f7;
}

.we-release-add {
	position: relative;
	width: 950px;
	min-height: 200px;
	height: auto;
	margin-left: 350px;
	background: white;
	display: none;
}

.art-issuer span {
	padding-right: 15px;
}

#look {
	position: relative;
	margin-top: 50px;
	margin-left: -100px;
}

.right {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 80px;
	background: #F7F6F2;
	padding-left: 290px;
	padding-top: 91px;
}

.right::-webkit-scrollbar {
    width: 0px;
    height: 0;
}

.right header {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #f7f6f2;
	padding-left: 20px;
	color: #fff;
	font-size: 16px;
}

.right header i {
	width: 20px;
	height: 20px;
	position: absolute;
	transform: rotate(-90deg);
}

.right header span:last-child {
	margin-left: 13px;
}

.right .look {
	width: 100%;
	height: 140px;
}

.right .look .one {
	float: left;
	width: 150px;
	height: 140px;
	line-height: 140px;
	padding-left: 20px;
	text-align: center;
	font-size: 16px;
}

.right .look .pic {
	float: left;
	width: 100px;
	height: 100px;
	background: #3c3c3c;
	margin-top: 35px;
	padding-top: 33px;
	padding-left: 7px;
}

.right .look .pic .upload {
	width: 86px;
	height: 26px;
	line-height: 26px;
	border-radius: 26px;
	background: grey;
	color: #fff;
	text-align: center;
}

.right .name {
	width: 100%;
}

.right .name input {
	padding: 0 13px;
}

.right .name,
.right .phone {
	width: 100%;
	line-height: 34px;
	padding-left: 45px;
	font-size: 16px;
	margin-bottom: 20px;
}

.right .phone {
	position: relative;
}

.right .name input,
.right .phone input {
	width: 198px;
	height: 34px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 28px;
	padding-left: 15px;
	/*float: left;*/
}

.right .phone span {
	font-size: 15px;
	color: red;
	margin-left: 10px;
	position: absolute;
	left: 355px;
	top: 0;
}

.right .gender {
	width: 100%;
	line-height: 42px;
	padding-left: 45px;
	font-size: 16px;
	margin-bottom: 5px;
}

.right .gender input {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #ccc;
	margin-left: 27px;
	margin-right: 8px;
}

.right .gender :last-child {
	margin-left: 18px;
}

.right .contact {
	width: 30%;
	line-height: 42px;
	padding-left: 45px;
	font-size: 16px;
	margin-bottom: 10px;
	position: relative;
}

.right .contact i {
	position: absolute;
	width: 48px;
	height: 48px;
	color: green;
	font-size: 34px;
	margin-right: 20px;
	left: 153px;
}

.right .contact span {
	font-size: 16px;
	margin-left: 72px;
}

.right .area {
	width: 100%;
	line-height: 42px;
	padding-left: 45px;
	font-size: 16px;
	margin-bottom: 10px
}


/*.right .area select:first-child{*/


/*float: left;*/


/*margin:0 20px;*/


/*}*/

.right .area select {
	padding: 6px 0;
	padding-left: 13px;
	padding-right: 56px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 25px;
}

.right .information {
	width: 100%;
	height: 174px;
	line-height: 25px;
	padding-left: 45px;
	font-size: 16px;
	margin-bottom: -38px;
	/*margin-top: 25px;*/
}

.right .information span {
	float: left;
	margin-right: 15px;
}

.right .information textarea {
	float: left;
	width: 50%;
	height: 110px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 14px;
	margin-left: 10px;
}

.right .update {
	  width: 248px !important;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
     background-color:#EA332D;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 150px;
    cursor: pointer;
    margin-top:4px;
}

.right .image-cut {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	display: block;
	position: fixed;
	overflow: hidden;
	z-index: 1019;
	background-color: #fff;
	left: 205.5px;
	top: 290.5px;
}

.right .image-cut .top {
	height: 46px;
	line-height: 46px;
	background-color: #f2f2f5;
	color: #111111;
	padding: 0 15px;
}

.right .image-cut .top .z {
	float: left;
}

.right .image-cut .top .z .title {
	font-size: 16px;
}

.right .image-cut .top .y {
	float: right;
}

.right .image-cut .top .y a i {
	color: #007cd3;
	font-size: 10px;
}

.right .image-cut .center {
	height: 400px;
}

.right .image-cut .center .z {
	height: 400px;
	width: 70%;
	float: left;
}

.right .image-cut .center .z img {
	vertical-align: middle;
}

.right .image-cut .center .y {
	padding: 20px;
	float: right;
}

.right .image-cut .center .y .img-show {
	width: 180px;
	height: 180px;
	background-color: #f7f7f7;
	overflow: hidden;
}

.right .image-cut .center .y .img-show1 {
	background-color: #f7f7f7;
	overflow: hidden;
	margin-top: 10px;
	float: right;
	clear: both;
	width: 100px;
	height: 100px;
}

.right .image-cut .center .y .img-show2 {
	background-color: #f7f7f7;
	overflow: hidden;
	margin-top: 10px;
	float: right;
	clear: both;
	width: 50px;
	height: 50px;
}

.right .image-cut .bottom {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
}

.right .image-cut .bottom .z {
	float: left;
}

.right .image-cut .bottom .z input {
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}

input[type="file"] {
	display: block;
}

.right .image-cut .bottom .y {
	float: right;
}

.right .image-cut .bottom .btn {
	background-color: #007cd3;
	color: #ffffff;
	width: 180px;
}

#masker {
	width: 1164px;
	height: 1081px;
	display: none;
	border: 0px;
	background: #000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	z-index: 1000;
}

.right-cen {
	width: 1000px;
	height: auto;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #FFF;
	padding-bottom: 50px;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #FFF!important;
	content: ">"!important;
}



.container-fluid {
	background: #CCC;
}

.breadcrumb {
	background-color: transparent!important;
	/*padding: 4px 15px!important;*/
}

.breadcrumb li a {
	color: #FFF!important;
}
.right .navbar {
	min-height: 31px!important;
	border-radius: 0 !important;
}
.btn{
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:100;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align: middle;
    touch-action:manipulation;
    cursor:pointer;
    user-select:none;
    backgroung-image:none;
    border:1px solid transparent;
    border-radius:4px;
}
.btn-danger {
    background-color: #EA332D;
}

#Bitchy {
	position: relative;
    width: 100%;
    overflow: hidden;
    margin-left: 80px;
    top: -35px;
}
	
#Bitchy select {
	width: 20%;
	float: left;
}