*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.crm-header{
    height:50px;
    width:100%;
    line-height:50px;
    background-color: #2a2727;
}
.crm-header ul{
    width:1000px;
    margin:0 auto;
}
.crm-header ul li{
    display: inline-block;
    padding:0 20px;
    font-size:16px;
    color: #fff;
}
.crm-header ul li.logo{
    color: orange;
}
.wemall-crm{
    text-align: center;
}
.wemall-crm>.menu{
    background: #fff;
}
.wemall-crm>.menu li{
    cursor: pointer;
    display: inline-block;
    padding: 20px 74px;
    border-bottom: 1px solid #eee;
}
.wemall-crm>.menu li.active{
    color: orange;
    border-bottom-color: orange;
}
.crm-content{
    width:1000px;
    margin:0 auto;
}
.crm-content .form-list{
    padding:40px 35px;
    width:100%;
    background: #fff;
    margin:20px 0;
}
.crm-content .form-list form{
    width:55%;
}
.crm-content .table-list{
    padding:40px 35px;
    background: #fff;
    margin:20px 0;
}
.crm-content .chart-list{
    padding:30px;
    text-align: left;
    background-color: #fff;
    margin-top:20px;
}
.crm-content .chart-dom{
    display: inline-block;
    margin: 20px;
    width:400px;
    height:350px;
}