*{
    box-sizing: border-box;
}
.wemall-crm>.menu li{
    cursor: pointer;
    display: inline-block;
    padding: 20px 50px;
    border-bottom: 1px solid #eee;
}
.wemall-crm>.menu li.active{
    color: orange;
    border-bottom-color: orange;
}
.crm-content .form-list{
    padding:20px 35px;
    width:55%;
}
.crm-content .table-list{
    padding:20px 35px;
}
.crm-content .chart-list{
    padding:30px;
}
.crm-content .chart-dom{
    display: inline-block;
    margin-right:68px;
    margin-bottom:20px;
    width:400px;
    height:350px;
}