@charset "utf-8"

* {
    padding: 0;
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
}
.page-content {
    position: absolute;
    background-color: #fff;
    width: 1100px;
    height: 100%;
    display: flex;
    left: 90px;
    overflow-y: auto;
}
.page-content .page-left {
    width: 730px;
    height: 100%;
    padding: 0 25px;
}
.page-content .page-left .rich_media_title {
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 26px;
    font-weight: 400;
    color: #1a1a1a;
    margin: 15px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page-content .page-left .clearfix {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.page-content .page-left .bts {
    margin: 20px 0
}
.page-content .page-left .clearfix>span {
    margin-right: 15px;
}
.page-content .page-left .clearfix .user-img,
.page-content .page-left .clearfix .user-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.page-content .page-left .clearfix .author {
    font-size: 18px;
    font-weight: 600;
}
.page-content .page-left .hr {
    margin: 15px 0;
    border-top: 1px solid #e2e2e2;
}
.page-content .page-left .page-title {
    margin: 10px 0 0;
    max-height: 60px;
    overflow: hidden;
}
.page-content .page-left .page-title>img {
    margin: 0px -6px -9px 0;
}
.page-content .page-left .page-title span {
    padding-left: 10px;
    font-size: 16px;
    color: #666;
    line-height: 28px;
    font-weight: bold;
}
.page-content .page-left .page-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 28px;
}
.page-content .page-left .page-details {
    padding: 5px 0 10px;
}
.page-content .page-left .page-details p {
    text-indent: 2em;
    padding-top: 8px;
    margin: 0;
    line-height: 28px;
    text-align: justify;
}
.page-content .page-left .evaluate {
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.page-content .page-left .evaluate .readings span {
    padding-right: 1rem;
}
.page-content .page-left .evaluate .readings span:last-child {
    cursor: pointer;
}
.page-content .page-left .evaluate .readings .gesture {
    width: 15px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 4px 0;
    background-image: url(../img/zan.png);
}
.page-content .page-left .evaluate .readings .already {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);    
    filter: grayscale(100%);    
    filter: gray
}
.page-content .page-left .prompt-info {
    width: 10rem;
    height: 2.5rem;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, .8);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5rem;
    border-radius: 5px;
    display: none;
}
.page-content .page-right {
    width: 380px;
    height: 100%;
}
.page-content .page-right .qr_code_pc_outer {
    text-align: center;
    width: 218px;
    height: 250px;
    border: 1px solid #f0f0f0;
    padding: 5px 0 5px 3px;
    position: fixed;
    left: 895px;
    top: 55px;
}
.page-content .page-right .qr_code_pc_outer img {
    width: 200px;
}
.page-content .page-right .qr_code_pc_outer p {
    position: relative;
    padding: 2px;
    margin: 0;
}