<link rel="stylesheet" href="/resource/wetpl/default/wap/css/home.css">
<link rel="stylesheet" href="/resource/wetpl/default/wap/css/common.css">
<link rel="stylesheet" href="/resource/wetpl/default/wap/css/swiper.min.css">
<link rel="stylesheet" href="/common/jquery.animsition/css/animsition.min.css">
<style type="text/css">
	[v-cloak] {
		display: none;
	}
	.header_selecte {
		color: rgb(153, 153, 153); border-bottom: 2px solid rgb(37, 195, 254) !important; 
	}

	.header_no_select {
		color: rgb(51, 51, 51); border-bottom: none !important;
	}

	.footer_selecte {
		color: rgb(153, 153, 153); 
	}
	.layui-m-layercont {
		padding: 10px 10px;
		line-height: 22px;
		text-align: center;
	}
</style>
<body class="animsition" style="animation-duration: 0.3s; opacity: 1;">    

<div id="header" v-cloak>
    <nav>
        <ul v-if="is_domain == 'yes'">
            <li v-for="(item , key) in header_nav" @click="pages(key);page=key"  :class="{'header_selecte' : key == cuupage}">{{item.name}}</li>
            <li id="my-center"><img src="/common/img/adds.png" alt="add"></li>
        </ul>
        <ul v-else>
            <li v-for="(item , key) in discovery_header_nav" @click="pages(key);page=key"  :class="{'header_selecte' : key == cuupage}">{{item.name}}</li>
            <li  id="my-center"><img src="/common/img/adds.png" alt="add"></li>
        </ul>
    </nav>
</div>
<script type="text/javascript">
	// header 渲染
function init_header(show) {
    if(show == 'no') return false;
    var dom_id = '#header';
    if(show != 'yes')
    {
    	dom_id = '#'+show;
    }
    new Vue({
        el: dom_id,
        data: {
            router : $app.get_router(),
            is_domain : is_domain,
            cuupage : window.location.pathname.split('/').pop(),
            header_nav : {
                index :{
                    'name' : '推荐',
                    'nav' : true,
                },
                article : {
                    'name' : '文章',
                    'nav' : true,
                },
                // project : {
                //     'name' : '项目',
                //     'nav' : false,
                // },
                activity : {
                    'name' : '活动',
                    'nav' : true,
                },
                wemall : {
                    'name' : '商城',
                    'nav' : true,
                }
            },
           	discovery_header_nav : {
                dynamic :{
                    'name' : '动态',
                    'nav' : true,
                },
                article : {
                    'name' : '文章',
                    'nav' : true,
                },
                // project : {
                //     'name' : '项目',
                //     'nav' : false,
                // },
                activity : {
                    'name' : '活动',
                    'nav' : true,
                },
                goods : {
                    'name' : '商品',
                    'nav' : true,
                }                
            },
            page : '',
        },
        // watch: {
        //     page(val)
        //     {
               
        //     }
        // },
        mounted() {
        	
            this.$nextTick( function () {

            	var title = '';
                // 当根路由变成 discovery 改变导航字样
                if(is_domain == 'no')
                {
                    this.header_nav.index.name = '动态';
                    this.router = 'discovery';
                    title = '发现' + this.discovery_header_nav[this.cuupage].name;
                    // $app.set_title('动态');
                }
                else
                {
                    this.router = pages_index;
                    // if(pages_info.)
                    title = pages_info.plats_show.main_title;

                    var two_router =  $app.get_router(2);

                    if($app.empty(two_router) == false)
                    {
                    	this.cuupage = 'index';
                    }
                }
                
                this.title(title);
            });
        },
        methods:{
        	pages: function(val)
        	{
        		if(this.cuupage != val)
                {
                	if(is_domain == 'yes')
                	{
                		if(this.header_nav[val].nav == false) return false;
                	}
                	else
                	{
                		if(this.discovery_header_nav[val].nav == false) return false;
                	}

                	if(val == 'index')
                	{
                		val = '';
                	}
                	
                    var mod = '/'+ val;
                    var get_params = $app.get_query_string('from');
                    if(get_params != false)
                    {
                    	window.location.href= all_domian + this.router + mod + '?from='+get_params;
                    }
                    else
                    {
                    	window.location.href= all_domian + this.router + mod;
                    }
                    
                }
        	},
        	title (title){
        		$app.set_title(title);
        	}
        }
    });
}
</script>




