.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	DISPLAY: inline-block
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
DIV {
	
}
UL {
	
}
LI {
	
}
A {
	COLOR: #999; TEXT-DECORATION: none
}
A:hover {
	COLOR: #999; TEXT-DECORATION: none
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.ui-fs {
	FONT-SIZE: 12px; WIDTH: 300px; COLOR: #666
}
.ui-fs .ui-fs-input {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; POSITION: relative; HEIGHT: 24px
}
.ui-fs .ui-fs-input INPUT {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 2px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 270px; COLOR: #666; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.ui-fs .ui-fs-input .ui-fs-icon {
	RIGHT: 0px; BACKGROUND: url(http://img.jb51.net/jslib/images/ui-fs-icon.gif) #e0ebf2 no-repeat center 8px; WIDTH: 24px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 0px; HEIGHT: 24px
}
.ui-fs .ui-fs-input .active {
	BACKGROUND-POSITION: center 50%
}
.ui-fs .ui-fs-input A:hover {
	BACKGROUND-COLOR: #ccddee
}
.ui-fs .ui-fs-list {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 0px solid; DISPLAY: none; Z-INDEX: 999; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 298px; BORDER-BOTTOM: #7f9db9 1px solid; POSITION: absolute
}
.ui-fs .ui-fs-list A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: #e0ebf2; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccddee 1px solid; HEIGHT: 25px
}
.ui-fs .ui-fs-list A:hover {
	TEXT-DECORATION: none
}
.ui-fs .ui-fs-list A.active {
	COLOR: #fff; BACKGROUND-COLOR: #7f9db9
}
.ui-fs UL LI IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.ui-fs .ui-fs-all {
	BORDER-RIGHT: #ccddee 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccddee 1px solid; DISPLAY: none; PADDING-LEFT: 10px; Z-INDEX: 999; BACKGROUND: #e0ebf2; PADDING-BOTTOM: 10px; BORDER-LEFT: #ccddee 1px solid; WIDTH: 278px; PADDING-TOP: 10px; BORDER-BOTTOM: #ccddee 1px solid; POSITION: absolute
}
.ui-fs .ui-fs-all .top {
	POSITION: relative
}
.ui-fs .ui-fs-all .top SELECT {
	WIDTH: 120px
}
.ui-fs .ui-fs-all .close {
	RIGHT: 3px; BACKGROUND: url(http://img.jb51.net/jslib/images/ui-fs-icon.gif) no-repeat right -60px; WIDTH: 20px; CURSOR: pointer; TEXT-INDENT: -999px; POSITION: absolute; TOP: 3px; HEIGHT: 20px
}
.ui-fs .ui-fs-all .ui-fs-allinner {
	BORDER-RIGHT: #ccddee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccddee 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccddee 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccddee 1px solid
}
.ui-fs .ui-fs-all .page {
	BORDER-BOTTOM: #ccddee 1px solid
}
.ui-fs .ui-fs-all .page DIV {
	FLOAT: left
}
.ui-fs .ui-fs-all .ui-fs-allinner .list {
	OVERFLOW: hidden; WIDTH: 266px; HEIGHT: 150px
}
.ui-fs .ui-fs-all .page DIV.button {
	FLOAT: right
}
.ui-fs .ui-fs-all .page DIV.button SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.ui-fs .ui-fs-all .page DIV.button SPAN.disable {
	CURSOR: auto; COLOR: #999
}
.ui-fs .ui-fs-all .ui-fs-allinner B {
	COLOR: #ff0000
}
.ui-fs .ui-fs-all A {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; BACKGROUND: #effafe; FLOAT: left; MARGIN: 5px 5px 0px 0px; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; WIDTH: 81px; CURSOR: pointer; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 22px
}
.ui-fs A IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.ui-fs .ui-fs-all A:hover {
	BORDER-RIGHT: #ccddee 1px solid; BORDER-TOP: #ccddee 1px solid; BACKGROUND: #e0ebf2; BORDER-LEFT: #ccddee 1px solid; BORDER-BOTTOM: #ccddee 1px solid; TEXT-DECORATION: none
}
.ui-fs .ui-fs-result {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.ui-fs .ui-fs-result A {
	BORDER-RIGHT: #cde 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #cde 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 0px 0px; BORDER-LEFT: #cde 1px solid; CURSOR: auto; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #cde 1px solid; POSITION: relative; HEIGHT: 20px
}
.ui-fs .ui-fs-result A SPAN {
	DISPLAY: block; RIGHT: 2px; BACKGROUND: url(http://img.jb51.net/jslib/images/ui-fs-icon.gif) no-repeat right -55px; WIDTH: 10px; CURSOR: pointer; TEXT-INDENT: -999px; POSITION: absolute; TOP: 0px
}
.ui-fs .ui-fs-result A:hover {
	BACKGROUND-COLOR: #e0ebf2; TEXT-DECORATION: none
}
