.box {
    width: 636px;
    background-color: #fff;
    padding: 20px 177px 190px;
}

.tips,
.guide {
    overflow: hidden;
}

.tips {
    text-align: center;
    padding-top: 55px;
    font-size: 26px;
    color: #555;
    line-height: 55px;
}

.tips .pic {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.create-group {
    padding: 25px 0 20px;
    border-bottom: 1px solid #e5e5e5;
    color: #555;
    line-height: 1.5;
}

.create-group .number{
    color: #3474ba;
}

.guide {
    padding-top: 45px;
}

.guide>div {
    width: 318px;
    padding: 20px 0;
}

.guide div.left {
    width: 317px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
}

.guide .left .qrcode {
    width: 148px;
    height: 148px;
}

.guide .left .msg {
    margin-top: 15px;
    color: #7d7d7d;
}

.guide div.right {
    width: 268px;
    padding-left: 50px;
    text-align: left;
}

.guide .right>p {
    margin-bottom: 20px;
    word-wrap: break-word;
}

.guide .link {
    text-decoration: underline;
    color: #3474ba;
    line-height: 20px;
}
