body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
    /*font: 12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.mainInnerBox {
    width: 735px;
    margin: 0px auto;
    display: block;
    font-size: inherit;
}
.sousuoListBox {
    margin-left: -18px;
}
.ssCardItem {
    width: 100%;
    border: 1px solid #dcdcdc;
    height: auto;
    border-radius: 5px;
    float: left;
    margin: 20px 0px 0px 18px;
    overflow: hidden;
}
.siteCardItemImgA.souSuo {
    height: auto;
}
.siteCardItemImgA {
    display: block;
    overflow: hidden;
    position: relative;
}
.siteCardItemImgA>img {
    display: block;
    width: 100%;
    height: 100%;
}
.ssCardICBox {
    padding: 0px 12px;
    background-position: right 75px;
}
.siteCardICBox {
    background-repeat: no-repeat;
}
div, p, h1, h2, h3, textarea {
    word-wrap: break-word;
    word-break: break-all;
}
.ssCardICText {
       height: 100px;
    padding-top: 15px;
    overflow: hidden;
    padding-bottom:15px;
}
.ssCardICText h3 {
    max-height: 40px;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
.ssCardICText .siteCardICH3 {
    display: inline;
    padding: 0;
}
.siteCardICH3 {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #222;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    padding-top: 15px;
    text-decoration: none;
    word-break: break-all;
}
.siteCardIC_p.souSuo {
    height: 60px;
    -webkit-line-clamp: 3;
}
.siteCardIC_p {
    color: #888888;
    line-height: 20px;
    margin-top: 6px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
}
.siteCardFBox {
    padding: 16px 0px 0px 0px;
    border-top: 1px dashed #dcdcdc;
}
.siteCardFLabelBox {
    background: url(../../../v3/static/images/indexDatabg.png?v=1505451063) 0px -90px no-repeat;
    padding-left: 20px;
    height: 20px;
    overflow: hidden;
}
.siteIlB_box {
    font-size: 0px;
}
.siteCardFLabelBox a:first-child {
    margin-left: 0px;
}
.siteCardFLabelBox a {
    height: 20px;
    line-height: 20px;
    margin-left: 7px;
    font-size: 11px;
    color: #999999;
}
.siteIlB_box>*, .siteIlB_item {
    vertical-align: top;
    font-size: 12px;
    display: inline-block;
}
.site_ALink {
    text-decoration: none;
    color: inherit;
}
.siteCardRatio {
    height: 6px;
    border-radius: 3px;
    background-color: #e4e4e4;
    margin: 5px 0px 17px 0px;
    overflow: hidden;
}
.siteCardRatio>.siteCardRatioInner {
    height: 6px;
    background-color: #50abf2;
}
.siteCardFData {
    position: relative;
    text-align: center;
}
.siteCardFData .ftDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
}
.siteCardFData .ftDiv .ftP {
    color: #ff5001;
}
.siteCardFData>div .ftP {
    font-weight: bold;
}
.siteCardFData>div .scP {
    color: #999999;
    font-size: 11px;
}
.siteCardFData .scDiv {
    height: 46px;
    display: inline-block;
}
.siteCardFData>div .ftP {
    font-weight: bold;
}
.siteCardFData>div .scP {
    color: #999999;
    font-size: 11px;
}
.siteCardFData .thDiv {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: left;
}
.siteCardFData>div .ftP {
    font-weight: bold;
}
.siteCardFData>div .scP {
    color: #999999;
    font-size: 11px;
}
// projectdetail.html
.mainIn02Box {
    width: 1024px;
    margin: 0px auto;
    display: block;
    font-size: inherit;
}
.jlxqBox {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding-bottom: 40px;
    margin: 30px 0px 0px 0px;
    position: relative;
}
.jlxqTitle {
    height: 102px;
}
.xqDetailBox {
    border-top: 1px solid #eeeeee;
    padding: 25px 0px 45px 35px;
    height: 400px;
    position: relative;
}
.jltitphoto {
    float: left;
    margin: 18px 0 0 36px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
}
.jlxqtittext {
    width: 670px;
    float: left;
}
.jlxqh3_wai {
    height: 58px;
    position: relative;
    overflow: hidden;
    margin: 9px 0px 0px 20px;
}
.jlxqTitle_h3 {
    height: 58px;
    line-height: 58px;
    font-size: 24px;
    position: absolute;
    white-space: nowrap;
    word-wrap: normal;
}
.faqipeeson {
    padding: 0 0 0 20px;
}
.faqipeeson .txt1 {
    color: #888;
    float: left;
    line-height: 17px;
}
.faqipeeson .txt2 {
    color: #50abf2;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 5px;
    float: left;
    line-height: 17px;
}
.faqipeeson .per-v {
    width: 17px;
    height: 17px;
    background: url(../img/jangli/v.png?v=1505451063) no-repeat;
    margin: 0 0 0 10px;
    float: left;
}
.faqipeeson .lianxi {
    width: 45px;
    height: 21px;
    line-height: 21px;
    border: 1px solid #e3e3e3;
    float: left;
    text-align: center;
    color: #888;
    border-radius: 2px;
    margin: 0 0 0 5px;
    cursor: pointer;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff,#ededed);
}
.top-share {
    float: right;
    margin-right: 8px;
}
.xqDetailBox {
    border-top: 1px solid #eeeeee;
    padding: 25px 0px 45px 35px;
    height: 400px;
    position: relative;
}
.xqDetailBox .xqStatusSpan {
    position: absolute;
    width: 84px;
    height: 84px;
    background: url(../img/xqDetailStatusSpan.png?v=1505451063) no-repeat;
    top: 0px;
    right: 0px;
}
.xqDetailBox .xqStatusSpan.ordering {
    background-position: 0px -675px;
}
.xqDetailLeft {
    float: left;
    height: 400px;
    width: 534px;
    position: relative;
}
img.lazy.go, img.lazy1.go {
    opacity: 1 !important;
}
img.lazy, img.lazy1 {
    background: url(../img/lazy1.png?v=1505451063) no-repeat;
    background-size: 100% 100%;
    transition: opacity ease 0.3s;
    -webkit-transition: opacity ease 0.3s;
    opacity: 0.3;
}
.siteImgBox img {
    width: 100%;
    height: 100%;
    display: block;
}
.heart-shaped {
    position: absolute;
    top: 12px;
    right: 4px;
    width: 57px;
    height: 46px;
    background: url(../img/heart.png?v=1505451063) no-repeat;
    color: #fff;
    line-height: 44px;
    text-align: center;
}
.xqDetailRight {
    float: left;
    width: 360px;
    margin-left: 40px;
}
.xqDetailData:first-child {
    margin: 0px 0px 0px 0px;
}
.xqDetailData {
    margin: 10px 0px 0px 0px;
}
.xqRatioOuterBox {
    margin-top: 10px;
}
.xqRatioOuterBox .ftP {
    text-align: right;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    font-family: 'GothamBold','GothamBold1';
}
.xqRatio {
    height: 8px;
    border-radius: 4px;
    background-color: #ebeef1;
    overflow: hidden;
}
.xqRatio .xqRatioInner {
    height: 8px;
    border-radius: 4px;
    background-color: #50abf2;
}
.xqRatioText {
    color: #999999;
    margin-top: 10px;
}
.xqRatioText .leftSpan {
    float: left;
    color: #333;
}
.xqRatioText .leftSpan span {
    color: #999999;
}
.xqRatioText .leftSpan b {
    font-family: 'GothamBold','GothamBold1';
}
.xqRatioText span b {
    color: #333;
    font-family: 'GothamBold','GothamBold1';
}
.xqRatioText .rightSpan {
    float: right;
}
.xqRatioText span {
    height: 20px;
    line-height: 20px;
}
.xqDetailBtnBox {
    width: 350px;
    margin: 25px auto 0px auto;
}
.xqDetail_supA {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #50abf2;
    border-radius: 3px;
    text-align: center;
}
.share-wechat {
    font-size: 16px;
    margin-top: 17px;
    height: 38px;
    line-height: 38px;
    position: relative;
}
.share-wechat a {
    width: 100%;
    display: block;
}
.xqDetailShareBox {
    margin-top: 25px;
}
.jlxqTitleText {
    height: 50px;
    overflow: hidden;
}
.siteIlB_box {
    font-size: 0px;
}
.jlxqTitleText {
    height: 50px;
    overflow: hidden;
}
.xqTabOuterBox {
    height: 60px;
}
.xqTabHeader {
    height: 60px;
    background-color: #e7ebef;
}
.xqInner {
    width: 970px;
    margin: 0px auto;
    display: block;
    font-size: inherit;
}
.xqTabNav_ul {
    padding-top: 13px;
    float: left;
}
.siteIlB_box {
    font-size: 0px;
}
.xqTabNav_ul li:first-child {
    margin-left: 0px;
}
.xqTabNav_ul li {
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-left: 25px;
    cursor: pointer;
}
.xqTabNav_ul li b {
    font-family: 'GothamBold','GothamBold1';
}
.xqTabNav_ul li {
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-left: 25px;
    cursor: pointer;
}
.xqInner {
    width: 970px;
    margin: 0px auto;
    display: block;
    font-size: inherit;
}
.xqMainOuterBox {
    padding: 23px 0px 0px 0px;
    position: relative;
}
.xqMainLeftBox {
    width: 670px;
    float: left;
}
.common-share-box {
    border: 4px solid #f1f1f1;
    margin-bottom: 20px;
    padding: 0 25px 0;
    height: 72px;
}
.fl {
    float: left;
}
.share-num {
    font-size: 16px;
    padding-top: 24px;
    display: block;
}
.common-share {
    float: right;
    margin-top: 20px;
}
.common-share li {
    float: left;
    margin-left: 10px;
    width: 90px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    position: relative;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline;
    line-height: normal;
    outline: none;
    border: none;
}
.xqLeftTitleBox {
    height: 47px;
    position: relative;
}
.xqLeftTitle_p {
    height: 22px;
    border-bottom: 3px solid #f1f1f1;
}
.xqLeftTitleInner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.xqLeftTitleInner h2, .xqLeftTitleInner span {
    display: inline-block;
    vertical-align: top;
    height: 41px;
    line-height: 41px;
    padding: 0px 12px;
    border: 3px solid #f1f1f1;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    color: #50abf2;
    min-width: 80px;
}
.zxjz_NavOuterBox {
    padding: 0px 0px 0px 70px;
    margin: 30px 0px 0px 0px;
}
.zxjz_NavBox {
    border-left: 3px solid #f1f1f1;
    padding: 0px 0px 0px 20px;
}
.zxjz_NavItem:first-child {
    padding-top: 0px;
    border-top: none;
}
.zxjz_navItemInner {
    position: relative;
}
.zxjz_navItem_h3 {
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}
.zxjz_navItem_h3 a {
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}
.colorALink {
    color: #50abf2 !important;
    text-decoration: none;
}
.zxjz_navItemInner .textP {
    line-height: 20px;
}
.zxjz_navItemInner .picListBox {
    margin: 0px 0px 0px -10px;
}
.zxjz_navItemInner .picListBox .picItem {
    width: 75px;
    height: 55px;
    margin: 10px 0px 0px 10px;
    float: left;
    cursor: pointer;
}
.siteImgBox img {
    width: 100%;
    height: 100%;
    display: block;
}
.zxjz_navItemInner .lastInner {
    position: absolute;
    width: 0px;
    height: 100%;
    padding: 0px 0px 20px 0px;
    top: 0px;
    left: -23px;
    border-left: 3px solid #FFFFFF;
}
.zxjzILBox {
    position: absolute;
    width: 100px;
    padding-right: 15px;
    top: 0px;
    right: 600px;
    text-align: right;
}
.zxjzILBox .timeP {
    height: 20px;
    line-height: 20px;
    color: #666666;
}
.zxjzILBox .statusIcon.gr {
    background-position: 0px -280px;
}
.zxjzILBox .statusIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: -11px;
    background: url(../../../v3/static/images/jianglixiangqingBg.png?v=1505451063) no-repeat;
}
.zxjz_pageBox {
    margin: 15px 0px 50px 0px;
}
.sitePageBox {
    text-align: center;
    font-size: 0px;
}
.newXmxqBox {
    padding: 20px 0px 30px 0px;
}
.newXmxqBox .xqLeftTitleBox {
    margin: 10px 0px;
}
.xqLeftTitleBox {
    height: 47px;
    position: relative;
}
.newXmxqBox p {
    line-height: 26px;
    font-size: 13px;
    color: #333;
}
.xqLeftTitle_p {
    height: 22px;
    border-bottom: 3px solid #f1f1f1;
}
.xqLeftTitleInner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.xqLeftTitleInner h2, .xqLeftTitleInner span {
    display: inline-block;
    vertical-align: top;
    height: 41px;
    line-height: 41px;
    padding: 0px 12px;
    border: 3px solid #f1f1f1;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    color: #50abf2;
    min-width: 80px;
}
.newXmxqBox p {
    line-height: 26px;
    font-size: 13px;
    color: #333;
}
.newXmxqBox .xqLeftTitleBox {
    margin: 10px 0px;
}
.xqLeftTitleInner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.xqLeftTitle_p {
    height: 22px;
    border-bottom: 3px solid #f1f1f1;
}
.xqLeftTitleInner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.zxjz_inputOuterBox {
    border: 1px solid #e4e4e4;
    background-color: #f0f4fa;
    border-radius: 3px;
    margin: 22px 0px 0px 0px;
    padding: 18px 13px 15px 70px;
    position: relative;
}
.zxjz_countBox {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 20px;
    left: 12px;
}
.siteCircleBox img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.sitePHBox {
    position: relative;
}
.zxjzTextArea {
    width: 563px;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 1px rgba(4,0,0,0.05) inset;
    padding: 10px;
}
.zxjzTextArea+.sitePHTip {
    left: 11px;
    top: 9px;
}
.sitePHTip {
    position: absolute;
    left: 0px;
    top: 0px;
    color: #999999;
    background-color: transparent;
    height: 20px;
    line-height: 20px;
    display: none;
}
.zxjz_btnBox {
    height: 36px;
    margin: 10px 0px 0px 0px;
}
.siteIlB_box>*, .siteIlB_item {
    vertical-align: top;
    font-size: 12px;
    display: inline-block;
}
.zxjz_btnBox span {
    padding: 0px 0px 0px 8px;
    line-height: 36px;
    color: #999;
}
.zxjz_btnBox a.zxjz_publishA {
    background-color: #50abf2;
    border-color: #3d9ee9;
    float: right;
}
.zxjz_btnBox a {
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 1px solid;
    border-radius: 3px;
}
.zxjz_inputOuterBox .errorP {
    height: 36px;
    line-height: 36px;
    color: #f00;
    margin-right: 10px;
    float: right;
}
.zxjz_picList {
    margin-top: 15px;
}
.plListItem:first-child {
    border-top: none;
}
.plListItem {
    padding: 15px 0px 15px 55px;
    border-top: 1px solid #e5e5e5;
    position: relative;
}
.plItemCountBox {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 15px;
    left: 0px;
}
.plItem_countA {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.plItem_textP {
    font-size: 13px;
}
.emoji1f601 {
    background-position: -0px -11660px;
}
.emoji {
    margin: 0px;
    padding: 0px;
    background: url(../../../v3/static/images/icon/emoji.png?v=1505451063) top left no-repeat;
    width: 20px;
    height: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
.plItemFooter {
    height: 30px;
    line-height: 30px;
}
.plItemFooter .timeSpan {
    float: left;
    height: 30px;
    line-height: 30px;
    color: #cccccc;
}
.plItemFooter .plA {
    color: #ff6520;
    float: right;
}