#container{
    background: #F5F5F5;
}
.wemall{
    width: 1200px;
    height:auto;
    margin: 0 auto 57px;
    padding-top: 25px;
}

/*分类*/
.wemall-cat{
    width:100%;
    height:60px;
    margin-bottom: 25px;
}
.cat-nav{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #D9D9D9;
    background: #fff;

}
.cat-nav>li{
    width: auto;
    height: 100%;
    font-size: 14px;
    color: #333333;
    /*margin-right: 34px;*/
    line-height:60px;
    float: left;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
}
.cat-nav>.check_cur{
    color: #46B2EE;
    border-bottom: 2px solid #46B2EE;
}

.banner{
    width: 1200px;
    height: 440px;
    border-radius: 5px;
    overflow: hidden;
    background-image: url("/resource/wetpl/vertical/web/wemall/img/01.png");
    background-repeat: no-repeat;
    background-size:132%;
    background-position:-64px -177px;
    margin-bottom: 25px;
}
/*广告展示*/
.advert{
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    overflow: hidden;
}
.advert>li{
    width:25%;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    float: left;
    cursor: pointer;
    position: relative;
}
.advert>li:last-of-type{
    border-right: none;
}
.advert>li>a{
    width: 100%;
    height:100%;
    display: block;
}
.advert>li>a>img{
    width: 100%;
    height:100%;
    display: block;
}
/*内容列表*/
.wemall-con{
    width: 100%;
    height: auto;
}
.wemall-son{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
}
.title{
    width: 100%;
    height: 52px;
    padding:20px 15px;
    border: 1px solid #D9D9D9;
    background: #fafafa;
}
.title>h3{
    width: auto;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color:#333;
    padding-left: 10px;
    float: left;
}
.title>a{
    font-size: 14px;
    color: #666666;
    float: right;
}
.wemall-clist{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.clist-advert{
    width:50%;
    height: 232px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-top: none;
    /*margin-bottom: 25px;*/
    position: relative;
    float: left;
    background: #ffffff;
    overflow: hidden;
}
.adv-list{
    width:598px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.adv-list>li{
    width:598px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;


}
.adv-list>li:first-of-type{
    left: 0;
}
.adv-list>li>a{
    width: 598px;
    height: 100%;
    display: block;
}

.adv-list>li>a>img{
    width: 598px;
    height: 100%;
    display: block;
}
.btn{
    width: 100%;
    height: 38px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -19px;
    display: none;
}
.btnL{
    width: 24px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-image: url("/resource/wetpl/vertical/web/wemall/img/L.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    cursor: pointer;
}
.btnR{
    width: 24px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    background-image: url("/resource/wetpl/vertical/web/wemall/img/R.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    cursor: pointer;
}


.wemall-clist>li{
    width:25%;
    height:232px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-left: none;
    border-top: none;
    /*margin-bottom: 25px;*/
    position: relative;
    float: left;
    background: #ffffff;
}
.wemall-clist>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
.wemall-clist>li:nth-last-of-type(4){
    border-left: 1px solid #D9D9D9;
}
/*.wemall-clist>li:last-of-type{*/
    /*-webkit-border-top-right-radius: 5px;*/
    /*-webkit-border-bottom-right-radius: 5px;*/
/*}*/
.give{
    width:auto;
    height:auto;
    position:absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}
.photo{
    width: 100%;
    height: 119px;
    padding-top:20px;
    margin-bottom: 25px;
}
.photo>img{
    margin: 0 auto;
    display: block;
}
.wemall-clist>li>a>h3{
    height: 17px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 21px;
    text-align: center;
    overflow: hidden;
}
.price{
    height: 27px;
    font-size: 18px;
    color: #DE4040;
    margin-bottom:20px;
    text-align: center;
    overflow: hidden;
}



.indicator{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15px;
    z-index: 2;
}
.indicator a{
    display: inline-block;
    width: 20px;
    height: 5px;
    margin:0 3px;
    background: #fff;
}
.indicator-active{
    background: #FF8C00!important;
}