<!DOCTYPE html>
<html>
<head lang="en">
    <title></title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" id="favicon" href="" />
    <link rel="stylesheet" href="/common/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/common/layui/css/layui.css" />
    <link rel="stylesheet" href="{{PATH_TML}}css/modal_login.css" />
    <link rel="stylesheet" href="{{PATH_TML}}css/normalize.css" />
    <link rel="stylesheet" href="/common/magazine/css/iview.css">
    <link rel="stylesheet" href="{{PATH_TML}}css/wepage.css" />
    <script src="/common/js/jquery-3.2.1.min.js"></script>
    <script src="/common/public/js/app.js"></script>
    <script src="/common/iview/vue.min.js"></script>
    <script src="/common/iview/axios.min.js"></script>
    <script src="/common/iview/libs/util.js"></script>
    <script src="/common/iview/libs/filter.js"></script>
    <script src="/common/public/js/model/ver_ajax.js"></script>
    <script src="/common/layui/layui.js"></script>
    <script src="{{PATH_CONFIG}}"></script>
    <script src="{{PATH_TML}}js/modal_login.js"></script>
    <script src="/common/magazine/js/iview.min.js"></script>
    <link rel="stylesheet" href="/common/jquery.animsition/css/animsition.min.css">
    <script src="/common/jquery.animsition/js/jquery.animsition.min.js"></script>


    <link rel="stylesheet" href="/resource/wetpl/vertical/web/css/public_main.css">
    <link rel="stylesheet" href="/resource/wetpl/vertical/web/font/iconfont.css" />
    <!--<link rel="stylesheet" href="/resource/wetpl/vertical/web/css/news_base.css" />-->
    <!--<link rel="stylesheet" href="/resource/wetpl/vertical/web/css/modal_login.css" />-->
    <!--<link rel="stylesheet" href="/resource/wetpl/vertical/web/css/article.css">-->


    <!--<link rel="stylesheet" href="/common/css/buttons.css">-->
    <!--<link rel="stylesheet" href="/common/layer-v3.0.3/layer-v3.0.3/layer/skin/default/layer.css">-->

    <link rel="stylesheet" type="text/css" href="/resource/wetpl/vertical/web/activity/css/activity.css">




    <link rel="stylesheet" href="{{PATH_TML}}activity/css/activitydetail.css" />
</head>

<style>
    ::-webkit-scrollbar {
        width: 0;
    }

    html {
        position: absolute!important;
        overflow-y: auto!important;
    }

    .payment-block {
        width: 300px;
        margin: 0 auto;
    }

    .payment-desc {
        text-align: center;
        margin-top: 10px;
    }

    .payment-desc p {
        font-size: 16px;
    }

    .payment-desc p b {
        color: #FF0036;
        font-size: 18px;
    }

    .payment-mark {
        text-align: center
    }

    .bar-code {
        text-align: center;
    }
</style>
<body>
<div class="modal_login" id="modal_login"></div>
<div id="wepage">
    <div id="header">
        <div id="topline">
            <a href="/"><img src="/common/img/new/logo-wepage.png" alt=""/></a>
            <a href="/user"><p><img :src="setImg(plats_user_info.avatar ,'/common/img/new/avatar.png', 100, 100)" alt=""/>用户中心</p></a>
        </div>
        <div id="userinfo" :style="{'background': 'url(' + setBg(pages_info.plats_domian.background, '/common/img/new/wepage.png') + ') no-repeat center','background-size': '100%'}">
            <div>
                <a :href="'/' + pages_info.plats_domian.domain"><img class="avatar" :src="setImg(brand(pages_info.plats_user.avatar) ,'/common/img/new/avatar.png', 100, 100)" alt=""/></a>
                <p>
                        <span>
                            {{pages_info.plats_user.real_name + '的微主页' | isBrand('user')}}
                            <img :src="imgState('/common/img/new/member.png', '/common/img/new/memberoff.png', pages_info.plats_user_cert.is_authenticated == 1)" alt=""/>
                            <img :src="imgState('/common/img/new/care.png', '/common/img/new/careoff.png', info.if_follow == 1 ? true : false)" alt="" @click="login"/>
                        </span>
                    <span>{{pages_info.plats_user.motto | isBrand('motto')}}</span>
                </p>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li v-for="(e, i) in menu.list" @mouseenter="style(menu, i)" :class="{'underline': i === menu.flag}">{{e.name}}</li>
            </ul>
        </div>
    </div>
    <div id="container">
        <div id="main">

            <!--活动开始-->
            <div id="art-body">
                <div class="index-content ">
                    <div class=" page-content container">
                        <div class="row">
                            <h2 class="activity_title" style="padding-left: 15px;padding-left: 15px; display: block; height: auto; margin-bottom: 0;     margin-top: 0px;padding: 31px 15px;font-size: 26px" v-html="active_detail.title"></h2>
                            <div class="activity-main col-sm-12">
                                <div class="woyaobaoming">
                                    <div class="z z-img cover">
                                        <img style="width: 450px; height:260px;" :src=" 'http://images.wezchina.com/' + active_detail.cover" alt="">
                                    </div>
                                    <div class="z main-msg">
                                        <p class="title activity_title_x" :title="active_detail.title" v-html="active_detail.title"></p>
                                        <p class="shi-jian">
                                            <span class="username"></span>
                                            <span><i class="fa fa-clock-o "></i><span class="end_time" v-html="active_detail.end_time"></span></span> <span><i class="fa fa-eye"></i><span class="view_num">12</span></span>
                                        </p>
                                        <div class="line"></div>
                                        <div class="time"><span><i class="fa fa-clock-o"></i>时间 :</span><span class="activity_time" style="color: #111">{{cate_time}} -- {{end_time}}</span><span></span><span style="margin-left: 10px"><span class="deadline">{{active_detail.enroll_deadline}}</span> 报名截止</span>
                                        </div>
                                        <div class="didian"><i class="fa fa-map-marker"></i>地点 ：<a class="city-link" :href=" 'http://map.baidu.com/?newmap=1&from=alamap&tpl=mapdots&s=con%26wd%3D'  + active_detail.area_name + active_detail.address + '%26c%3D233' " target="_blank"><span class="city">{{active_detail.area_name}}{{active_detail.address}}</span></a></div>
                                        <p class="baomingrenshu"><i class=" fa fa-user"></i>报名人数 : <span>已有 <span class="apply_num" v-html="active_detail.enroll_num"></span> 人报名</span>
                                            <span style="margin-left: 10px">限 <span class="enroll_limit" v-html="active_detail.enroll_limit"></span> 人报名</span></p>
                                        <p class="pay-type">
                                            <i class="fa fa-cny"></i>
                                            费用 :
                                            <span style="padding-left: 10px;color:#f7b026" v-if="active_detail.price == 0.00">免费</span>
                                            <span style="padding-left: 10px;color:red" v-if="active_detail.price != 0.00" v-html="active_detail.price"></span>
                                        </p>


                                        <div class="bbbao">
                                            <span>
                                                <a href="javascript:" data-id="1" class="support" style="width: 245px; height: 35px;border-radius: 5px;background: #00A0E9;" v-if="active_detail.onStatus != '已结束' ">我要报名</a>
                                                <a href="javascript:" data-id="1" class="support" style="width: 245px; height: 35px;border-radius: 5px;background: rgb(204, 204, 204);" v-if="active_detail.onStatus == '已结束' ">我要报名</a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="left col-sm-8" style="width: 840px">
                                <div class="activity-main-center">
                                    <div class="project-box clearfix">
                                        <div style="height: 60px">
                                            <ul class="project_t" role="tablist">
                                                <li role="presentation" class="menuItem active" id="projectDe">
                                                    <a class="a-none" href="#acitivty-detail" @click="shop_click(0)">活动详情</a>
                                                </li>
                                                <li role="presentation" class="menuItem">
                                                    <a class="a-none" href="#acitivty-honored" @click="shop_click(1)">活动嘉宾(<span class="guest_num" v-html="guest_num" style="width:20px"></span>)</a>
                                                </li>
                                                <li role="presentation" class="menuItem ">
                                                    <a class="a-none" href="#acitivty-guests" @click="shop_click(2)">活动成员(<span class="enroll_num">{{active_num}}</span>)</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="show-content project_con panel panel_color" id="panel_top1" style="border-radius: 0;border-top: none">
                                            <div class="show-content" id="acitivty-detail" v-html="active_detail.content"></div>
                                            <p class="main-title">活动嘉宾 (<span class="guest_num">{{guest_num}}</span>)</p>
                                            <div class="line"></div>
                                            <div class="clearfix" id="acitivty-honored">

                                                <div class="actvity-supporter col-sm-12 text-center" v-if="guest_num == 0">
                                                    暂无嘉宾
                                                </div>
                                                <div class="actvity-supporter col-sm-12" v-if="guest_num != 0" v-for="item in guest_list">
                                                    <div class="supporter_img col-xs-6">
                                                        <img class="img-circle " :src=" 'http://images.wezchina.com/' + item.avatar">
                                                    </div>
                                                    <div class="supporter_user">
                                                        <span class="supporter_user_log" v-html="item.name"></span>
                                                        <div class="supporter_user_color" v-html="item.position"></div>
                                                        <div class="supporter_user_color" v-html="item.company"></div>
                                                    </div>
                                                </div>

                                            </div>
                                            <p class="main-title">活动成员 (<span class="enroll_num">{{active_num}}</span>)</p>
                                            <div class="line"></div>
                                            <div class="huodongchengyuan clearfix" id="acitivty-guests">

                                                <div class="text-center" v-if="active_num == 0">
                                                    暂无成员
                                                </div>
                                                <div class="z" v-if="active_num != 0" v-for="item in active_guest">
                                                    <p class="">
                                                        <img class="" :src=" 'http://images.wezchina.com/' + item.avatar ">
                                                    </p>
                                                    <p class="">
                                                        <span class="" style="width: 57px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;" v-html="item.name"></span>
                                                    </p>
                                                </div>

                                            </div>
                                            <div id="folding"> </div>
                                            <div class="clearfix"></div>
                                            <div class="see-more text-center">没有更多</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right p0 col-sm-3">
                                <div class="right-box right-intro activity-detail" style="margin-top: 0">
                                    <div class="top top_avatar">
                                        <img src="http://images.wezchina.com/pages/article/1513578681761.jpg" alt="">
                                        <div class="jubanfang">
                                            <a class="linkto " href="/index"><img src="/common/img/vrenzheng.png" alt=""></a>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6" style="border-right: 1px solid #ccc">
                                                <p><span class="act_num">13</span></p>
                                                <p>举办活动</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p><span class="act_per_num">27</span></p>
                                                <p>参与人数</p>
                                            </div>
                                        </div>
                                        <p class="activity-msg"></p>
                                        <p class="guanzhu"><span class="collect-btn-click" data-id="1" id="">+收藏</span></p>
                                        <p class="lianxi"><span>联系Ta</span></p>
                                    </div>
                                    <div class="erweima">
                                        <div class="row m0">
                                            <div class="oline-detail">
                                                <!-- <div><img src="/common/img/wecard_qrcode.png" alt="" width="100"/></div> -->
                                                <div id="activity_code" rel=""><canvas width="110" height="110"></canvas></div>
                                                <div>
                                                    <p>微信扫描二维码</p>
                                                    <p>支持Ta</p>
                                                    <p>或分享给好友</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 活动列表部分start -->
                <!-- <div id="art-main">
                    <div class="user_info_left clearfix">

                    </div>
                </div> -->
                <!-- 活动列表部分end -->



                <!--  <div id="art-main">
                    <div class="art-title">Ta发布的文章</div>
                    <div class="art-part row">
                        <ul class="nav nav-tabs col-md-8 art-type"></ul>
                    </div>
                    <div class="art-cont"></div>
                </div> -->

            </div>
            <!--活动结束-->
        </div>
    </div>
</div>
<script>
    // new Vue({
    //     el: '#wepage',
    //     data: {
    //         menu: {},
    //         dataMenu: ['我的主页', '我的文章', '我的活动', '我的商城', '我的圈子'],
    //         pages: {total: 25, page: 1, limit: 10},
    //         active: 'fans',
    //         info: {},
    //     },
    //     created: function(){
    //         //menu
    //         this.menu = {list: this.dataMenu.map(e => ({name: e})), flag: 0};
    //
    //         axios.get(apiUrl + 'circel/index?domain=' + pages_info.plats_domian.domain, {
    //             headers: {Token: plats_token}
    //         }).then(data => {
    //             this.info = data.data.data;
    //             console.log(this.info)
    //         })
    //
    //         $('#favicon').attr('href', ApiMaterPlatQiniuDomain + plats_info.favicon);
    //         $("title").text(pages_info.plats_show.head_title)
    //     },
    //     methods: {
    //         login: function(){
    //             if (!docCookies.getItem("token")) {
    //                 $("#modal_login").fadeIn(300);
    //             } else {
    //                 //接口调用
    //                 info.if_follow == 1 ? console.log('取消关注') : console.log('已关注');
    //             }
    //         },
    //         change: function(page){
    //             this.isLoading = true;
    //             this.pages.page = page;
    //         },
    //         style: function(list, i) {
    //             list.flag = i;
    //         },
    //         select: function(type) {
    //             this.active = type;
    //         },
    //         setImg: function(url, init, w, h, mode) {
    //             if (url != '' && url != null && url != undefined) {
    //                 if (url.indexOf('http') === -1 && url.indexOf('common') === -1) {
    //                     return mode != undefined ? ApiMaterPlatQiniuDomain + url + '?imageView2/' + mode + '/w/' + w + '/h/' + h
    //                             : ApiMaterPlatQiniuDomain + url + '?imageView2/3/w/' + w + '/h/' + h;
    //                 } else {
    //                     return url;
    //                 }
    //             } else {
    //                 return init;
    //             }
    //         },
    //         setBg: function(url, init) {
    //             if (url != null) {
    //                 return ApiMaterPlatQiniuDomain + url;
    //             } else {
    //                 return init;
    //             }
    //         },
    //         imgState: function(on, off, state) {
    //             if (state) {
    //                 return on;
    //             } else {
    //                 return off;
    //             }
    //         },
    //         area: function(province, area) {
    //             if (province != null) {
    //                 return province + ' ' + area;
    //             } else {
    //                 return '来自火星';
    //             }
    //         },
    //         brand: function(avatar) {
    //             if (pages_info.plats_brand) {
    //                 if (pages_info.plats_brand.logo != '') {
    //                     return pages_info.plats_brand.logo;
    //                 } else {
    //                     return avatar;
    //                 }
    //             } else {
    //                 return avatar;
    //             }
    //         }
    //     },
    //     filters: {
    //         isName: function(val, type) {
    //
    //         },
    //         isBrand: function(val, type) {
    //             if (pages_info.plats_brand) {
    //                 switch(type) {
    //                     case 'user': return pages_info.plats_brand.title; break;
    //                     case 'motto': return pages_info.plats_brand.slogan; break;
    //                     default: break;
    //                 }
    //             } else {
    //                 if (pages_info.plats_domian.domain == 'index' && type == 'user') {
    //                     return plats_info.plat_name
    //                 } else {
    //                     return val;
    //                 }
    //             }
    //         }
    //     }
    // })

    new Vue({
        el: '#main',
        data: {
            id_domain:$app.get_router(3),   //活动id
            active_detail:{},               //活动信息
            cate_time:"",                   //开始时间
            end_time:"",                    //结束时间
            guest_list:[],                   //嘉宾列表
            guest_num:0,                      //邀请嘉宾人数
            active_guest:[],                   //活动成员
            active_num:0,                      //参加活动人数
        },
        mounted: function() {

            this.$nextTick(()=>{
                // 活动信息
                console.log(this.id_domain)

                this.active_detail_show(this.id_domain);
                this.guest_show(this.id_domain);
                this.active_guest_show(this.id_domain);


            });

        },
        created: function(){

        },
        methods: {

            // 活动获取详情
            active_detail_show(id){
                ajax.get(ACTIVITY_DETAIL + '/' + id).then((res)=>{
                    if(res.code == 200) {
                       this.active_detail=res.data;
                       this.cate_time=res.data.created_at.substr(0,10)
                        this.end_time=res.data.end_time.substr(0,10)
                    }
                })
                // $.ajax({
                //     url: ACTIVITY_DETAIL+"/"+id,
                //     type: 'get',
                //     headers: {
                //         'Token': localStorage.getItem('token')
                //     },
                //     success: function(data){
                //         console.log(data);
                //         if (data.code == 200){
                //
                //             $(".wl-poster-title").text(data.data.title);
                //             $(".wl-poster img").attr("src",qiniu_bucket_domain+data.data.cover);
                //             $(".activity_time").text(data.data.begain_time+" "+data.data.begain_week+" ~ "+data.data.end_time +" "+data.data.end_week);
                //             $(".city").text(data.data.area_name+data.data.address);
                //             data.data.Sponsor.split(",").map(x => {
                //                 $(".sponsor_p").append('<a href="javascript:void(0);" class="sponor">'+x+'</a>')
                //             })
                //             $(".word-blue").text(data.data.enroll_num);
                //             if(data.data.enroll_limit>0){
                //                 $(".enroll_limit").text(data.data.enroll_limit);
                //
                //             }else{
                //                 $(".enroll_limit").text("多");
                //             }
                //             $(".js-detail").html(data.data.content);
                //             if(data.data.onStatus=="已结束"){
                //                 $(".J_BtnSureBuyTicket").text("截止报名");
                //                 $(".qrcode img").attr("src",QRCODE+'?url=已截止');
                //             }else{
                //                 if(data.data.enroll_num<data.data.enroll_limit || data.data.enroll_limit==0){
                //                     $(".J_BtnSureBuyTicket").on("click",function(){
                //                         if(isLogin){
                //                             isapply(activityid,weid);
                //
                //                             // window.location='/m/activity/apply/'+id;
                //
                //                         }else{
                //                             router("login");
                //                         }
                //                     });
                //                     // 生成报名二维码
                //                     $(".qrcode img").attr("src",QRCODE+'?url='+localStorage.getItem("localhostPath")+'/m/activity/apply/'+id+'&margin=5&size=200');
                //                     console.log(localStorage.getItem("localhostPath"));
                //                     // creatcode(localStorage.getItem("localhostPath")+'/activity/apply/'+id);
                //                 }
                //             }
                //
                //
                //
                //         } else {
                //             mess_tusi(data.message);
                //         }
                //     },
                //     error: function(xhr){
                //         console.log(xhr);
                //     }
                // })
            },
            // 活动嘉宾
            guest_show(id){
                var self=this;
                var sendData={
                    activity_id:id,
                }
                $.ajax({
                    url: ACTIVITY_GUEST_LISTS,
                    type: 'post',
                    data: sendData,
                    headers: {
                        'Token': localStorage.getItem('token')
                    },
                    success: function(data){
                        console.log(data);
                        if (data.code == 200){

                            self.guest_list=data.data.list;
                            self.guest_num=data.data.total;

                        }
                    },

                })
            },
            // 活动成员
            active_guest_show(id){
                var self=this;
                var sendData={
                    activity_id:id,
                }
                $.ajax({
                    url: ACTIVITY_ENROLL_LISTS,
                    type: 'post',
                    data: sendData,
                    headers: {
                        'Token': localStorage.getItem('token')
                    },
                    success: function(data){
                        console.log(data);
                        if (data.code == 200){

                            self.active_guest=data.data.list;
                            self.active_num=data.data.total;

                        }
                    },

                })
            },
            //用户信息
            //  点击事件
            shop_click(cate) {
                var top;
                $(".project_t").children("li").children("a").css({color:"#333",fontWeight:500});
                $(".project_t").children("li").eq(cate).children("a").css({color:"#007cd3",fontWeight:600,});

                if(cate == 0){
                    console.log(1)
                    top=$(".project_t").position().top-50
                }else if(cate == 1){
                    console.log(2)
                    top=$(".main-title").eq(0).position().top-50
                }else if(cate == 2){
                    console.log(3)
                    top=$(".main-title").eq(1).position().top-50
                }
                $("html,body").animate({scrollTop:top}, 500);
            },
        },

    })
</script>
</body>
</html>