<#extend#>public/coc/coc_extend.html</#extend#>
<link rel="stylesheet" href="{{PATH_TML}}css/coc/component.css">
<div id="viewport" class="viewport" style="width:100%">

	<div class="xinxi_mar" id="viewport_list">
		<div class="xinxi">
			<ul>
				<li v-for="(item, index) in two_name" >
					<a  @click="channel(item.domain);" >{{item.title}}</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="xinxlt_lb">
			<ul id="con_list">
				<li v-for="(item, index) in list_data">
					<a href="/index7">
						<h2><b style="font-weight:normal" v-html="item.title"></b></h2><span class="dwgklb_sj">{{item.publish_time.substr(0, 10)}}</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>

</html><script type="text/javascript">
	new Vue({
    	el: '#app',
    	data : {
    		plats : plats_info,
            title : '',
    		two_name : [],
    		cate_list: [],
    		list_data: [],
    		params : {
    			page : 1,
	    		limit : 20,
	    		cate_id : '',
	    		channel_id : window.location.pathname.split('/').slice(1,2).shift(),
    		},
    		cate_name : window.location.pathname.split('/').slice(1,2)[0],
    		dom : '#viewport_list'
    	},
        mounted() {
            console.log(window.location.pathname.split('/'));
        	if(this.params.channel_id != window.location.pathname.split('/').pop())
        	{
        		this.params.cate_id = window.location.pathname.split('/').pop();
        	}
        	this.init();
        },
        methods:{
        	channel(domain)
        	{
        		$app.open_page(all_domian + this.cate_name + '/' + domain);
        	},
        	//获取分类
        	init()
        	{
			    ajax.get('cms/channels/domain_query/'+this.params.channel_id).then((res) => {
			    	//$app.set_title(res.data.title);
                    this.title += res.data.title
			      	ajax.get('cms/cate_tree_by_channel' , {params:{channel:res.data.weid}}).then((res) => {
				        if (res.code === 200) {
                            this.two_name = res.data;	
                            for(var item of this.two_name)
                            {
                                if(item.domain == this.params.cate_id)
                                {
                                    plats_info.show_title = item.title;  
                                    this.title += '-' + item.title;
                                }
                            }	
                            $app.set_title(this.title);	
                                	
				        	this.data_list();
				        }
				    });
			    });
        	},
        	// 使用common_page 方法必须定义data方法 以及对象 params
        	data(params , call){
        		return $mob_ajax.cms_lists(params , call);
        	},
        	data_list() {
        		$mob_ajax.common_page(this , this.params);
        	}
        }
    });
</script>