#auth {
    color: red;
    background: #f7f7f7;
}

#top {
    background: url(../img/top.png) no-repeat center;
    background-size: 100% 100%;
}

#we-release {
    color: red;
    background: #f7f7f7;
}

.we-release-add {
    position: relative;
    width: 950px;
    min-height: 200px;
    height: auto;
    margin-left: 350px;
    background: white;
    display: none;
}

.art-issuer span {
    padding-right: 15px;
}

.show-art {
    position: relative;
    width: 340px;
    height: 360px;
    border: 1px solid #d1d1d1;
    top: 120px;
    margin-left: 30px;
    margin-bottom: 30px;
    background: white;
    float: left;
}

.show-title {
    width: 312px;
    height: 70px;
    margin-left: 14px;
}

.at {
    height:50px;
    line-height: 50px;
    font-size: 18px;
    color: #272727;
}

.ad {
    height: 20px;
    line-height: 1px;
    font-size: 15px;
    color: #828282;
}

.show-pic {
    width: 312px;
    height: 140px;
    margin-left: 14px;
    background: url(../../common/img/p2240259307.jpg) no-repeat center;
    background-size: 100%;
}

.show-cont {
    width: 312px;
    height: 90px;
    margin-top: 10px;
    margin-left: 14px;
    font-size: 14px;
}

.show-bottom {
    width: 312px;
    height: 50px;
    margin-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #EEEEEE;
}

.show-read {
    width: 95px;
    height: 30px;
    padding-left: 15px;
    line-height: 30px;
    border-right: 1px solid #EEEEEE;
    float: left;
    cursor: pointer;
}

.show-edit {
    width: 120px;
    height: 30px;
    padding-left: 35px;
    line-height: 30px;
    border-right: 1px solid #EEEEEE;
    float: left;
    cursor: pointer;
}

.show-del {
    width: 95px;
    height: 30px;
    padding-left: 35px;
    line-height: 30px;
    float: left;
    cursor: pointer;
}

.show-read img, .show-edit img, .show-del img {
    margin-bottom: 4px;
}

.show-read:hover, .show-edit:hover, .show-del:hover {
    color: red;
}

.we-release span, .we-release-add span {
    font-size: 15px;
    padding-left: 50px;
}

.we-release input, .we-release select{
    width: 300px;
    height: 35px;
    display: inline;
    margin: 15px;
}

.art-text, .art-cover, .art-link {
    line-height: 65px;
}

.art-private {
    margin-top: 10px;
    line-height: 50px;
}

#yes, #no {
    margin-left: -30px;
}

.editor {
    margin-top: -500px;
    margin-left: 180px;
    display: none;
}

.image-upload{
    position: relative;
    width: 150px;
    height: 150px;
    border: dashed 1px #c4c4c4;
    margin-top: -175px;
    margin-left: 180px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    opacity: 0.5;
    background: url(../../common/img/img-1.png) center no-repeat;
    /*background-size: 100%;*/
    background-color: #9c9c9c;
    float: left;
    display: none;
}

.image-upload:hover{
    opacity: 1;
}

.image{
    position: relative;
    height: 150px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

#summary{
    resize:none;
    overflow-x:hidden;
    overflow-y:visible;
    width:600px;
    height:100px;
    margin-left: 130px;
    margin-top: -20px;
    border-radius: 5px;
    line-height:30px;
    color:#363636;
    vertical-align:top;
}

#art-link {
    width: 600px;
    margin-left: 130px;
    margin-top: -50px;
}

.art-submit {
    margin-top: 25px;
    text-align: center;
    font-size: small;
}

.title {
    position: relative;
    width: 980px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 15px;
    line-height: 30px;
    font-size: 14px;
    color: white;
    background: #d2d2d2;
    float: left;
}

.body {
    position: relative;
    width: 980px;
    height: 560px;
    margin-left: 30px;
    background-color: white;
    float: left;
}

.auth input {
    width: 400px;
    height: 35px;
    display: inline;
    margin: 15px;
}

.id-name, .id-number {
    position: relative;
    width: 700px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 50px;
}

.id-front span {
    position: relative;
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 50px;
    display: inline-block;
}

.id-back span {
    position: relative;
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 50px;
    display: block;
}

#look {
    margin-top: -30px;
    margin-left: 165px;
    float: left;
}

#look-1 {
    margin-top: 20px;
    margin-left: -100px;
    float: left;
}

.bt {
    position: relative;
    text-align: center;
    margin-top: 200px;
}

.bt span {
    margin-right: 15px;
}

.correct-name, .correct-id {
    display: none;
}