
/*个人认证模块*/
html, body {
    background: #F7F6F2;
}

#auth {
    color: red;
    background: #f7f7f7;
}

#top {
    background: url(../img/top.png) no-repeat center;
    background-size: 100% 100%;
}

.con-hd {
    width: 980px;
    padding-bottom: 20px;
    margin: 25px auto 25px 25px;
    background-color: #FFF;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #FFF;
    content: ">";
}

.container-fluid {
    background: #CCC;
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
}

.breadcrumb li a {
    color: #FFF!important;
}

.navbar {
    min-height: 37px;
}

.control-label {
    color: rgba(51, 51, 51, 0.8)!important;
}

.correct-name img,
.correct-id img {
    /*display: none;*/
}
.whether-to-pass {
    display: none;
}

.success-info {
    position: relative;
    height: 75px;
    vertical-align: middle;
    display: table-cell;
    top: -20px;
    color: #666;
}

.success-info .warn-img {
    width: 50px;
    margin: 0px 25px;
}

.success-info .media-heading {
    margin-bottom: 10px;
}

.success-info .media-heading + p {
    margin-bottom: 0;
}

.form-horizontal {
    padding-right: 100px;
    padding-left: 15px;
}

a {
    color: #FFF!important;
}

a:hover {
    color: #FFF!important;
}

.avatar a {
    color: #333 !important;
}

.btn-danger {
    background-color: #EA332D;
}

.submit2 {
    display: none;
}

.on-line {
    height: 35px;
}

.on-line > a {
    display: inline-block;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    color: #666666 !important;
}

.on-line > a:hover {
    color: #f00 !important;
}

.prompt-info {
    min-width: 10rem;
    padding: 0.5rem 1.5rem;
    min-height: 3.5rem;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, .8);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 3.5rem;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}