@font-face {
  font-family: 'iconfont';
  src: url('../common/font/iconfont.eot');
  src: url('../common/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../common/font/iconfont.woff') format('woff'),
  url('../common/font/iconfont.ttf') format('truetype'),
  url('../common/font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #96c6e6;
  font-weight: none;
}

.Myhomepage .homeright {
    border: none;
    padding: 0;
    width: 1020px;
    margin-bottom: 50px;
    min-height: 580px;
}
.top-h4-span-wp h4 {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f0f0f0;
    margin: 11px 0 20px;
}
.top-h4-span-wp h4 {
    position: relative;
}
.top-h4-span {
    border: 1px solid #EBC174;
    color: #EBC174;
    padding: 3px 5px;
    margin-left: 10px;
    font-size: 12px;
}
.w-logo {
    background: url(https://tanli.wezchina.com/app/Tpl/wezchina/images/wz_ui/w-icon.png) 6px -23px no-repeat;
    width: 35px;
    height: 30px;
    margin-bottom: -7px;
    line-height: 30px;
    display: inline-block;
}
a, .ui-button, .ui_button, .ui-center-button {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.top-h4-span-wp ul {
    display: inline-block;
    z-index: 14;
}
.top-h4-span-wp ul .top_release {
    display: block;
    background: #f0f0f0;
    width: 118px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.top-h4-span-wp ul li {
    display: none;
}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p, input, button {
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}
.top-h4-span-wp ul li a.wz-alink.article_icon {
    background: #0dc9ff;
    color: #fff;
    border-color: #0dc9ff;
}
.top-h4-span-wp ul li a.wz-alink {
    position: relative;
    margin-left: 1px;
    padding: 0 20px 0 40px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    float: right;
    margin-top: 5px;
}
.top-h4-span-wp ul li a.wz-alink.article_icon i {
    background: url(https://tanli.wezchina.com/app/Tpl/wezchina/images/article.png) no-repeat 0 -46px;
}
.top-h4-span-wp ul li a.wz-alink i {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    background: red;
    left: 10px;
    top: 5px;
}
.homeright .list_title {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0;
}
.list_title {
    border-left: 1px solid #eee;
    border-bottom: 2px solid #eee;
    color: #494949;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    height: 41px;
    line-height: 40px;
    margin-bottom: 20px;
    border-left: none;
    border-bottom: 1px solid #eee;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
}
.clearfix {
    zoom: 1;
}
.homeright .list_title .cur {
    padding: 0 10px;
    border: 0;
    border-bottom: none;
    background: #f0f0f0;
}
.dlmain .f_r .theme_bgcolor {
    background: #faaa00;
    color: #fff;
}
.list_title .cur, .list_title .cur a {
    color: #333;
}
.list_title div {
    background-color: #fff;
    border: 1px solid #eee;
    border-left: 0;
    border-bottom: 0;
    float: left;
    font-size: 14px;
    padding: 0 25px;
    cursor: pointer;
}
.setting_security .setting_box {
    margin: 20px 0 0 0 !important;
    overflow: inherit;
}
.control-group {
    margin-left: 0;
}
.control-group {
    margin-bottom: 5px;
    padding: 5px 0;
    overflow: hidden;
}

.control-group .control-label {
    width: 99px;
    height: 37px;
    line-height: 37px;
}
.small-control-group .control_label, .small-control-group .control-label, .small-control-group .control_text, .small-control-group .control-text {
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    float: left;
}
.control-group .control-label, .control-group .control_label, .control-group .form_lable {
    width: 90px;
    float: left;
    text-align: right;
    font-size: 14px;
    margin-right: 10px;
    overflow: hidden;
    color: #666;
}
.settting-success {
    padding-left: 25px;
    background: url(https://tanli.wezchina.com/app/Tpl/wezchina/images/u2_c2.gif) left center no-repeat;
}
.settting-success a {
    color: #F39C11;
}

.blank0, .clear {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.setting_security .setting_box {
    margin: 20px 0 0 0 !important;
    overflow: inherit;
}
.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#grayscale);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(1);
    filter: alpha(opacity=gray);
}
.layerbg {
    position: absolute;
    width: 500px;
    height: 288px;
    top: 0;
    z-index: 100;
    opacity: 0;
}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p, input, button {
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}
.control-group {
    margin-left: 0;
}
.control-group {
    margin-bottom: 5px;
    padding: 5px 0;
    overflow: hidden;
}
.control-group .control-label {
    width: 99px;
    height: 37px;
    line-height: 37px;
}
.pr {
    position: relative;
}
.control-group .control-label, .control-group .control_label, .control-group .form_lable {
    width: 90px;
    float: left;
    text-align: right;
    font-size: 14px;
    margin-right: 10px;
    overflow: hidden;
    color: #666;
}
.small-control-group .small_textbox {
    float: left;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    padding:0 8px;
    color: #333;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
input, select {
    outline: medium none;
}
input, button {
    font-family: "Microsoft YaHei";
    border: medium none;
    overflow: visible;
}
.blank0, .clear {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.blank10 {
    height: 10px;
    line-height: 10px;
    clear: both;
    visibility: hidden;
}
.dlmain .f_r .theme_bgcolor {
    background: #faaa00;
    color: #fff;
}
.submit_btn_row .theme_bgcolor {
    // background: #faaa00;
    width: 248px !important;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
     background-color:#EA332D;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 0px;
    cursor: pointer;
    margin-top:2px;
    letter-spacing: 2px;
}
.ui-button, .ui-button_active, .ui-button_hover, .ui_button {
    border: 1px solid transparent;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    display: inline;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#right {
    /*width: 1000px;*/
    /*height: auto;*/
    background-color: #FFF;
    /*margin-top: 110px;*/
    margin-bottom: 20px;
    /*margin-left: 307px;*/
}
/* // #right {
//     position: relative;
//     width: auto;
//     min-width: 1076px;
//     height: auto;
//     margin-top: 90px;
//     margin-left: 290px;
//     float: left;
// } */
.header p {
    color: #FFF;
    padding-left: 30px;
    margin-bottom: 25px;
}
#right .header {
    line-height: 30px;
    background-color: #CCC;
}
// 获取验证码

.control-group .small_send_sms_verify {
    height: 37px;
    line-height: 37px;
}
.control-group .send_sms_verify {
    border: 0;
    width: auto;
    height: 39px;
    line-height: 39px;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.ui-button, .ui-button_active, .ui-button_hover, .ui_button {
    border: 1px solid transparent;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    display: inline;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.bg_red {
    background: #f00;
}
.small-control-group .small_textbox {
    float: left;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    padding:0 8px;
    color: #333;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.mr10 {
    margin-right: 10px;
}
.small_textbox {
    float: left;
    font-size: 14px;
    border: 1px solid #d7d7d7;
     padding:0 8px;
    width: 300px;
    color: #333;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.small-control-group .control_label, .small-control-group .control-label, .small-control-group .control_text, .small-control-group .control-text {
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    float: left;
}
.settting-success a {
    color: #F39C11 !important;
}
.manage_center:hover , .top-h4-span-wp ul li.top_release:hover{
    color: #fff;
    background: #faaa00;
    transition: background 0.5s;
}
.control-text input:focus{
border: 1px solid #F39C11;
// box-shadow: 0 0 5px #F39C11;
outline: none;
}
#my-operate{
    color: red;
    background: #f7f7f7;
}