@font-face {
  font-family: 'iconfont';
  src: url('../common/font/iconfont.eot');
  src: url('../common/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../common/font/iconfont.woff') format('woff'),
  url('../common/font/iconfont.ttf') format('truetype'),
  url('../common/font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #96c6e6;
  font-weight: none;
}

#my-order {
    color: red;
    background: #f7f7f7;
}

#top {
    background: url(../img/top.png) no-repeat center;
    background-size: 100% 100%;
}

#right {
	width: 1050px;
	margin-top: 90px;
	height: 100%; 
	padding-left: 15px;
	padding-right: 30px;
}

#right .header {
	line-height: 48px;
}

#right .nav .btn-group .dropdown-toggle {
	margin-right: 5px;
	border-color: #ccc;
	border-radius: 4px;
}

#right .input-group {
	margin-top: 20px;
	display: flex;
}

#right .input-group .form-control:nth-child(1), #right .input-group .form-control:nth-child(2) {
	width: 150px;
	height: 34px;
	background: #eeeeee;
	margin-right: 4px;
	border-radius: 4px;
}

#right .input-group .form-control:nth-child(3) {
	width: 187px;
	height: 34px;
	margin-right: 4px;
	border-radius: 4px;
}

#right .input-group .dropdown-toggle {
	width: 54px;
	height: 34px;
	background: #d9534f;
	color: #fff;
}

#right .content  {
	margin-top: 20px;
}

#right .content .box-body {
	background: #fff;
}

#right .content .box-body .btn-group .dropdown-toggle {
	width: 54px;
	height: 34px;
	background: #5bc0de;
	border-radius: 4px;
}

#right .content .box-body .btn-group .dropdown-toggle:nth-child(2) {
	color: #fff;
	margin-left: 4px;
}

#right .col-sm-7 {
	padding: 0;
}