.we-release input, .we-release select {
    width: 100%;
    height: 35px;
    display: block;
    margin: 0;
}
.modal-header .close {
    color: #999!important;
    margin-right:0;
    margin-top: -11px;
}
.we-release span, .we-release-add span {
    padding-left: 0;
}
.mt20{     margin: 20px 0;}
.use-right-box{padding:0 20px;}
.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover{
  color:#fff!important;
}
.btn-danger,.btn-danger:hover {
    color: #fff!important;
}
#imgForm{display:none;}
.avatar{display:block;margin:0;cursor: pointer;}
.image-cut {
    width: 950px;
    margin: 0 auto;
    padding: 0;
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 1019;
    background-color: #fff;
}
.image-cut .top {
    height: 46px;
    line-height: 46px;
    background-color: #f2f2f5;
    color: #111111;
    padding: 0 15px;
}
.image-cut .center {
    height: 400px;
}
.image-cut .bottom {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}
.z {
    float: left;
}
.y {
    float: right;
}

.title {
    font-size: 26px;
}
.image-cut .top .title {
    font-size: 16px;
}
.image-cut .center .z {
    height: 400px;
    width: 70%;
}
.image-cut .center .y {
    padding: 20px;
}
.image-cut .center .y .img-show {
    width: 180px;
    height: 180px;
    background-color: #f7f7f7;
    overflow: hidden;
}
.image-cut .center .y .img-show1 {
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    overflow: hidden;
    margin-top: 10px;
    float: right;
    clear: both;
}
.image-cut .center .y .img-show2 {
    width: 50px;
    height: 50px;
    background-color: #f7f7f7;
    overflow: hidden;
    margin-top: 10px;
    float: right;
    clear: both;
}
.image-cut .bottom .z input {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.image-cut .bottom .btn {
    background-color: #007cd3;
    color: #ffffff;
    width: 180px;
}
#masker {
    display: none;
    border: 0px;
    background: #000;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 1000;
}
