i,
em {
	font-style: normal;
}

.field_select {
	margin-right: 10px;
	height: auto;
	display: inline-block;
	float: left;
	position: static;
	border: 1px solid #d4d4d4;
	padding: 4px;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	border: none;
	outline: none;
}

input,
select {
	outline: medium none;
}

.field_select dt {
	width: 100%;
	background: #fff;
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 14px;
	border: 1px solid #d7d7d7;
	padding: 1px 17px 1px 10px;
	position: relative;
	overflow: hidden;
	font-weight: normal;
}

.field_select.small dt {
	width: 114px;
}

.field_select.small dt {
	height: 25px;
	line-height: 25px;
}

.field_select dt i {
	height: 0;
	width: 0;
	position: absolute;
	right: 8px;
	top: 14px;
	overflow: hidden;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid transparent;
	border-top-color: #666;
	_border-left-color: tomato;
	_border-right-color: tomato;
	_filter: chroma(color=tomato);
}

.field_select dd {
	width: 83px;
	background: #fff !important;
	border: 1px solid #d7d7d7;
	border-top: none;
	line-height: 24px;
	letter-spacing: 1px;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 200px;
}

.field_select.small dd {
	width: 112px;
}

.field_select dd a {
	height: 24px;
	cursor: pointer;
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
	float: none;
	line-height: 24px;
	margin-right: 0px;
}

.field_select dd a,
.field_select dd a:visited {
	background: #fff;
}

.scaning_erweima {
	line-height: 27px;
}

.erweima_support {
	line-height: 30px;
}

.erweima_support2 {
	line-height: 27px;
}

.ws_tit {
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 6px;
	color: #666;
	padding-left: 15px;
	background: url('../images/tit_bg.jpg') no-repeat left 2px;
}

.ws_tit i {
	font-style: normal;
	font-size: 24px;
	font-family: "黑体";
	display: block;
	float: left;
}

.ws_tit span {
	font-size: 20px;
	padding: 0 5px;
	display: block;
	float: left;
}

.ws_tit a {
	float: right;
	font-size: 12px;
	padding: 0 10px;
	color: #ff9c00;
	border-radius: 3px;
	line-height: 26px;
}

.ws_item {
	position: relative;
	padding-bottom: 5px;
	overflow: hidden;
}

.ws_item .ws_item_more {
	position: absolute;
	bottom: 0;
	visibility: hidden;
	right: 1px;
	color: #fff;
	font-size: 14px;
	padding: 3px 10px;
	border-radius: 0 0 0 3px;
	padding-right: 30px;
	background: url("../images/more.png") no-repeat 43px 4px #c1c1c1;
}

.ws_item .ws_item_more:hover {
	background-color: #ff9c00;
}

.ws_item ul {
	margin-left: -17px;
	margin-bottom: 23px;
	height: 313px;
	overflow: hidden;
}

.ws_item li {
	float: left;
	overflow: hidden;
	margin-left: 17px;
	margin-top: 17px;
	border: 1px solid #e0e0e0;
	width: 236px;
	height: 294px;
}

.ws_item li.hover {
	border-color: #ff9c00;
}

.ws_item li .img {
	width: 236px;
	height: 158px;
	overflow: hidden;
}

.ws_item li .img a img {
	width: 100%;
}

.ws_item li .tit a {
	padding: 0px 10px;
	display: block;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	color: #111;
	overflow: hidden;
}

.ws_item li .brief a {
	font-size: 12px;
	color: #777;
	line-height: 1.6em;
}

.ws_item li .brief {
	height: 40px;
	overflow: hidden;
	padding: 0 10px;
}

.ws_item li .price {
	overflow: hidden;
	padding: 0 8px;
	height: 35px;
}

.ws_item li .price span {
	position: relative;
	padding-left: 15px;
	font-size: 24px;
	color: red;
}

.ws_item li .price span em {
	position: absolute;
	left: 0;
	bottom: 3px;
	font-size: 16px;
}

.ws_item li .price b {
	font-weight: 500;
	font-size: 12px;
	color: #999;
}

.ws_item li .price b i {
	text-decoration: line-through;
}

.ws_item li .state {
	background: #fafafa;
	border-top: 1px solid #e0e0e0;
	height: 32px;
	position: relative;
}

.ws_item li .state span {
	float: left;
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px;
	color: #999;
}

.ws_item li .state span i {
	float: left;
}

.ws_item li .state span em {
	font-size: 14px;
	float: left;
	margin-top: 1px;
	color: #ff9c00;
	padding: 0 2px;
}

.ws_item li a:hover {
	color: #ff9c00;
}

.ws_item li .state a {
	float: right;
	text-align: center;
	display: block;
	line-height: 30px;
	border-top: 1px solid #ff9c00;
	height: 30px;
}

.ws_item li .state a.besket_btn {
	background: #ffdca5;
	color: #e08900;
	width: 50%;
}

.ws_item li .state a.buy_btn {
	background: #ff9c00;
	color: #fff;
	width: 100%;
}

.ws_item li .state p {
	position: absolute;
	right: 0;
	top: 32px;
	width: 100%;
}

.ws_item li.hover .state p {
	top: 0
}

.ws_item li .state .l {
	float: left;
}

.ws_item li .state .r {
	float: right;
}

.ws_item li.nonepro {
	width: 100%;
	border: none;
	float: none;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #696969;
}


.qr_code_icon {
	position: relative;
	top: -23px;
	left: 23px;
	float: right;
	width: 24px;
	height: 24px;
	background: url("../picture/er.png") no-repeat;
}

.qr_code_icon em {
	position: absolute;
	right: 0px;
	top: 0;
	z-index: 9999;
	width: 180px;
	height: 180px;
	display: none;
}

.qr_code_icon em img {
	width: 180px;
	height: 180px;
}

.boxcode {
	position: absolute;
	right: -2px;
	top: -2px;
	background: #fff;
	border-radius: 0 0 0 0;
	width: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.boxcode.big {
	width: 140px;
	height: 142px;
}

.pro_deta_info .amount {
	line-height: 34px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 12px 0;
}

.pro_deta_info .amount .tb-l {
	float: left;
	font-size: 14px;
	line-height: 30px;
	color: #999;
}

.pro_deta_info .amount .tb-amount-widget {
	float: left;
	margin: 0 10px;
	border: 1px solid #e0e0e0;
}

.pro_deta_info .amount .tb-amount-widget .tb-text {
	float: left;
	width: 30px;
	height: 26px;
	line-height: 26px;
	padding: 0 5px;
	margin-top: 1px;
	text-align: center;
	border: 0 none;
}

.pro_deta_info .amount .tb-amount-widget span {
	float: left;
	height: 28px;
	line-height: 28px;
	width: 20px;
	background: #eee;
	color: #666;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
}

.pro_deta_info .key p {
	clear: both;
	padding-top: 20px;
}

.pro_deta_info .key p .buy_btn {
	display: block;
	padding: 0 20px;
	margin-right: 10px;
	background: #8fc21e;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	float: left;
	line-height: 40px;
}

.pro_deta_info .key p .besket_btn {
	display: block;
	padding: 0 20px;
	margin-right: 10px;
	background: #ff9c00;
	color: #fff;
	font-size: 16px;
	float: left;
	border-radius: 3px;
	line-height: 36px;
}

.pro_deta_tab {
	width:100%;
	background: #f8f8f8;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ff9c00;
	margin-top: 30px;
	position: relative;
	left: 0px;
}

.pro_deta_tab a {
	font-size: 16px;
	float: left;
	padding: 0 24px;
}

.pro_deta_tab a:nth-child(2) {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

.pro_deta_tab a.active {
	background: #ff9c00;
	color: #fff!important;
}

.pro_det {
	padding: 10px 0;
}

.pro_det p {
	line-height: 1.8em;
	font-size: 16px;
}

.pro_det img {
	display: block;
	width: 100%;
	max-width: 684px;
}

.pro_det table {
	max-width: 684px;
}

.pro_need_kown {
	padding: 25px 0;
}

.pro_deta_com .pro_det_tit {
	font-size: 16px;
	background: #eee;
	border-lefT: 3px solid #ff9c00;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}

.pro_need_kown .info {
	padding: 15px;
}

.pro_need_kown .info h3 {
	color: red;
	font-size: 16px;
	margin-top: 20px;
}

.pro_need_kown .info p {
	line-height: 1.8em;
}

.pro_need_kown .info img {
	max-width: 100%;
}

.price_icon {
	padding: 9px 10px 7px;
	border: 1px solid #ddd;
	border-radius: 0 0 0 0;
}

.price_icon>img {
	width: 135px;
	height: 135px;
}

.tb-amount-widget {
	float: left;
	border: 1px solid #e0e0e0;
}

.tb-amount-widget .tb-text {
	float: left;
	width: 30px;
	height: 26px;
	line-height: 26px;
	padding: 0 5px;
	margin-top: 1px;
	text-align: center;
	border: 0 none;
}

.tb-amount-widget span {
	float: left;
	height: 28px;
	line-height: 28px;
	width: 20px;
	background: #eee;
	color: #666;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
}

.key p .add_to_cart{
	display: block;
	padding: 0 20px;
	margin-left: 25px;
	background: #FF9C00;
	color: #fff!important;
	font-size: 16px;
	border-radius: 3px;
	float: left;
	line-height: 40px;
}


.field_select.small dt {
	height: 29px;
	line-height: 25px;
}

html .field_select.small dt i,
html .field_select.dropdown dt i {
	top: 11px;
}

html .field_select.small dt span {
	display: block;
	height: 25px;
	line-height: 25px;
}

html .field_select dd a.current {
	background: #eee;
	color: #111;
}

html .field_select dd a:hover {
	background: #fafafa;
	color: #111;
}

.product_back {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 280px;
	height: 160px;
	background: #eee;
	z-index: 1000;
	border-radius: 5px;
}

.product_back_title {
	background: #283244;
	height: 46px;
	line-height: 46px;
	padding-left: 20px;
	color: #fff;
}

.product_back_text {
	padding: 20px 0;
	text-align: center;
}

.product_back_btn {
	margin-bottom: 15px;
}

.product_back_left {
	background: #faaa00;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin: 0 35px;
	width: 80px;
	border-radius: 4px;
}

.product_back_right {
	background: #ff6600;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin: 0 10px;
	width: 80px;
	border-radius: 4px;
}

.no_collect {
	text-align: center;
	line-height: 136px;
	border-bottom: 1px solid #efefef;
}


.control-group .control-label {
	width: 99px;
	height: 37px;
	line-height: 37px;
}

.small-control-group .control_label,
.small-control-group .control-label,
.small-control-group .control_text,
.small-control-group .control-text {
	height: 37px;
	line-height: 37px;
	font-size: 14px;
	float: left;
}

.supporter {
	width: 100%;
	min-height: 60px;
	display: inline-flex;
	margin-bottom: 15px;
	margin-top: 10px;
}

.img-circle {
	width: 50px;
	height: 50px;
}

.supporter_img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

.supporter .supporter_user .supporter_user_mid {
	font-size: 16px;
	color: #111;
}

.supporter .supporter_user .supporter_user_color {
	font-size: 12px;
	color: #555;
	padding-top: 5px;
}

.supporter .supporter_user .supporter_user_liuyan {
	width: 632px;
	background-color: #ececec;
	margin-top: 13px;
	line-height: 36px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	max-width: 97%;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
}

.supporter .supporter_user .supporter_user_liuyan span {
	color: #258ed8;
}

.supporter .supporter_user .supporter_user_liuyan:after {
	position: absolute;
	display: block;
	content: "";
	border-bottom: 10px solid #ececec;
	border-left: 10px solid rgba(255, 255, 255, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 10px solid rgba(0, 0, 0, 0);
	top: -19px;
	left: 15px;
}

.user-info {
	width: 328px;
	height: 130px;
	margin-top: 0;
	margin-left: -15px;
}

.user .panel-body {
	padding-top: 0;
}



div.zoomdiv img {
	width: 650px;
	height: 630px;

}
div.zoomdiv {
	z-index: 999;
	position : absolute;
	top:0px;
	left:0px;
	width : 200px;
	height : 200px;
	background: #ffffff;
	border:1px solid #CCCCCC;
	display:none;
	text-align: center;
	overflow: hidden;
}
div.jqZoomPup {
	z-index : 999;
	visibility : hidden;
	position : absolute;
	top:0px;
	left:0px;
	width : 50px;
	height : 50px;
	border: 1px solid #aaa;
	background: #ffffff url("../images/zoomlens.gif") 50% top no-repeat;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity=50);
}

/*内容展示开始*/
.user_info_left {
	padding-top: 33px;
}
.westoreWarp{
	width: 100%;
	height: auto;
}
.clearfix{
	display: block;
}
/*上面内容*/
.pro_deta_top{
	margin-bottom: 50px;
}
/*左边内容*/
.pro_deta_imgs {
	width: 288px;
	height: 364px;
	float: left;
}
.spec-preview{
	max-width: 290px;
	max-height: 290px;
	min-width: 290px;
	min-height: 290px;
}
.jqzoom {
	width: 286px;
	height: 291px;
	border: 1px solid #dfdfdf;
	float: left;
	position: relative;
	padding: 0px;
	cursor: pointer;
	margin: 0;
	display: block;
}
.jqzoom img {
	width: 284px;
	height: 289px;
}
/*左边缩略图*/
.spec-scroll{
	clear: both;
	margin-top: 5px;
	width: 286px;
	height: 67px;
}
.spec-scroll>.prev{
	display: block;
	font-family: "宋体";
	text-align: center;
	width: 10px;
	height: 67px;
	line-height: 67px;
	border: 1px solid #CCC;
	background: #EBEBEB;
	cursor: pointer;
	text-decoration: none;
	float: left;
	margin-right: 4px;
}
.spec-scroll>.next{
	display: block;
	font-family: "宋体";
	text-align: center;
	width: 10px;
	height: 67px;
	line-height: 67px;
	border: 1px solid #CCC;
	background: #EBEBEB;
	cursor: pointer;
	float: right;
	margin-left: 4px;
}
.spec-scroll>.items{
	float: left;
	position: relative;
	width: 258px;
	height: 67px;
	overflow: hidden;
}
.spec-scroll>.items ul{
	position: absolute;
	width: 999999px;
	height: 67px;
	left: 0;
	top: 0;
}
#items_son>li{
	float: left;
	width: 64px;
	height: 67px;
	text-align: center;
	padding: 0;
	border: none;
}
#items_son>li>img{
	border: 1px solid #CCC;
	padding: 2px;
	width: 62px;
	height: 65px;
	display: block;
}
/*右边内容*/
.pro_deta_info {
	float: left;
	width: 476px;
	height: auto;
	padding-bottom: 15px;
	margin-left: 25px;

}
.pro_deta_info .tit {
	/*padding-top: 10px;*/
	font-size: 20px;
	line-height: 1.5em;
}

.pro_deta_info .brief {
	font-size: 14px;
	padding-top: 3px;
	color: red;
	line-height: 1.5em;
}

.pro_deta_info .price {
	background: #f8f8f8;
	height: 45px;
	padding: 10px 8px 10px;
	margin: 10px 0;
}

.pro_deta_info .price span {
	position: relative;
	padding-left: 15px;
	font-size: 24px;
	float: left;
	color: red;
	margin-right: 12px;
	line-height: 21px;
}

.pro_deta_info .price span em {
	position: absolute;
	left: 0;
	bottom: -5px;
	font-size: 16px;
}

.pro_deta_info .price b {
	font-weight: 500;
	font-size: 14px;
	color: #999;
	float: left;
	margin-top: 5px;
}

.pro_deta_info .price b i {
	text-decoration: line-through;
}

.pro_deta_com {
	clear: both;
	/* padding-top:30px; */
}

.pro_deta_info .state {
	font-size: 14px;
	color: #999;
	margin-bottom: 5px;
}
.pro_deta_tab>a{
	color: #333333;
}
.pro_deta_info .state span {
	padding-right: 20px;
}
.pro_deta_tab>a:hover{
	color: red;
}
.pro_deta_tab>a.active:hover{
	color: #fff!important;
}

#commont>li{
	padding:10px 0;
	height: auto;
	border: none;
}
/*内容展示结束*/


/*分页样式*/
#ivu-page{
	width: auto;
	height: auto;
	margin: 30px auto;
	display: flex;
	justify-content: center;
}
#ivu-page .ivu-page-prev{
	display: inline-block;
	vertical-align: middle;
	min-width: 32px;
	height: 32px;
	line-height: 30px;
	list-style: none;
	text-align: center;
	cursor: pointer;
	color: #666;
	font-family: Arial;
	border: 1px solid #dddee1;
	border-radius: 4px;
	transition: all .2s ease-in-out;
	padding: 0;
}
#ivu-page .ivu-page-next{
	display: inline-block;
	vertical-align: middle;
	min-width: 32px;
	height: 32px;
	line-height: 30px;
	list-style: none;
	text-align: center;
	cursor: pointer;
	color: #666;
	font-family: Arial;
	border: 1px solid #dddee1;
	border-radius: 4px;
	transition: all .2s ease-in-out;
	padding: 0;
}
#ivu-page .ivu-page-item-jump-prev{
	display: inline-block;
	vertical-align: middle;
	min-width: 32px;
	height: 32px;
	line-height: 30px;
	list-style: none;
	text-align: center;
	cursor: pointer;
	color: #666;
	font-family: Arial;
	border: 1px solid #dddee1;
	border-radius: 4px;
	transition: all .2s ease-in-out;
	padding: 0;
}
#ivu-page .ivu-page-item-jump-next{
	display: inline-block;
	vertical-align: middle;
	min-width: 32px;
	height: 32px;
	line-height: 30px;
	list-style: none;
	text-align: center;
	cursor: pointer;
	color: #666;
	font-family: Arial;
	border: 1px solid #dddee1;
	border-radius: 4px;
	transition: all .2s ease-in-out;
	padding: 0;
}
#ivu-page .ivu-page-item{
	display: inline-block;
	vertical-align: middle;
	min-width: 32px;
	height: 32px;
	line-height: 30px;
	margin-right: 4px;
	text-align: center;
	list-style: none;
	background-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	font-family: Arial;
	border: 1px solid #dddee1;
	border-radius: 4px;
	transition: border .2s ease-in-out,color .2s ease-in-out;
	padding: 0;
}
#ivu-page .ivu-page-item-active{
	background:#46b2ee;
}
.buy_btn{
	display: block;
	padding: 0 20px;
	margin-right: 10px;
	background: #8fc21e;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	float: left;
	line-height: 40px;
}
#buy{
	position: absolute;
	top: 5px;
	right: 50px;
}
/*二维码样式*/
.tm-qrcode-icon {
	padding-left:15px;
	float: right;
	margin-left: -1px;
	height: 48px;
	line-height: 48px;
	display: block;
	cursor: pointer;
    position: relative;
}
.tm-qr-togger {
	font-size: 12px!important;
	color: #989898;
	padding: 0 50px 0 10px !important;
	border-right: none;
	line-height: 48px;
	height: 100%;
	display: block;
	text-align: right;
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: 63px 12px;
	background-image: url("/resource/wetpl/vertical/web/shopping/img/T12Fs8Fo0XXXb2csDf-38-59.png");
}
.tm-qrcode-icon:hover{
	/*background: #D4D4D4;*/
}
.tm-qrcode-icon:hover .tm-qr-togger{
	color: #989898!important;
	background-position: 63px -26px;
}
/*收藏商品*/
.add_to_collect{
	width: auto;
	height: auto;
	padding: 5px 26px;
	background-image:url("/resource/wetpl/vertical/web/shopping/img/sc.png");
	background-repeat: no-repeat;
	background-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;

}