#art-info{margin-top:0;width:344px;}
.circle-main{
	width: 718px;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 23px;
}
.circle-main .circle-banner .biaoti,.circle-main .quxiantu .biaoti {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.weiyou{
    font-size: 20px;
}
#send{
    margin-right: 15px;
}
.weiyoushubiaoshi{
    list-style: none;
}
.weiyoushubiaoshi li{
    float: left;
    width: 32px;
    height:18px;
    margin-right: 10px;
}
.circle-banner .find-circle-bg {
    width: 702px;
    height: 188px;
    background: url("/common/img/group_top.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.find-circle-bg .cricle{
    position: absolute;
    width: 100%;
    height: 100%;
    top:40%;
    left: 35%;

}
#art-info {
    margin-top: 0;
    width: 334px;
}
.circle-banner .find-circle-bg .cricle .red>li{
    float: left;
    color: #fff;
    font-size: 46px;
    width: 39px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #FF3434;
    margin-right: 10px;
    list-style: none;
    border-radius: 2px;

}
.find-circle-bg .cricle .weiyou{
    font-size: 32px;
    font-weight: bold;
    color: #FF3434;
    margin-left: 6px;
}
.y {
    margin: 20px 15px 0px 0;
    color: #999;
}
.btn-default {
    width: 100px;
    margin-right: 13px;
    border-radius: 0px;
}
.button-down-box-parent-p{position: relative;}
.button-down-box {
    list-style: none;
    background: rgb(230,230,230);
    width: 100px;
    color: #333;
    display: none;
    position: absolute;
    left: 0;
    top: 27px;
    z-index: 90;
}
.button-down-box  li{
   height: 34px;
    padding-top: 7px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button-down-box li:hover {
    background: #fff;
    border: 1px solid #ccc;
}
.btn-default:nth-child(2):hover {
    border-bottom: 0px;
}
.circle-main .ditu .biaoti {
    margin-bottom: 5px;
}
.circle-main .quxiantu .biaoti {
    margin-bottom: 5px;
}
.circle-main .circle-banner .biaoti {
    margin-bottom: 5px;
}
.circle-main .ditu .biaoti {
    margin-bottom: 5px;
}
.circle-main .quxiantu .biaoti {
    margin-bottom: 5px;
    // border-bottom: 1px solid #d2d2d2;
}
.circle-main .circle-banner .biaoti {
    margin-bottom: 5px;
}
.circle-main .line {
    width: 98%;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
    margin-left: 0;
}
#curve_count{
    margin-top:50px;
}
.circle-main .ditu .biaoti {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.circle-main .quxiantu .y {
    margin-right: 15px;
    width: 98%;
    text-align: right;
}
.circle-main .ditu .y {
       margin-right: 15px;
    width: 98%;
    text-align: right;
}
.all-info{

}
.art-info{
 height:100%;
}
.circle-main .ditu span {
    width: 32px;
    height: 18px;
    background: #ff0000;
    display: block;
    float: left;
    margin-right: 10px;
}