<#extend#>public/extend/index_extend.html</#extend#>
<link rel="stylesheet" href="/common/magazine/css/iview.css">
<link rel="stylesheet" href="{{PATH_TML}}activity/css/cate_list.css" />
<link rel="stylesheet" href="{{PATH_TML}}project/css/project.css">
<script src="/common/magazine/js/iview.min.js"></script>

<style>
    .demo-spin-icon-load{
        animation: ani-demo-spin 1s linear infinite;
    }
    @keyframes ani-demo-spin {
        from { transform: rotate(0deg);}
        50%  { transform: rotate(180deg);}
        to   { transform: rotate(360deg);}
    }
    .demo-spin-col{
        height: 100px;
        position: relative;
        border: 1px solid #eee;
    }
</style>

<div id="container">
    <div id="proj">
        <div id="find">
            <div id="type">
                <p>分类：</p>
                <ul>
                    <li v-for="(e, i) in type" @click="show(e.name, 'type0')" :style="e.style">{{e.name}}</li>
                </ul>
            </div>
            <div id="time">
                <p>时间：</p>
                <ul>
                    <li v-for="(e, i) in time" @click="show(e.name, 'type1')" :style="e.style">{{e.name}}</li>
                </ul>
            </div>
            <div id="type2">
                <ul>
                    <li @click="show('total', 'type2')" :class="{'style-active-blue': showType.total}">综合</li>
                    <li @click="show('latest', 'type2')" :class="{'style-active-blue': showType.latest}">最新</li>
                    <li @click="show('hotest', 'type2')" :class="{'style-active-blue': showType.hotest}">最热</li>
                </ul>
                <ul>
                    <li @click="show('proj', 'type3')" :class="{'style-active-red': showType.proj}">方格</li>
                    <li @click="show('act', 'type3')" :class="{'style-active-red': showType.act}">条目</li>
                </ul>
            </div>
        </div>
        <div id="projects" v-show="showType.proj">
            <ul>
                <a v-for="e in proj" href="javascript:void(0);">
                    <li>
                        <div></div>
                        <img :src="e.cover" alt=""/>
                        <div class="act">
                            <p>{{e.title}}</p>
                            <p>{{e.time}}</p>
                            <p>
                               <span>
                                    <img :src="e.avatar" alt=""/>
                                    <span>{{e.numbers}}人已报名</span>
                               </span>
                               <span :class="{free: e.isFree, price: !e.isFree}">{{e.price}}</span>
                            </p>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div class="cat-con" v-show="showType.act">
            <ul class="cont-list">
                <li v-for="item in act">
                    <a href="javascript:void(0);">
                        <img :src="item.image" alt="">
                    </a>
                    <div class="abstract">
                        <a href="javascript:void(0);">
                            <h3>{{item.title}}</h3>
                            <p>{{item.info}}</p>
                        </a>
                        <div class="abst-info">
                            <div class="info-son">
                                <img src="{{PATH_TML}}activity/img/时间.png" alt="">
                                <span>{{item.time}}</span>
                            </div>
                            <div class="info-son">
                                <img src="{{PATH_TML}}activity/img/地点.png" alt="">
                                <span>{{item.add}}</span>
                            </div>
                            <div class="info-son">
                                <img src="{{PATH_TML}}activity/img/人员.png" alt="">
                                <span>{{item.active}}</span>人已报名
                            </div>
                        </div>
                    </div>
                    <div class="attend" v-if="item.price == '免费'">
                        <span>{{item.price}}</span>
                        <button>立即报名</button>
                    </div>
                    <div class="attend" v-else="item.price != '免费'">
                        <span class="attebd_cur">￥{{item.price}}</span>
                        <button class="button_cur">立即报名</button>
                    </div>
                </li>
            </ul>
        </div>

        <!--<Spin fix>
            <Icon type="load-a" size=30 class="demo-spin-icon-load"></Icon>
            <div>加载中</div>
        </Spin>-->

        <div id="pages">
            <Page :total="parseInt(pages.total)" :current="pages.page" :page-size="pages.limit" @on-change="change"></Page>
        </div>
    </div>
</div>

<script>
    var activity = new Vue({
        el: '#container',
        data: {
            showType: {act: false, proj: true, total: true, latest: false, hotest: false},
            pageStore: [{id: 'proj', total: 10, page: 1, limit: 5}, {id: 'act', total: 10, page: 1, limit: 5}],
            pages: {id: 'proj', total: 10, page: 1, limit: 5},
            type: [],
            time: [],
            proj: [],
            act: []
        },
        created: function(){
            var dataType = ['全部', '户外出游', '运动健身', '职场培训', '演出娱乐', '公益文化', '周边游', '创投', '跑步', '交友', '文艺', 'Live'];
            var dataTime = ['不限', '今天', '近一天', '近一周', '周末'];
            this.type = dataType.map((x, i) => i === 0 ? ({name: x, style: {'color': '#4caaed'}}) : ({name: x, style: {}}));
            this.time = dataTime.map((x, i) => i === 0 ? ({name: x, style: {'color': '#4caaed'}}) : ({name: x, style: {}}));
            this.proj = [
                {
                    title: '互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？',
                    time: '本周五 12:30 开始',
                    cover: '/common/img/p01.png',
                    avatar: '/common/img/p05.png',
                    numbers: '145',
                    price: '免费'
                },
                {
                    title: '互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？',
                    time: '本周五 12:30 开始',
                    cover: '/common/img/p02.png',
                    avatar: '/common/img/p05.png',
                    numbers: '145',
                    price: '99'
                },
                {
                    title: '互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？',
                    time: '本周五 12:30 开始',
                    cover: '/common/img/p03.png',
                    avatar: '/common/img/p05.png',
                    numbers: '145',
                    price: '免费'
                },
                {
                    title: '互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？',
                    time: '本周五 12:30 开始',
                    cover: '/common/img/p04.png',
                    avatar: '/common/img/p05.png',
                    numbers: '145',
                    price: '99'
                }
            ].map(e =>e.price != '免费' ? (e.isFree = false, e.price = '¥' + e.price, e) : (e.isFree = true, e));
            this.act = [
                {"image":"/resource/wetpl/vertical/web/activity/img/01.png","title":"互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？","info":"50节系统化实战课程、是面向0到3年得互联网从业者和爱好者学习的内容，从零基础打造运营思维体系，深度学习互联网运营、产品、用户、渠道、营销的实操，具体怎么做，通过运营模型及实例让你快速进阶...","price":"免费","active":"196","time":"本周五 12:30 开始","add":"高新区"},
                {"image":"/resource/wetpl/vertical/web/activity/img/02.png","title":"互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？","info":"50节系统化实战课程、是面向0到3年得互联网从业者和爱好者学习的内容，从零基础打造运营思维体系，深度学习互联网运营、产品、用户、渠道、营销的实操，具体怎么做，通过运营模型及实例让你快速进阶...","price":578,"active":"196","time":"下周三 15:30 开始","add":"雁塔区"},
                {"image":"/resource/wetpl/vertical/web/activity/img/03.png","title":"互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？","info":"50节系统化实战课程、是面向0到3年得互联网从业者和爱好者学习的内容，从零基础打造运营思维体系，深度学习互联网运营、产品、用户、渠道、营销的实操，具体怎么做，通过运营模型及实例让你快速进阶...","price":20,"active":"196","time":"2018-01-24 14:29 开始","add":"未央区"},
                {"image":"/resource/wetpl/vertical/web/activity/img/04.png","title":"互联网运营50堂必修课，如何玩转产品、用户、渠道、数据？","info":"50节系统化实战课程、是面向0到3年得互联网从业者和爱好者学习的内容，从零基础打造运营思维体系，深度学习互联网运营、产品、用户、渠道、营销的实操，具体怎么做，通过运营模型及实例让你快速进阶...","price":666,"active":"196","time":"下周日 12:30 开始","add":"世纪广场"}
            ]
        },
        methods: {
            change: function(page){
                this.pages.page = page;
            },
            show: function(name, type){
                switch(type){
                    case 'type0' : this.type.map(e => e.name === name ? e.style = {'color': '#4caaed'} : e.style = {}); break;
                    case 'type1' : this.time.map(e => e.name === name ? e.style = {'color': '#4caaed'} : e.style = {}); break;
                    case 'type2' : ['total', 'latest', 'hotest'].map(e => name === e ? this.showType[e] = true : this.showType[e] = false); break;
                    case 'type3' : ['act', 'proj'].map(e => name === e ? (this.showType[e] = true) : (this.showType[e] = false));
                        //map1保存并更新pageStore状态，map2更新pages状态，只限两个类别有效
                        this.pageStore = this.pageStore.map(e => name === e.id ? e : this.pages).map(e => name === e.id ? this.pages = e : e); break;
                    default: break;
                }
            }
        }
    })
</script>