a{
	cursor: pointer;
}
/* 新闻列表 */
.news_box{
	width: 1200px;
	margin: 0 auto;
}
.news_top_img{
	height: 350px;
/*	margin-top: 66px;*/
	background: url('../images/news_top.jpg') no-repeat center center;
}
.news_b_line{
	width: 230px;
	height: 12px;
	float: left;
	background-color: #cf2822;
	margin-bottom: 28px;
}
.news_info_box{
	clear: both;
	overflow: hidden;
}
.news_info_l{
	float: left;
	width: 230px;
}
.news_info_l li a{
	width: 230px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	display: inline-block;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #ebebeb;
}
.news_info_l li:hover{
	background-color: #f5f5f5;
}
.news_info_l li.current{
	color: #cf2822;
	background-color: #f5f5f5;
}
.news_info_l li.current a,.news_info_l li.current i{
	color: #cf2822;
}
.news_info_l i{
	margin-right: 17px;
	font-size: 24px;
	color: #636363;
	position: relative;
	top: 3px;
}
.news_info_r{
	float: right; 
	margin-right: 30px;
}
.news_top_tit{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #dadada;
	width: 902px;
}
.title_ch{
	font-size: 30px;
	color: #333;
	margin-right: 15px;
}
.ch_line{
	height: 24px;
	width: 1px;
	background-color: #dcdcdc;
	margin-right: 15px;
	display: inline-block;
	margin-top: 5px;
}
.title_en{
	font-size: 18px;
	color: #999;
}
.news_list li{
	clear: both;
	height: 165px;
	border-bottom: 1px dashed #dadada;
}
.news_list li .news_cover{
	float: left;
	margin-top: 32px;
}
.news_list li .news_cover img{
	width: 200px;
	height: 100px;
}
.news_det_info{
	float: left;
	width: 530px;
	margin-left: 26px;
	margin-top: 42px;
}
.news_det_tit{
	display: block;
	width: 100%;
	white-space:nowrap;
	 overflow:hidden; 
	 text-overflow:ellipsis;
	 font-size: 18px;
	 color: #333;
}
.news_det_tit:hover{
	color: #cf2822;
}
.news_det_desc{
	font-size: 14px;
	color: #999;
	display: block;
	margin-top: 10px;
	height: 46px;
	overflow: hidden;
}
.news_det_desc:hover{
	color: #999;
}
.news_time_box{
	float: left;
	width: 74px;
	height: 92px;
	border-left: 1px solid #dadada;
	margin-top: 33px;
	margin-left: 32px;
	padding-left: 23px;
}
.news_time_box span{
	display: block;
}
.time_data{
	font-size: 24px;
	color: #999;
}
.time_year{
	font-size: 14px;
	color: #999;
	margin-top: -6px;
}
.detail_btn{
	border:1px solid #eee;
	font-size:14px;
	border-radius:30px;
	background: url('../images/detail.png') no-repeat 48px center;
	margin-top: 10px;
	display: block;
	height: 24px;
	line-height: 24px;
	padding-left: 14px;
	font-size: 14px;
	color: #888;
	margin-top: 12px;
}
.news_list li:hover .detail_btn{
	background: #cf2822 url('../images/detail_h.png') no-repeat 48px center;
	color: #fff;
}
.nav_box{
	float: left;
}
.fix_nav{
	position: fixed;
	top: 66px;
}

/* 新闻详情 */
.info_news{
	width: 1120px;
	margin: 66px auto 0;
	position: relative;
	padding: 8px 40px;
	background-color: #fff;
	z-index: 2;
	top: -455px;
	overflow: hidden;
	margin-bottom: -455px;
}
.info_news_l{
	float: left;
}
.news_top_det_img{
	position: relative;
	height: 480px;
	background: url('../images/news_det_top.jpg') 0 -26px no-repeat;
	z-index: 1;
}
.info_l_tit{
	height: 90px;
	margin-top: 10px;
}
.title_new{
	font-size: 26px;
	color: #333;
}
.title_b{
	margin-top: 10px;
}
.title_b span{
	display: inline-block;
	font-size: 14px;
}
.news_share{
	display: inline-block;
}
.news_sort{
	color: #666;
}
.news_pub_time{
	color: #999;
	margin-left: 14px;
}
.news_share{
	color: #999;
	margin-left: 16px;
}
.news_content{
	padding: 30px 0;
	border-bottom: 1px solid #dadada;
}
.title_line{
	height: 15px;
	display: inline-block;
	width: 1px;
	background-color: #cfcfcf;
	margin-left: 15px;
	position: relative;
	top: 2px;
}
.pre_next_box{
	clear: both;
	width: 100%;
	text-align: right;
	margin-top: 45px;
	margin-bottom: 20px;
}
.pre_next_box a{
	display: inline-block;
	width: 94px;
	height: 41px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background-color: #cf2822;
}