/*V认证模块*/

			#change-phone {
				color: red;
				background: #f7f7f7;
			}

			#top {
				background: url(../img/top.png) no-repeat center;
				background-size: 100% 100%;
			}

			.con-hd {
				/* width: 900px;
				margin-left: 20px;
				margin-top: 20px; */
				padding-bottom: 20px;
				background-color: #FFF;
			}

			.breadcrumb>li+li:before {
				padding: 0 5px;
				color: #FFF;
				content: ">";
			}

			.container-fluid {
				background: #CCC;
				height: 30px;
			}

			.breadcrumb {
				background: transparent;
				margin-bottom: 0;
			}

			.breadcrumb li a {
				color: #FFF!important;
			}

			.navbar {
				min-height: 30px;
			}

			.control-label {
				color: rgba(51, 51, 51, 0.8)!important;
			}

			.form-horizontal {
				padding-right: 100px;
			}

			.upload-l {
				width: 150px;
				height: 150px;
				border: 1px solid #CCC;
				text-align: center;
				line-height: 145px;
			}

			.btn-upload {
				background: #CCC;
				border: none;
			}

			.input-lg {
				font-size: 16px;
			}

			.btn-xinxi {
				border-radius: 0;
				position: relative;
				background: #12ADFF;
				border: 1px solid #12ADFF;
				margin-right: 7px;
				width: 200px;
				color: #FFF;
			}

			.btn-xinxi:hover {
				color: #FFF;
			}

			.btn-xinxi p {
				content: "";
				width: 0;
				height: 0;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				border-left: 5px solid #12ADFF;
				position: absolute;
				top: -1px;
				right: -5px;
			}

			.btn-xinxi1,
			.btn-xinxi2 {
				border-radius: 0;
				position: relative;
				background: #EEEEEE;
				border: 1px solid #EEEEEE;
				width: 200px;
				margin-right: 7px;
				color: #333;
			}

			.btn-xinxi1:hover,
			.btn-xinxi2:hover {
				color: #333!important;
			}
			.btn-xinxi1 p {
				content: "";
				width: 0;
				height: 0;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				border-left: 5px solid #EEE;
				position: absolute;
				top: -1px;
				right: -5px;
			}

			.btn-xinxi1 span {
				content: "";
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 5px solid #FFF;
				position: absolute;
				top: -2px;
				left: -1px;
			}

			.btn-xinxi2 p {
				content: "";
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 5px solid #FFF;
				position: absolute;
				top: -2px;
				left: -1px;
			}

			.btn {
				padding: 9px 12px;
			}

			.form-group {
				margin-bottom: 26px;
			}

			.fom-axx1 {
				display: none;
			}

			.fom-axx3 {
				display: none;
			}
			.breadcrumb {
    /*padding: 5px 15px!important;*/

}

.navbar {
    border-radius: 0;
}
.change_btn{
    width: 248px !important;
    height: 34px;
    line-height: 16px;
    text-align: center;
    color: #fff;
     background-color:#EA332D;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 0px;
    cursor: pointer;
    margin-top:4px;
}