.clearfloat {
    zoom: 1
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
.user_box{padding: 20px;    min-height: 600px;}
.user_tit {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
}

.user_tit li {
    float: left;
}

.user_tit li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    margin-left: 20px;
}

.user_tit li a.current {
    border-bottom: 1px solid #F25C4B;
}

.user_info_tab {
    margin-top: 20px;
    width: 100%;
}

table,
td,
tr,
th {
    border-collapse: collapse;
}


.field_select {
    margin-right: 10px;
    height: 42px;
    display: inline-block;
    float: left;
        padding: 0 10px;
}
.field_select dt {
    width: 100%;
    background: #fff;
    cursor: pointer;
    height: 33px;
    line-height: 33px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    padding: 1px 17px 1px 10px;
    position: relative;
    overflow: hidden;
}
.field_select.small dt {
    width: 85px;
}
.user_info_tab th {
    background: #fafafa;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #f0f0f0;
    text-align: center;
}

.user_info_tab tr {
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
}

.user_info_tab td {
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.user_info_tab tr:nth-child(odd) {
    background: #fefefe;
}
/*
详细信息
*/
.address_pop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 15;
    display: block;
}
.product_buy_frame{
    width: 459px;
    height:264px;
    margin: 0 auto;
    background: #fff;
    margin-top: 290px;
    border-radius: 5px;
}
.key p .collect_btn{
    display: block;
    padding: 0 20px;
    margin-left: 25px;
    background: #FF9C00;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    float: left;
    line-height: 36px;
}
.product_buy_title{
    height: 40px;
    width: 100%;
    background-color: #283244;
    color: #fff;
}
.product_buy_site{
    display: none;
}
.products_buy_exit{
    float: right;
    width: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
}
.product_buy_site input{
    border: 1px solid #d7d7d7;
}
    .product_buy_title span{
        font-size: 16px;
        line-height: 40px;
        margin-left: 16px;
    }
    .product_buy_con{
        padding: 23px 23px 35px 19px;
        box-sizing: border-box;
    }
    .product_buy_item{
        line-height: 25px;
        height: 25px;margin-bottom:22px;
    }
    .product_buy_item span{
        width: 78px;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        float: left;
        margin-right: 30px;
        text-align: right;
    }
    .product_buy_item span em{
        color: #FF0000;
        margin-right: 5px;
    }
    .product_buy_input{
        float: left;
        margin-right: 16px;
    }
    .product_buy_input input {
        width: 165px;
        height: 25px;
    }
    .product_buy_add{
        color: #999;
        float: left;
    }
    .product_buy_item .product_buy_checkbox{
        float: left;
        margin-top: 7px;
        margin-right: 7px;
    }
    .product_buy_item .product_buy_btn{
        width: 123px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        background-color: #FF9C00;
        border: 0;
        border-radius: 3px;
        cursor: pointer;
    }
    .jqzoom img{
        max-height: 350px;
        max-width: 350px;
    }
.field_select.small dt{
    height: 25px;
    line-height:25px;
}
/* 发私信 */
.product_float{
    position: fixed;
    left: 0;right: 0;
    bottom: 0;top: 0;
    background: rgba(0,0,0,.5);
    z-index: 999;
    display: none;
}
.product_msg{
    position: fixed;
    left: 0;right: 0;
    bottom: 0;top: 0;
    background: rgba(0,0,0,.5);
    z-index: 999;
    display: none;
}
.product_right{
    float: right;
    padding-top: 7px;
    padding-right: 7px;
    cursor: pointer;
}
.product_det{
    width: 410px;
    height: 240px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff;
}
.product-header{
    background: #283244;
    height: 46px;
    line-height: 46px;
    width: 100%;
    color: #fff;
}
.product-title{
    color: #fff;
    float: left;
    padding-left: 20px;
}
.product-content{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.product-content-title{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-content-img{
    width: 280px;
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
}
.product-content-img div{
    width: 100%;
}
.product-content-footer{
    margin-top: 20px;
    text-align: center;
}
.product-content-money{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.product_back{
    display: none;
    position: fixed;
    left: 0;right: 0;
    bottom: 0;top: 0;
    width: 280px;
    height: 160px;
    background: #eee;
    z-index: 1000;
    border-radius: 5px;
}
.product_back_title{
    background: #283244;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    color: #fff;
}
.product_back_text{
    padding: 20px 0;
    text-align: center;
}
.product_back_btn{
    margin-bottom: 15px;
}
.product_back_left{
    background: #faaa00;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 0 35px;
    width: 80px;
    border-radius: 4px;
}
.product_back_right{
    background: #ff6600;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 0 10px;
    width: 80px;
    border-radius: 4px;
}
.product_text{
    width: 360px;
    height: 100px;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
.product_btn{
    display: inline-block;
    margin-top: 10px;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    background-color: #12adff;
    cursor: pointer;
}
.product_msg_btn{
    display: inline-block;
    margin-top: 10px;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    background-color: #12adff;
    cursor: pointer;
    float: right;
    margin-right: 18px;
}
.product-content-con{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.product-content-msg{
    float: left;
    margin-top: 10px;
    margin-left: 18px;
}
.user_info_tab  tbody tr td img{
    height: 24px;
}
.intended_users_msg{
    margin: 0 5px;
}
.field_select.small dt{
    height: 38px;
    line-height: 38px;
}
.field_select dt{
	height:38px;
	line-height:38px;
}
.field_select dt i{
    top: 18px;
}
.field_select dd{
	width:134px;
}


.ui-button, .ui-button_active, .ui-button_hover, .ui_button {
    border: 1px solid transparent;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    display: inline;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.theme_bgcolor {
    background-color: #26B5EF;
}
.f_r .theme_bgcolor {
    background: #F25C4B;
}
.dlmain .f_r .theme_bgcolor {
    background: #faaa00;
    color: #fff;
}

