#top {
    background: url(/common/img/top.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 10002;
}

#right {
    margin-top: 0;
    background: #fff;
}

#support {
    color: red;
    background: #f7f7f7;
}

.art-issuer span {
    padding-right: 15px;
}


.art-text, .art-cover, .art-link {
    line-height: 65px;
}

.art-private {
    margin-top: 10px;
    line-height: 50px;
}

#yes, #no {
    margin-left: -30px;
}

.editor {
    margin-top: -500px;
    margin-left: 180px;
    display: none;
}

.image-upload{
    position: relative;
    width: 150px;
    height: 150px;
    border: dashed 1px #c4c4c4;
    margin-top: -175px;
    margin-left: 180px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    opacity: 0.5;
    background: url(/common/img/img-1.png) center no-repeat;
    /*background-size: 100%;*/
    background-color: #9c9c9c;
    float: left;
    display: none;
}

.image-upload:hover{
    opacity: 1;
}

.image{
    position: relative;
    height: 150px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

#summary{
    resize:none;
    overflow-x:hidden;
    overflow-y:visible;
    width:600px;
    height:100px;
    margin-left: 130px;
    margin-top: -20px;
    border-radius: 5px;
    line-height:30px;
    color:#363636;
    vertical-align:top;
}

#art-link {
    width: 600px;
    margin-left: 130px;
    margin-top: -50px;
}

.art-submit {
    margin-top: 25px;
    text-align: center;
    font-size: small;
}

.art-issuer span {
    padding-right: 15px;
}

.show-art {
    position: relative;
    width: 300px;
    height: 360px;
    border: 1px solid #d1d1d1;
    // top: 120px;
    margin: 0 15px;
    margin-bottom: 30px;
    background: white;
    float: left;
}

.show-title {
    width: 300px;
    height: 70px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.at {
    width: 280px;
    height:50px;
    line-height: 50px;
    font-size: 18px;
    color: #272727;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}

.ad {
    height: 20px;
    line-height: 1px;
    font-size: 15px;
    color: #828282;
}

.show-pic {
    height: 140px;
    background: url(/common/img/p2240259307.jpg) no-repeat center;
    background-size: 100%;
    margin: 0 10px;
}

.show-cont {
    height: 90px;
    margin-top: 10px;
    font-size: 14px;
    padding: 0 10px;
}

.show-bottom {
    height: 50px;
    border-top: 1px solid #EEEEEE;
    display: flex;
    justify-content: center;
    // align-itmes: center;
    line-height: 50px;
    z-index: 10001;
}

.show-bottom:hover {
    cursor: pointer;
}

.show-shade {
    width: 298px;
    height: 310px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-shade p {
    color: #f0f0f0;
    cursor: pointer;
}

.art-text, .art-cover, .art-link {
    line-height: 65px;
}

.art-private {
    margin-top: 10px;
    line-height: 50px;
}

#yes, #no {
    margin-left: -30px;
}

.editor {
    margin-top: -500px;
    margin-left: 180px;
    display: none;
}

.image-upload{
    position: relative;
    width: 150px;
    height: 150px;
    border: dashed 1px #c4c4c4;
    margin-top: -175px;
    margin-left: 180px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    opacity: 0.5;
    background: url(/common/img/img-1.png) center no-repeat;
    background-color: #9c9c9c;
    float: left;
    display: none;
}

.image-upload:hover{
    opacity: 1;
}

.image{
    position: relative;
    height: 150px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

#summary{
    resize:none;
    overflow-x:hidden;
    overflow-y:visible;
    width:600px;
    height:100px;
    margin-left: 130px;
    margin-top: -20px;
    border-radius: 5px;
    line-height:30px;
    color:#363636;
    vertical-align:top;
}

#art-link {
    width: 600px;
    margin-left: 130px;
    margin-top: -50px;
}

.art-submit {
    margin-top: 25px;
    text-align: center;
    font-size: small;
}

.more {
    position: relative;
    width: 100%;
    height: 40px;
    left: -50px;
    margin-top: 120px;
    /*background-color: white;*/
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    float: left;
    cursor: pointer;
}
.show-tiket {
    width: 50%;
    border-left: 1px solid #eee;
}
.show-read {
    width: 50%;}
    .backstage-wrap.wrap1120 {
    width: 998px;
     margin: 0px auto;
    min-width: 998px!important;
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 70px;
}
.project-search {
    padding: 20px 23px 10px 22px;
    background: transparent;
    position: relative;
}
.project-checked {
    padding: 5px 23px 0 22px;
    background: transparent;
}
.personal-center-right {
    padding-left: 0px;
    width: 998px;
    margin-right: 22px;
    min-height: 500px;
}
.m-ulitem .m-location table {
    width: 96%;
    margin:0 auto;
}
.project-checked a {
    color: #55acef !important;
    text-decoration: underline !important;
    margin: 0 5px !important;
}
.m-ulitem ul.list-nav {
    border-bottom: 1px #e4e4e4 solid;
    width: 96%;
    margin: 0 auto;
}
.m-location table thead td, .m-location table tbody td {
    text-align: center;
    border: none;
}
.m-ulitem .m-location table tr.bg-tr {
     background: transparent;
    line-height: 35px;
    height: 35px;
}
.manage_a,.manage_a:hover{
     display: block;
     width:100px;
     height:30px;
     line-height:20px;
    padding: 5px 17px;
    background: #5caff0;
    border-radius: 20px;
    margin: 15px auto;
    font-size:14px;
    color:#fff!important;
}
.m-location table tbody tr {
    border: none;
}
.loca-table{
    margin:0px auto!important;
    // margin-bottom:20px!important;
}
.loca-table td{
    width:100%;
    display:inline-block;
    padding-left:20px!important;
    text-align:left!important;
    padding:10px!important;
}
.m-ulitem .m-location table tr {
    vertical-align: inherit;
    border-bottom: 1px #e4e4e4 solid;
}
.backstage-wrap.wrap1120 {
    width: 998px;
    margin: 0px auto;
    min-width: 998px!important;
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 70px;
}
.personal-center-right {
    padding-left: 0px;
    width: 998px;
    margin-right: 22px;
    min-height: 500px;
}
.m-ulitem ul.list-nav {
    border-bottom: 1px #e4e4e4 solid;
    width: 96%;
    margin: 0 auto;
}
.m-ulitem ul.list-nav li {
    float: left;
    line-height: 35px;
}
.m-ulitem ul.list-nav li a.z-own {
    border-bottom: 1px #55acef solid;
    margin: 0 0 -1px 0;
}
.m-ulitem ul.list-nav li a {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 0 26px;
    background: #fff;
}
.m-ulitem .m-location {
    padding: 20px 0 0px 0;
}
.m-location table thead {
    background: #f6f7fb;
    line-height: 34px;
    height: 34px;
    color: #858a9d;
}
.m-ulitem .m-location table tr {
    vertical-align: inherit;
    border-bottom: 1px #e4e4e4 solid;
}
.m-location table tr {
    border: 1px #e4e4e4 solid;
}
.manage_a, .manage_a:hover {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    padding: 5px 17px;
    background: #5caff0;
    border-radius: 20px;
    margin: 15px auto;
    font-size: 14px;
    color: #fff!important;
}
.manage_b, .manage_b:hover {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    padding: 5px 17px;
    background: #FDCA77;
    border-radius: 20px;
    margin: 15px auto;
    font-size: 14px;
    color: #fff!important;
}