#supactivity {
    color: red;
    background: #f7f7f7;
}
.show-read{width:50%;}
.show-tiket{width:50%;border-left:1px solid #eee;}
.ticket-modal {
    margin-top: 12%;
    max-width: 530px;
}
.show-shade{z-index: 999;}
.modal-body{padding:0;}
.ticket-title{
 padding: 0 20px 10px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.ticket-name{
    padding: 0 20px 10px;
    font-size: 14px;
}
.ticket-phone{
  padding: 0 20px 10px;
    font-size: 14px;
}
.ticket-position{
    padding: 0 20px 10px;
    font-size: 14px;
}
.ticket-company{
    padding: 0 20px 20px;
    font-size: 14px;
}
.ticket-box{
      width: 100%;
    margin: 0 auto;
    /* padding: 41px 0; */
    // background: #f6f6f6;
    border-radius: 20px;
    position:relative;
}
.ticket-qr{
    text-align: center;
    padding-top: 20px;
    /*paddign-bottom: 20px;*/
    border-radius: 20px;
    // background: #f6f6f6;
}
.ticket-time{
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 10px;
}
.ticket-addr{
    padding: 0 20px 10px;
    font-size: 14px;
}
.t_blank{
width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    background: #007cd3;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
.ticket-box-top{
    text-align: left;
    padding-top: 11px;
    padding-bottom: :10px;
    padding-bottom: 20px;
    border-radius: 14px;
    background: #f6f6f6;
    border-bottom:1px solid #ccc;
}
.ticket-box-bottom{
    text-align: left;
    padding-top: 20px;
    border-radius: 14px;
    padding-bottom: 20px;
    background: #f6f6f6;
}
.ticket-box i{
  color:#007cd3;
}
.winning-class {
            background: transparent !important;
            border: none;
            box-shadow: 0px 0px 0px rgba(0,0,0,.3);
  }
  .sign_telphone{
        display: inline-block;
       width: 12px;
    height: 13px;
    /* height: 19px; */
    // background: url(/common/img/sign2.png) no-repeat 0px center;
    // background-size: 100%;

        background: url(/common/img/sign3.png) no-repeat 0px center;
        background-size: 100%;
  }
  .sign_ticname{
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 18px;
    background: url(/common/img/sign2.png) no-repeat 0px center;
    background-size: 100%;
  }
  .sign-ticzw{
      display: inline-block;
      width: 13px;
    height: 13px;
    /* height: 19px; */
    // background: url(/common/img/sign2.png) no-repeat 0px center;

        background: url(/common/img/sign4.png) no-repeat 0px center;
        background-size: 100%;
  }
  .sign-ticcom{
        display: inline-block;
       width: 13px;
    height: 13px;
    /* height: 19px; */
    // background: url(/common/img/sign2.png) no-repeat 0px center;
    // background-size: 100%;
        background: url(/common/img/sign.png) no-repeat 0px center;
        background-size: 100%;
  }
  .layui-layer-setwin .layui-layer-close2 {
    position: absolute;
    right: 14px!important;
    top: 7px!important;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -149px -31px;
    _display: none;
}
.modal-content {
    position: relative;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
     border: none;
     border: none;
    border-radius: 6px;
    outline: 0;
     -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);
     box-shadow: 0 0px 0px rgba(0,0,0,.5);
}
.ticket{
    padding:0 20px 0;
    background: #fff;
}
.ticket-item{
    position: relative;
    min-height: 45px;
    padding: 10px;
    border: 1px solid #04a6e9;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ticket-item:before{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 68%;
    display: block;
    width: 7px;
    height: 100%;
    content: "";
    background: url('/common/img/ticket_center.png') no-repeat;
    background-size: 100% 100%;
}
.ticket-item>p{
    float: left;
    width: 68%;
    height: 18px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}
.ticket-item>.tic-price{
    float: right;
    width: 30%;
    text-align: center;
    position: relative;
}
.ticket-item .tic-price span{
    position: absolute;
    z-index: 1;
    width:100%;
    display: block;
    color: #04a6e9;
    font-size: 18px;
    font-weight:bold;
}
.ticket-item .num{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #f9f9f9;
    border-top-right-radius: 7px;
    background-color: #04a6e9;
}
.ticket-item .num span{
    font-size: 12px;
    position: relative;
    top: 5px;
    left: 5px;
    display: block;
    width: 40px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    color: #fff;
}