.tuijie_con_top {
    height: 190px;
    background: url(/common/img/tuijieren_bg.jpg) 20px 20px no-repeat;
    padding: 20px;
    margin-top: -20px;
    margin-right: 20px;
    position: relative;
}
.tuijie_con_top img {
    position: absolute;
    top: 71px;
    left: 68px;
}
.tuijie_name {
    position: absolute;
    top: 133px;
    left: 220px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
.tuijie_con_bottom {
    padding: 50px;
    font-size: 15px;
}
.tuijie_con_bottom li {
    height: 56px;
    line-height: 56px;
    padding: 0 20px;
    border-bottom: 1px dashed #f0f0f0;
}

.tuijie_con_bottom i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/common/img/tuijie_bg.png) no-repeat;
    margin-right: 10px;
}
.tuijie_con_bottom .sex {
    background-position: 0 3px;
}
.tuijie_con_bottom .tit {
    background-position: 0 -54px;
}
.tuijie_con_bottom .certified {
    background-position: 0 -110px;
}
.tuijie_con_bottom .birth {
    background-position: 0 -164px;
}
.tuijie_con_bottom .place {
    background-position: 0 -218px;
}
.tuijie_con_bottom .place_now {
    background-position: 0 -274px;
}
.tuijie_con_bottom li span {
    margin-left: 10px;
}


.grateful {
    position: relative;
}
.mt20 {
    margin-top: 20px;padding: 0 20px;
}
.grateful .grateful-money {
    width: 100%;
    height: 265px;
    background-size: 480px;
    font-size: 60px;
    color: #E6CC91;
    padding: 125px 0 0 20px;
    font-weight: bold;
    background: url(/common/img/wz-gf-moneybg.jpg) 0 0px no-repeat;
}
.grateful_bottom {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background: url(https://tanli.wezchina.com/app/Tpl/wezchina/images/wz_ui/grateful_bottom.jpg) no-repeat;
    padding: 0 20px;
}
.grateful_mon {
    position: absolute;
    line-height: 70px;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
}
.grateful_btn {
    position: absolute;
    right: 73px;
    top: 13px;
}
.grateful_mon i {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}
.empty_tip {
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

#head {
    display: block;
    border-radius: 131px;
}