body,
html {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.container .phone-content {
  display: table;
  width: 100%;
  height: 100%;
}
.container .phone-content body {
  overflow: scroll;
  overflow-y: hidden;
}
