html,body{
  width: 100%;
  height: 100%;
}
//头部begin
.top{
  width: 100%;
  img{
    display: block;
    width: 100%;
  }
}
//votetitle begin
.votetitle{
  width: 100%;
  overflow: hidden;
  p{
    width: 100%;
    /*height:50px;*/
    /*background: palegoldenrod;*/
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }
  ul{
    margin:0 10px;
    padding:7px 0;
    background-color: #e60000;
    border-radius: 5px;
    li{
      height:35px;
      width: 33.3%;
      float: left;
      padding-top: 2px;
      color: #fff;
      border-right: 1px solid #fff;
      text-align: center;
      span{
        font-size: 12px;
      }
    }
  }
  .attention{
    width: 100%;
    /*height: 300px;*/
    /*background:hotpink;*/
    margin-top: 25px;
    margin-left: 10px;
    form{
      width:100%;
      height: 30px;
      .search_1{
        width: 66.67%;
        height: 100%;
        float: left;
        padding-right: 10px;
        input{
          width:100%;
          height: 100%;
          border: 1px solid rgba(0,0,0,.2);
          border-radius: 3px;
          outline: none;
          padding-left: 15px;
        }
      }
      .search_2{
        width:33.33%;
        height: 100%;
        float: left;
        button{
          height: 30px;
          padding:0 15px;
          background-color: #e60000;
          border-radius: 3px;
          border: 1px solid #dd524d;
          color: #fff;
          i{
            font-size:14px;
            margin-right: 5px;
          }
        }
      }
    }


  }

}

.condition{
  width: 100%;
  padding-left: 10px;
  margin-top: 30px;
  .rule-title{
    color: #e60000;
    border-bottom: 2px solid #e60000;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .one,.second,.three{
    width: 100%;
    margin-bottom: 15px;
  }
  i{
    font-size: 15px;
    margin-right:5px;
  }
  .shuoming{
    width: 100%;
    /*height:200px;*/
    /*background:gold;*/
    margin-top:22px;
  }
  .four{
    margin:15px 0;
    i{
      font-size: 15px;
      margin-right:5px;
    }
  }
  .cont{
    width: 100%;
    padding-left: 10px;
    p{
      margin-bottom: 15px;
      span{
        font-weight: 700;
      }
      img{
        display: block;
        width: 100%;
      }
    }
  }


}



//ad begin
.ad {
  width: 100%;
  /*background: pink;*/
  margin-top: 50px;
  padding:0 10px;
  img{
    display: block;
    width: 100%;
    margin-top: 5px;
  }
}
//foot begin
.foot{
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #666;
  background-color: #F5F5F5;
  text-align: center;
  span{
    color: #333;
    text-decoration: underline;
  }
}
//操作栏
.control{
  width: 40px;
  height:140px;
  //background:green;
  position: fixed;
  bottom:30px;
  right: 0;
  .home{
    width: 100%;
    height: 40px;
    background-color: #ec5f38;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    a{
      color:#fff!important;
    }
  }
  .paiming{
    width: 100%;
    height: 40px;
    background-color: #F7B824;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    a{
      color:#fff!important;
    }
  }
  .guize{
    width: 100%;
    height: 40px;
    background-color: #24b5f7;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    a{
      color:#fff!important;
    }
  }
}
