
/*个人认证模块*/
* {}
html, body { background: #F7F6F2; }
#form_list { display: none; background-color: #FFF; }
#auth { color: red; background: #f7f7f7; }
#top { background: url(/common/img/top.png) no-repeat center; background-size: 100% 100%; }
#article:hover > div.word, #project:hover > div.word, #active:hover > div.word, #shopping:hover > div.word, #zone:hover > div.word { display: block !important; margin-top: -35px; }
.container1, .con-hd { background-color: #FFF; }
.breadcrumb > li + li:before { padding: 0 5px; color: #FFF; content: ">"; }
.container-fluid { background: #CCC; }
.breadcrumb { background: transparent; margin-bottom: 0; padding: 5px 15px; }
.breadcrumb li a { color: #FFF!important; }
.navbar { min-height: 37px; }
.display-head { margin: 0; border: none; height: 30px; min-height: 30px; }

.cart_shop_list { overflow: hidden; border-top: 1px solid #eee; }
.cart_shop_business_all { display: flex; align-items: center; justify-content: space-between; margin: 15px 25px; padding: 15px; border: 1px solid #eee; text-align: center; }
.cart_shop_business { display: flex; align-items: center; justify-content: space-between; margin: 15px 25px 0; padding: 15px; border: 1px solid #eee; text-align: center; }
.cart_shop_list > .cart_shop { display: flex; align-items: center; justify-content: space-between; margin: 0 25px; padding: 15px; border: 1px solid #eee; border-top: transparent; }
.cart_shop_list > .cart_shop > div { text-align: center; }
.cart_shop_basic  { flex: 1; display: flex; justify-content: flex-start; flex-direction: column; min-width: 250px; max-width: 250px; }
.cart_shop_price  { flex: 1; }
.cart_shop_piece  { flex: 1; display: inline-flex; justify-content: center; }
.cart_shop_operation { flex: 0.5; }
.cart_shop_select { flex: 1; width: 48px; max-width: 48px; display: inline-flex; align-items: center; }
.cart_shop_select input { vertical-align: middle; margin: 0; padding: 0; }
.cart_shop_business_all > .cart_shop_img { flex: 1; max-width: 150px; }
.cart_shop > .cart_shop_img { flex: 1; height: 150px; max-height: 150px; max-width: 150px; }

.cart_shop > .cart_shop_img  > img { height: 150px; max-height: 150px; max-width: 150px; }
.cart_shop > .cart_shop_piece > input { display: inline-block; width: 20px; height: 20px; border: 1px solid #ddd; color: #666; outline: none; }
.cart_shop > .cart_shop_piece > input#quantity { border: none; box-shadow: inset 0px 0px 0px 1px #ddd; min-width: 38px; text-align: center; font-size: 12px; }
.cart_shop > .cart_shop_basic { text-align: left!important; }
.cart_shop > .cart_shop_operation > .cart_shop_delete { cursor: pointer; }

.cart_shop_order { display: flex; align-items: center; justify-content: space-between; margin: 15px 25px; height: 45px; border: 1px solid #eee;  }
.cart_shop_order_info { flex: 1; padding: 0 15px; }
.cart_shop_order_sub { flex: 1; max-width: 150px; line-height: 45px; text-align: center; background-color: #e54346; color: #fff; font-size: 18px; font-family: "Microsoft YaHei"; cursor: pointer; }