.user-info {
  margin-top: -3px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 40px 15px;
  width:100%;
  height:auto;
}
.user-info form > div {
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 25px;
  box-shadow: 1px 2px 5px #ccc;
}
.user-info form > div .line {
  width: 97%;
  border-bottom: 1px solid #ccc;
  margin-left: 15px;
}
.user-info .querendingdan {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}
.user-info .querendingdan img {
  float: right;
}
.user-info .heduidingdan {
  margin-top: 50px ;
  font-size: 16px;
  margin-bottom:10px;
}
.user-info .heduidingdan img {
  margin-left: -50px;
  margin-top: -5px;
}
.user-info .product-buy-list {
  height: 168px;
  width: 98%;
  padding: 15px 50px;
  background: #fff4e8;
  margin: 0;
}
.user-info .product-buy-list .col-sm-2 img {
  width: 102px;
  height: 102px;
}
.user-info .product-buy-list .col-sm-4 {
  margin-left: -20px;
  color: #918a84;
}
.user-info .product-buy-list .col-sm-4 .fenglei {
  display: block;
  width: 60px;
  height: 20px;
  border: 1px solid #02c555;
  text-align: center;
  border-radius: 7px;
  line-height: 20px;
  color: #02c555;
  margin-bottom: 10px;
}
.user-info .product-buy-list .col-sm-3 {
  padding-top: 28px;
}
.user-info .product-buy-list > li {
  list-style: none;
}
.user-info .product-buy-list li:nth-of-type(1) {
  height: 80px;
}
.user-info .product-buy-list li:nth-of-type(4) {
  padding-left: 10%;
}
.user-info .co-tit {
  width: 100%;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  font-size: 14px;
  font-weight: 600;
}
.user-info .add-address {
  display: block;
  color: #007cd3;
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
  width: 180px;
  padding-bottom: 0;
}
.user-info .list-item {
  padding-left: 15px;
  height: 30px;
  margin-bottom: 10px;
}
.user-info .list-item .xinming {
  float: left;
  font-size: 16px;
  display: block;
  color: #585858;
  margin-right: 5px;
  height: 32px;
  line-height: 30px;
  min-width: 140px;
  text-align: center;
}
.user-info .list-item .dizhi {
  font-size: 14px;
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
}
.user-info .list-item .dizhi-active {
  background: url(/new.wezchina.com/user/img/weixinzhifu.png);
}
.user-info .amount-num {
  float: left;
  border: 1px solid #e0e0e0;
}
.user-info .amount-num input {
  float: left;
  width: 30px;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  margin-top: 1px;
  text-align: center;
  border: 0 none;
}
.user-info .amount-num-jian,
.user-info .amount-num-jia {
  float: left;
  height: 28px;
  line-height: 28px;
  width: 20px;
  background: #eee;
  color: #666;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}
.user-info .product-msg {
  margin-bottom: 50px;
  overflow: hidden;
}
.user-info .product-msg textarea {
  width: 364px;
  height: 96px;
  resize: none;
}
.user-info .product-msg p {
  margin: 20px 0;
  width: 80px;
}
.user-info .pay-list {
  text-align: right;
  padding: 10px;
  margin: 10px 0;
}
.user-info .pay-list .shouhuodizhi {
  width: 100%;
  height: 80px;
  background: #ECECEC;
  line-height: 40px;
}
.user-info .pay-list .shouhuodizhi #pay_price {
  color: red;
  font-size: 18px;
}
.user-info .pay-list .sub {
  height: 35px;
  margin: 15px 0;
}
.user-info .pay-list .sub span {
  display: inline-block;
  line-height: 0.5px;
  height: 100%;
}
.user-info .pay-list .sub .btn-danger {
  background: #f40000;
}
.user-info .pay-list p {
  padding: 5px 0;
  font-size: 14px;
  margin: 0;
}
.address_pop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: block;
}
.product_buy_site input {
  border: 1px solid #d7d7d7;
}
.product_buy_frame {
  width: 709px;
    height: 420px;
    margin: 0 auto;
    background: #fff;
    margin-top: 240px;
    overflow: hidden;
}
.product_buy_title {
  height: 40px;
  width: 709px;
  background-color: #EAEAEA;
}
.product_buy_title span {
  font-size: 16px;
  line-height: 40px;
  margin-left: 16px;
}
.products_buy_exit {
  float: right;
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.product_buy_con {
  height: 313px;
  padding: 23px 23px 35px 19px;
  box-sizing: border-box;
}
.product_buy_item {
  line-height: 25px;
  height: 25px;
  margin-bottom: 22px;
}
.product_buy_item span {
  width: 78px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.product_buy_item span em {
  color: #FF0000;
  margin-right: 5px;
}
.product_buy_input {
  float: left;
  margin-right: 16px;
}
.product_buy_input {
  float: left;
  margin-right: 16px;
}
.product_buy_item .product_buy_btn {
  width: 123px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #FF9C00;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.pay_all img {
  margin-bottom: 30px;
  margin-left: 15px;
}
