@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑","PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei",sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0;
}

html,body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.center-disperse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-article-ul {
    position: fixed;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

.list-article-ul li {
    padding: 12px 0;
    font-size: xx-small;
    list-style-type: initial;
    list-style-position: inside;
}

.list-article-ul li a{
    display: inline-block;
    padding: 0 20px 0 0;
    font-size: 15px;
    color: #666;
}

.list-article-ul li:hover,
.list-article-ul li:hover a {
    color: #46baef;
    cursor: pointer;
}

.list-article-ul li small{
    font-size: 12px;
}

.rich_media_title {
    height: auto !important; 
    line-height: normal !important;
    font-size: 24px !important;
    margin: 0 0 10px !important;
    white-space: normal !important;
}

.clearfix.bts span.publisher, .clearfix.bts span.updated_at {
    display: block;
    font-size: 17px !important;
}

.clearfix.bts span.publisher {
    color: #607fa6;
    font-weight: normal !important;
}

.clearfix.bts span.updated_at {
    color: #8c8c8c;
}

.clearfix.bts {
    flex-direction: row-reverse;
    justify-content: flex-end !important;
    height: 30px;
    margin: 0 0 10px !important;
}

.list-article-ul .clearfix {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.list-article-ul .bts {
    margin: 20px 0;
    color: #8c8c8c;
}
.list-article-ul .clearfix>span {
    margin-right: 15px;
}

.list-article-ul .clearfix .publisher {
    font-size: 18px;
    font-weight: 600;
}

.page-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 28px;
}

.list-article-ul .page-details {
    padding: 5px 0 10px;
    font-family: "微软雅黑","PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei",sans-serif;
}

.list-article-ul .page-details p {
    text-indent: 2em;
    padding-bottom: 8px;
    margin: 0;
    line-height: 28px;
    color: #333;
    text-align: justify;
}

.list-article-ul .page-details img {
    width: 90%;
}

.list-article-ul .page-details p {
    text-indent: 0 !important;
}

.list-article-ul .page-details img {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
}

.list-article-ul .evaluate {
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: #8c8c8c;
    font-size: 16px !important;
}

.list-article-ul .evaluate .readings span {
    padding-right: 1rem;
}

.list-article-ul .evaluate .readings span:last-child {
    cursor: pointer;
}

.list-article-ul .evaluate .readings .gesture {
    width: 15px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 4px 0;
    background-image: url(/common/img/zan.png);
}

.list-article-ul .evaluate .readings .already {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);    
    filter: grayscale(100%);    
    filter: gray
}

.read_original {
    padding: 0px 10px;
    color: #607fa6;
    text-decoration-line: unset!important;
    text-decoration: none!important;
}

.zan, .source_url {
    display: none;
}