@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "微软雅黑","PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei",sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0;
}

html,body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.center-disperse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-article-ul {
    position: fixed;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

.list-article-ul li {
    padding: 12px 0;
    font-size: xx-small;
    list-style-type: initial;
    list-style-position: inside;
}

.list-article-ul li a{
    display: inline-block;
    padding: 0 20px 0 0;
    font-size: 15px;
    color: #666;
}

.list-article-ul li:hover,
.list-article-ul li:hover a {
    color: #46baef;
    cursor: pointer;
}

.list-article-ul li small{
    font-size: 12px;
}

.organize-content .org_content h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    font-family: '微软雅黑';
    text-align: center;
    padding: 1.5rem 0;
}

.organize-content .org_content>div {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    text-align: justify;
}

.organize-content .org_content>div img {
    margin: 1rem auto;
    display: block;
}
