#content{
    background: url("/common/img/bg.gif");
    padding: 30px 0;
}
ul,li {
    list-style: none;
}
#pay{
    width: 1200px;
    height: auto;
    margin: 35px auto;
    background: #EEEEEE;
    /*background: red;*/
}
#pay_success{
    width: 1200px;
    height: auto;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -230px -600px;
}
.pay_info{
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    padding: 45px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 25px;
}
.pay_bz{
    width: 120px;
    height: auto;
    float: left;
}
.pay_bz>img{
    display: block;
    width: 84px;
    height: 84px;
}
.pay_pre{
    width:988px;
    height: auto;
    float: left;
}
.pay_title{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    /*border-bottom: 1px solid #E0E0E0;*/
    overflow: hidden;
}
.title_left{
    width: 80%;
    height: 100%;
    float: left;
}
.title_left>h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    color: #424242;
    margin-bottom: 15px;
}
.title_left>span{
    color: #616161;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 14px;
}
.title_left>span>span{
    color:#ff6700;
}
.title_right{
    width: 20%;
    height: auto;
    float: right;
}
.price{
    color: #757575;
    text-align: right;
    font-size: 14px;
    line-height: 38px;
}
.price>span{
    font-size: 16px;
    color: #FF6700;
}
.price>span::after{
    content: '元';
}
.title_right>span{
    display: block;
    width: 100%;
    color: #757575;
    text-align: right;
    font-size: 14px;
    line-height: 38px;
    cursor: pointer;
    background-image: url("/resource/wetpl/vertical/web/activity/img/693828550_1214538889_down.png");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 182px 14px;
    padding-right:20px;
}

.pay_way{
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    padding: 45px;
    overflow: hidden;
}
.cash-title {
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    color: #424242;
}
/*支付方式*/
.payment-box {
    margin-bottom: 30px;
    color: #424242;
}
.payment-box .payment-header {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
}
.payment-box .payment-header .title {
    float: left;
    font-size: 16px;
    color: #616161;
}
.payment-box .payment-header .desc {
    float: left;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 12px;
    color: #b0b0b0;
}
.payment-list {
    margin: 0 0 0 -14px;
    padding: 0;
    overflow: hidden;
}
.payment-list li {
    float: left;
    width: 174px;
    height: 60px;
    line-height: 60px;
    margin-left: 14px;
    margin-bottom: 14px;
    border: 1px solid #e0e0e0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all .4s;
}
.event-desc {
    width: 894px;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    line-height: 2;
    position: relative;
}
#J_weixin>img{
    width: 172px;
    height: 60px;
    display: block;
    margin-top: -2px;
}
.event-desc p {
    margin: 0;
    color: #757575;
}
/*详情开始*/
.order-detail {

    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    color: #424242;
    display: none;
    /*overflow: hidden;*/
}
.order-detail>ul{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
}
.order-detail>ul>li {
    height:30px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #333;
    margin-left: 0;
    padding-left: 0;
}
.order-detail .label {
    float: left;
    width: auto;
    color: #333;
    /*padding: 0;*/
    display: block;
   padding:0 10px 0 0;
   font-size: 14px;
   font-weight: 500;
   line-height:22px;
   text-align: left;

}
.order-detail .content {
  float: left;
}
.order-detail .order-num {
    color: #ff6700;
    padding-left: 25px;
}
/*详情结束*/
/*二维码支付样式*/
.payment-block{
    width: 383px;
    height: 387px;
    overflow: hidden;
}
.payment-qrcode{
    width: 100%;
    height: 304px;
}
.payment-qrcode>img{
    margin: 0 auto;
    display: block;
}
.payment-desc>p{
    text-align: center;
}
.payment-mark>img{
    margin: 0 auto;
    display: block;
}