.category{
    width: 1200px;
    height:auto;
    margin: 0 auto 65px;
}
ul{
    margin: 0;
}
/*分类列表*/

.cate-list{
    width: 100%;
    height:auto;
    font-size: 14px;
    color: #333333;
    padding: 34px 0 30px;
    border-bottom: 1px solid #D9D9D9;
    overflow: hidden;
}
.cate-list>span{
    width: auto;
    height:16px;
    margin-right: 30px;
    float: left;
    line-height: 16px;
}
.cate-list>li{
    width: auto;
    height:16px;
    float: left;
    margin-right: 50px;
    line-height: 16px;
    cursor: pointer;
}
.cate-list>li:last-of-type{
    margin-right: 0;
}

/*时间列表*/

.time-list{
    width: 100%;
    height:auto;
    padding: 30px 0 26px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 14px;
    color:#333333;
    overflow: hidden;
    margin-bottom: 40px;
}
.time-list>span{
    width: auto;
    height:16px;
    margin-right: 30px;
    float: left;
    line-height: 16px;
}
.time-list>li{
    width: auto;
    height:16px;
    float: left;
    margin-right: 50px;
    line-height: 16px;
    cursor: pointer;
}
.time-list>li:last-of-type{
    margin-right: 0;
}

/*热门列表*/

.hot-list{
    width: auto;
    height: 34px;
    overflow: hidden;
}
.hot-list>li{
    width: 74px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    float: left;
    color: #333;
    background: #fff;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}
.hot-list>.hot{
    border: none;
    background: #4CAAED;
    color: #fff;
}
/*ul下li字体颜色变化*/
.category .list{
    color: #0579CB;
}

/*内容列表开始*/
.cat-con{
    width: 100%;
    height: auto;
}
.cont-list{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.cont-list>li{
    width: 100%;
    height:220px;
    padding: 30px 0;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
}
.cont-list>li>a{
    width: 260px;
    height: 160px;
    display: block;
    float: left;
    margin-right: 24px;
    overflow: hidden;
}
.cont-list>li>a>img{
    width: 260px;
    height: 160px;
    display: block;
    transition: all ease 1s;
}
.cont-list>li:hover .abstract>a>h3{
    color: #4CAAED;
}

.cont-list>li:hover a>img{
    transform: scale(1.2);
}
.abstract{
    width: 640px;
    height: 160px;
    float: left;
    margin-right: 100px;
    padding: 10px 0;
}
.abstract>a{
    width:100%;
    display: block;
}
.abstract>a>h3{
    font-size: 16px;
    color: #4d4d4d;
    margin-bottom: 16px;
    font-weight: 500;
}
.abstract>a>p{
    width: 100%;
    height:75px;
    font-size: 14px;
    color: #808080;
    margin-bottom: 24px;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 16px;
}
.abst-info{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.info-son{
    width: auto;
    height: auto;
    float: left;
    margin-right: 40px;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
}
.info-son>img{
    display:inline-block;
    margin-right: 3px;
}
.info-son:last-of-type{
    margin-right: 0;
}
.info-son:first-of-type span{
    margin-left: 5px;
    margin-right: 5px;
}
.attend{
    width: 100px;
    height: 100%;
    float: left;
    position: relative;
}
.attend>span{
    width: 100%;
    height: auto;
    color: #EEAD3C;
    font-size: 24px;
    text-align:center;
    display: block;
    margin-bottom: 20px;
    position: absolute;
    bottom:75px;
    left: 0;
}
.attend>button{
    width: 100%;
    height: 34px;
    font-size: 14px;
    background: #EEAD3C;
    line-height: 34px;
    color: #fff;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom:44px;
    left: 0;
    outline: none;
}
.attend .attebd_cur{
    color: #ED4C4C;
}
.attend .button_cur{
    background:#ED4C4C;
}

/*分页*/
.ivu-page{
    margin-bottom: 66px;
}
.ivu-page-item-active{
    background-color: #2D8CF0;
}