<#extend#>public/domain/domain_extend.html</#extend#>
<link rel="stylesheet" href="{{PATH_TML}}css/home.css"/>
<link rel="stylesheet" href="{{PATH_TML}}css/common.css"/>
<link rel="stylesheet" href="{{PATH_TML}}css/my-shopping.css"/>
<div>
    <div class="container mall">
        <menu class="menu" id="menu_title">
            <ul id="shop_type">
                <li v-for="item in sortList" :class="{'active' : currentSort == item.weid}" @click="getSortList(item.weid)" :id="item.weid">{{item.name}}</li>
            </ul>
        </menu>
        <article class="shop">
            <ul>
                <a v-for="good in goodList" :id="good.weid" @click="window.localStorage.setItem('shopping_weid', good.weid)" :href="'/'+ domain +'/wemall/goods/'+ good.weid">
                    <div>
                        <slide class="li_img_wap">
                            <img :src="good.cover | img_src(100, 100, 3)">
                        </slide>
                        <slide class="li_info">
                            <h3>{{good.title}}</h3>
                            <div class="lii_price">￥{{good.price}}</div>
                            <p class="lii_sold">
                                <span>已售：{{good.sales_num}}</span><span>收藏：{{good.collections}}</span></p>
                        </slide>
                    </div>
                </a>
            </ul>
        </article>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            sortList: [],
            goodList: [],
            domain : '',
            currentSort : ''
        },
        mounted() {
            this.$nextTick(() => {
                this.domain = window.location.pathname.split("/")[1];
                ajax.get('goods/cates/listsbyuser/' + pages_info.plats_domian.plat_user_id).then((res) => {
                    console.log(res);
                    if (res.code == 200 && res.data.length) {
                        this.sortList = res.data;
                        this.currentSort = res.data[0].weid;
                        this.getList()
                    }
                })
            });
        },
        methods: {
            getList : function () {
                var sendData = {
                    userId : pages_info.plats_domian.plat_user_id,
                    cate_id : this.currentSort
                }
                ajax.post('goods/lists/user',sendData).then((res)=>{
                    console.log(res);
                    if(res.code == 200 && res.data.list.length){
                        this.goodList = res.data.list;
                    }
                })
            },
            getSortList : function (wid) {
                this.currentSort = wid;
                this.goodList=[];
                this.getList();
            }
        }
    })
</script>
