<#extend#>public/sub_extend.html</#extend#>
<link rel="stylesheet" href="{{PATH_TML}}css/main1.css">
<script src="{{PATH_TML}}js/banner.js"></script>
<script src="{{PATH_TML}}js/main1.js"></script>
<div class="ban">
    <img :src="sub_ads.header2.image | img_src" alt="">
</div>
<div class="main-bg">
 <main>
     <div class="main-s1">
          <div class="s1-l">
              <div class="s1-lt">
                  <span class="qz">商会新闻</span>
                  <a href="">更多</a>
              </div>
              <div class="s1-lb">
                  <div class="s1-lbleft">
                       <ul class="banner">
                            <li v-for="item in sub_ads.banners.list">
                                <a :href="item.url">
                                   <img :src="item.image  | img_src(430 , 310 , 1)" alt="">
                                </a>
                                <a :href="item.url" class="banner-jie" title="{{item.title}}">{{item.title | limitLen(0,12)}}</a>
                            </li>
                        </ul>
                        <div class="btn">
                           <div class="Ibtn-bL"></div>
                           <div class="Ibtn-bR"></div>
                        </div>
                        <ul class="yuan">
                            <li v-for="item in sub_ads.banners.list" class="yson"></li>
                        </ul>
                    </div>

                    <div class="s1-lbright">
                        <ul class="s1-lbr">
                            <li v-for="item in sub_index.news">
                                <a :href="'news/'+item.weid | sub_href">{{item.title | limitLen(0,20)}}</a>
                                <span>[ {{item.cate_title}} ]</span>
                            </li>
                        </ul>
                    </div>
              </div>
          </div>
          <div class="s1-r">
              <div class="s1-rt">
                  <h2>最新公告</h2>
                  <a href="" class="long">更多</a>
              </div>
              <ul class="list">
                  <li v-for="item in sub_index.nitoce">
                      <div class="list-d"></div>
                      <a href="">{{item.title | limitLen(0,15)}}</a>
                  </li>
                  <div class="list-x"></div>
              </ul>
          </div>
     </div>
     <div class="main-s2">
         <div class="s2-lt">
             <span class="qz" v-if="!sub_ads.peoples_title">{{peoples_title.title}}</span>
             <span class="qz" v-else>{{sub_ads.peoples_title.title}}</span>
             <a href="">更多</a>
         </div>
         <div class="fc">
             <div class="fc-left">
                  <a href="">
                      <img :src="sub_ads.leader.image | img_src(195 , 190 , 1)" alt="">
                      <div class="jie">
                          <h3>{{sub_ads.leader.title}}</h3>
                      </div>
                  </a>
              </div>
             <div class="fc-right">
                 <ul class="fc-big fc1">
                     <li v-for="item in T_users">
                         <a :href="'/u/'+item.weid | href">
                             <img :src="item.avatar" alt="">
                             <div class="jie1">
                                 <h3>{{item.real_name}}</h3>
                                 <p>{{item.position}}</p>
                             </div>
                         </a>
                     </li>
                 </ul>
                 <ul class="fc-big fc2">
                     <li v-for="item in T_users">
                         <a :href="'/u/'+item.weid | href">
                             <img :src="item.avatar" alt="">
                             <div class="jie1">
                                 <h3>{{item.real_name}}</h3>
                                 <p>{{item.position}}</p>
                             </div>
                         </a>
                     </li>
                 </ul>
             </div>
         </div>
         <div class="s2-b">
             <div class="s2-b1">
                 <div class="s2-lt">
                     <span class="qz">{{sub_index.spzx.title}}</span>
                     <a :href="sub_index.spzx.domain">更多</a>
                 </div>
                 <div class="s-video">
                     <a href="">
                         <img src="{{PATH_TML}}image/20170628105519-0.png" alt="">
                         <div class="s-jie">
                             <span>上海市浙江商会30周年宣传片</span>
                             <span>《不忘初心 筑梦前行》</span>
                         </div>
                     </a>
                 </div>
                 <ul class="b1-list">
                     <li v-for="item in sub_index.spzx.list">
                         <a :href="item.source_url">{{item.title}}</a>
                         <span>{{item.publish_time | formateString(3)}}</span>
                     </li>
                 </ul>
             </div>
             <div class="s2-b2">
                 <div class="s2-lt">
                     <span class="qz">{{sub_index.mag.title}}</span>
                     <a :href="'magazine/'+sub_index.mag.domain">更多</a>
                 </div>
                 <ul class="b2-list">
                     <li v-for="item in sub_index.mag.list"><a :href="'magazine/'+sub_index.mag.domain+'/'+item.weid"><img :src="item.cover | img_src(130,130)" :alt="item.title" :title="item.title"></a></li>                 </ul>
             </div>
             <div class="s2-b3">
                 <div class="s2-lt">
                     <span class="qz">{{sub_index.gzdt.title}}</span>
                     <a :href="sub_index.gzdt.domain">更多</a>
                 </div>
                 <ul class="b3-list">
                     <li v-for="item in sub_index.gzdt.list">
                         <a href="">{{item.title}}</a>
                         <span>{{item.publish_time | formateString(3)}}</span>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
     <div class="main-s2">
         <div class="s2-lt">
             <span class="qz">友情链接</span>
             <a href="">更多</a>
         </div>
         <ul class="yq">
             <li><a href="">上海市杭州商会</a></li>
             <li><a href="">上海市宁波商会</a></li>
             <li><a href="">上海市温州商会</a></li>
             <li><a href="">上海市嘉兴商会</a></li>
             <li><a href="">上海市湖州商会</a></li>
             <li><a href="">上海市绍兴商会</a></li>
             <li><a href="">上海市金华商会</a></li>
             <li><a href="">上海市丽水商会</a></li>
             <li><a href="">上海市台州商会</a></li>
             <li><a href="">上海市舟山商会</a></li>
             <li><a href="">上海市衢州商会</a></li>
             <li><a href="">上海市投资促进局</a></li>
         </ul>
     </div>
 </main>
 </div>

<script>
    var app = new Vue({
        el: '#content_app',
        data: {
            sub_index : {},  // 首页公用接口
            sub_ads : {},    // 网站广告接口

            banner  : {},    // 轮播滚动图
            banner1 : {},    // 头部广告图
            banner2 : {},    // 头部横图
            leader  : {},    // 商会会长
            link    : {},    // 微链接
            peoples_title : {   // 秦商风采
            	description: '', image: '#', title: '秦商风采', type_id: '3c399426-bbbc-4c1b-acd9-74ada5be3d18', url: '#', weid: '2480ec11-ffdb-48eb-abb8-c8138839b621'
            },
            setting : {},    // 网站信息
            users   : [],    // 会员风采
            T_users : [
                {weid: "71f96b93-da75-11e7-85d7-fa5985d0eee1", avatar: "{{PATH_TML}}image/20170728100344-0.jpg", real_name: "马云", position: "阿里巴巴董事局主席", nickname: "马云"},
                {weid: "71f96b93-da75-11e7-85d7-fa5985d0eee2", avatar: "{{PATH_TML}}image/20170731093934-0.JPG", real_name: "郑永刚", position: "杉杉控股董事局主席", nickname: "郑永刚"},
                {weid: "71f96b93-da75-11e7-85d7-fa5985d0eee3", avatar: "{{PATH_TML}}image/20170731093340-0.jpg", real_name: "周成建", position: "美特斯邦威集团董事长", nickname: "周成建"},
                {weid: "71f96b93-da75-11e7-85d7-fa5985d0eee4", avatar: "{{PATH_TML}}image/20170802094202-0.jpg", real_name: "陈爱莲", position: "万丰奥特控股集团有限公司董事局主席、党委书记", nickname: "陈爱莲"},
                {weid: "71f96b93-da75-11e7-85d7-fa5985d0eee5", avatar: "{{PATH_TML}}image/20170731094134-0.jpg", real_name: "王均金", position: "上海均瑶（集团）有限公司董事长", nickname: "王均金"},
                {weid: "71f96b93-da75-11e7-85d7-fa5985d0eee6", avatar: "{{PATH_TML}}image/20170728103000-0.jpg", real_name: "杨国平", position: "大众交通（集团）股份有限公司董事长", nickname: "杨国平"},
                {weid: "71f96b93-da75-11e7-85d7-fa5985d0eee7", avatar: "{{PATH_TML}}image/20170731094034-0.jpg", real_name: "江南春", position: "分众传媒（中国）控股有限公司 董事局主席兼CEO", nickname: "江南春"},
            ]
        },
        mounted: function() {
            $app.set_title('秦商总会-河南分会');
            this.$nextTick(()=>{
                // 首页相关接口
                $sub_ajax.index((res)=>{
                    this.sub_index = res.data;
                    console.log("sub_index", this.sub_index);
                });

                // 首页广告信息
                $sub_ajax.ads((res)=>{
                    var result = res.data;
                    if(!result.leader) {
                        result.leader = {
                            description : '',
                            image : '',
                            title : '',
                            type_id : '',
                            url : '',
                            weid : ''
                        }

                    }
                    console.log("result", result);
                    this.sub_ads = result;
                    console.log("sub_ads", this.sub_ads);
                });

                // ajax.get("scms/channelAndContent").then((res) => {
                //     console.log("res", res);
                // })
            });
        },
        methods: {
            video() {

            },
            goSearchOpen() {
                var url = '';
                url = all_domian + "so?q=" + this.searchText;
                $app.open_page(url);
            }
        }
    });
</script>
