<#extend#>public/sub_extend.html</#extend#>
<link rel="stylesheet" href="{{PATH_TML}}css/main1.css">
<script src="{{PATH_TML}}js/banner.js"></script>
<script src="{{PATH_TML}}js/main1.js"></script>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<!-- 中间内容模块 -->
<div class="main-bg">
    <!-- 顶部大图 -->
    <div class="ban">
        <img :name="header2" :src="header2.image | img_src(1920, 450, 1)" alt="">
    </div>
    <main>
        <div class="main-s1">
            <div class="s1-l">
                <div class="s1-lt">
                    <span class="qz">商会新闻</span>
                    <a :href="!news.length ? 'javascript:void(0)' : all_domian+'news'">更多</a>
                </div>
                <div class="s1-lb">

                    <!-- 新闻滚动图 -->
                    <div class="s1-lbleft" v-if="banners.length != 0">
                       <ul class="banner">
                            <li v-for="item in banners">
                                <a :href="!item.url||!item.url.indexOf('#') ? 'javascript:void(0)' : item.url">
                                   <img :src="item.image  | img_src(430 , 310 , 1)" alt="">
                                </a>
                                <a :href="!item.url||!item.url.indexOf('#') ? 'javascript:void(0)' : item.url" class="banner-jie" title="{{item.title}}">{{item.title | limitLen(0,12)}}</a>
                            </li>
                        </ul>
                        <div class="btn">
                           <div class="Ibtn-bL"></div>
                           <div class="Ibtn-bR"></div>
                        </div>
                        <ul class="yuan">
                            <li v-for="item in banners" class="yson"></li>
                        </ul>
                    </div>
                    
                    <!-- 商会新闻 -->
                    <div class="s1-lbright">
                        <ul class="s1-lbr">
                            <li v-for="item in news">
                                <a :href="'news/'+item.weid | href">{{item.title | limitLen(0,18)}}</a>
                                <span>[ {{item.cate_title}} ]</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 最新公告 -->
            <div class="s1-r">
                <div class="s1-rt">
                    <h2>最新公告</h2>
                    <a :href="!nitoce.length ? 'javascript:void(0)' : all_domian+'news/ggao'" class="long">更多</a>
                </div>
                <ul class="list">
                    <li v-for="item in nitoce">
                        <div class="list-d"></div>
                        <a :href="'news/'+item.weid | href">{{item.title | limitLen(0,15)}}</a>
                    </li>
                    <div class="list-x"></div>
                </ul>
            </div>
        </div>
        <div class="main-s2">
            <div class="s2-lt">
                <span class="qz" v-if="!peoples_title">{{peoples_title.title}}</span>
                <span class="qz" v-else>{{peoples_title.title}}</span>
            </div>

            <!-- 会员风采 -->
            <div class="fc">
                <div class="fc-left">
                    <a :href="leader.weid ? all_domian+'u/'+leader.weid : 'javascript:void(0)'">
                        <img :src="leader.image | img_src(195 , 190 , 1)" alt="">
                        <div class="jie">
                            <h3>{{leader.title | ''}}</h3>
                            <p>{{leader.description}}</p>
                        </div>
                    </a>
                </div>
                <div class="fc-right" v-if="users.length > 4">
                    <ul class="fc-big fc1">
                        <li v-for="item in users">
                            <a :href="item.weid ? all_domian+'u/'+item.weid : 'javascript:void(0)'">
                                <img :src="item.avatar | img_src(195, 190, 1)" alt="">
                                <div class="jie1">
                                    <h3>{{item.real_name}}</h3>
                                    <p>{{item.position}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="fc-big fc2">
                        <li v-for="item in users">
                            <a :href="item.weid ? all_domian+'u/'+item.weid : 'javascript:void(0)'">
                                <img :src="item.avatar | img_src(195, 190, 1)" alt="">
                                <div class="jie1">
                                    <h3>{{item.real_name}}</h3>
                                    <p>{{item.position}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="fc-right-by" v-else>
                    <ul class="fc-big-by">
                        <li v-for="item in users">
                            <a :href="item.weid ? all_domian+'u/'+item.weid : 'javascript:void(0)'">
                                <img :src="item.avatar | img_src(195, 190, 1)" alt="">
                                <div class="jie1">
                                    <h3>{{item.real_name}}</h3>
                                    <p>{{item.position}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="s2-b">

                <!-- 视频 -->
                <div class="s2-b1">
                    <div class="s2-lt">
                        <span class="qz" v-html="spzx.title"></span>
                        <a :href="!spzx_list.length ? 'javascript:void(0)' : all_domian+spzx.domain">更多</a>
                    </div>
                    <ul class="b1-list" style="margin-top:18px;">
                        <li v-for="(item, index) in spzx_list" v-if="index<8">
                            <a :href="'news/'+item.weid | href">{{item.title | limitLen(0,15)}}</a>
                            <span>{{item.publish_time | formateTime('YMD')}}</span>
                        </li>
                    </ul>
                </div>

                <!-- 杂志 -->
                <div class="s2-b2">
                    <div class="s2-lt">
                        <span class="qz">{{mag.title}}</span>
                        <a :href="!mag_list.length ? 'javascript:void(0)' : '/magazine/'+mag.domain">更多</a>
                    </div>
                    <ul class="b2-list" v-if="mag_list.length != 0">
                        <li v-for="(item, index) in mag_list" v-if="index<6"><a :href="'/magazine/'+mag.domain+'/'+item.weid"><img :src="item.cover | img_src(130,130)" :alt="item.title" :title="item.title"></a></li>
                    </ul>
                </div>

                <!-- 工作动态 -->
                <div class="s2-b3">
                    <div class="s2-lt">
                        <span class="qz">{{gzdt.title}}</span>
                        <a :href="!gzdt_list.length ? 'javascript:void(0)' : all_domian+gzdt.domain">更多</a>
                    </div>
                    <ul class="b3-list" :class="{'hide-border':gzdt_list.length == 0}">
                        <li v-for="(item, index) in gzdt_list" v-if="index<8">
                            <a :href="'news/'+item.weid | href">{{item.title | limitLen(0,15)}}</a>
                            <span>{{item.publish_time | formateTime('YMD')}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 微链接 -->
        <div class="main-s2">
            <div class="s2-lt">
                <span class="qz">{{yqlj.title}}</span>
            </div>
            <ul class="yq">
                <li v-for="(item, index) in yqlj.list"><a :href="item.url" target="_blank">{{item.title}}</a></li>
            </ul>
        </div>
    </main>
</div>

<script>
    var app = new Vue({
        el: '#content_app',
        data: {
            pathname  : window.location.host,

            news      : [],
            nitoce    : [],
            spzx      : [],
            gzdt      : [],
            mag       : [],
            spzx_list : [],
            gzdt_list : [],
            mag_list  : [],

            banners   : [],
            header1   : {},
            header2   : {},
            leader    : {},
            yqlj      : {},
            peoples_title : {},
            users     : [],
        },
        mounted: function() {
            this.$nextTick(()=>{

                // 首页相关接口
                $sub_ajax.index((res)=>{
                    var result = res.data;

                    if(!result.init_domian) {
                        result.init_domian = { news: "news" }
                    }
                    if(!result.mag.title) {
                        result.mag.title = '商会杂志'
                    }

                    this.news      = result.news;
                    this.nitoce    = result.nitoce;
                    this.spzx      = result.spzx;
                    this.gzdt      = result.gzdt;
                    this.mag       = result.mag;
                    this.spzx_list = result.spzx.list;
                    this.gzdt_list = result.gzdt.list;
                    this.mag_list  = result.mag.list;
                });

                // 首页广告信息
                $sub_ajax.ads((res)=>{
                    var result = res.data;

                    if(!result.header2 || result.header2 == '{}') {
                        result.header2 = { weid: "", type_id: "a56119c0-765b-11e7-a42e-770589f0tou2", title: "头部横图", image: "plats/resource/1515564231387.jpg", url: "#", description: "" }
                    }

                    if(!result.header1 || result.header1 == '{}') {
                        result.header1 = { weid: "", type_id: "a56119c0-765b-11e7-a42e-770589f0tou1", title: "首页顶部logo图", image: "plats/resource/1513162345858.png", url: "#", description: "" }
                    }

                    if(!result.leader || result.leader == '{}') {
                        result.leader = { weid: "", type_id: "a139f5b0-765b-11e7-9a47-a55169e15a6d", title: "商会会长", image: "user/avatar/1501747945200.jpg", url: "#", description: "商会会长" }
                    }

                    if(!result.peoples_title || result.peoples_title == '{}') {
                        result.peoples_title = { weid: "826e44b0-d181-11e7-9c9c-9d2c0ae8ee1d", type_id: "a56119c0-765b-11e7-a42e-770589f0cdd7", title: "企商风采", image: "plats/resource/1515564250290.png", url: "#", description: null }
                    }

                    if(!result.link.yqlj.list || result.link.yqlj.list == '[]' || !result.link.yqlj.list.length) {
                        result.link.yqlj.list = [
                            { title: "百度", url  : "https://www.baidu.com/" },
                            { title: "网易", url  : "http://www.163.com/" },
                            { title: "搜狐", url  : "http://www.sohu.com/" },
                            { title: "新浪", url  : "http://www.sina.com.cn/" },
                            { title: "信用陕西", url  : "http://www.sxcredit.gov.cn/" },
                            { title: "省委党校", url  : "http://souky.eol.cn/HomePage/index_44.html" },
                            { title: "西北大学", url  : "http://www.nwu.edu.cn/" },
                            { title: "西安交通大学", url  : "http://www.xjtu.edu.cn/" },
                            { title: "西北农林科技大学", url  : "http://www.nwsuaf.edu.cn/" },
                            { title: "浙商网", url  : "http://biz.zjol.com.cn/" },
                            { title: "晋商网", url  : "http://www.js500.org/portal.php" },
                            { title: "豫商网", url  : "http://www.yushang.org.cn/" },
                            { title: "凤凰财经网", url  : "http://finance.ifeng.com/" },
                            { title: "腾讯财经网", url  : "http://finance.qq.com/zt/2008/cabiforum/" }
                        ]
                    }

                    if (!result.users || result.users == '[]' || !result.users.length) {
                        result.users = [
                            {weid: "", avatar: "{{PATH_TML}}image/20170728100344-0.jpg", real_name: "马云", position: "阿里巴巴董事局主席", nickname: "马云"},
                            {weid: "", avatar: "{{PATH_TML}}image/20170731093934-0.JPG", real_name: "郑永刚", position: "杉杉控股董事局主席", nickname: "郑永刚"},
                            {weid: "", avatar: "{{PATH_TML}}image/20170731093340-0.jpg", real_name: "周成建", position: "美特斯邦威集团董事长", nickname: "周成建"},
                            {weid: "", avatar: "{{PATH_TML}}image/20170802094202-0.jpg", real_name: "陈爱莲", position: "万丰奥特控股集团有限公司董事局主席、党委书记", nickname: "陈爱莲"},
                            {weid: "", avatar: "{{PATH_TML}}image/20170731094134-0.jpg", real_name: "王均金", position: "上海均瑶（集团）有限公司董事长", nickname: "王均金"},
                            {weid: "", avatar: "{{PATH_TML}}image/20170728103000-0.jpg", real_name: "杨国平", position: "大众交通（集团）股份有限公司董事长", nickname: "杨国平"},
                            {weid: "", avatar: "{{PATH_TML}}image/20170731094034-0.jpg", real_name: "江南春", position: "分众传媒（中国）控股有限公司 董事局主席兼CEO", nickname: "江南春"},
                        ]
                    }

                    this.banners = result.banners.list;
                    this.header1 = result.header1;
                    this.header2 = result.header2;
                    this.leader  = result.leader;
                    this.yqlj    = result.link.yqlj;
                    this.peoples_title = result.peoples_title;
                    this.users   = result.users;
                    $app.set_title(result.setting.title);
                    console.log(this.users)
                });
            });
        },
        methods: {
            goSearchOpen() {
                var url = '';
                url = all_domian + "so?q=" + this.searchText;
                $app.open_page(url);
            }
        }
    });
</script>