.oh {
  overflow: hidden;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: '\0020';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cf:after {
  clear: both;
}
.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pure-g {
  margin: 0 auto;
  width: 960px;
}
body {
  font-size: 1.4em;
  background: #900 url(../images/gsl-zshdw-bg.jpg) no-repeat fixed 0 0;
}
aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
}
#logo {
  margin: 1.5em 0 0;
}
#logo a {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  position: relative;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}
nav li.active a {
  color: #ff9;
}
nav a {
  display: block;
  padding: 0 50px;
  color: #fff;
}
.buttons {
  text-align: center;
}
.buttons a {
  display: inline-block;
  margin: .5em .5em 1.25em;
  color: #fff;
}
.buttons a i {
  margin-right: .75em;
}
h1#title {
  margin-top: 0;
  padding: 12px 0;
  font-weight: normal;
  color: #fff;
  text-align: center;
  background: #200;
}
#main {
  margin-left: 240px;
  padding: 20px 50px;
  width: 850px;
  background: #fff url(../images/gsl-zshdw-watermark.png) no-repeat 0 68px;
}
#main h1.t {
  margin-bottom: .25em;
  font-size: 36px;
  font-weight: normal;
}
#main #breadcrumb {
  position: relative;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #333;
}
#main #breadcrumb .breadcrumb {
  color: #bbb;
}
#main #breadcrumb .breadcrumb a {
  color: #999;
}
#main #breadcrumb .breadcrumb i {
  margin: 0 .5em;
}
#main #breadcrumb .filter {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 100px;
}
#main #breadcrumb .filter dl {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0;
  color: #fff;
  text-align: right;
}
#main #breadcrumb .filter dl:hover dd {
  display: block;
}
#main #breadcrumb .filter dt {
  margin-top: 2px;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  background: #900;
}
#main #breadcrumb .filter dt i {
  margin-left: .35em;
}
#main #breadcrumb .filter dd {
  display: none;
  margin: 0;
}
#main #breadcrumb .filter dd ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main #breadcrumb .filter dd ul li {
  padding: 0 10px;
  background: #333;
  border-top: 1px solid #666;
  cursor: pointer;
}
#main #breadcrumb .filter dd ul li:hover {
  background: #444;
}
#main #breadcrumb .filter a {
  color: #fff;
}
#main .article-list {
  margin-top: 25px;
}
#main .article-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main .article-list li {
  position: relative;
  line-height: 2.25em;
}
#main .article-list li:hover a,
#main .article-list li:hover time {
  color: #c00;
}
#main .article-list li a {
  display: inline-block;
  position: relative;
  padding-left: 12px;
}
#main .article-list li a:before {
  position: absolute;
  top: 14px;
  left: 0;
  content: "";
  width: 3px;
  height: 3px;
  overflow: hidden;
  background: #c00;
}
#main .article-list li time {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 2.25em;
  color: #999;
}
#main .article-list div.page {
  margin: 30px 0;
}
#main .article-list div.page a.active {
  background: #900;
}
#main article h1.title {
  margin: 1em 0;
  text-align: center;
}
#main article .info {
  color: #999;
  text-align: center;
}
#main article .content {
  margin-top: 2em;
  line-height: 2em;
}
#main article .content p {
  text-indent: 2em;
}
#main article .related {
  margin: 2em 0 1em;
  padding-top: 1em;
  color: #999;
  border-top: 1px solid #ddd;
}
#main article .related span {
  display: inline-block;
  width: 49.9%;
  vertical-align: top;
}
#main article .related a {
  display: inline-block;
  width: 85%;
  color: #999;
}
#album {
  margin-left: 240px;
  padding: 30px;
  background: #200;
}
#album .box ul {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
#album .box ul:before,
#album .box ul:after {
  content: '\0020';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#album .box ul:after {
  clear: both;
}
#album .box ul li {
  float: left;
  margin: 5px 0 0 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
#album .box ul li:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
#album .box ul li:hover .desc {
  opacity: 1;
  filter: alpha(opacity=100);
}
#album .box ul li:hover label span {
  display: inline-block;
}
#album .box ul li a,
#album .box ul li img {
  display: block;
}
#album .box ul li a {
  position: relative;
}
#album .box ul li img {
  width: 100%;
  height: 200px;
  transition: all .3s linear;
}
#album .box ul li .desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .3s linear;
}
#album .box ul li .desc span {
  display: inline-block;
  padding: 0 15px;
  line-height: 1.5em;
  vertical-align: middle;
}
#album .box ul li label {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
}
#album .box ul li label span {
  display: none;
  margin-left: .5em;
}
#album .box div.page {
  margin: 20px 0;
}
#album .box div.page a {
  background: #555;
}
#album .box div.page a.active {
  background: #c00;
}
footer {
  padding: 1em 0;
  line-height: 1.5em;
  text-align: right;
}
/*# sourceMappingURL=gsl-zshdw.css.map */
