<#include#>header_include.html</#include#>
<script type="text/javascript">
    var main_index = false;
</script>
<style>
#app > consultaion > div.ct_warp .p4_arrow_r:hover{
    color:#000!important;
}
div.ct_warp .p4_arrow_l:hover{
    color:#b60000!important;
}
</style>
<body>
<link rel="stylesheet" href="/common/css/main_index.css" />
<div class="section page1">
    <a href="javascript:;" class="arrow_btn l"></a>
    <div class="banner">
        <div class="slide slide2">
            <div class="info ban2_info">
                <h2 style="font-size: 40px;">再大的品牌 </h2>
                <h3 style="font-size: 53px;font-weight: bold;padding: 0;margin-top: -10px;letter-spacing: 3px;">也必须有自己的圈子</h3>
                <div class="p1Btn p1Btn_new">

                                            <a v-if="ul !== 'index' " :href="'/'+index" class="b2">我的微主页</a>
                                            <a v-else href="/login" class="b2">我的微主页</a>
                                    </div>
            </div>
        </div>
        <div class="slide slide3">
            <div class="info ban2_info">
                <h2 style="font-size: 40px;">微主页</h2>
                <h3 style="font-size: 53px;font-weight: bold;padding: 0;margin-top: -10px;letter-spacing: 3px;">重新定义圈子</h3>
                <div class="p1Btn p1Btn_new">
                    <a v-if="ul !== 'index' " :href="'/'+index" class="b2">我的微主页</a>
                    <a v-else  :href="/login" class="b2">我的微主页</a>
                                    </div>
            </div>
        </div>
        <div class="slide slide1">
            <div class="info">
                <h2>微力量 众行远</h2>
                <!--<h3>微众中国 领先的众创投融资平台</h3>-->
                <div class="p1Btn">
                    <a href="" class="b1">了解详情</a>
                    <a v-if="ul !== 'index' " href="'/'+index" class="b2">我的微主页</a>

                    <a v-else href="/login" class="b2">我的微主页</a>
                                    </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="arrow_btn r"></a>
</div>
<div class="section">
    <div class="tit">
        <span>产品与解决方案</span>
        <h2 class="en">Products & Solutions</h2>
    </div>
    <div class="pro_sc warp">
        <div class="psc psc_1">
            <em></em><span>自媒体宣传平台</span>
            <div class="info">
                <b>自媒体宣传平台</b>
                用户抓取率100%，实现网络宣传，自媒体广告宣传，品牌宣传效果。
            </div>
        </div>
        <div class="psc psc_2"><em></em><span>自营销平台</span>
            <div class="info">
                <b>自营销平台</b>
                提供全面个性化营销模式及O2O营销模式（线上线下结合）增加了用户的粘性
            </div>
        </div>
        <div class="psc psc_3"><em></em><span>圈子管理平台</span>
            <div class="info">
                <b>圈子管理平台</b>
                对用户的圈层管理，提高用户粘性并提高用户复购率，从而实现社群营销。
            </div>
        </div>
        <div class="psc psc_4"><em></em><span>会员管理平台</span>
            <div class="info">
                <b>会员管理平台</b>
                智能化会员管理系统（CRM），针对后台大数据的统计和会员不同等级，管理激活会员。
            </div>
        </div>
        <div class="psc psc_5"><em></em><span>社群微商城平台</span>
            <div class="info">
                <b>社群微商城平台</b>
                建立独立的产品微商城平台，实现社群化商城营销，PC和移动端在线支付。
            </div>
        </div>
        <div class="psc1 psc_a"><em></em><b>微主页系统</b></div>
    </div>
</div>
<div class="section page3">
<div class="warp">
    <div class="left">
        <div class="pc">
            <ul>
                <li class="active"><img src="/common/img/main_pc_img1.png" /></li>
                <li><img src="/common/img/main_pc_img2.png" /></li>
                <li><img src="/common/img/main_pc_img3.png" /></li>
                <li><img src="/common/img/main_pc_img4.png" /></li>
                <li><img src="/common/img/main_pc_img5.png" /></li>
                <li><img src="/common/img/main_pc_img6.png" /></li>
            </ul>
        </div>
        <div class="phone">
            <ul>
                <li class="active"><img src="/common/img/main_phone_img1.png" /></li>
                <li><img src="/common/img/main_phone_img1.png" /></li>
                <li><img src="/common/img/main_phone_img1.png" /></li>
                <li><img src="/common/img/main_phone_img1.png" /></li>
                <li><img src="/common/img/main_phone_img1.png" /></li>
                <li><img src="/common/img/main_phone_img1.png" /></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <a href="javascript:;" class="active"><b><img src="/common/img/main_p3icon1.png" /> </b><span>微主页</span></a>
        <a href="javascript:;"><b><img src="/common/img/main_p3icon2.png" /> </b><span>圈子</span></a>
        <a href="javascript:;"><b><img src="/common/img/main_p3icon3.png" /> </b><span>发布文章</span></a>
        <a href="javascript:;"><b><img src="/common/img/main_p3icon4.png" /> </b><span>发布项目</span></a>
        <a href="javascript:;"><b><img src="/common/img/main_p3icon5.png" /> </b><span>发布活动</span></a>
        <a href="javascript:;"><b><img src="/common/img/main_p3icon6.png" /> </b><span>商城</span></a>
    </div>
    <div style="clear: both"></div>
</div>
</div>
<div class="section" id="app">           
    <div class="tit">
        <span>最新动态</span>
        <h2 class="en">NEW CONSULTAION</h2>
    </div>

    <div class="warp consultaion">
        <div class="ct_warp clearfix">
            <ul class="nav" style="position: relative;left: -15px;">
                <li style="width:364px;height: 385px;box-sizing: border-box;" :class="{'article-item' : true , 'hover' : hover_show}" @mouseover="toggleShow(1);" @mouseout="toggleShow();"  v-for="item in list_data.list">
                    <a :href="item.href" class="info">
                        <span class="img"><img :src="item.thumb_image | img_src(315 , 175)" /></span>
                        <h2>{{item.title}}</h2>
                        <p class="displayPart">{{item.summary}}</p>
                    </a>
                    <div class="clearfix ct_fot">
                        <span class="time"><b>{{item.time_data}}</b>{{item.time_year}}</span>
                        <a :href="item.href" class="deilt_btn">详情</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var dongtai_count = 0;
    new Vue({
        el: '#app',
        data: {
            'channel' : '' ,
            'channel_name' : '',
            'list_data' : [],
            'show':true,
            'empty_show':false,
            'page':1,
            'hover_show' : false,
            'ul':'',
        },
        mounted() {
            this.$nextTick( function () {
               this.get_data(this.channel , 1);
               set_title(config.title , false);
               this.ul == pages_index;
            });
        },
        methods:{
            toggleShow: function( newVal){
                newVal ? this.hover_show = true : this.hover_show = false;
            },
            get_data : function(){
                ajax.get(web_business.web_cms_channel_contents , {params:{cate_id:'trends' , limit : 10 , 'page' : this.page}}).then((res)=>{
                        this.list_data = res.data;
                        var list = this.list_data.list;

                        $.getScript("/common/js/main_index.js");
                        for(val in list){
                            var time = (new Date(list[val].publish_time)).getTime();
                            var time_list = new Date(time);
                            list[val].time_year = time_list.getFullYear();
                            list[val].time_data = time_list.getMonth()+'-'+time_list.getDate();
                            list[val].href = '/news/'+list[val].weid;
                        }
                    });
            }
        }
    })
</script>
<script>
    $(function () {

    })
</script>
<div class="section page5"> 
    <div class="got">
        <h2>请在这里输入您的专属域名</h2>
        <p>在您注册开通的时候，我们为您主页提供了一个URL地址，例如： https://www.wezchina.com/yourname<br />请输入您的主页域名，前往微主页</p>
        <div class="go">
            <span>www.wezchina.com/</span><input type="text" value="" id="domain" placeholder="请输入您的主页域名" /><button id="login-btn">前往微主页</button>
        </div>
    </div>
<#include#>footer_include.html</#include#>