<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" id="favicon" href="" />
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/home.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/swiper.min.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/activity-detail.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/common.css"/>
    <script src="{{PATH_TML}}wepage/js/zepto.min.js"></script>
    <script src="{{PATH_TML}}wepage/js/vue.min.js"></script>
    <script type="text/javascript" src="{{PATH_CONFIG}}"></script>
    <script src="{{PATH_TML}}wepage/js/swiper-3.3.1.min.js"></script>
    <script src="{{PATH_TML}}wepage/js/layui/layui.all.js"></script>
    <title></title>
</head>
<body>
<div id="app">
    <div id="title">
        <a href="/my-activity"><img id="goback" src="/common/img/return.png" /></a>
        <p>活动详情</p>
        <img id="user" src="/common/img/user.svg" width="20" />
    </div>

    <div id="carousel">
        <div class="swiper-container" id="my-swiper">
            <div class="swiper-wrapper carousel">
                <div class="swiper-slide">
                    <img :src="cover" alt=""/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div id="container">
        <div class="actd-title">活动简介</div>
        <ul>
            <li class="actd-theme"><img src="/common/img/theme.png" alt=""/><p>{{title}}</p></li>
            <li class="actd-time"><img src="/common/img/clock.png" alt=""/><p>{{start}} 至 {{end}} 报名截止</p></li>
            <li class="actd-map">
                <img src="/common/img/location.png" alt=""/>
                <p><a href="/activity-map">{{address}}</a></p>
                <!--<img class="arrow" src="/common/img/arrow-right.png" alt=""/>-->
            </li>
            <li class="actd-zb"><img src="/common/img/company.png" alt=""/><p>{{sponsor}}</p></li>
            <li class="actd-bm" style="background: #f0f0f0">已报名用户</li>
            <li class="actd-users">
                <img :src="user.avatar" v-for="user in users" alt=""/>
            </li>
            <li style="background: #f0f0f0">活动嘉宾</li>
            <li class="actd-guest" v-for="guest in guests">
                <img :src="guest.avatar" alt=""/>
                <div>
                    <p>{{guest.name}}</p>
                    <p style="font-size: 0.12rem; color: #a6a6a6">{{guest.position}}</p>
                </div>
            </li>
            <li style="background: #f0f0f0">活动详情</li>
            <li class="actd-detail" v-html="content"></li>
        </ul>
        <div class="actd-apply">立即报名</div>
    </div>
</div>

    <script>
        var mySwiper = new Swiper ('#my-swiper', {
            direction: 'horizontal',
            loop: true,
            speed: 1000,
            autoplay : 3000,
            autoplayDisableOnInteraction : false,
            pagination: '.swiper-pagination',
            paginationClickable :true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            grabCursor : true
        })

        $(".actd-apply").click(function(){
            layer.msg('活动暂未开始', {
                time: 1500
            })
        })

        $("#user").click(function(){
//            window.location.href = "wcard";
        })

        const reqData = (url, ref) => {
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    if (data.code == 200) {
                        let p = data.data;
                        ref.title = p.title;
                        ref.cover = ApiMaterPlatQiniuDomain + p.cover;
                        ref.sponsor = p.Sponsor;
                        ref.content = p.content;
                        ref.address = p.area_name + p.address;
                        ref.start = p.created_at.substr(5);
                        ref.end = p.enroll_deadline.substr(5);
                    }
                }
            })
        }

        const reqUsers = (url, data, ref) => {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(data) {
                    console.log(data);
                    if (data.code == 200) {
                        data.data.list.map(x => ref.users.push(
                            {
                                avatar: x.avatar != null ? ApiMaterPlatQiniuDomain + x.avatar : '/common/img/vote_front_cover.png',
                            }));
                        if (ref.users == '') {
                            $(".actd-users").text('暂无');
                        }
                    }
                }
            })
        }

        const reqGuest = (url, data, ref) => {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(data) {
                    console.log(data);
                    if (data.code == 200) {
                        data.data.list.map(x => ref.guests.push(
                            {
                                avatar: x.avatar != null ? ApiMaterPlatQiniuDomain + x.avatar : '/common/img/vote_front_cover.png',
                                name: x.name,
                                position: x.position,
                            }));
                        if (ref.guests == '') {
                            ref.guests.push({avatar: '', name: '暂无', position: ''})
                        }
                    }
                }
            })
        }

        new Vue({
            el: '#app',
            data: {
                title: '',
                cover: '',
                sponsor: '',
                content: '',
                start: '',
                end: '',
                address: '',
                users: [],
                guests: [],
            },
            created: function () {
                var _self = this;
                const weid = window.location.pathname.split('/').pop();
                const url_info = 'http://new.wezchina.com/api/activity/detail/' + weid;
                const url_users = 'http://new.wezchina.com/api/activity/enroll/lists';
                const url_guests = 'http://new.wezchina.com/api/activity/guest/lists';
                reqData(url_info, _self);
                reqUsers(url_users, {activity_id: weid}, _self);
                reqGuest(url_guests, {activity_id: weid}, _self);
            },
            methods: {

            }
        })
    </script>
</body>
</html>