<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" id="favicon" href="" />
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/home.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/swiper.min.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/activity-detail.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}wepage/css/common.css"/>
    <script src="{{PATH_TML}}wepage/js/zepto.min.js"></script>
    <script src="{{PATH_TML}}wepage/js/vue.min.js"></script>
    <script type="text/javascript" src="{{PATH_CONFIG}}"></script>
    <script src="{{PATH_TML}}wepage/js/swiper-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{{PATH_TML}}wepage/js/layui/css/layui.css"/>
    <script src="{{PATH_TML}}wepage/js/layui/layui.js"></script>
    <title></title>
</head>
<body>
<div id="app">
    <div id="title">
        <a :href="backurl"><img id="goback" src="/common/img/return.png" /></a>
        <p>活动详情</p>
        <img id="user" src="/common/img/user.svg" width="20" />
    </div>

    <div id="carousel">
        <div class="swiper-container" id="my-swiper">
            <div class="swiper-wrapper carousel">
                <div class="swiper-slide">
                    <img :src="cover" alt=""/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div id="container">
        <div class="actd-title">活动简介</div>
        <ul>
            <li class="actd-theme"><img src="/common/img/theme.png" alt=""/><p>{{title}}</p></li>
            <li class="actd-time"><img src="/common/img/clock.png" alt=""/><p>{{start}} 至 {{end}} 报名截止</p></li>
            <li class="actd-map">
                <img src="/common/img/location.png" alt=""/>
                <p><a href="/activity-map">{{address}}</a></p>
                <!--<img class="arrow" src="/common/img/arrow-right.png" alt=""/>-->
            </li>
            <li class="actd-zb"><img src="/common/img/company.png" alt=""/><p>{{sponsor}}</p></li>
            <li class="actd-bm" style="background: #f0f0f0">已报名用户</li>
            <li class="actd-users">
                <img :src="user.avatar" v-for="user in users" alt=""/>
            </li>
            <li style="background: #f0f0f0">活动嘉宾</li>
            <li class="actd-guest" v-for="guest in guests">
                <img :src="guest.avatar" alt=""/>
                <div>
                    <p>{{guest.name}}</p>
                    <p style="font-size: 0.12rem; color: #a6a6a6">{{guest.position}}</p>
                </div>
            </li>
            <li style="background: #f0f0f0">活动详情</li>
            <li class="actd-detail" v-html="content"></li>
        </ul>

        <div class="actd-apply">
            <button data-method="notice" @click="apply" class="layui-btn" style="background: transparent; width: 100%;">立即报名</button>
        </div>

        <script>
            layui.use('layer', function(){ //独立版的layer无需执行这一句
                var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
                //触发事件
                var active = {
                    setTop: function(){
                        var that = this;
                    }
                    ,notice: function(){
                        layer.open({
                            type: 1
                            ,title: false //不显示标题栏
                            ,closeBtn: false
                            ,area: '300px;'
                            ,shade: 0.8
                            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                            ,btn: ['提交申请', '回到详情']
                            ,btnAlign: 'c'
                            ,moveType: 1 //拖拽模式，0或者1
                            ,content:
                                `<div style="padding: 30px; line-height: 22px; background-color: #393D49; color: #fafafa; font-weight: 300;">
                                 <p style="font-size: 0.16rem;">请填写您的个人信息</p>
                                    <ul id="application" style="margin-top: 0.25rem;">
                                        <li style="display: flex; align-items: center; margin-top: 0.25rem;">
                                            <img src="/common/img/name.png" style="display: block; width: 0.2rem; margin-right: 0.15rem;"/>
                                            <input class="uname" type="text" placeholder="请输入您的姓名" maxlength="12" style="border: none; outline: none; font-size: 0.14rem; border-radius: 0.02rem; height: 0.25rem; padding-left: 0.1rem;"/>
                                        </li>
                                        <li style="display: flex; align-items: center; margin-top: 0.25rem;">
                                            <img src="/common/img/position.png" style="display: block; width: 0.2rem; margin-right: 0.15rem;"/>
                                            <input class="upos" type="text" placeholder="请输入您所在的职位" maxlength="20" style="border: none; outline: none; font-size: 0.14rem; border-radius: 0.02rem; height: 0.25rem; padding-left: 0.1rem;"/>
                                        </li>
                                        <li style="display: flex; align-items: center; margin-top: 0.25rem; margin-bottom: 0.3rem;">
                                            <img src="/common/img/company.png" style="display: block; width: 0.2rem; margin-right: 0.15rem;"/>
                                            <input class="ucom" type="text" placeholder="请输入您所在的公司" maxlength="20" style="border: none; outline: none; font-size: 0.14rem; border-radius: 0.02rem; height: 0.25rem; padding-left: 0.1rem;"/>
                                        </li>
                                    </ul>
                                </div>`
                            ,success: function(layero){
                                $('.layui-layer-btn0').click(function(){
                                    let name = $('.uname').val();
                                    let position = $('.position').val();
                                    let ucom = $('.ucom').val()
                                })
                                var btn = layero.find('.layui-layer-btn');
                                btn.find('.layui-layer-btn0').attr({
                                    href: '#'
                                    ,target: '_blank'
                                });
                            }
                        });
                    }
                };

                $('.layui-btn').on('click', function(){
                    var othis = $(this), method = othis.data('method');
                    active[method] ? active[method].call(this, othis) : '';
                });
            });
        </script>
    </div>
</div>

    <script>
        var mySwiper = new Swiper ('#my-swiper', {
            direction: 'horizontal',
            loop: true,
            speed: 1000,
            autoplay : 3000,
            autoplayDisableOnInteraction : false,
            pagination: '.swiper-pagination',
            paginationClickable :true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            grabCursor : true
        })

        $("#user").click(function(){
//            window.location.href = "wcard";
        })

        const reqData = (url, ref) => {
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    if (data.code == 200) {
                        let p = data.data;
                        ref.title = p.title;
                        ref.cover = ApiMaterPlatQiniuDomain + p.cover;
                        ref.sponsor = p.Sponsor;
                        ref.content = p.content;
                        ref.address = p.area_name + p.address;
                        ref.start = p.created_at.substr(5);
                        ref.end = p.enroll_deadline.substr(5);
                    }
                }
            })
        }

        const reqUsers = (url, data, ref) => {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(data) {
                    console.log(data);
                    if (data.code == 200) {
                        data.data.list.map(x => ref.users.push(
                            {
                                avatar: x.avatar != null ? ApiMaterPlatQiniuDomain + x.avatar : '/common/img/vote_front_cover.png',
                            }));
                        if (ref.users == '') {
                            $(".actd-users").text('暂无');
                        }
                    }
                }
            })
        }

        const reqGuest = (url, data, ref) => {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(data) {
                    console.log(data);
                    if (data.code == 200) {
                        data.data.list.map(x => ref.guests.push(
                            {
                                avatar: x.avatar != null ? ApiMaterPlatQiniuDomain + x.avatar : '/common/img/vote_front_cover.png',
                                name: x.name,
                                position: x.position,
                            }));
                        if (ref.guests == '') {
                            ref.guests.push({avatar: '', name: '', position: ''})
                        }
                    }
                }
            })
        }

        new Vue({
            el: '#app',
            data: {
                title: '',
                cover: '',
                sponsor: '',
                content: '',
                start: '',
                end: '',
                address: '',
                users: [],
                guests: [],
                name: '',
                position: '',
                company: '',
                backurl: ''
            },
            created: function () {
                var _self = this;
                const weid = window.location.pathname.split('/').pop();
                const url_info = 'http://new.wezchina.com/api/activity/detail/' + weid;
                const url_users = 'http://new.wezchina.com/api/activity/enroll/lists';
                const url_guests = 'http://new.wezchina.com/api/activity/guest/lists';
                _self.backurl = sessionStorage.getItem('history');
                reqData(url_info, _self);
                reqUsers(url_users, {activity_id: weid}, _self);
                reqGuest(url_guests, {activity_id: weid}, _self);
            },
            methods: {
                apply: function(){
                    //获取token 如不存在则跳转登录页 如存在则显示活动申请框
                    if (true) {

                    } else {
                        //login
                    }

                    if (false) {
                        layer.msg('活动暂未开始', {
                            time: 1500
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>