<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title> 发表评价 </title>

    <link href="{{PATH_TML}}wepage/css/edit-comment.css" rel="stylesheet">

    <script src="{{PATH_TML}}wepage/js/jquery-3.2.1.min.js"></script>
    <script src="{{PATH_CONFIG}}"></script>
    <script src="{{PATH_TML}}wepage/js/vue.min.js"></script>
    <script src="{{PATH_TML}}wepage/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
</head>
<body>
<div id="comment-app" v-cloak>
    <header>
        <span> 发表评价 </span>
        <a class="back" href="javascript:void(0)" onclick="javascript:history.back(-1)"></a>
    </header>
    <div class="comment-container">
        <div class="commit-btn"><a>提交</a></div>
        <div v-for="item in orderObj.goods">
            <div class="good">
                <img :src="'http://images.new.wezchina.com/'+item.goods_cover" alt="">
                <span>商品评分</span>
                <span class="star" :class="{'not-red' : !item.check}" v-for="item in starList" @click="goStar(item)"></span>
            </div>
            <textarea placeholder="在这里分享使用商品的体验吧~"></textarea>
        </div>
    </div>
</div>
<script>
//    Vue.http.headers.common['token'] = 'eyJpdiI6IlwvTFZlRU5lQ2FlMHE3MW16dkFmNUVnPT0iLCJ2YWx1ZSI6Ijc2ZWt3M1o5U2RcL2tWNTlYazBSVDVsMDIwaHpcL2dWZ2VwSVY1V2hib3o0RmxTMzBvU2o1SEMyZ2U2UjRVV0xielFBWlROb1ArbGhyRTY3VHBXTlwvenZwUXF6aHBpUmROeFJJNE5CRUh2YyswPSIsIm1hYyI6ImIzYjBiYzM2YjBlMjkxNDAzMjZlYzM5YWJmMWNhOGEzMDJkY2FjMzFiNGQwMGM0NGFlYTRkMTVlMzNhZGU1N2EifQ=='

    Vue.http.headers.common['token'] = window.localStorage.getItem("token");
    var commentApp = new Vue({
        el : "#comment-app",
        data : {
            orderObj : JSON.parse(window.localStorage.getItem('orderObj')),
            starList : []
        },
        mounted : function () {
            for(var i=1;i<6;i++){
                var obj = {};
                obj.id = i;
                obj.check = true;
                this.starList.push(obj)
            }
        },
        methods : {
            goStar : function (item) {
               item.check = !item.check;
            }
        }

    });

</script>
</body>
</html>