* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.jindu{
    width: 100%;
    margin-top: 500px;
    position: relative;
    height: 5px;
    background-color: #41454D;
}
.jindu p{
    width: 500px;
    height: 5px;
    background-color: red;
    border-radius: 5px;
}
.jindu span{
    color:red;
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top:-15px;
    right: -10px;
}