<!--
 * Created by weifeng on 2017/11/12.
-->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>专题新闻</title>
        <link rel="icon" href="" id="public_icon" />

        <script src="/common/js/jquery-3.2.1.min.js"></script>
        <script src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
        <script src="{{PATH_CONFIG}}"></script>
        <script src="{{PATH_TML}}js/modal_login.js"></script>

        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}font/iconfont.css" />
        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/news_base.css" />
        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}assets/show/special/css/special.css" />
        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/modal_login.css" />
    </head>

    <body>
        <!-- 登录部分 -->
        <div class="modal_login" id="modal_login"></div>
        <!-- 专题新闻开始 -->
        <div class="special-header">
            <div class="special-top">
                <div class="header-logo"></div>
                <ul class="special-title-list"></ul>
                <div class="soso">
                    <input type="text" name="" class="soso-input" placeholder="输入关键词" />
                    <button class="soso-submit"></button>
                </div>
            </div>
        </div>
        <div class="special-content">
            <div class="special-main-page clearfix">
                <div class="special-right">
                    <div class="special-content-info"></div>
                </div>
                <div class="special-left">
                    <div class="special-nav-info"></div>
                </div>
            </div>
            <div class="special-focus">
                <div class="special-box">
                    <div class="special-box-right">
                        <div class="special-headline"></div>
                        <div class="special-scrollable"><ul></ul></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special-footer">
            <footer>
                <div class="footer-nav">
                    <a href="javascript:void(0)">咨询与建议</a>
                    <a href="javascript:void(0)">站点地图</a>
                    <a href="javascript:void(0)">联系我们</a>
                </div>
                <div class="copyright">
                    <p>© 2017-2018 qqxqs.com All rights reserved. 全球秦商网 版权所有</p>
                    <p>联系电话：0512-65230003 传真：0512-65236847 Email：szcc2005@163.com</p>
                    <p><a href="javascript:void(0)">陕ICP备00001号</a></p>
                </div>
                <div class="_ideConac"><img src="/common/img/default_red_copy.png" alt=""></div>
            </footer>
        </div>
        <script src="{{PATH_TML}}assets/show/special/js/special.js"></script>
    </body>
</html>