<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <meta charset="utf-8" />
        <link rel="icon" href="" id="public_icon" />

        <link rel="stylesheet" type="text/css" href="/new.wezchina.com/font/iconfont.css" />
        <link rel="stylesheet" type="text/css" href="/new.wezchina.com/css/news_base.css" />
        <link rel="stylesheet" type="text/css" href="/new.wezchina.com/assets/show/organize/css/organize.css" />
        <link rel="stylesheet" type="text/css" href="/new.wezchina.com/css/modal_login.css" />

        <script src="/common/js/jquery-3.2.1.min.js"></script> 
        <script src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
        <script src="/new.wezchina.com/configure.js"></script>
        <script src="/new.wezchina.com/js/modal_login.js"></script>
        <script src="/new.wezchina.com/assets/show/organize/js/organize.js"></script>
    </head>

    <body>
        <!-- 登录部分 -->
        <div class="modal_login" id="modal_login"></div>
        <!-- 导航部分开始 -->
        <ul class="news_menu" id="public_main_news_menu"></ul>
        <!-- 导航部分结束 -->
        <!-- 组织部分开始 -->
        <div class="organize-content">
            <div class="weizhuye-gerenfencai">
                <div class="top-nav">
                    <img id="thumb_image" src="http://next.wezchina.com/static/pc/plat/images/weizhuyegerenxinxi.png" alt="">
                    <ul class="center-disperse" id="menuX">
                        <a class="chan_li" id="oooo" name="oooo">最新发布</a>
                    </ul>
                </div>
            </div>
            <div class="weizhuye-gerenfencai" id="firstStage">
                <div class="fengcai fengcai-main">
                    <div class="main-top center-disperse">
                        <div class="org_art_title"></div>
                        <div class="y">当前位置：首页&gt; <a id="menuY" href="">商会介绍</a>&gt;<a></a></div>
                    </div>
                    <ul class="list-article-ul"></ul>
                </div>
            </div>
            <div class="prompt-info"></div>
            <div id="plat-two-back-top"><img src="/new.wezchina.com/images/gotop.png"></div>
        </div>
        <!-- 组织部分结束 -->
    </body>

</html>