<#include#>header_include.html</#include#>
<script type="text/javascript">
    header_scroll = 'no';
</script>
<body>
<link rel="stylesheet" href="{{PATH_TML}}new/css/index.css" />
<link rel="stylesheet" href="{{PATH_TML}}new/css/new.info.css">
<div class="blank20">

</div>

<div class="news_top_det_img">

</div>

<div class="info_news" >
    <div id="colorfulPulse"  >
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <span class="item-4"></span>
        <span class="item-5"></span>
        <span class="item-6"></span>
        <span class="item-7"></span>
    </div>
    <div class="info_news_l" id="app">

        <div class="info_l_tit">
            <p class="title_new">{{content.title}}</p>
            <div class="title_b">
                <span class="news_sort">{{content.category.title}}</span>
                <em class="title_line"></em>
                <span class="news_pub_time">{{content.publish_time}}</span>
                <em class="title_line"></em>
                <div class="bdsharebuttonbox" style="float: right;position: relative;bottom: 3px;">
                    <a href="#" class="bds_more" data-cmd="more"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina"></a>
                    <a href="#" class="bds_tqq" data-cmd="tqq"></a>
                    <a href="#" class="bds_renren" data-cmd="renren"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin"></a>
                </div>
                <script>
                    window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdPic": "",
                            "bdStyle": "0",
                            "bdSize": "16"
                        },
                        "share": {},
                        "image": {
                            "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                            "viewText": "分享到：",
                            "viewSize": "16"
                        },
                        "selectShare": {
                            "bdContainerClass": null,
                            "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
                        }
                    };
                    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                </script>

            </div>
        </div>
        <div style="height: 1px;width: 120%;background: #ededed;position: relative;left: -44px;"></div>
        <div class="news_content" v-html="content.content">
        </div>

    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            'content' : {},
            'show':true,
            'page':1,
        },
        mounted() {
            this.$nextTick( function () {
                this.get_data(window.location.pathname.split('/').pop());
            });
        },
        methods:{
            get_data : function(weid){
                ajax.get(web_business.web_cms_contents+weid).then((res)=>{
                    this.content = res.data;
                set_title(this.content.title);
                $('#colorfulPulse').hide();
            });
            }
        }
    });
</script>
<#include#>footer_include.html</#include#>