.about {
    width: 100%;
    height: auto;
}
.list-con{
    width: 100%;
    height: auto;
    font-family: "Microsoft YaHei";
    line-height: 2;
    font-size: 14px;
    color: #666;
}
.list-con img{
    display: block;
    width: 800px;
    height: 406px;
    margin: 45px auto 30px;
}
.list-con p{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.list-con p span:nth-of-type(1){
  color:#003366;
    font-weight: bold;
}
.con-list{
    width:97%;
    height: auto;
    list-style-type: decimal;
    margin-left: 40px;
    margin-bottom: 30px;
}
.con-list li{
    list-style-type: decimal;
}