/*测导航第一栏显示*/
.aside li:nth-of-type(2){
    padding-left: 36px;
    background: #fff;
    border-left: 4px solid #97BE0D;
}
.aside li:nth-of-type(2) a{
    color: #333;
}
.aside li:nth-of-type(3){
    padding-left:40px;
    background: #2F88DA;
    border-left:0px solid #97BE0D;
}
.aside li:nth-of-type(3) a{
    color: #fff;
}
/*测导航第一栏显示*/
.dangzu{
    width: 100%;
    height: auto;
}
.dangzu-con{
    width: 100%;
    height: auto;
}
.dangzu-con .f-mingyu{
    margin-bottom: 64px;
}