.detail-list{
    width: 100%;
    height: auto;
    padding-left: 20px;
    box-sizing: border-box;
}
.detail-list h2{
    width: 100%;
    height:21px;
    text-align: center;
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
    font-family: "微软雅黑";
    color: #666;
    margin-bottom: 15px;
}
.det_btn{
    width: 100%;
    height:19px;
    margin-bottom: 50px;
    text-align: center;
    color: #666;
}
.det_btn span{
    border-right: 1px solid #667EB5;
    padding-right:5px;
    display: inline-block;
}
.det_btn span:last-of-type{
    border-right: none;
}
.det_con{
    width: 100%;
    height: auto;
    padding: 10px;
}
.det_con p{
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 1.75em;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    color: #666;
}
.det_con img{
    width: 100%;
    height: auto;
    margin:15px auto;
    display: block;
}
.del_hot{
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
.del_hot span{
    margin-right: 15px;
    display: inline-block;
    padding-left: 10px;
    color: #9B8CAA;
    line-height: 15px;
}
.del_hot span:last-of-type{
    padding-left:30px;
  background-image: url(/resource/wetpl/substation/default/web/image/2018-01-09_191505.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}