/*测导航第一栏显示*/
.aside li:nth-of-type(3){
    padding-left: 36px;
    background: #fff;
    border-left: 4px solid #97BE0D;
}
.aside li:nth-of-type(3) a{
    color: #333;
}
/*测导航第一栏显示*/
.f-mingyu{
    width: 938px;
    height: auto;
    border: 1px solid #D0E8FF;
    border-radius: 5px;
    border-bottom: 7px solid #D0E8FF;
}
.mingyu-con{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
}
.mingyu-con img{
    float: left;
    width: 205px;
    height: 205px;
    margin-left: 12px;
}
.mingyu-right{
    width: 623px;
    height: auto;
    float: right;
    margin-right: 56px;
}
.mingyu-right h2{
    font-size: 14px;
    color: #666666;
    border-bottom: 2px solid #73ABDE;
    padding-bottom: 18px;
    line-height: 23px;
}
.mingyu-right h2 strong{
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    margin-right: 10px;
}
.mingyu-right p{
    width: 100%;
    height: auto;
    text-indent: 2em;
    line-height: 24px;
    font-size: 14px;
    color: #666;
    text-align: left;
}
.mingyu-right p:first-of-type{
    margin-top: 23px;
}
.mingyu-right p:last-of-type{
    margin-bottom: 29px;
}