footer{
    width: 100%;
    height:auto;
    background:#3c4155;
    overflow: hidden;
}
footer>main{
    width: 960px;
    height: auto;
    padding: 15px 0 10px;
    margin: 0 auto;
}
.footer-nav{
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #1f222c;
    padding: 12px 0 0;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.footer-nav li a{
    padding: 0 25px;
    border-right: 1px solid #fff;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    color:#fff;
}
.footer-nav li:last-child a{
    border-right:none;
}
.fo-bo{
    width: 100%;
    height: auto;
    padding-top: 40px;
    border-top: 1px solid #595d6e;
    overflow: hidden;
}
.fo-bl{
    width: 306px;
    height: 123px;
    float: left;
    text-align: right;
    padding: 43px 10px 0 0;
    float: left;
}
.fo-bl img{
    width: 230px;
    cursor: pointer;
}
.fo-bm{
    width: 430px;
    height: auto;
    color: #b6bac6;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    float: left;
}
.fo-son{
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
}
.fo-bm a{
    color: #b6bac6;
}
.fo-son span{
    margin-right: 21px;
}
.fo-br{
    width: 147px;
    height: 143px;
    float: left;
    border: 2px solid #B6BAC6;
}
.fo-br img{
    width: 100%;
    height: 100%;
}
/*导航开始*/
nav{
    width: 100%;
    height: 55px;
    background: #0579CB;
    box-shadow: 1px 1px 10px #ccc;
    margin-bottom: 10px;
}
.big-nav{
    width: auto;
    height:100%;
}
.big-nav>li{
    float: left;
    background: url("../image/shutiao.png") no-repeat right;
    position: relative;
}
.big-nav>li>a{
    display: block;
    font-size: 17px;
    line-height: 55px;
    padding:0 41px;
    color: #fff;
}
.big-nav>li:hover{
    background:#0D71B4;
}
.nav-list{
    width: 100%;
    height:auto;
    background: red;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 999;
}
.nav-list li{
    width: 100%;
    height:auto;
    background: #0D71B4;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}
.nav-list li:hover{
    background: #4493D4;
}
.nav-list li>a{
    display: block;
    color: #fff;
    border-bottom: 1px solid #1A86CB;
}
/*导航结束*/