.list1{
    width: 100%;
    height: auto;
}
.seat{
    width: 100%;
    height: 19px;
    color: #666666;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 19px;
    margin-bottom: 20px;
}
.seat img{
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-right: 5px;
}
.seat a{
    color: #666;
    font-weight: 500;
}
/*测导航大部分开始*/
.main-big{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
}
.main{
    width:auto;
    height: auto;
    background: #2F88DA;
    float: left;
}
.main h2{
   width:auto;
    height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 13px;
    background: #52A0E8;
}
.main h2 strong{
   font-size: 18px;
    font-weight: bold;
    display: block;
    padding-top: 23px;
}
.main h2 span{
    font-size: 14px;
    display: block;
}
.aside{
    width:auto;
    height: auto;
    background: #2F88DA;
    padding-bottom: 20px;
}
.aside li{
    width:auto;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    line-height: 40px;
    margin-bottom: 8px;
    font-size: 16px;
}
.aside li a{
    color: #fff;
}
.aside li:hover{
    padding-left: 36px;
    background: #fff;
    border-left: 4px solid #97BE0D;
}
.aside li:hover a{
    display: block;
    width: 100%;
    height: 40px;
    color: #333;
}
.company{
    width: 192px;
    height: auto;
    padding: 25px 0 30px;
    margin: 0 auto;
    border-top: 1px solid #4C9EE9;
}
.company p{
    width: 100%;
    height: auto;
    line-height: 20px;
    font-size: 10px;
    font-family: "微软雅黑";
    text-align: left;
    color: #fff;
}
.list-big{
    width: 940px;
    height: auto;
    float: right;
}
.title{
    width: 100%;
    height:22px;
    background: url("../image/xgray_line02.png") center repeat-x;
    margin-bottom: 30px;
}
.title span{
    width: auto;
    height: 100%;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 600;
    color: #2F88DA;
    background: #fff;
}
/*测导航大部分结束*/
/*侧导航选中样式*/
.aside .cenav_cur{
    padding-left: 36px;
    background: #fff;
    border-left: 4px solid #97BE0D;
}
.aside .cenav_cur a{
    color: #333;
}
/*侧导航选中样式结束*/
/*分页开始*/
.fenye{
    width:auto;
    height: 23px;
    margin-top: 33px;
    overflow: hidden;
    text-align: center;
}
.fenye a{
    display:inline-block;
    height: 21px;
    border: 1px solid #CCCCCC;
    line-height: 21px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    color: #666666;
}
.fenye .pageT{
    border: 1px solid #fff;
}
/*分页结束*/