/*图片开始*/
.ban{
    width: 100%;
    height: 476px;
}
.ban img{
    width: 100%;
    height: 100%;
}
/*图片结束*/
.main-bg{
    width: 100%;
    height: auto;
    overflow: hidden;
    background:url("../image/bg.gif") repeat;
    margin-bottom: 30px;
}
/*第一大模块开始*/
.main-s1{
    width: 100%;
    height:auto;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 20px;
}
.s1-l{
    width:890px;
    height:auto;
    float: left;
    border: 1px solid #E8E8E8;
}
.s1-lt{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
}
.s1-lt .qz{
    height: 18px;
    font-size: 17px;
    color: #333;
   line-height: 18px;
    margin-top: 12px;
    margin-left: 15px;
    font-weight: 600;
    padding-left: 10px;
    float: left;
    border-left:2px solid #0D71B4;
}
.s1-lt a{
    font-size: 14px;
    margin-right: 15px;
    float: right;
    margin-top: 12px;
   color:#0061B7;
}
.s1-lb{
    width: 100%;
    height: 340px;
    background: #fff;
}
.s1-lbleft{
    width: 430px;
    height: 310px;
    padding: 15px;
    float: left;
    position: relative;
}
.banner{
    width:430px;
    height:310px;
    position:absolute;
    top:15px;
    left:15px;
}
.banner li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}
.banner li:first-of-type{
    opacity:1;
    display:block;
    z-index: 2;
}
.banner li a:first-of-type{
    width: 100%;
    height: 100%;
    display: block;
}
.banner li a img{
    width: 100%;
    height: 100%;
    display: block;
}
.banner li .banner-jie{
    width:430px;
    height: 45px;
    background:rgba(0,0,0,0.6);
    position: absolute;
    bottom:0;
    left:0;
    line-height: 45px;
    font-size: 15px;
    padding-left: 10px;
    color:#fff;
    box-sizing: border-box;
}
.Ibtn-bL{
    width: 40px;
    height:74px;
    position: absolute;
    left:15px;
    top: 50%;
    margin-top: -37px;
    background: url("../image/focus_btn.png") no-repeat 0 -74px;
    cursor: pointer;
    z-index: 6;
}
.Ibtn-bR{
    width: 40px;
    height:74px;
    position: absolute;
    right:15px;
    top: 50%;
    margin-top: -37px;
    background: url("../image/focus_btn.png") no-repeat -40px -74px;
    cursor: pointer;
    z-index: 6;
}
.yuan{
    width: auto;
    height: 12px;
    position: absolute;
    bottom:30px;
    right:15px;
    z-index: 6;
}
.yson{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #d9d9d9;
    float: left;
    margin-right:10px;
}
.yuan .yson:first-child{
    background: #fc114a;
}
.s1-lbright{
    width: 395px;
    height: 304px;
    margin-left: 15px;
    margin-top: 12px;
    float: left;
}
.s1-lbr{
    width: auto;
    height: 100%;
    margin-right: 15px;
}
.s1-lbr li{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    padding-left: 15px;
    margin-bottom: 8px;
    font-size: 14px;
    overflow: hidden;
    background: url("../image/icon02.jpg") no-repeat 0 10px;
}
.s1-lbr li a{
    width: 270px;
    overflow: hidden;
    float:left;
    white-space: nowrap;
    color:#666;

}
.s1-lbr li a:hover{
    color: #4493D4;
}
.s1-lbr li span{
    float:right;
    color: #AFADAD;
}
/*右边开始*/
.s1-r{
    width: 290px;
    height: 381px;
    background: #fff;
    border: 1px solid #E8E8E8;
    float: right;
    font-family: "微软雅黑";
}
.s1-rt{
    width:270px;
    height:50px;
    margin: 0 auto;
}
.s1-rt h2{
    height: 18px;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    color: #333;
    padding-left: 10px;
    border-left: 3px solid #0061B0;
    float: left;
    margin-top:15px;
}
.long{
    margin-top:15px;
    color: #4493D4;
    font-size: 14px;
    float: right;
    font-weight: 600;
}
.list{
    margin-top: 3px;
    width: 270px;
    height: auto;
    margin-left:15px;
    position: relative;
    margin-bottom: 3px;
}
.list li{
    width:100%;
    height: auto;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    position: relative;
}
.list-d{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: url("../image/li_not1.png") no-repeat 0 0;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: -6px;

}
.list li a{
    width: 253px;
    margin-left: 13px;
    color: #666;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px dotted #e3e3e3;
}
.list li a:hover{
    color: #4493D4;
}
.list-x{
    width: 1px;
    height:95%;
    position: absolute;
    top: -5px;
    left:0;
    z-index: 999;
    background: #0061B0;
}
.come{
    width: 250px;
    height: 34px;
    background:url("../image/ks.gif") no-repeat;
    margin:0 auto;
    border-radius: 3px;
}
.come a{
    color: #fff;
    font-size: 15px;
    line-height: 34px;
    margin-left: 80px;
}
/*第一大模块结束*/
/*第二大模块开始*/
.main-s2{
    width: 100%;
    height: auto;
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
}
.s2-lt{
    width: 100%;
    height:18px;
}
.s2-lt .qz{
    height: 18px;
    font-size: 17px;
    color: #333;
    line-height: 18px;
    font-weight: 600;
    padding-left: 10px;
    float: left;
    border-left:3px solid #0061B0;
}
.s2-lt a{
    font-size: 14px;
    float: right;
    color:#4493D4;
    font-weight: 600;
}
.fc{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}
.fc-left{
    width: 195px;
    height: 314px;
    float: left;
}
.fc-left a{
    height: 314px;
    display: block;
}
.fc-left a img{
    width: 195px;
    height: 190px;
    display: block;
}
.jie{
    width:175px;
    height:calc(100% - 210px);
    background: #3E95C1;
    padding: 10px;
}
.jie h3{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
.jie span:nth-of-type(1){
    margin-top:8px;
}
.jie span{
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    display: block;
    margin-top: 6px;
}
.jie p {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
    color: #fff;
}
.fc-right{
    width: calc(100% - 205px);
    height: 314px;
    float: right;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}
.fc-big{
    width:1230px;
    height: 100%;
    z-index: 88;
    position: absolute;
    top: 0;
    left: 0;
}
.fc1{
    left: 0;
}
.fc2{
    left: 1230px;
}
.fc-big li{
    width: 195px;
    height: 100%;
    margin-right: 10px;
    float: left;
    background: gray;
}
.fc-big li a{
    width: 100%;
    height: 100%;
    display: block;
}
.fc-big li a img{
    width: 195px;
    height: 190px;
    display: block;
}
.jie1{
    height:calc(100% - 210px);
    background: #fff;
    padding: 10px;
}
.jie1 h3{
    font-size: 17px;
    font-weight: 600;
    color: #666;
}
.jie1 p{
   width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
    color: #666;
}
/*第二模块下面开始*/
.s2-b{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top:30px;
}
.s2-b1{
    width:390px;
    height: auto;
    float: left;
    margin-right:40px;
}
.s-video{
    width: 100%;
    height: 103px;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 18px;
}
.s-video>a{
    width: 170px;
    height: auto;
}
.s-video>a>img{
    display: block;
    width: 170px;
    float: left;
}
.s-jie{
    float: right;
    width: 200px;
    height: auto;
}
.s-jie span{
    display: block;
    text-align: center;
    line-height: 22px;
    margin-bottom: 15px;
}
.s-jie span:first-child{
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.s-jie span:last-child{
    font-size: 14px;
    color: #666666;
}
.s-video>a:hover .s-jie span:last-child{
    color: #4493D4;
}
.b1-list{
    width: 100%;
    height: auto;
}
.b1-list li{
    width: 100%;
    height: 35px;
    border-bottom: 1px dotted #CCCCCC;
}
.b1-list li a::before{
    content: '>';
    padding-right:4px;
}
.b1-list li a{
    color: #666;
    font-size: 14px;
    font-family: "微软雅黑";
    float: left;
    line-height: 35px;
}
.b1-list li a:hover{
    color:#4493D4;
}
.b1-list li span{
    font-size: 14px;
    color: #999999;
    line-height: 35px;
    float: right;
}
.s2-b2{
    width:345px;
    height: auto;
    float: left;
    margin-right: 40px;
}
.b2-list{
    width: 100%;
    height:auto;
    overflow: hidden;
    margin-top: 15px;
    padding-top: 10px;
}
.b2-list li{
   width: 100px;
    height: 137px;
    float: left;
    margin-right: 19px;
    margin-bottom: 15px;
}
.b2-list li:nth-child(3n){
    margin-right: 0;
}
.b2-list .b2-last{
    margin-right:0;
}
.b2-list .b2-blast{
    margin-bottom: 0;
}
.b2-list li a{
    width: 100px;
    height: 137px;
    display: block;
}
.b2-list li a img{
    width: 100px;
    display: block;
}
.s2-b3{
    width:345px;
    height: auto;
    float: left;
}
.b3-list{
    width: 305px;
    height: auto;
    border:1px solid #E5E5E5;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px 10px 20px;
}
.b3-list li{
    width: 100%;
    height: 35px;
    margin: 0 auto;
    border-bottom: 1px dotted #9DC0D3 ;
}
.b3-list li a{
    font-size: 14px;
    color: #666;
    line-height: 35px;
    float: left;
}
.b3-list li a:hover{
    color: #4493D4;
    text-decoration: underline;
}
.b3-list li span{
    font-size: 14px;
    color: #666;
    line-height: 35px;
    float: right;
}
.b3-list li span:hover{
    color: #4493D4;
    text-decoration: underline;
}
/*第二模块下面结束*/
/*第二大模块结束*/
/*第三模块开始*/
.fh{
    width: 100%;
    height:162px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.fh li{
    width: 158px;
    height: 100%;
}
.fh li a{
    display: block;
    width: 100%;
    height: 100%;
}
.fh li a img{
    width: 73%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 2px solid #B7BEC3;
    box-shadow: 0 5px 8px #D6D6D6;
}
.fh li a span{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: #333;
}
/*企业和产品展示开始*/
.qy{
    width: 100%;
    height: 170px;
    margin-top:30px;
    overflow: hidden;
    position: relative;
}
.zs{
    width:1495px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
}
.zs2{
    left: 1495px;
}
.zs li{
    width: 284px;
    height: 170px;
    margin-right: 15px;
    float: left;
    position: relative;
}
.zs li a{
    display: block;
    width: 100%;
    height: 100%;
}
.zs li a img{
    width: 284px;
}
.zs li a h4{
    width: 100%;
    height: 40px;
    background: rgb(50,124,197);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #F9E9DD;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    opacity: 0.6;
    font-weight: 500;
}
.s2-bL{
    width: 20px;
    height: 40px;
    background-image: url("../image/hnew_prev.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    /*background-color: rgba(193,153,167,0.7);*/
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 99;
    cursor: pointer;
}
.s2-bR{
    width: 20px;
    height: 40px;
    background-image: url("../image/hnew_next.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    /*background-color: rgba(193,153,167,0.7);*/
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 99;
    cursor: pointer;
}
/*企业和产品展示结束*/
/*第三模块结束*/
/*第四模块开始*/
.yq{
    width: 100%;
    height:auto;
    background: red;
    margin-top: 15px;
}
.yq li{
    width: 145px;
    height: 28px;
    border-radius: 3px;
    background: #6A9DC7;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.yq li a{
    color: #fff;
}
.main-s2:last-child{
    margin: 0;
}
/*第四模块结束*/

.hide-border {
    border: none;
}