@charset "utf-8"


.newsert{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.new1{
    width:100%;
    height: 310px;
    margin-bottom: 10px;
}
/*轮播开始*/
.s1-lbleft{
    width: 430px;
    height: 310px;
    float: left;
    position: relative;
}
.banner{
    width:430px;
    height:310px;
    position:absolute;
    top:0;
    left:0;
}
.banner li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}
.banner li:first-of-type{
    opacity:1;
    display:block;
    z-index: 2;
}
.banner li a:first-of-type{
    width: 100%;
    height: 100%;
    display: block;
}
.banner li a img{
    width: 100%;
    height: 100%;
    display: block;
}
.banner li .banner-jie{
    width:430px;
    height: 45px;
    background:rgba(0,0,0,0.6);
    position: absolute;
    bottom:0;
    left:0;
    line-height: 45px;
    font-size: 15px;
    padding-left: 10px;
    color:#fff;
    box-sizing: border-box;
}
.btn-bL{
    width: 40px;
    height:74px;
    position: absolute;
    left:15px;
    top: 50%;
    margin-top: -37px;
    background: url("../image/focus_btn.png") no-repeat 0 -74px;
    cursor: pointer;
    z-index: 6;
}
.btn-bR{
    width: 40px;
    height:74px;
    position: absolute;
    right:15px;
    top: 50%;
    margin-top: -37px;
    background: url("../image/focus_btn.png") no-repeat -40px -74px;
    cursor: pointer;
    z-index: 6;
}
.yuan{
    width: auto;
    height: 12px;
    position: absolute;
    bottom:16px;
    right:15px;
    z-index: 6;
}
.yson{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #d9d9d9;
    float: left;
    margin-right:10px;
}
.yuan .yson:first-child{
    background: #fc114a;
}
/*轮播结束*/
/*右侧导航开始*/
.s1-lbright{
    width: 480px;
    height: 296px;
    float:right;
}
.s1-lbr{
    width: auto;
    height: 100%;
    margin-right: 15px;
}
.s1-lbr li{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    padding-left: 15px;
    margin-bottom: 8px;
    font-size: 14px;
    overflow: hidden;
    background: url("../image/icon02.jpg") no-repeat 0 10px;
}
.s1-lbr li a{
    width:350px;
    overflow: hidden;
    float:left;
    white-space: nowrap;
    color:#666;

}
.s1-lbr li a:hover{
    color: #2F88DA;
}
/*右侧导航结束*/
/*新闻列表开始*/
.new2{
    width: 100%;
    height: auto;
}
.new2 li{
    width: 100%;
    height:auto;
    padding: 20px 0;
    border-bottom: 1px solid #E3E3E3;
    overflow: hidden;
}
.new2 li>a{
    float: left;
    width: 260px;
    height: 160px;
}
.new2 li>a>img{
    display: block;
    width: 260px;
    height: 160px;
}
.new2-left{
    width: 660px;
    height: auto;
    float: right;
}
.new2-left h2{
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 15px;
}
.new2-left h2 a{
    color: #666;
}
.new2-left h2 a:hover{
    color: #3E9DF7;
}
.new2-left p{
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 25px;
    margin-bottom: 10px;
}
.new2-left p a{
    color: #666;
}
.new2-left p a:hover{
    color: #3E9DF7;
}
.all{
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666;
}
.all span{
    float: left;
}
.all a{
    float: right;
    width: 90px;
    height: 30px;
    border:1px solid #CCCCCC;
    text-align: center;
    line-height: 30px;
    color: #989898;
}
.all a:hover{
    color: #B3D6FF;
    border: 1px solid #B3D6FF;
}
.list-big {
    width: 100%;
}
.new2-left {
    width: 920px;
    height: auto;
    max-height: 160px;
}
/*新闻列表结束*/
/*分页开始*/
.fenye{
    width:auto;
    height: 23px;
    float: right;
    margin-top: 33px;
    overflow: hidden;
}
.fenye a{
    float: left;
    height: 21px;
    border: 1px solid #CCCCCC;
    line-height: 21px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    color: #666666;
}
/*分页结束*/