<#extend#>user/business/business_extend.html</#extend#>
    <row>
        <i-col span="24">
            <card>
                <Steps :current="current">
                    <Step title="选择产品"></Step>
                    <Step title="支付费用"></Step>
                    <Step title="开通产品"></Step>
                    <Step title="完成"></Step>
                </Steps>
            </card>
        </i-col>
    </row>

    <!--选择产品页面-->
    <div id="divSolution" v-if="action=='divSolution'">
        <card>
        <row>
            <col span="24">
                <i-form ref="formInline" :model="formItem" >
                    <form-item prop="solution_id" label="选择解决方案" required>
                        <radio-group v-model="formItem.solution_id" type="button" @on-change="selectSolution">
                            <radio  v-for="val in dataList" :label="val.solution_id">{{val.name}}</radio>
                        </radio-group>
                    </form-item>

                    <form-item prop="edition" v-if="formItem.solution_id!=''" label="方案版本" required>
                        <radio-group v-model="formItem.edition_id" type="button" @on-change="selectEdition">
                            <radio  v-for="val in editionList" :label="val.edition_id">{{val.name}}</radio>
                        </radio-group>
                    </form-item>

                    <form-item  v-if="formItem.edition_id!=''" >
                    <row v-if="formItem.edition_id!=''">
                        <i-col span="5">
                            <Card>
                                <p slot="title">
                                    功能亮点
                                </p>

                                <ul>
                                    <li v-for="item in editionDetail.function">
                                        <i class="ivu-icon ivu-icon-star"></i><a>{{ item }}</a>
                                    </li>
                                </ul>
                            </Card>
                        </i-col>
                    </row>
                    </form-item>

                    <form-item  v-if="formItem.edition_id!=''" >
                        <a><Tag color="blue" type="border">价格 :{{editionDetail.price}} 元</Tag><Tag v-if="editionDetail.time > 0" color="blue" type="border">时长 :{{editionDetail.time}} 年</Tag><Tag v-if="editionDetail.time == 0" color="blue" type="border">时长 :永久</Tag></a><br>
                        <br>
                        <i-button type="primary" @click="handleSubmit('formInline');">立即支付</i-button>
                    </form-item>

                </i-form>
            </col>
        </row>
        </card>
    </div>
    <!--成功页面-->
    <Card id="divSuccess" v-if="action=='divSuccess'" class="Absolute-Center"   style="width: 350px; height: 420px;" >
        <p slot="title">
            <icon size="20"  color="#19be6b" type="checkmark"></icon>开通解决方案成功
        </p>
        <timeline>
            <timeline-item>
                <p class="time">订单号</p>
                <p class="content">{{dataWebInfo.number}}</p>
            </timeline-item>

            <timeline-item v-for="val in dataWebInfo.config">
                <p class="time">{{val.name}}</p>
                <p class="content"><a href="{{val.url}}" target="_blank">{{val.url}}</a></p>
            </timeline-item>
        </timeline>
        <p>
            <i-button type="success" long @click="win.openWin('business_Solution');">返回产品管理</i-button>
        </p>
    </Card>

    <!--支付页面-->
    <Card id="divPayOrder" v-if="action=='divPayOrder'" class="Absolute-Center"   style="width: 350px; height: 420px;" >
        <p slot="title">
            合计: {{dataOrder.price}}元 , 请在30分钟内使用微信或支付宝扫码.
        </p>
        <p>
            <div id="qrimgs"></div>
        </p>
        <p>
            <i-button type="success" long @click="confirmPay">已支付成功,进行下一步</i-button>
        </p>
    </Card>

    <!--开通产品页面-->
    <div id="divOpenSolution" v-if="action=='divOpenSolution'">
        <card>
            <row>
                <col span="24">
                <i-form ref="formOpen" :model="formItemSolution" >
                    <form-item prop="solution_id" label="域名" required>
                        <i-input type="text" v-model="formItemSolution.domain" placeholder="请输入域名" style="width: 300px"></i-input>
                        <row style="background:#eee;padding:20px" v-if="formItemSolution.domain!=''">
                            <i-col span="20">
                                <Card :bordered="false">
                                    <p slot="title">请通过以下CNAME或IP方式进行解析</p>
                                    <!--<p>api.{{formItem.domain}} - CNAME方式解析到:{{controlled_detail.api_domain}}</p>-->
                                    <Row>
                                        <i-col span="6">{{formItemSolution.domain}}</i-col>
                                        <i-col span="6">CNAME : {{dataControlled.agent_domain}}</i-col>
                                        <i-col span="6">IP : {{dataControlled.agent_ip}}</i-col>
                                    </Row>
                                    <Row>
                                        <i-col span="6">m.{{formItemSolution.domain}}</i-col>
                                        <i-col span="6">CNAME : {{dataControlled.agent_domain}}</i-col>
                                        <i-col span="6">IP : {{dataControlled.agent_ip}}</i-col>
                                    </Row>
                                </Card>
                            </i-col>
                        </row>
                    </form-item>

                    <form-item label="名称"  prop="plat_name" :rules="{required: true, message: '平台名称不能为空', trigger: 'blur'}">
                        <i-input type="text" v-model="formItemSolution.plat_name" placeholder="请输入平台名称" style="width: 300px"></i-input>
                    </form-item>

                    <form-item>
                        <i-button type="primary" @click="handleSubmitOpenSolution('formOpen');">确定</i-button>
                    </form-item>

                </i-form>
                </col>
            </row>
        </card>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            action: '',
            params: {},
            // 订单数据
            dataOrder:{},
            // 获取被控端信息
            dataControlled:{},
            // 获取网站信息
            dataWebInfo:{},
            // 步骤
            current: 0,
            // 产品数据
            dataList :[],
            // 版本数据
            editionList:[],
            // 单个版本详情
            editionDetail:[],
            // 表单
            formItem:{
                // 产品ID
                'solution_id': '',
                // 版本号
                'edition_id': '',
            },
            // 开通产品表单
            formItemSolution: {
                // 开通产品的域名
                'domain' : '',
                // 开通平台的名称
                'plat_name' : '',
                // 订单编号
                'number' : ''
            }
        },
        mounted() {
            this.$nextTick( function () {
                // 获取页面参数
                var params = win.getParams();

                // 测试使用
//                var params = {
//                    number: '2017101310141234566',
//                    action: 'divSuccess',
//                    current: 3,
//                };
                if(params != false){
                    this.number = params.number;
                    this.action = params.action;
                    this.current = params.current;
                }else{
                    this.action = 'divSolution';
                }
            });
        },
        watch:{
            action(val)
            {
                if(val == 'divSolution'){
                    this.getSolutionAll();
                }else if(val == 'divPayOrder'){
                    if(this.number == ''){
                        this.$Message.error('无订单号');
                        this.backSolution();
                        return false;
                    }
                    // 获取订单数据
                    this.getOrder(this.number , ()=>{
                        if(this.dataOrder.status == 1){
                            this.wQrcode('qrimgs' ,this.dataOrder.pay_url);
                        }else {
                            this.$Message.error('订单状态异常');
                            this.backSolution();
                        }
                    });
                }else if(val == 'divOpenSolution'){
                    this.getOrder(this.number , ()=>{
                        if(this.dataOrder.status == 2){
                            this.getControlled(this.number);
                        }else {
                            this.$Message.error('订单状态异常');
                            this.backSolution();
                        }
                    });
                }else if(val == 'divSuccess'){
                    this.getOrder(this.number , ()=>{
                        if(this.dataOrder.status == 3){
                            this.getWebInfo(this.number);
                        }else {
                            this.$Message.error('订单状态异常');
                            this.backSolution();
                        }
                    });
                }
            },
        },
        methods: {
            //  退回产品列表
            backSolution()
            {
                setTimeout(()=>{
                    win.openWin('business_Solution');
                } , 2000);

            },
            // 生成二维
            wQrcode(id , url)
            {
                if(url != ''){
                    var qrcode = new QRCode(document.getElementById(id), {width : 300,height : 300});
                    qrcode.makeCode(url);
                }
            },
            // 根据订单查询,已成功支付的订单，应该开到那个被控端,并返回被控端信息
            getControlled(number)
            {
                ajax.get(business.solution_order_controlled , {params:{number , number}}).then((res)=>{
                    if(res.code != 200){
                        this.$Message.error('未支付成功不能,创建产品!');
                        this.backSolution();
                    }
                    this.dataControlled = res.data.detail;
                });
            },
            // 查询订单
            getOrder(number ,fun)
            {
                ajax.get(business.solution_order_select , {params:{number , number , time: Date.parse(new Date())}}).then((res)=>{
                    this.dataOrder = res.data.detail;
                    fun();
                });
            },
            // 获取网站信息
            getWebInfo(number , fun)
            {
                ajax.get(business.solution_web_info , this.formItemSolution).then((res)=>{
                    if(res.code == 200) {
                        var detail = res.data.detail;
                        this.dataWebInfo = detail;
                        this.current = detail.current;
                        this.number = detail.number;
                    }else{
                        this.$Message.error('系统错误请稍后在尝试');
                    }
                });
            },
            // 获取全部可开通功能
            getSolutionAll()
            {
                ajax.get(business.solution_list_all_api).then((res)=>{
                    this.dataList = res.data.list;
                });
            },
            // 选择产品
            selectSolution(val)
            {
                for(var item of this.dataList)
                {
                    if(val == item.solution_id)
                    {
                        this.editionList = item.edition;
                        break;
                    }
                }
            },
            // 选择版本
            selectEdition(val)
            {
                for(var item of this.editionList)
                {
                    if(val == item.edition_id)
                    {
                        this.editionDetail = item;
                        break;
                    }
                }
            },
            // 选择产品提交POST
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        ajax.get(business.solution_order_create , this.formItem).then((res)=>{
                            if(res.code == 200) {
                                var detail = res.data.detail;
                                this.current = detail.current;
                                this.action = (detail.price == 0) ? 'divOpenSolution' : 'divPayOrder' ;
                                this.number = detail.number;
                            }else{
                                this.$Message.error('系统错误请稍微在尝试');
                            }
                        });
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                })
            },
            // 提交创建平台数据
            handleSubmitOpenSolution (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.formItemSolution.number = this.number;
                        ajax.get(business.solution_open , this.formItemSolution).then((res)=>{
                            if(res.code == 200) {
                                this.action = "divSuccess";
                            }else{
                                this.$Message.error('系统错误请稍后在尝试');
                            }
                        });
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                })
            },
            // 用户点击已成功支付进行下一步
            confirmPay(){
                this.getOrder(this.number , ()=>{
                    if(this.dataOrder.status == 2){
                        this.action = 'divOpenSolution';
                        this.current = this.dataOrder.current;
                    }else {
                        this.$Message.error('没有支付成功,请扫码支付');
                    }
                });
            }
        }
    })
</script>
