@media screen and (max-width: 750px) {
    html{font-size:100px;}
}
@media screen and (max-width: 640px) {
    html{font-size:85.3333px;}
}
@media screen and (max-width: 414px) {
    html{font-size:55.2px;}
}
@media screen and (max-width: 375px) {
    html{font-size:50px;}
}
@media screen and (max-width: 320px) {
    html{font-size:42.6667px;}
}

html, body {
    position: relative;
    height: 100%;
    font-family:PingFang SC, "PingFangSC-Regular", "-apple-system-font","Microsoft YaHei", "Helvetica Neue","Hiragino Sans GB", sans-serif;
    background-color: #eee;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.swiper-container {
    width: 100%;
    height: 4.7rem;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.meet{
    background-color: #fff;
}
.meet ul li{
    display:block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #868686;
    margin-left: 0.24rem;
    margin-right: 0.24rem;
    border-bottom: 1px solid #eeeeee;
    line-height: 0.7rem;

}
.meet ul li:first-child{
    font-size: 0.3rem;
    color: black;
}
.meet ul li i{
    vertical-align: middle;
}
.meet ul li i img{
    width: 0.26rem;
    height: 0.26rem;

}
.meet ul li .plft{
    padding-left: 0.16rem;
}
.meet ul li:nth-child(2){
    font-size: 0.26rem;
}
.meet ul li:nth-child(3),.meet ul li:nth-child(4){
    font-size: 0.26rem;
}

.meet ul li .zbf {
    margin-right: 0.12rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: #eeeeee;
    border-radius: 0.23rem;
    border: 1px solid #bdbdbd;
    font-size: 0.26rem;
    height: 0.38rem;
    line-height: 0.38rem;
    display: inline-block;
}

.name{
    margin-top: 0.1rem;
    background-color: #fff;
}
.name p{
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.26rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.24rem;
    margin-right: 0.24rem;
    border-bottom: 1px solid #eeeeee;
}
.name p span {
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #0cc9ff;
}
.name ul{
    box-sizing: border-box;
    margin-left: 0.24rem;
    margin-right: 0.24rem;
    height: 0.97rem;
}
.name ul .aa .imgg{
    width: 0.53rem;
    height: 0.53rem;
    margin-top: 0.22rem;
}
.name ul li{
    display: block;
    float: left;
    width: 0.53rem;
    height: 0.53rem;
    border-radius: 50%;
    background-color: #0cc9ff;
    font-size: 0.26rem;
    line-height: 0.53rem;
    margin-right: 0.24rem;
    text-align: center;
    margin-top: 0.22rem;
    color: #fff;
}
.name ul li a{
    width:100%;
    height:100%;

}
.name ul li img{
    border-radius: 50%;
    width: 100%;height: 100%;
}
.name ul li:first-child{
    background-color: #47A1FC;
}
.name ul li:nth-child(2){
    background-color: #F3A222;
}
.name ul li:nth-child(3){

    overflow: hidden;
}
.name ul li:nth-child(4){
    background-color: #FF55E5;
}
.name ul li:nth-child(5){
    background-color: #47A1FC;
}
.name ul li:nth-child(6){

    overflow: hidden;
}
.name ul li:nth-child(7){
    background-color: #2DD23D;
}

.guest{
    margin-top: 0.1rem;
    background-color: #fff;
    font-family: 黑体;
}

.guest ul li{
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.24rem;
    margin-right: 0.24rem;
    clear: both;

    border-bottom: 1px solid #eeeeee;
}
.guest ul li:first-child{
    color:#868686;
    font-size: 0.24rem;
    line-height: 0.7rem;
    height: 0.7rem;
}
.guest ul li .guest-intro .icon-img{
    border-radius: 50%;
    overflow: hidden;
    width: 0.53rem;
    height: 0.53rem;
    margin-top: 0.22rem;
    float: left;
}

.guest ul li .guest-intro .intro{
    float: left;
    margin-top: 0.22rem;
    margin-left: 0.16rem;
}
.guest ul li .guest-intro .intro h1{
    font-size:0.24rem;
    font-weight: normal;
}
.guest ul li .guest-intro .intro p{
    font-size:0.22rem;
    color: #868686;
    margin-top: 0.05rem;

}
.active_wai{
    margin-top: 0.1rem;
    background-color: #fff;
    margin-bottom: 1.1rem;
    padding-bottom: 0.2rem;
}
.active_wai .active{
    margin-left: 0.24rem;
    margin-right: 0.24rem;
}

.active_wai .active .huodongxiangqing{
    color: #868686;
    font-size: 0.26rem;
    height: 0.7rem;
    line-height: 0.7rem;
    border-bottom: 1px solid #eeeeee;
}

.active_wai .active h2{
    font-size: 0.26rem;
    line-height: 0.5rem;
    font-weight: normal;
}
.active_wai .active p{
    font-size: 0.26rem;
    line-height: 0.5rem;
}
.active_wai img{
    display: block;
    width: 100%;
    margin: 0.2rem 0 0.2rem 0;
}
.immediately{
    display: block;
    margin-top: 0.1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.98rem;
    line-height: 0.98rem;
    color: #fff;
    text-align: center;
    background-color: #0cc9ff;
    z-index: 99;
    font-size: 0.26rem;
    letter-spacing: 0.01rem;
}



