.centent-one{
    padding: 0.2rem;
    font-size: 0.28rem;
}
.centent-one p:first-child{
    font-size: 0.4rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
}
.centent-one p:nth-child(2){
    font-size: 0.2rem;
    color: #AFAFAF;
}
.centent-one p:nth-child(7),.centent-one p:nth-child(11){
    font-weight: bold;
    padding: 0.4rem 0 0.2rem 0;
}
.centent-one img {
    display: block;
    width: 100%;
}
