.we_tit {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d7d7d7;
}
.we_tit {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d7d7d7;
}
.control-group {
    margin-left: 0;
}
.control-group {
    margin-bottom: 5px;
    padding: 5px 0;
    overflow: hidden;
}
.control-group .control-label {
    width: 99px;
    height: 37px;
    line-height: 37px;
}
.wz_userSort > span.active {
    border-bottom: 1px solid #FAA900;
    color: #FAA900;
}
.wz_userSort > span {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    background: #fff;
    margin-left: -1px;
    color: #666;
    cursor: pointer;
}
.wz_userSort > span {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    background: #fff;
    margin-left: -1px;
    color: #666;
    cursor: pointer;
}
.blank0, .clear {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.mt20 {
    margin-top: 20px;
}
.pt20 {
    padding-top: 20px;
}
.control-group {
    margin-left: 0;
}
.control-group {
    margin-bottom: 5px;
    padding: 5px 0;
    overflow: hidden;
}
.control-group .control-label {
    width: 99px;
    height: 37px;
    line-height: 37px;
}
.small-control-group .small_textbox {
    float: left;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    padding: 8px;
    color: #333;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.v_area textarea {
    width: 470px;
    height: 100px;
    float: left;
    border-color: #d7d7d7;
    padding: 10px;
}
.v_area p {
    float: left;
    margin-left: 6px;
    margin-top: 20px;
    height: 20px;
    line-height: 20px;
    background: url(https://www.wezchina.com/app/Tpl/wezchina/images/wz_ui/domain_tip.png) 4px center no-repeat;
}
.v_area p i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-top: -4px;
}
.setting_security .credentials_box {
    position: relative;
    width: 188px;
    height: 188px;
    overflow: hidden;
    margin-bottom: 0;
}
.setting_security .pic_box i {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(../images/del_icon.png) no-repeat;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.setting_security .pic_box {
    z-index: 2;
}
.mr20 {
    margin-right: 20px;
}
.f_l {
    float: left;
}
.setting_security .per_img {
    background: url(https://www.wezchina.com/app/Tpl/wezchina/images/per.png) no-repeat;
}

.setting_security .new_picshow {
    width: 188px;
    height: 188px;
    line-height: 18px;
    background: url(../images/upload_bg.png) no-repeat;
    color: #666;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 12px;
    margin-top: 8px;
    overflow: hidden;
}

.setting_security .pic_show {
    width: 150px;
    height: 105px;
    line-height: 18px;
    background: url(../images/upload_bg.png) no-repeat;
    color: #666;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 12px;
    margin-top: 8px;
    overflow: hidden;
}
.setting_security .pic_show {
    z-index: 1;
}
.setting_security .new_picshow img {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    width: 177px;
    height: 177px;
}
.dlmain .f_r .theme_bgcolor {
    background: #faaa00;
    color: #fff;
}
.ui-button, .ui-button_active, .ui-button_hover, .ui_button {
    border: 1px solid transparent;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    display: inline;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}