*{
    margin: 0;
    padding:0;
}


.cententa{
    width:800px;
}

.cententa ul li{
    width: 800px;
    border-top:1px solid #d9d9d9;
    box-sizing: border-box;


}
.cententa ul li .headImagea{
    margin-top: 20px;
    width: 130px;
    height:130px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 16px 0 0;
    float: left;

}
.cententa ul li .headImagea img{
    width: 130px;
    height: 130px;
}
.cententa ul li .contanir_a{
    margin-top: 20px;
    padding-top: 20px;
    width:500px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
}
.cententa ul li .contanir_a h1{
    font-size: 30px;
    color:#1d6da8;
}
.cententa ul li .contanir_a h4,.cententa ul li .contanir_a p{
    color:#d0d0d0;
    margin-top: 10px;
}
.cententa ul li .guanzhu{
    margin-top: 40px;

    width:80px;
    height: 80px;
    float: left;
}
.cententa ul li img{

    width:80px;
    height:80px;

}