*{
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    position: relative;
    color:white;
}
header ul li{
    background-color: #0cc9ff;
    float: left;
    width: 33.33%;
    height: 0.6rem;
}
header ul li:first-child{
    text-align: left;
    line-height: 0.6rem;
}
header ul li:nth-child(2){
    text-align: center;
    line-height: 0.6rem;
}
header ul li:last-child{
    text-align: right;
    line-height: 0.6rem;
}
.swiper-container,.swiper-container .swiper-slide img{
    z-index: 1;
    width: 100%;
    height: 3rem;
}
.touxiang{
    width: 100%;
    padding: 0.2rem;
    position: relative;
}
.touxiang ul li{
    float: left;
    display: block;
}
.touxiang ul li:first-child{
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:-0.5rem;
    z-index: 10;


}
.touxiang ul li:nth-child(2){
    margin-left: 1.05rem;
    margin-top: -0.1rem;
}

.touxiang ul li:nth-child(3){
    margin-left: 2rem;
    margin-top: -0.1rem;
    background-color: #FA9A0C;
    color: white;
}
.touxiang ul li:nth-child(4){
    background-color: #0cc9ff;
    position: absolute;
    right: 0.2rem;
    margin-top: -0.1rem;
    color: white;
}
.centent {
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.2rem;

}

.centent h1{
    font-size: 0.3rem;
}
.centent p{
    padding-top: 0.4rem;
    font-size:0.24rem;
}
.centent .chakan {
    padding-top: 0.3rem;
    display: block;
    width: 1.2rem;
    height: 0.3rem;
    font-size:0.3rem;
    color: #43AC43;
    margin: 0 auto;
}

.centent .jindu{
    border-radius:0.03rem;
    margin-top: 0.2rem;
    width: 100%;
    background-color: #F0F0F0;
    height: 5px;
}
.centent .jindu span{
    background-color: green;
    width: 30%;
    height: 5px;
    display: block;
}

.centent .money{
    clear: both;
    margin-top: 0.2rem;
    padding: 0 0.5rem 0 0.4rem;


}
.centent .money ul li{
    text-align: center;
    width: 2rem;
    display: block;
    float: left;
    height: 1.1rem;
    border-right: 1px solid #F0F0F0;
    margin-bottom: 0.5rem;

}
.centent .money ul li p{
    color: #AAAAAA;
    font-size: 0.12rem;
}

.centent .money ul li span{
    color: red;
    font-size: 0.12rem;
}
.distribution{
    float: left; width: 100%; height: 1rem;
}
.distribution p{
    padding-top: 0.1rem;
}
.distribution span{
    color: #AAAAAA;
}


.prove{
    box-sizing: border-box;
    padding: 0 0.2rem 0 0.2rem;
    height: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #F0F0F0;
    padding-top: 0.2rem;
}

.addclass{
    border-bottom: 1px solid #0cc9ff;
    color:#0cc9ff;
}


.chanpinhuibao_1{
    width: 100%;
}
.chanpinhuibao_1 ul li {
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #d9d9d9;
    position: relative;
    height: 2rem;
}
.chanpinhuibao_1 ul li .shipintu{
    width: 10%;
    height: 1rem;
    float:left;


}
.shipintu img{
    width: 1rem;
    height: 1rem;
}
.chanpinhuibao_1 ul li .peisong{

    width: 70%;

    position: absolute;
    right: 1rem;

}




.chanpinhuibao{
    width: 100%;
}
.chanpinhuibao ul li {
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #d9d9d9;
    position: relative;
    height: 2rem;

}
.chanpinhuibao ul li .shipintu{
    width: 10%;
    height: 1rem;
    float:left;
    margin-top: 0.3rem;


}
.shipintu img{
    width: 1rem;
    height: 1rem;
}
.chanpinhuibao ul li .peisong{

    width: 70%;
    padding: 0.2rem;
    position: absolute;
    right: 1rem;

}

.chanpinhuibao_1{
    width: 100%;
}
.chanpinhuibao_1 ul li {
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #d9d9d9;
    position: relative;
    height: 2rem;
}
.chanpinhuibao_1 ul li .shipintu{
    width: 10%;
    height: 1rem;
    float:left;


}
.shipintu img{
    width: 1rem;
    height: 1rem;
}
.chanpinhuibao_1 ul li .peisong{

    width: 70%;

    position: absolute;
    right: 1rem;

}


.chanpinhuibao_1{
    width: 100%;
    display: none;
}
.chanpinhuibao_1 ul li {
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #d9d9d9;
    position: relative;
    height: 2rem;
}
.chanpinhuibao_1 ul li .shipintu{
    width: 10%;
    height: 1rem;
    float:left;
    margin-top: 0.3rem;


}
.shipintu img{
    width: 1rem;
    height: 1rem;
}
.chanpinhuibao_1 ul li .peisong{

    width: 70%;
    padding: 0.2rem;
    position: absolute;
    right: 1rem;
}

.raisefunds1{
    width: 100%;
}
.raisefunds1 ul li{
    margin-top: 0.2rem;
    float: left;
    text-align: center;
    width: 33.333%;
    height: 0.5rem;
}
.xiangmuxiangqing img{
    width: 100%;
}
.xiangmuxiangqing{
    width: 100%;
    padding: 0.2rem;
}
.xiangmuxiangqing ul li{
    width: 100%;
    float: left;
    height: 9rem;
}
.xiangmuxiangqing ul li p{
    text-align: center;
    width: 100%;
    padding-bottom: 0.2rem;
    color:red;
    font-size: 0.4rem;
}

.moukuai2{
    width: 100%;
    padding: 0.2rem;
    display: none;
}

.moukuai2 .zuo{
    width: 20%;
    float: left;
}
.moukuai2 .you{
    width: 70%;
    float: left;
}
.moukuai2 .zuo .zuo_img{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
}
.moukuai2 .zuo .zuo_img img{
    width: 1rem;
    height: 1rem;

}

.moukuai2 p{
    padding: 0.2rem;
}
.moukuai2 p span{
    display: block;
    width: 1.2rem;
    float: left;
    margin-left: 0.2rem;
}
.moukuai2 p span:first-child{
    color: #d0d0d0;
    font-size: 0.12rem;
}

.moukuai2 p span:nth-child(2){
    color: #0cc9ff;
    font-size: 0.12rem;

}

.moukuai2 p span:nth-child(3){
    color: #0cc9ff;
    font-size: 0.12rem;


}

.mokuai3{
    display: none;
    width: 100%;
    padding: 0.2rem;
}
.mokuai3 p{
    color: #d0d0d0;
    /*margin: 0.2rem;*/
    /*border-bottom: 1px solid #d0d0d0;*/
}
.chakanquanbu{
    text-align: center;
    padding: 0.2rem;
}
.mokuai3 ul li{
    display: block;

    width: 1.8rem;
    height: 0.3rem;
    text-align: center;
    line-height: 0.3rem;
    margin: 0.1rem;
    float: left;
    border-radius: 0.1rem;
}

.zuo{
    clear: both;
    width: 20%;
    float: left;

}
.you{
    width: 70%;
    float: left;
}
.zuo .zuo_img{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
}
.zuo .zuo_img img{
    width: 1rem;
    height: 1rem;

}

.support{
    width: 100%;
    padding: 0.2rem;
}
.support ul li{
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    height: 1.5rem;
    border-radius: inherit

}
.support .you{
    text-align: left;
}
.support .you h3 span{
    color: red;
}
.support p{
    padding: 0.2rem;
}
.support p span{
    display: block;  width: 1.2rem; margin-left: 0.2rem;float: left;
}

.support p span:first-child{
    color: #d0d0d0;
    font-size: 0.12rem;
}

.support p span:nth-child(2) {
    color: #0cc9ff;
    font-size: 0.12rem;
}

.support p span:nth-child(3){
    color: #0cc9ff;
    font-size: 0.12rem;

}

.wujiaoxing img{
    width: 0.3rem;
    height: 0.3rem;
}
.wujiaoxing_1 img{
    width: 0.25rem;
    height: 0.25rem;
}
.moukuai2 .p1 img{
    width: 0.27rem;
    height: 0.27rem;
    margin-left: 2rem;
}

.pl img{
    width: 0.27rem;
    height: 0.27rem;
    margin-left: 2rem;
}

footer{
    width: 100%;
}
footer div:first-child span{
    display: block;
    background: url(gyl-bot-icon.png) top left no-repeat;
    background-position: 0 -0.94rem;
    width: 0.8rem;
    height: 0.5rem;
    background-size: 100%;
}
footer div:first-child p{
    text-align: center;
}
footer div:first-child{
    float: left;
    margin-left: 1rem;
}
footer div:last-child{
    float: left;
    width: 60%;
    height: .7rem;
    border-radius: 0.3rem;
    color: white;
    background-color: #0cc9ff;
    text-align: center;
    line-height: 0.7rem;
}