.impowerBox .qrcode {
    width: 176px;
    margin-top: 30px;
    border: 1px solid #E2E2E2;
}

.impowerBox {
    line-height: 1.6;
    position: relative;
    top: 6px;
    left: 37px;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.impowerBox .status.status_browser {
    padding: 13px 14px 7px;
}

.icon-login {
    position: absolute;
    float: right;
    width: 32px;
    height: 32px;
    bottom: 24px ;
    right: 15px;
}
.icon-login span{
    width: 32px;
    height: 32px;
    display: block;
    background: url("https://www.wezchina.com/app/Tpl/wezchina/images/wz_ui/icon-login.png") no-repeat;
    opacity: .6;
}