.alert{
    position: absolute;width:100%;z-index: 9999;
}
#main{
    width:100%;height:7.0rem;
}
#oderNum{
    display:none;
}
.lanuch_deal_grid1{
    margin-top:-0.4rem;margin-bottom:0.5rem;
}
.detail{
    margin-top: -12px;
}
.msg-top{
    display: flex;justify-content: space-between;align-items: center;margin-top: 20px;background: #fff;
}
.msg-top p{
    font-size:0.28rem;font-family: '宋体';margin-top: 4px;font-weight: 600;
}
.img1{
    width:0.95rem;height:0.40rem;margin-left:0.1rem;
}
.img2{
    width:0.32rem;height:0.06rem;margin-right:0.15rem;
}
.mess-center{
    background: #fff;
}
.my-mes{
    display: flex;align-items: center;height:1.0rem;margin-right:0.4rem;margin-left:0.4rem;
}
.my-mes .mess-img-img{
    width:0.6rem;height:0.6rem;margin-right:0.5rem;
}
.my-mes1{
    border-bottom:1px solid #eee;
}
.my-mes2{
   height:1.0rem;
}
.img3{
    width: 0.24rem;
    height: 0.44rem;
}
.my-mes span{
    font-size: 0.28rem;color:#1d1d1d;margin-right: 62%;
}
.message{
    background-color: #eee;height: 100%;
}
.message ul li{
   margin:0!important;
}
.inform-center{
    background-color: #fff;display: flex;justify-content: space-between;align-items: center;  height: 50px; background: #fff;
}
.inform-center a{
    margin: 0px 70px;
}
.inform-center div{
    border-right: solid 1px #eee;height: 40px;
}
.crow-top{
    width: 100%; height:0.72rem;background-color: #c2e7f4;
}
.crow-top p{
    font-size: 0.24rem;color:#ff0000;margin: 0 0.1rem 0 0.2rem;padding-top:0.05rem;
}
.crow-top p span{
    font-size: 0.24rem;color:#3e4b50;
}
/*.weui-media-box_appmsg{*/
    /*padding: 0px 0px 0px 37px !important;*/
/*}*/
.weui-panel{
    margin-top: 0px !important;
}
.weui-media-box__hd{
    width:0.36rem!important; height: 28px !important;
}
.weui-cell__bd textarea{
    font-size: 0.26rem;
}
.weui-media-box__title{
    color: #8edfff;font-size:0.28rem !important;
}
.weui-media-box__desc{
    font-size:0.18rem !important;
}
.line{
    border-top:1px solid #000;width: 90%;
}
hr{
    margin-top: 0px!important; margin-bottom: 0px!important;width:90%;margin: 0 auto;
}
.weui-cells{
    margin-top: 0px;
}



/*文章发布页面*/
.article{
    font-size: 0.28rem;color:#666;
}
.article_button{
    width: 95%;  margin: 0 auto;
}
.article_button button{
    background: #5ad4ff!important;
}
article_top{
    margin-top: 0.1rem!important;;
}
.article_btn{
    background-color: #eee;
}
.margin-top{
    margin-top:0.10rem;
}
.margin-top1{
    margin-top:0.5rem;
}
.article-foot{
    text-align: center;margin: 0.5rem 0;
}
.article-foot .foot1{
    color: #5ad4ff!important;font-size:0.34rem;
}
.foot{
    color: #5ad4ff;
}
.weui-switch:checked{
    height:25px;background: #1aad19;border-color: #1aad19;
}
.weui-switch:checked:after{
    transform: translateX(25px);
}
.weui-switch{
 height:25px;width: 50px; background: #1aad19;
}
.weui-switch:before{
    width:48px;
    height:23px;
}
.weui-switch:after{
    width:23px;
    height:23px;

}
.message-lists{

}
.ul1 li{flex-direction: row-reverse;}
.message-lists-ul li{margin:0.4rem 0.2rem;}
.message-lists .message-lists-img{
    display:flex;
}
.message-lists .message-lists-img1{display: block;}
.message-lists .message-lists-img img{width:1.0rem;height:1.0rem;}
.message-lists .message-time{
width:100%;color:#aaa;text-align: center;font-size: 0.22rem;margin-top:0.5rem;
}
.message-lists-name{
    font-size:0.26rem;color:#1d6da8;margin-left:0.2rem;text-align: left;
}
.message-lists-name1{
    text-align: right;color:#999;
}
.bubble{
    color: #000;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    width: auto;
    max-width: 100%;
    position: relative;
    padding:0.16rem 0.24rem;
    font-size:0.26rem;
    line-height:0.4rem;
    border-radius: 4px;
    word-wrap: break-word;
}
.bubble1{
    width: auto;
    max-width: 100%;
    margin-right: 11px;
    background-color: #0cc9ff;
    color: #fff;
    margin-top: 14px;
}
.arrow-bg{
    top: 13px;
    left: -7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid #f0f0f0;    position: absolute;
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
}
.arrow{
    top: 14px;
    left: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 6px solid #fff;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
}
.arrow1{
    top: 14px;
    right: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    border-left: 6px solid #0cc9ff;
}
.message-form{
    position: fixed;bottom:0;left:0;width:100%;display:flex;
    height:0.85rem;background: #fff;
}
.message-form input{
   width:75%;height:100%;min-height:0.6rem;border:none;
    position: absolute;left:2%;bottom:2%;border-bottom:1px solid #0cc9ff;outline:medium;
}
.message-form .btn-fa{
    width:20%;height:0.6rem;background: #0cc9ff;color:#fff;font-size: 0.3rem;padding:4px 12px;
    position: absolute;right:2%;bottom:2%;
}
.font{font-size: 16px;}
.weui-input{font-size: 0.26rem;}
.float{margin-top:50px;}
.weui-cells:before{
    border-top: none;
}
.weui-cells:after{
    border-bottom: none;
}

.con-btn{
    width:100%;left:0;height:0.8rem;background:#0cc9ff;color:#fff;font-size:0.3rem!important;
    position: fixed;bottom:0;text-align: center;line-height: 0.8rem;
}
.setting-form{
    width: 100%;
}
.clearfix{width: 100%;}
.weui-cells_form{width: 100%;}
.weui-cell{width: 100%;}


.card{
    width: 100%;background: #ebebeb;padding-bottom: 20px;
    font-family: "Microsoft YaHei", simsun, Arial, sans-serif, Mingliu, Verdana, Helvetica, Lucida;
}
.card1{
    height: 100%;
}
.card .card-top{
    height:98px;display:flex;
}
.card .card-top img{
    width:65px;
    height: 65px;
    margin: 18px 14px;
}
.card .card-top div{

}
.card .card-top div .p1{
    margin-top:35px;font-size:15px;margin-bottom: 0;
}
.card .card-top div .p2{
    font-size:13px;color:#999;
}
.card .weui-cell{
   border-bottom: 1px solid #eee;
    align-items:flex-start;
    padding: 12px 15px;
}
.card .weui-cells{
   margin-top:15px;
    font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.card .weui-cells1{
    margin-top:0;
}
.card .weui-cells1 .weui-cell1{
    align-items: flex-start;
}
.card .weui-cella{
    align-items: center;
}
.card .weui-cells .weui-cell__ft{
    font-size:13px!important;text-align: inherit;
    color:#999;
}
.card .weui-cells .weui-cell__ft1{
    margin-top: 2px;
    display: flex;
}
.weui-cell__ft-b{
    margin-top: 0;
}
.card .weui-cells .weui-cell__ft-color{
    color: #0d6aad;
}
.card .weui-cells .weui-cell__ft .ppp{
    margin-bottom: 0!important;
}
.card .weui-cells .weui-cell__ft .img1{
    width:20px;
    height:18px;
    margin-right: 4px;
}
.card .weui-cells .weui-cell__ft .img11{
    margin-left: 1px;
}

.card .weui-cells .weui-cell__ft .img2{
    width:20px;
    height:20px;
    margin-right: 10px;
}
.card .weui-cells .weui-cell__bd{
    flex: inherit;font-size: 15px;
}
.card .weui-cells .weui-cell__bd p{
    width:90px;margin-bottom: 0;
    font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-weight: 500;
    margin-left: -2px;
}
.card .weui-cells .weui-cell__bd .p3{
    width:100%;
}
.card .weui-btn{
    width: 94%;margin-top: 15px;height: 44px;line-height: 2.2;font-size: 16px;border-radius: 3px;line-height: 44px;
}
.weui-cell__bd1{
    flex:1!important;
}
.weui-cell:before{
    border-top: none;
}
.weui-cell__bd2{
    margin-left:10px;
}
.weui-cell__bd2 p{
    width: 100%!important;
    font-size: 14px;color: rgba(0,0,0,.8);
    font-weight: 600;
    font-family: "Microsoft YaHei", simsun, Arial, sans-serif, Mingliu, Verdana, Helvetica, Lucida;
}
.weui-cell__bd2 .p1{
    margin-top:15px;
}
.weui-cell__bd2 span{
    color:#8c8c8c;
    margin-top: 5px;
    display: block;
    word-wrap: break-word;
    font-family: 'Microsoft YaHei';
    line-height: 24px;
    font-size: 14px;
}
.weui-cell__bd2 span a{
    display: inline-block;color:#476992;
    border-bottom: 1px solid #5a748f;
    width: 28px;
    height:20px;
}
.weui-cell__hd img{
    width: 14px;height: 14px;margin-top:3px;
}
.cerfication_top{
    padding: 10px 20px 20px 40px;
    border-bottom: 1px solid #E2E2E2;
    line-height: 26px;
}
.cerfication_top h1{
    font-size: 14px;
    font-weight: normal;
}
.cerfication_top h1 img{
    margin-right: 14px;
    width: 16px;
    height: 16px;
    margin-left: -25px;
    position: relative;
}
.cerfication_top p{
    color: #939393;
    margin-left: 5px;
    font-size: 14px;
}
.cerfication_top a{
    color: #8094a9;
    display: inline-block;
}
.cerfication_bottom_b{
    line-height: 26px;
    color: #939393;
    border-bottom: 1px solid #E2E2E2;
}
.cerfication_bottom_b ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.cerfication_bottom_b .cerfication_bottom_tit{
    color: #000;
}
.cerfication_bottom_tit img{
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: -25px;
    margin-right: 16px;
}
.cerfication_bottom_info{
    color: #888888;
    font-size: 14px;
}
.onther_li{
    margin-top: -8px;
    margin-left: 6px;
}
.cerfication_top{
    padding: 10px 20px 20px 40px;
    border-bottom: 1px solid #E2E2E2;
    line-height: 26px;
}
.cerfication_top h1{
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cerfication_top{
    padding: 13px 20px 20px 40px;
    line-height: 23px;
}
.cerfication_top p{
    color: #888888;
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 0!important;
}
.weui-cell_switch11{
    padding: 8px 15px!important;
}
.weui-cell__bd3{
    font-weight: 500;margin-top: 5px;
}
.weui-cell__bdd{
    flex:1!important;
}
.weui-cell__bdd p{
    width: 100%!important;
}
/*关于我们*/
.contentt{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    bottom:46px;
    background: #efeff4;
    font-family: "微软雅黑", Helvetica, STHeiTi, sans-serif;
}
.contentt .view-body{
    font-size: 16px;
    line-height: 1.7;
    word-wrap: break-word;
}
.contentt .about-page{
    background: #ffffff;
    padding: 10px;
}
.contentt .about-page .r_main{
    word-wrap: break-word;
    margin: 0 0 15px 0;
    padding: 0;
    color: #222222;
    padding-left: 18px;
    padding-right: 18px;
}
.view-body p, .view-body div{
    word-wrap: break-word;
    margin: 0 0 15px 0;
    padding: 0;
    color: #222222;
}
.view-body img{
    max-width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    display: block;
}
.qsc-list-group{
    padding-bottom: 20px;
}
.qsc-list-group .list-title{
    margin: 0;
    padding: 0 15px 0;
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    position: relative;
    top: -10px;
    margin-top: 21px;
}
.qsc-list-group .list-title small{
    font-size: 80%;
}
.qsc-list-group .list-item{
    padding: 12px 60px 12px 15px;
    color: #222222;
    background: #ffffff;
    position: relative;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    vertical-align: middle;
    text-align: left;
    font-size: 16px;
}
.qsc-list-group .list-item:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list-item>strong{
    font-weight: 400;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-item > span{
    position: absolute;
    right: 15px;
    top: 11px;
}
i.list-arrow{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    margin-right: 10px;
}
.input-w{
    background: #ecf0f3;
    padding:0 22px;
    height: 100%;
}
.input-w input{
    height: 40px;border: none;
    border-radius: 4px;
    padding-left:8px;
}
.input-w .input1{
    width: 100%;
    margin-top: 20px;
}
.input-w .input2{
    width: 70%;
    margin-top: 10px;
}
.input-w .btn1{
    width: 27%;
    height: 39px;
    background: #ff605d;
    color:#fff;
    border-radius: 4px;
    margin-left: 1%;
    font-size:14px;
}
.input-w .btn2{
    width:100%;
    height: 40px;
    background: #24c3fb;
    color:#fff;
    border-radius: 4px;
    font-size:14px;
    margin-top:20px;
}
/*历史消息*/
.history {
    background: #ebebeb;
    height: 100%;
    margin-top: 33px;
    position: absolute;
    width: 100%;
}
.history .history-top {
    height: 195px;
    background: #fff;
    margin-top: -33px;
    border-bottom: 1px solid #f0f0f0;
}
.history .history-top .history-li1 {
    text-align: center;
    padding-top: 33px;
}
.history .history-top .history-li1 img {
    width: 0.54rem;
    height: 0.54rem;
    margin-right: 0.1rem;
    margin-top: -0.05rem;
}
.history .history-top .history-li1 span {
    font-size: 17px;
    color: #000;
}
.history .history-top .history-li2 {
    text-align: center;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 0.01rem;
    margin-top: 23px;
}
.history .history-top .history-li3 {
    text-align: center;
    margin-top: 27px;
}
.history .history-top .history-li3 a {
    width: 190px;
    height: 35px;
    text-align: center;
    color: #0ec20d;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0ec20d;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-left: 24%;
    line-height: 34px;
}
.history .history-con {
    margin-top: 5px;
    background: #fff;
}
.history .history-con .history-li-l p {
    font-size: 14px;
    color: #aaa;
    margin-top: 18px;
    font-weight: 100;
    height: 0.45rem;
}
.history .history-con li a{
    display: flex;
    justify-content: space-between;
    height: 123px;
    border-top: 1px solid #ebebed;
    padding-top: 19px;
}
.history .history-con li .history-li-l {
    padding: 0 20px 0 15px;
    width: 242px;
    height: 44px;
    font-size: 17px;
    color: #000;
    letter-spacing: 0.01rem;
}
.history .history-con li .history-li-r {
    margin-right: 15px;
    width: 112px;
    height: 85px;
}
.history .history-con li .history-li-r img {
    width: 100%;
    height: 100%;
}

.ticket{
    background: #f0f0f0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.ticket .ticket-top{
    width: 7.15rem;
    height: 0.2rem;
    margin-left: 0.15rem;
    margin-top: 0.1rem;
}
.ticket .ticket-top img{
    width: 100%;
    height: 100%;
}
.ticket .ticket-con{
    width: 6.8rem;
    background: #fff;
    margin-left: 0.34rem;
    text-align: center;
}
.ticket .ticket-con .ticket-con-img{
    padding-top: 0.28rem;
    padding-bottom: 0.5rem;
}
.ticket .ticket-con .ticket-con-img img{
    width: 2.48rem;height: 2.48rem;
}
.ticket .ticket-con .ticket-con-img .p1{
    font-size: 0.32rem;color:#8d8d8d;
    margin: 0.4rem 0;
}
.ticket .ticket-con .ticket-con-img .p2{
    display: flex;
    justify-content: space-between;
}
.ticket .ticket-con .ticket-con-img .p2 p{
    border-bottom: 1px dashed #eee;
    height: 1px;
    width: 74%;
    margin-top: 0.22rem;

}
.ticket .ticket-con .ticket-con-img .p2 img{
   width: 0.24rem;height: 0.48rem;
}

.ticket .ticket-con .ticket-con-img .p3{
    margin-top: 0.62rem;
    font-size: 0.32rem;
    color: #1d1d1d;
    margin-left: 0.4rem;
    margin-right: 0.44rem;
    text-align: left;
}
.ticket .ticket-con .ticket-con-img .p4{
    font-size: 0.28rem;
    color: #8d8d8d;
    margin:0.36rem 0.44rem 0.24rem 0.4rem;
    text-align: left;
}
.ticket .ticket-con .ticket-con-img .p5{
    border-bottom: 1px solid #eee;
    margin:0.44rem 0.4rem;
}
.ticket .ticket-con .ticket-con-img .p6{
    text-align: left;
    margin-left: 0.4rem;
    margin-bottom: 0.22rem;
    display: flex;
}
.ticket .ticket-con .ticket-con-img .p6 img{
    width: 0.36rem;height: 0.38rem;
}
.ticket .ticket-con .ticket-con-img .p61 img{
   height: 0.34rem;
}
.ticket .ticket-con .ticket-con-img .p62{
    margin-left: 0.38rem;
}
.ticket .ticket-con .ticket-con-img .p62 img{
    height: 0.38rem;
}
.ticket .ticket-con .ticket-con-img .p63 img{
    height: 0.42rem;width: 0.32rem;
}
.ticket .ticket-con .ticket-con-img .p61{
    margin-left: 0.38rem;
}
.ticket .ticket-con .ticket-con-img .p6 span{
    font-size: 0.28rem;
    color: #1d1d1d;
    display: block;
    margin-left: 0.28rem;
}
.ticket .sticket-bottom {
    width: 100%;
    height: 0.98rem;
    text-align: center;
    line-height: 0.98rem;
    position: fixed;
    bottom: 0;
    background: #0cc9ff;
    color: #fff;
    font-size: 0.26rem;
    letter-spacing: 0.01rem;
}
.sticket-ul .sticket-ul-li1{
    height: 1.55rem;line-height: 1.55rem;
    text-align: center;
    font-size: 0.32rem;color:#1d1d1d;
}
.sticket-ul .sticket-ul-li2{
    display: flex;
    border-top: 1px solid #eee;
}
.sticket-ul .sticket-ul-li2 a{
    width: 50%;
    height: 1.06rem;
    text-align: center;
    line-height: 1.06rem;
    font-size: 0.32rem;
}
.sticket-ul .sticket-ul-li2 .a1{
    color:#8d8d8d;
    border-right: 1px solid #eee;
}
.sticket-ul .sticket-ul-li2 .a2{
    color:#0cc9ff;
}
.weui-msssg{
    padding-top: 1.34rem !important;
}
.weui-msssg-ms{
    margin-top: 0.66rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height:1.6rem
}
.weui-msssg-ms .weui-msssg-ms-1{
    margin-top: 0.32rem;
    position: relative
}
.weui-msssg-ms .weui-msssg-ms-1 .weui-msssg-ms-11{
    position: absolute;
    left: 0.32rem;
    font-size: 0.32rem;
    color: #8d8d8d;
}
.weui-msssg-ms .weui-msssg-ms-1 .weui-msssg-ms-12{
    position: absolute;
    right: 0.2rem;
    font-size: 0.34rem;
    color: #1d1d1d;
}
.weui-msssg-ms .weui-msssg-ms-2{
    margin-top: 0.85rem;
    position: relative
}