@import "pc";
@font-midd-title:20px;
body{
  padding-top: 50px;
}
*{
  font-family: "微软雅黑","PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei",sans-serif;
}
.plat-default{
  .top-banner{
    height:340px;
    background-size: cover;
    position: relative;
    .top{
      height:190px;
      margin-top:90px;
      .banner-logo{
        img{
          width: 90px;
          height: 90px;
          border:5px solid #fff;
        }
      }
      .text{
        //color: #fff;
        .title{
          font-size:@font-big-title;
          margin-bottom:20px;
        }
        .summary{
          line-height:30px;
        }
      }
    }
  }
  .plat-nav{
    //background-color: #283245;
    background-color: #283245;
    color: #fff;
    margin-bottom:0;
    a{
      color: #fff;
    }
    li{
      a{
        &:hover{
          background-color: #283245;
        }
      }
    }
    .top-logo{
      .z;
      img{
        width:40px;
        height:40px;
        margin-top: 5px;
      }
      a{
        line-height:50px;
        margin-right:15px;
      }
    }

  }
  .right-box{
    border:1px solid @border-color;
    position: relative;
    margin-bottom:20px;
  }
  .b-r{
    .border-r;
  }
  .right-card{

    .top{
      height:135px;
      img{
        height:135px;
      }
    }
    .avatar{
      position: absolute;
      width: 110px;
      height: 110px;
      left: 50%;
      margin-left: -55px;
      top: 50px;
      border-radius: 50%;
      overflow: hidden;
      border-width: 2px;
      border-style: solid;
      border-color: rgba(230, 230, 233, 0.498039);
      border-image: initial;
    }
    .center{
      text-align: center;
      font-size: @font-big-title;
      padding:30px 0;
    }
    .bottom{
      text-align: center;
      font-size: 18px;
      .time{
        font-size: 18px;
      }
    }
  }
  .right-intro{
    padding:15px;
    .top{
      text-align: center;
      margin-top:20px;
    }
    .center{
      p{
        padding: 18px 0;
        border-bottom:1px dashed @border-color;
      }
    }
  }
  .right-follow{
    .nav-tabs{
      border:none;
      li{
        width:50%;
        border-bottom: none;
        background-color: #f1f1f1;
        text-align: center;
      }
      .active{
        a{
          border: none;
        }
      }
    }
    .tab-pane{
      padding:20px;
      .avatar{
        width:50px;
        height:50px;
        img{
          width:100%;
          border-radius:50%;
          border:2px solid @border-color;
        }

      }
    }
    .center{
      padding:15px;
      text-align: center;
    }
  }
  .top_nav{
    //position: absolute;
    //bottom:0;
    width: 100%;
    height: 56px;
    //background-color: rgba(0,0,0,0.7);
    background-color: #283245;
    color: #fff;
    a{
      color: #fff;
    }
    .menu-nav{
      li{
        .z;
        border-right: 1px solid #555b66;
        a{
          padding:0 35px;
          line-height:56px;
          font-size:18px;
          &:hover{
            color: #ffc852;
          }

        }
      }
      .last-right{
        border:none;
      }
    }
  }

  .person-article-lists {
    //background: url(https://kezunping.wezchina.com/app/Tpl/wezchina/images/wz_ui/dot.png) left 28px no-repeat,url(https://kezunping.wezchina.com/app/Tpl/wezchina/images/wz_ui/line.png) 6px top repeat-y;
    //padding-left:30px;
    position: relative;
    padding-top: 20px;
    .article-item {
      border: 1px solid @border-color;
      padding: 15px;
      margin-top: 20px;
      .title {
        font-size: @font-midd-title;
      }
      .article-cate {
        height: 30px;
        text-align: center;
        line-height: 30px;
        border: 1px solid #5c8dcc;
        border-radius: 10px;
        color: #5c8dcc;
        padding: 2px 8px;
        margin-right: 50px;
      }
    }
  }
  .deal_time {
    width: 141px;
    height: 30px;
    background: url(https://kezunping.wezchina.com/app/Tpl/wezchina/images/wz_ui/time_bg.png) no-repeat;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .wemall-title{
    border-bottom:1px solid @border-color;
    padding:10px 0;
    margin-bottom:20px;
    .title{
      font-size: @font-midd-title;
    }
  }

  .person-goods-lists{
    padding-top:18px;
    .goods-item{
      border:2px solid #fff;
      margin-bottom:20px;
      &:hover{
        border:2px solid #ccc;
        .box{
          border:1px solid #ccc;
        }
      }
      .box{
        border:1px solid #f5f5f5;
      }
      .middle{
        padding:15px;
        .title{
          //font-size: @font-midd-title;
        }
        .money{
          font-size:@font-midd-title;
        }


      }
      .bottom{
        border-top:1px solid #f5f5f5;
        text-align: center;
        overflow: hidden;
        line-height:25px;
        .item{
          width:48%;
          padding:8px 0;
          .z;
        }
        .bl{
          border-left:1px solid #f5f5f5;
        }
      }

    }


  }
  .goods-show{
    .top{
      overflow: hidden;
      margin-bottom:30px;
      .big{

      }
      .small{
        height:100px;
        overflow: hidden;
        margin-top:8px;
        .item{
          .z;
          width:100px;
          height:100px;
          img{
            width:100px;
          }
        }

      }
      .info{
        .title{
          font-size:@font-big-title;
        }
        .price{
          background-color: #f5f5f5;
          padding:10px 20px;
          margin:10px 0;
        }
      }
    }

  }
  .content-padding{
    padding-top:25px;
  }

  .plat-content{
    margin:20px auto;
    .right{
      margin-top:70px;
    }
  }
}

 .person-article-lists{

    width: 100%;
    padding-left: 87px;
    .article-item{
     width: 100%;
     .col-sm-4 a img{
        height:220px;
        width:100%;
        .content{
        display:inline-block;
        background:#fff;
    }
    }
    }
  .font-weight{
        font-weight:bold;
    }
    .project-time{
        font-size:20px;
        color:#fefefe;
        position:relative;
        top:-50px;left:90px;
        display:inline-block;
    }
    .project-text{
        height:40px;
        overflow:hidden;
        margin-top:4px;
        color:#999;
    }
    .row .pd5{
        padding:5px;
        padding-bottom: 26px;
    }
                        
    .plat-default .person-article-lists .article-item .article-cate{
        color:#D02722;
        border: 1px solid #D02722;
        padding:2px 15px;
        margin-top:31px;
        margin-bottom:31px;
        margin-right:10px;
    }
    .article-dr{
        color:#999;
    }
    
    .project-discuss{
        margin:10px 0px;
    }
    .content{
        background:#fff;
        width:100%;
        padding:8px;
    }
    .plat-default .plat-content .right{
        margin:0px;
    }
    .article-color i{
        color:#D02722;
        font-style: inherit;
    }
    .project-section{
        position:relative;
        height:220px;
    }
    .content .title{
        margin-top:30px;
    }
    .project-section .logo{
        width:55px;
        height:55px;
        box-shadow:1px 2px 8px 4px #666;
        border-radius:50%;
        position:absolute;
        top:191px;
        left:13px;
        overflow: hidden;
    }
    .project-username{
        position:absolute;
        top:221px;
        left:78px;
    }
    .project-money img{
        margin:0  5px;
    }
   .page-default .page-content #profile {
    margin-top: 0px;
    }
   }
  
    
    

.person-goods-lists{
      
    width: 100%;
    margin-top: 20px;
    .product-massage{
        position: absolute;
        top:281px;
        z-index:999;
        background-color:rgba(255,255,255,1);
        width:262px;
        height:200px;
    
    }
    .white{
        color:#fff;
    }
    .buy-now{
        position: absolute;bottom: 5px; width: 248px; background-color: #d02722;color: #fff;margin-left: -72px;height:34px;z-index:99;
    }
    .m-l-23{
       padding-left:8px
    }
    .f-l{
        float:left;
    }
    
    .product-price{
        width: 100%;height: 18px;font-size: 24px;
    }
    .p-l-2{
        padding-left:10px;
    }
    .p-r-2{
        padding-right:2px;
    }
    .p-t-3{
        padding-top:20px
    }
    .shadow-box{
        width: 82%;height: 460px ; box-shadow: 5px 3px 15px 0 #ccc;
    }
}






   .person-article-lists{
        width: 100%;
        padding-left: 87px;
        .plat-default .person-article-lists .article-item{
            border:0;
        }
        .col-sm-4 a img{
            height:220px;
            width:100%;
        }
        .font-weight{
            font-weight:bold;
        }
        .project-time{
            font-size:20px;
            color:#fefefe;
            position:relative;
            top:-50px;left:90px;
            display:inline-block;
        }
        .project-text{
            height:40px;
            overflow:hidden;
            margin-top:4px;
            color:#999;
        }
        .row .pd5{
            
                padding: 13px;
                margin-top: 9px;
        }
                            
        .plat-default .person-article-lists .article-item .article-cate{
            color:#D02722;
            border: 1px solid #D02722;
            padding:2px 15px;
            margin-top:31px;
            margin-bottom:31px;
            margin-right:10px;
        }
        .article-dr{
            color:#999;
        }
        .content{
            display:inline-block;
            background:#f2f2f2;
        }
        .project-discuss{
            margin:10px 0px;
        }
        .content{
            background:#fff;
            width:100%;
            padding:8px;
        }
       
        .plat-default .plat-content .right{
            margin:0px;
        }
        .article-color i{
            color:#D02722;
            font-style: inherit;
        }
        .project-section{
            position:relative;
            height:220px;
        }
        .content .title{
            margin-top:30px;
        }
        .project-section .logo{
            width:55px;
            height:55px;
            border-radius:50%;
            position:absolute;
            top:191px;
            left:13px;
            overflow: hidden;
            box-shadow:1px 2px 8px 4px #666;
        }
        .project-username{
            position:absolute;
            top:221px;
            left:78px;
        }
        .project-money img{
            margin:0  5px;
        }
          .page-default .page-content #profile {
        margin-top: 0px;}
   }
   .new-list-box{
    
       height: 206px;
    box-shadow: 1px 1px 5px 0px #ccc;
    margin-left: 34px;
    margin-bottom: 27px;
    background: #fff
}
.new-list-img{
   width: 150px;
    height: 150px;
}
.p-l-28{
    padding-left:28px;
}
.new-record{
    position: absolute;
    top:8px;
    right:0;
    width:102px;
    height:34px;
    margin-right:15px;
    border-color:#008cee !important;
}
.new-time{
        width: 120px;
    height: 14px;
    position: absolute;
    top: 33px;
}
.p-t-24{
    padding:24px 43px 0 0;
    height:64px;
    overflow:hidden

}
.new-issuser{
    width: 244px;
    height: 14px;
    position: absolute;
    bottom: -34px;
    right:47px;
   
}
.p-r-24{
    padding-right:24px
}
.new-box-show{
        box-shadow: 5px 5px 5px 5px #ccc;
}
.look-msg{
    position:absolute;
    top:129px;
    color:#5c8dcc
}
.new-icon{
    display: inline-block; width: 18px;height:11px
}
.new-title{
    margin-right: 0;width: 100%;height: 100%;display: inline-block;
                        border-radius: 18px;
}