
body{
    background-color: #fff;
}
header{
    position: fixed;
    left: 0;
    right: 0;
    border: 0;
    z-index: 99;
}
header ul {
    position: relative;
    height: 0.8rem;
    background-color: #0BC9FF;
    margin-bottom: 0rem;
}
header ul li {
    position: absolute;
    font-weight: bold;
}

header ul li:first-child {
    left: 0.3rem;
    font-size: 0.28rem;
    margin-top: 0.2rem;
    color: white
}
header ul li:nth-child(2) img{
    width: 75%;
    height: 75%;
    margin-top: 0.1rem;
}
header ul li:nth-child(2) {
    left: 35%;
    width: 3rem;
    margin-top: -0.05rem;
}

header ul li:last-child {
    right: 0.3rem;

    color: white;
    font-size: 0.28rem;
    margin-top: 0.2rem;

}
header ul li a:link,header ul li a:visited,header ul li a:hover,header ul li a:active{
    color: white;
}
footer a:link,footer a:visited,footer a:hover,footer a:active{
    color:#fff;
}
.swiper-container, .swiper-container .swiper-slide img {
    z-index: 1;
    width: 100%;
    height: 4rem;
}
.touxiang {
    width: 100%;
    padding: 0.2rem;
    position: relative;
}
.touxiang ul li {
    float: left;
    display: block;
}
.touxiang ul li:first-child {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -0.5rem;
    z-index: 10;
}
.touxiang ul li:first-child img{
    width: 1rem;
    height: 1rem;
}

.touxiang ul li:nth-child(2) {
    margin-left: 1.05rem;
    margin-top: -0.1rem;
    color: #4585B6;
}

.centent {
    margin-top: 0.1rem;
    width: 100%;
    padding: 0.2rem;
}
.centent h1 {
    font-size: 0.3rem;
}

.centent p {
    padding-top: 0.4rem;
    font-size: 0.24rem;
}

.centent .chakan {
    padding-top: 0.3rem;
    display: block;
    width: 1.2rem;
    height: 0.3rem;
    font-size: 0.3rem;
    color: #43AC43;
    margin: 0 auto;
}

.centent .jindu {
    border-radius: 0.03rem;
    margin-top: 0.2rem;
    width: 100%;
    background-color: #EFEFEF;
    height: 5px;
}

.centent .jindu span {
    background-color: #0BC9FF;
    width: 30%;
    height: 5px;
    display: block;
}

.money {
    clear: both;
    margin-top: 0.2rem;


}

.money ul li {
    display: block;
    float: left;
    width: 33.33%;
    text-align: center;

    border-right: 1px solid #F0F0F0;
    margin-bottom: 0.2rem;

}

.money ul li P {
    color: #D7D7D7;
    padding-bottom: 0.2rem;
}

.money ul li span {
    color: #DB5E5E;
}
.money ul li:last-child{
    border-right: none;
}
.money ul li:nth-child(3) span {
    color: #0BC9FF;
}

.prove {
    padding: 0 0.2rem 0 0.2rem;
    height: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #F0F0F0;
    color: #999;
    padding-top: 0.3rem
}

.tissue {
    padding: 0.2rem;
}

.feedback {

    box-sizing: border-box;
}

.feedback ul li {
    width: 100%;
    height: 1.5rem;
    border-bottom: 1px solid #F0F0F0;
}

.feedback ul li p, .feedback ul li h3 {
    padding-top: 0.05rem;
}

.feedback ul li h3 span {
    color: red;
}
.raisefunds {
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.3rem;
}
.raisefunds ul{
    height: 0.8rem;
}
.raisefunds ul li {
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    height: 0.8rem;
    line-height: 0.5rem;
    color: #9B9B9B;
}

.raisefunds .model_1 {
    border-bottom: 1px solid #d4d4d4;
}

.raisefunds .model_2 {
    /*display: none;*/
}
.raisefunds .model_1 .headImg_wai {
    float: left;
}

.raisefunds .model_1 .headImg {
    overflow: hidden;
    border-radius: 50%;
    height: 1rem;
    margin-top: 0.35rem;
}

.raisefunds .model_1 .headImg img {
    width: 1rem;
    height: 1rem;
}

.raisefunds .model_1 .essay {
    width: 75%;
    float: left;
    padding: 0.3rem;
}

.raisefunds .model_1 .essay h2 {
    color: #007aff;
}

.raisefunds .model_1 .essay p {
    color: #999;
    padding-top: 0.2rem;
}

.raisefunds .model_1 .essay ul li {
    display: block;
    float: left;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.1rem;

}

.raisefunds .model_1 .essay ul li img {

    display: block;
    width: 1.2rem;
    height: 1.2rem;
}

.raisefunds .model_1 .comment {
    padding-left: 1.3rem;
    padding-bottom: 0.2rem;
}

.raisefunds .model_1 .comment span:nth-child(1) {
    color: #CDCDCD;
}

.raisefunds .model_1 .comment span:nth-child(2) {
    padding-left: 0.5rem;
    color: #4AC94A;
    font-size: 0.12rem;
}

.raisefunds .model_1 .comment span:nth-child(3) {
    padding-left: 2rem;
    color: #4AC94A;
}

.fengexian {
    border: 1px solid #CDCDCD;
    height: 0.01rem;
    margin-top: 0.2rem
}

.payment {
    width: 100%;
    border: none;
    padding: 0.2rem;
}

.payment input {
    border: none;
    padding-left: 0.5rem;

}
.aa{
    border-bottom: 1px solid #F5F5F5;
}
.model_2 {
    display: none;
    width: 100%;
}

.model_2 ul li {
    width: 100%;
    height: 2.3rem;
    border-bottom: 1px solid #F5F5F5;
    margin-top: 0.2rem;
}

.model_2 ul li .tu_wai {
    float: left;
    width: 10%;
}

.model_2 ul li .tu_wai .tu {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0.1rem;
}

.model_2 ul li .tu_wai .tu img {
    width: 1rem;
    height: 1rem;
}

.model_2 ul li .essays {
    width: 80%;
    float: left;
    margin-left: 0.3rem;
    text-align: left;
    padding-left: 0.2rem;

}
.model_2 ul li .essays p:first-child{
    color: #2873AB;
}
.model_2 ul li .essays p:first-child span {
    color: #d9d9d9;
    padding-left: 3rem;
}
.model_2 ul li .essays p:nth-child(2) span{
    color: #0BC9FF;
    padding-left: 0.5rem;
}

.model_2 ul li .essays p:nth-child(2) span:nth-child(2){
    color: #0BC9FF;
    padding-left: 3.2rem;
}
.model_2 ul li .essays p:nth-child(2) span:nth-child(2) img{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 0.3rem;
}
.model_2 ul li .essays p:last-child{
    background-color:#F1F1F0 ;
}
.model_2 ul li .essays p:last-child span {
    color: #0BC9FF
}

footer {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-top: 1px solid #f0f0f0;
}
footer div:first-child i {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-size: 100%;
}

footer div:first-child {
    width: 10%;
    float: left;
    margin-left: 0.4rem;
}
footer div:first-child p {
    padding-left: 0.1rem;
    color:black;
}
footer div:nth-child(2) p {
    padding-left: 0.1rem;
}
footer div:nth-child(2) {
    width: 10%;
    float: left;
    margin-left: 0.2rem
}

footer div:nth-child(2) span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-size: 100%;
}
footer div:last-child {
    width: 60%;
    float: left;
    height: .7rem;
    border-radius: 0.3rem;
    color: white;
    background-color: #0cc9ff;
    text-align: center;
    line-height: 0.7rem;
    font-size: 0.32rem;
    margin-left: 0.3rem;

}
.raisefunds ul li.addclass {
    border-bottom: 1px solid #0cc9ff;
    color: #0cc9ff;
}

.chanpinhuibao {
    position: relative;
    width: 100%;
}

.chanpinhuibao ul li {
    width: 100%;
    padding: 0.2rem;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    height: 2.2rem;

}

.chanpinhuibao ul li .shipintu {
    width: 10%;
    height: 1rem;
    float: left;
    margin-top: 0.3rem;

}

.shipintu img {
    width: 1rem;
    height: 1rem;
}

.chanpinhuibao ul li .peisong {

    width: 70%;
    padding: 0.2rem;
    position: absolute;
    right: 1rem;

}

.zhaopianqiang {
    padding: 0.3rem;
}

.zhaopianqiang ul li {
    display: block;
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.1rem;
}

.zhaopianqiang ul li img {
    width: 1.5rem;
    height: 1.5rem;
}

.centent p {
    font-size: 12px;
    color: #AFAFAF;
}

.fenGexian {
    height: 0.05rem;
    background-color: #F0F0F0;
    clear: both;
    padding-top: 0.2rem;
}

.xqing {
    padding-left: 0.2rem;
    font-weight: bold;
    height: 0.6rem;
    line-height: 0.8rem;
}

.p {
    background-color: #d9d9d9;
    padding: 0 0.2rem 0 0.2rem;
    height: 1px;
    margin-top: 0.2rem;
}

.wenZhang {
    padding: 0.2rem;
    line-height: 0.5rem;
}

.chakan {
    text-align: center;
    margin: 0 auto;
    margin-left: 45%;
}

.chakan a {
    color: #0BC9FF;
    margin: 0 auto;
    font-weight: bold;
    margin-left: -0.1rem;
    font-size: 0.3rem;
}
.peisong p:last-child{
    color:#9B9B9B;
}
.peiSong {
    padding: 0.2rem;
    color: #AAAAB4;
}

.peiSong span {
    color: black;
}
.chanpinhuibao ul li .peisong{
    width: 80%;
    padding: 0.2rem;
    position: absolute;
    right: 0rem;
}
.chanpinhuibao ul li .peisong p:first-child {
    padding-top: 0.1rem;
}

.chanpinhuibao ul li .peisong p:nth-child(2) {
    padding-top: 0.1rem;
}

.chanpinhuibao ul li .peisong p:first-child span {
    color: red;
    font-size: 0.18rem;
}

.chanpinhuibao ul li .peisong p:first-child span:nth-child(2) {
    color: #AAAAB4;
    font-size: 0.12rem;
    width: 1rem;
    color: #AAAAB4;
    font-size: 0.12rem;
    margin-left: 3.6rem;
}

.chanpinhuibao ul li .peisong p:first-child span:nth-child(3) {
    color: black;
}
.pingjia {
    float: left;
    margin-left: 28%;
    text-align: center;
}
.shuliang {
    float: left;
    width: 0.5rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background-color: #F0F0F0;
}

.essay h2 {
    color: #639AC3;
}
.essay p span {
    color: #0BC9FF;
    font-size: 0.3rem;
}
.tuImg {
    width: 0.27rem;
    height: 0.27rem;
}
.swiper-container {
    padding-top: 1.6rem;
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.menu-left {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: solid #fff;
    border-width: 3px 3px 0 0;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    vertical-align: middle;
    margin-top: -0.1rem;
}
/*未选择*/
.swiper-pagination-bullet{
    background-color: #ffffff;
    opacity: 1;
}
/*选择中*/
.swiper-pagination-bullet-active{
    background-color: #0BC9FF;
}
.null{
    clear: both;
    width: 100%;
    height: 1rem;
}
.colour{
    color: white;
}

/*.collection {*/
    /*background: url("../images/wap/shoucang.png") no-repeat;*/
/*}*/

/*.collection_1{*/
    /*background: url("../images/wap/shoucang4.png") no-repeat;*/
/*}*/
.forward {
    background: url("../images/wap/zhuanfa.png") no-repeat;
}
.forward_1{
    background: url("../images/wap/zhuanfa_1.png") no-repeat;
}
.chakanquanbu{
    position: absolute;
    background-color: #fff;
    width: 71%;
    height: 0.6rem;
    font-size: 0.3rem;
    line-height: 0.6rem;
    color:#969393;
    text-align: center;
    opacity: 0.7;
    top:1rem;
    left: 21%;
}

.hide_1{
    display: none;
}
.iconfont{
    font-size:20px !important;
    font-weight: bold;
}
