* {
  font-family: "微软雅黑", "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", sans-serif;
}
.m0{
  margin: 0 !important;
}
label {
  font-weight: 100;
}
i{
  font-style: normal;
  line-height: 40px;
}
.f_red{
  color: #f00;
  font-style: normal;
}

.use-title .use-left-title-box {
  position: fixed;
  width: 280px;
  height: 100%;
  float: left;
}
.use-title {
  padding-top: 60px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #F7F6F2;
}
#userLeftHeaderImage{
line-height: 60px;
}
#userLeftHeaderImage img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.use-title .use-left-title-box ul {
  height: 100%;
  background: #333;
  text-align: center;
  width: 80px;
  float: left;
}
.use-title ul a li {
  display: inline-block;
  width: 80px;
  height: 40px;
  text-align: left;
  position: relative;
}
.use-title ul a li {
  color: #F7F6F2;
}
.use-right {
  padding-top: 28px;
  padding-left: 310px;
  background: #F7F6F2;
  height: auto;
}
.use-title .use-left-title {
  text-align: center;
}
.enroll_num {
  width: 100px!important;
}
.user_name {
  width: 50px!important;
}
.activity_lists th {
  vertical-align: middle!important;
}
.use-title .use-left-title li {
  display: inline-block;
  width: 80px;
  height: 60px;
  text-align: center;
  line-height: 77px;
  font-size: 12px;
  font-weight: 400;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}
.use-title .use-left-title li:hover i{
  color: #fff;
}
.use-title .use-left-title li i {
  position: absolute;
  font-size: 20px;
  display: block;
  color: #d2d2d2;
  left: 30px;
  top: 9px;
}
.use-left-title > a > div > img {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.sceondTitle {
  width: 200px;
  background-color: #F7F6F2;
  border-right: 1px solid #ccc;
  height: 100%;
  background: #333;
  text-align: center;
  width: 80px;
  float: left;
}
.secondTitle a li {
  display: inline-block;
  width: 80px;
  height: 53px;
  font-size: 14px;
  text-align: center;
  position: relative;
  padding-left: 20px;
  text-align: left;
  line-height: 53px;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}
.title-hover {
  background: #474747;
}
.title-click {
  background: #5c5c5c;
  color: #fff !important;
}
.second-title-click {
  background: #E4E3DF;
  color: #000000 !important;
}
#secondTitleLists {
  width: 200px;
  background-color: #F7F6F2;
  border-right: 1px solid #ccc;
}
#secondTitleLists a {
  color: #737373;
}
#left-right-menu-nig-name {
  text-align: left;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
  padding: 12px 20px 10px;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 700;
}
#secondTitleLists a li {
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
  line-height: 40px;
  margin-top: 10px;
  padding-right: 30%;
}
.use-right .use-right-box {
  max-width: 880px ;
  margin-left: 0;
}
.int-top-lang-mobi-user-center {
  width: 50px ;
}
.bgd-b {
  background: #fff !important;
}

#add-news-act-pro::before{

  position: absolute;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

  border-bottom: solid 10px #ccc;

  left: 41px;
  top: -10px;
  z-index: 111;
  content: "";

}
#add-news-act-pro::after{

position: absolute;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 9px #fff;
  left: 41px;
  top:-8px;
  z-index: 111;
  content: "";

}
#tongZhiSiXin::before{

  position: absolute;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

  border-bottom: solid 10px #ccc;

  left: 140px;
  top: -10px;
  z-index: 111;
  content: "";

}
#tongZhiSiXin{
  left: -119px;
  width: 283px;
}
#shengQingHuiYuan{
  padding: 0;
  margin-top: 10px;
  line-height: 34px;
}
#tongZhiSiXin::after{

  position: absolute;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 9px #fff;
  left: 140px;
  top:-8px;
  z-index: 111;
  content: "";

}
#weiwanchengderenwu::before{

  position: absolute;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

  border-bottom: solid 10px #ccc;

  left: 41px;
  top: -10px;
  z-index: 111;
  content: "";

}
#weiwanchengderenwu::after{

  position: absolute;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 9px #fff;
  left: 41px;
  top:-8px;
  z-index: 111;
  content: "";

}

#add-news-act-pro li {
  text-align: right;
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.75);
  padding-right: 50px;
  height: 34px;
  line-height: 34px;
}
#add-news-act-pro i {
  font-size: 1em;
  padding-right: 10px;
  margin-left: -15px;
  line-height: 34px;
}
#user-center-main {
  width: 480px;
  height: 400px;
  left: -374px;
}
#user-center-main .weizhuye {
  float: left;
  height: 100%;
  width: 360px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#user-center-main .weizhuye i {
  margin-left: 15px;
}
#user-center-main i {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 1em ;
  line-height: 34px;
}
#user-center-main .weizhuye b {
  font-weight: 100;
  font-size: 14px;
  color: #666;
}
#user-center-main .weizhuye p {
  width: 100%;
  margin: 140px auto;
  color: #666;
  font-size: 14px ;
}
#user-center-main .weizhuye p a {
  font-size: 14px;
  padding: 0 1.5em;
  text-transform: none;
  line-height: 30px;
  height: 30px;
  color: #000!important;
  background-image: none;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  background-color: #FFF!important;
  border: 1px solid #ccc;
}
#user-center-main li {
  text-align: left;
  width: 120px;
  margin-left: 360px;
  height: 34px;
  padding-left: 10px;
  line-height: 34px;
  font-size: 0.875em;
}
#navTongzhi,
#navSixin {
  width: 100%;
  height: auto;
}
#navSixin {
  display: none;
}
.nav-tongzhi-shuju {
  width: 100%;
  height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  color: #2D59A2;
  font-size: 14px;
  padding: 0 10px;
  text-align: left;
}
.nav-tongzhi-shuju a {
  display: block;
  color: #2D59A2!important;
}
.nav-tongzhi-shuju:hover {
  background: #f9f9f9;
}
#personCenterAndWeizhuye {
  position: absolute;
  left: 45%;
  top: 18px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
}
.fa-bu-xiang-mu{
  margin: 50px;
}
.fa-bu-xiang-mu .col-sm-3{
  text-align: center;
}
.fa-bu-xiang-mu .col-sm-3 i {
  font-size: 28px;display: block;
  margin-bottom: 5px;
}
/*应用管理*/
#yingYongShiChang {
  width: 100%;
}
#yingYongShiChang .row{
  margin-top: 10px !important;
}
#yingYongShiChang .col-sm-4 {
  height: 90px;
}
#yingYongShiChang .col-sm-4 .col-sm-4{
  line-height: 90px;
  text-align: center;
}
#yingYongShiChang .col-sm-4 .col-sm-4 i{
  font-size: 53px;
  line-height: 90px;
  color: #fff;
}
#yingYongShiChang .col-sm-4 .col-sm-8{
  background: #fff;
  height: 100%;
}
#yingYongShiChang .col-sm-4 .col-sm-8 p{
  padding-top: 5px;
}
#yingYongShiChang .col-sm-4 .col-sm-8 a{
  color: #3c8dbc;
  font-size: 13px;
}
#yingYongShiChang .col-sm-4 .col-sm-8 .y{
  margin-top: 30px;
}
.we_tit {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d7d7d7;
}
.we_tit {
  height: 48px;
  line-height: 40px;
  border-bottom: 1px solid #d7d7d7;
}

.wz_userSort > span.active {
  border-bottom: 2px solid #FAA900;
  color: #FAA900;
}
.wz_userSort > span {
  display: inline-block;
  height: 42px;
  line-height: 44px;
  padding: 0 10px;
  background: #fff;
  margin-left: -1px;
  color: #666;
  cursor: pointer;
}
.blank0, .clear {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
  line-height: 0;
}
.mt20 {
  margin-top: 20px;
}

.control-group {
  margin-left: 0;
}
.control-group {
  margin-bottom: 5px;
  padding: 5px 0;
  overflow: hidden;
}

.control-group .control-label {
  width: 99px;
  height: 37px;
  line-height: 29px;
  float: left;
  text-align: right;
  margin-right: 4px;
}


.small-control-group .small_textbox {
  width: 318px;
  float: left;
  font-size: 14px;
  border: 1px solid #d7d7d7;
  padding: 8px;
  color: #333;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}
.v_area textarea {
  width: 340px;
  height: 100px;
  float: left;
  border-color: #d7d7d7;
  padding: 10px;
  resize: none;
}
.v_area p {
  float: left;
  margin-left: 6px;
  margin-top: 20px;
  height: 20px;
  line-height: 20px;
  background: url(https://www.wezchina.com/app/Tpl/wezchina/images/wz_ui/domain_tip.png) 4px center no-repeat;
}
.v_area p i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-top: -4px;
}
.setting_security .credentials_box {
  position: relative;
  width: 188px;
  overflow: hidden;
  margin-bottom: 0;
}
.setting_security .pic_box i {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url(../images/del_icon.png) no-repeat;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.setting_security .pic_box {
  z-index: 2;
}
.mr20 {
  margin-right: 20px;
}
.f_l {
  float: left;
}

.setting_security .pic_show {
  width: 177px;
  height: 177px;
  line-height: 18px;
  background: url(../images/pc/zhiz.png) no-repeat;
  color: #666;
  cursor: pointer;
  font-family: "SimSun";
  font-size: 12px;
  margin-top: 8px;
  overflow: hidden;
}



.setting_security .new_picshow {
  width: 188px;
  height: 188px;
  line-height: 18px;
  background: url(../images/pc/zhiz.png) no-repeat;
  color: #666;
  cursor: pointer;
  font-family: "SimSun";
  font-size: 12px;
  margin-top: 8px;
  overflow: hidden;
}
.setting_security .per_img {
  background: url(../images/pc/zmcl.png) no-repeat;
}

.setting_security .pic_zm {
  background: url(../images/pc/sqwj.png) no-repeat;
}

.setting_security .pic_show {
  z-index: 1;
}

.dlmain .f_r .theme_bgcolor {
  background: #faaa00;
  color: #fff;
}
.ui-button, .ui-button_active, .ui-button_hover, .ui_button {
  border: 1px solid transparent;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  color: #fff;
  display: inline;
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 0 20px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
