*{
  font-family: "微软雅黑","PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei",sans-serif;
}
.use-title .use-left-title-box{
    position: fixed;
    width: 280px;
    height: 100%;
    float: left;
}
.use-title{
    padding-top: 60px;
    height: 100%;
    width:100%;
    overflow-x: hidden;
      background:#F7F6F2;
}  

.use-title .use-left-title-box .m-b-5 img{
  height: 32px;
  width: 32px;
margin-top: 17px;
  border-radius: 50%;
}
.use-title .use-left-title-box ul{
    height:100%;
    background:#333;
    text-align:center;
    width:80px;
    float:left;
}
 .use-title ul a li{
    display:inline-block;
    width:80px;
    height:40px;
    text-align:left;
   position: relative;
   
}
.use-title ul  a li{
    color:#F7F6F2;
}
.use-right{
    
   
    padding-top:28px;
    padding-left:310px;
    background:#F7F6F2;
    height: auto;
  
}
.use-title .use-left-title{
    

    text-align: center;
}
.enroll_num{
  width: 100px!important;
}
.user_name{
  width: 50px!important;
}
.activity_lists th{
  vertical-align:middle!important;
}
.use-title .use-left-title li{
     display:inline-block;
    width:80px;
    height:60px;
    text-align:center;
    line-height: 77px;
    font-size: 12px;
    font-weight: 400;
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
    
}
.use-title .use-left-title li i{
     position: absolute;
      font-size: 20px;
     display: block;
     color: #fff;
     left: 30px;
     top: 9px;
   
}
.use-left-title > a > div>img{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.sceondTitle{
       width: 200px;background-color: #F7F6F2;  border-right: 1px solid #ccc;
       height:100%;
    background:#333;
    text-align:center;
    width:80px;
    float:left;
}
.secondTitle a li{
    display:inline-block;
    width:80px;
    height:53px;
    font-size: 14px;
    text-align:center;
    position: relative;
    padding-left: 20px;
    text-align:left;
    line-height: 53px;
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
}
.title-hover{
    background: #474747;
}
.title-click{
    background: #5c5c5c;
    color: #fff !important;
}
.second-title-click{
    background: #E4E3DF;
    color: #000000 !important;
}
#secondTitleLists{
    width: 200px;background-color: #F7F6F2;  border-right: 1px solid #ccc;

}
#secondTitleLists a{
    color: #737373;
}

#left-right-menu-nig-name{
    text-align: left;
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
    padding:12px 25px 10px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700;
    
}
#secondTitleLists a li{
    width: 100%;color:rgba(0,0,0,.75);line-height: 40px;margin-top: 10px;    padding-right: 30%;

}

.use-right .use-right-box{
    max-width: 880px ;margin-left: 0;

}
.int-top-lang-mobi-user-center{
    width:50px ;
}
.bgd-b{
    background:#fff !important;
}
#add-news-act-pro li{
    text-align: right;
    font-size: 0.875em;
    color: rgba(0,0,0,.75);
    padding-right: 50px;
}
#add-news-act-pro i{
        font-size: 1em;
        padding-right: 10px;
        margin-left: -15px;
    }
    
#user-center-main{
//display: block;
  width: 480px;
  height: 400px;
  left: -374px;


    }
#user-center-main .weizhuye{
    float: left;
    height: 100%;
    width: 360px;
    border-right: 1px solid rgba(0,0,0,.15);
  
    }
    #user-center-main .weizhuye i{
        margin-left: 15px;
    }
    
#user-center-main i{
    margin-left: 5px;
    margin-right: 10px;
    font-size:1em ;
}
#user-center-main .weizhuye b{
    font-weight: 100;
    font-size: 14px;
    color: #666;
}
#user-center-main .weizhuye p{
    width: 100%;
    margin: 140px auto;
    color: #666;
    font-size:14px ;
}
#user-center-main .weizhuye p a{
       font-size: 14px;
    padding: 0 1.5em;
    text-transform: none;
    line-height: 30px;
    height: 30px;
    color: #000!important;
    background-image: none;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em;
    background-color: #FFF!important; 
    border: 1px solid #ccc;
}
#user-center-main li{
    text-align: left;
    
    width: 120px;
    margin-left: 360px;
    height: 34px;
    padding-left: 10px;
    line-height: 34px;
    font-size: 0.875em;
}
#navTongzhi,#navSixin{
    width: 100%;
    height: auto;
    
}
#navSixin{
    display: none;
}
 .nav-tongzhi-shuju{
     width: 100%;
     height: 36px;
     white-space:nowrap;
     text-overflow:ellipsis;
     -o-text-overflow:ellipsis;
     overflow:hidden;
     border-bottom: 1px solid #ddd;
     color: #2D59A2;
     font-size: 14px;
    padding: 0 10px;
   text-align: left;
}
.nav-tongzhi-shuju a{
  display: block;
  color: #2D59A2!important;
}
.nav-tongzhi-shuju:hover{
    background: #f9f9f9;
}
#personCenterAndWeizhuye{
    position: absolute;
    left: 45%;
    top:18px;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
}
