.impowerBox .qrcode {
    width: 176px;
    margin-top: 15px;
    border: 1px solid #E2E2E2;
}
.impowerBox .title {
     display: none;
 }
.impowerBox {
    line-height: 1.6;
    position: relative;
    top: 1px;
    left: 37px;
    width: 100%;
    z-index: 1;
    text-align: center;
}
.impowerBox .status {
    padding: 12px 14px 7px;
}