<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" id="favicon" href="" />
    <link rel="stylesheet" href="{{PATH_TML}}css/home.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}css/swiper.min.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}css/activity-detail.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}css/common.css"/>
    <script src="{{PATH_TML}}js/zepto.min.js"></script>
    <script src="{{PATH_TML}}js/vue.min.js"></script>
    <script type="text/javascript" src="{{PATH_CONFIG}}"></script>
    <script src="{{PATH_TML}}js/swiper-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{{PATH_TML}}js/layui/css/layui.css"/>
    <script src="{{PATH_TML}}js/layui/layui.js"></script>
    <title></title>
</head>
<body>
<div id="app">
    <div id="title">
        <a :href="backurl"><img id="goback" src="/common/img/return.png" /></a>
        <p>活动详情</p>
        <img id="user" src="/common/img/user.svg" width="20" />
    </div>

    <div id="carousel">
        <div class="swiper-container" id="my-swiper">
            <div class="swiper-wrapper carousel">
                <div class="swiper-slide">
                    <img :src="cover" alt=""/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div id="container">
        <div class="actd-title">活动简介</div>
        <ul>
            <li class="actd-theme"><img src="/common/img/theme.png" alt=""/><p>{{title}}</p></li>
            <li class="actd-time"><img src="/common/img/clock.png" alt=""/><p>{{start}} 至 {{end}} 报名截止</p></li>
            <li class="actd-map">
                <img src="/common/img/location.png" alt=""/>
                <p><a href="/activity-map">{{address}}</a></p>
                <!--<img class="arrow" src="/common/img/arrow-right.png" alt=""/>-->
            </li>
            <li class="actd-zb"><img src="/common/img/company.png" alt=""/><p>{{sponsor}}</p></li>
            <li class="actd-bm" style="background: #f0f0f0">已报名用户</li>
            <li class="actd-users">
                <img :src="user.avatar" v-for="user in users" alt=""/>
            </li>
            <li style="background: #f0f0f0">活动嘉宾</li>
            <li class="actd-guest" v-for="guest in guests">
                <img :src="guest.avatar" alt=""/>
                <div>
                    <p>{{guest.name}}</p>
                    <p style="font-size: 0.12rem; color: #a6a6a6">{{guest.position}}</p>
                </div>
            </li>
            <li style="background: #f0f0f0">活动详情</li>
            <li class="actd-detail" v-html="content"></li>
        </ul>

        <div class="actd-apply">
            <p>{{ state }}</p>
            <button data-method="notice" @click="apply" class="layui-btn" style="background: transparent; width: 100%; position: absolute; bottom: 0; left: 0;"></button>
        </div>
    </div>
</div>

    <script>
        var mySwiper = new Swiper ('#my-swiper', {
            direction: 'horizontal',
            loop: true,
            speed: 1000,
            autoplay : 3000,
            autoplayDisableOnInteraction : false,
            pagination: '.swiper-pagination',
            paginationClickable :true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            grabCursor : true
        })

        $("#user").click(function(){
//            window.location.href = "wcard";
        })

        const userDetail = (weid, token, ref) => {
            $.ajax({
                url:  apiUrl + 'activity/enroll_my_order',
                type: 'POST',
                headers: {
                    'Token': token
                },
                data: {
                    activity_id: weid
                },
                success: function(data) {
                    console.log(data);
                    if (data.code == 200) {
                        switch (data.data.status) {
                            case 1: ref.state = '立即报名'; break;
                            case 2: ref.state = '立即支付';
                                $(".actd-apply").css({'background': '#FEC52B', 'box-shadow': '5px 5px 15px 0 #FEC52B'})
                                break;
                            case 3: ref.state = '已报名';
                                $(".layui-btn").hide();
                                $(".actd-apply").css({'background': '#EC2506', 'box-shadow': '5px 5px 15px 0 #EC2506'})
                                break;
                            default: break;
                        }
                        if (data.data.status == 2) {
                            sessionStorage.setItem('act-orderId', data.data.number);
                        }
                    }
                }
            })
        }

        const userStore = (weid, token, phone, name, position, company, ref) => {
            $.ajax({
                url: apiUrl + 'activity/enroll/store',
                type: 'POST',
                headers: {
                    'Token': token
                },
                data: {
                    activity_id: weid,
                    name: name,
                    telphone: phone,
                    poistion: position,
                    company: company
                },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        if (data.data.status == 2) {
                            localStorage.setItem('act-weid', weid);
                            localStorage.setItem('act-enrollid', data.data.enroll_id);
                            layer.msg('报名成功', {
                                time: 1500
                            })
                        } else if (data.data.status == 1) {
                            ref.state = '立即支付';
                            sessionStorage.setItem('act-orderId', data.data.number);
                        }
                    } else {
                        layer.msg(data.message, {
                            time: 1500
                        })
                    }
                }
            })
        }

        const reqData = (url, ref) => {
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    if (data.code == 200) {
                        let p = data.data;
                        ref.title = p.title;
                        ref.cover = ApiMaterPlatQiniuDomain + p.cover;
                        ref.sponsor = p.Sponsor;
                        ref.content = p.content;
                        ref.address = p.area_name + p.address;
                        ref.start = p.created_at.substr(5);
                        ref.end = p.enroll_deadline.substr(5);
                    }
                }
            })
        }

        const reqUsers = (url, data, ref) => {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(data) {
                    console.log(data);
                    if (data.code == 200) {
                        data.data.list.map(x => ref.users.push(
                            {
                                avatar: x.avatar != null ? ApiMaterPlatQiniuDomain + x.avatar : '/common/img/vote_front_cover.png',
                            }));
                        if (ref.users == '') {
                            $(".actd-users").text('暂无');
                        }
                    }
                }
            })
        }

        const reqGuest = (url, data, ref) => {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(data) {
                    console.log(data);
                    if (data.code == 200) {
                        data.data.list.map(x => ref.guests.push(
                            {
                                avatar: x.avatar != null ? ApiMaterPlatQiniuDomain + x.avatar : '/common/img/vote_front_cover.png',
                                name: x.name,
                                position: x.position,
                            }));
                        if (ref.guests == '') {
                            ref.guests.push({avatar: '', name: '', position: ''})
                        }
                    }
                }
            })
        }

        new Vue({
            el: '#app',
            data: {
                title: '',
                cover: '',
                sponsor: '',
                content: '',
                start: '',
                end: '',
                address: '',
                users: [],
                guests: [],
                name: '',
                position: '',
                company: '',
                backurl: '',
                state: '立即报名',
                weid: window.location.pathname.split('/').pop(),
                token: localStorage.getItem('token'),
                phone: localStorage.getItem('phone')
            },
            created: function () {
                let _self = this;
                const url_info = apiUrl + 'activity/detail/' + _self.weid;
                const url_users = apiUrl + 'activity/enroll/lists';
                const url_guests = apiUrl + 'activity/guest/lists';
                _self.backurl = sessionStorage.getItem('history');
                reqData(url_info, _self);
                reqUsers(url_users, {activity_id: _self.weid}, _self);
                reqGuest(url_guests, {activity_id: _self.weid}, _self);
                userDetail(_self.weid, _self.token, _self)
            },
            mounted: function(){
                this.$nextTick(function () {
                    let _self = this;
                    layui.use('layer', function(){ //独立版的layer无需执行这一句
                        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
                        //触发事件
                        var active = {
                            setTop: function(){
                                var that = this;
                            }
                            ,notice: function(){
                                layer.open({
                                    type: 1
                                    ,title: false //不显示标题栏
                                    ,closeBtn: false
                                    ,area: '300px;'
                                    ,shade: 0.8
                                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                                    ,btn: ['提交申请', '回到详情']
                                    ,btnAlign: 'c'
                                    ,moveType: 1 //拖拽模式，0或者1
                                    ,content:
                                        `<div style="padding: 30px; line-height: 22px; background-color: #393D49; color: #fafafa; font-weight: 300;">
                                         <p style="font-size: 0.16rem;">请填写您的个人信息</p>
                                            <ul id="application" style="margin-top: 0.25rem;">
                                                <li style="display: flex; align-items: center; margin-top: 0.25rem;">
                                                    <img src="/common/img/name.png" style="display: block; width: 0.2rem; margin-right: 0.15rem;"/>
                                                    <input class="uname" type="text" placeholder="请输入您的姓名" maxlength="12" style="border: none; outline: none; font-size: 0.14rem; border-radius: 0.02rem; height: 0.25rem; padding-left: 0.1rem;"/>
                                                </li>
                                                <li style="display: flex; align-items: center; margin-top: 0.25rem;">
                                                    <img src="/common/img/position.png" style="display: block; width: 0.2rem; margin-right: 0.15rem;"/>
                                                    <input class="upos" type="text" placeholder="请输入您所在的职位" maxlength="20" style="border: none; outline: none; font-size: 0.14rem; border-radius: 0.02rem; height: 0.25rem; padding-left: 0.1rem;"/>
                                                </li>
                                                <li style="display: flex; align-items: center; margin-top: 0.25rem; margin-bottom: 0.3rem;">
                                                    <img src="/common/img/company.png" style="display: block; width: 0.2rem; margin-right: 0.15rem;"/>
                                                    <input class="ucom" type="text" placeholder="请输入您所在的公司" maxlength="20" style="border: none; outline: none; font-size: 0.14rem; border-radius: 0.02rem; height: 0.25rem; padding-left: 0.1rem;"/>
                                                </li>
                                            </ul>
                                        </div>`
                                    ,success: function(layero){
                                        $('.layui-layer-btn0').click(function(){
                                            let name = $('.uname').val();
                                            let position = $('.upos').val();
                                            let ucom = $('.ucom').val();
                                            userStore(_self.weid, _self.token, _self.phone, name, position, ucom, _self);
                                        })
                                    }
                                });
                            }
                        };

                        $('.layui-btn').on('click', function(){
                            var othis = $(this), method = othis.data('method');
                            active[method] ? active[method].call(this, othis) : '';
                        });
                    });
                })
            },
            methods: {
                apply: function(){
                    //获取token 如不存在则跳转登录页 如存在则显示活动申请框
                    if (true) {

                    } else {
                        //login
                    }

                    if (false) {
                        layer.msg('活动暂未开始', {
                            time: 1500
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>