<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title> 物流详情 </title>

    <link href="{{PATH_TML}}css/distribution.css" rel="stylesheet">

    <script src="{{PATH_TML}}js/jquery-3.2.1.min.js"></script>
    <script src="{{PATH_CONFIG}}"></script>
    <script src="{{PATH_TML}}js/vue.min.js"></script>
    <script src="{{PATH_TML}}js/vue-resource.min.js"></script>
    <script type="text/javascript" src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
</head>
<body>
<div id="distribution-app" v-cloak>
    <header>
        <span> 物流详情 </span>
        <a class="back" href="javascript:void(0)" onclick="javascript:history.back(-1)"></a>
    </header>
    <section>
        <aside class="bution_box">
            <span class="bution">物流单号：</span><span class="bution_num">564687464658453</span>
        </aside>
        <aside class="shop_box_list">
            <li><img src="/common/img/shopping_1.jpg" width="80px" height="80px" alt=""><div>物流详情物</div></li>
            <li><img src="/common/img/shopping_1.jpg" width="80px" height="80px" alt=""><div>物流详情物</div></li>
            <li><img src="/common/img/shopping_1.jpg" width="80px" height="80px" alt=""><div>物流详情物</div></li>
            <li><img src="/common/img/shopping_1.jpg" width="80px" height="80px" alt=""><div>物流详情物</div></li>
            <li><img src="/common/img/shopping_1.jpg" width="80px" height="80px" alt=""><div>物流详情物</div></li>
            <li><img src="/common/img/shopping_1.jpg" width="80px" height="80px" alt=""><div>物流详情物</div></li>
        </aside>
        <div class="distri-container">
            <div v-if="!disList.length" class="tips">{{tips}}</div>
            <div v-for="item in disList" class="disList "><!-- disList_orange -->
                <aside>{{item.context}}</aside>
                <aside>{{item.time.substr(0,10)}}</aside>
            </div>
        </div>
    </section>
</div>
<script>
//    Vue.http.headers.common['token'] = 'eyJpdiI6IlwvTFZlRU5lQ2FlMHE3MW16dkFmNUVnPT0iLCJ2YWx1ZSI6Ijc2ZWt3M1o5U2RcL2tWNTlYazBSVDVsMDIwaHpcL2dWZ2VwSVY1V2hib3o0RmxTMzBvU2o1SEMyZ2U2UjRVV0xielFBWlROb1ArbGhyRTY3VHBXTlwvenZwUXF6aHBpUmROeFJJNE5CRUh2YyswPSIsIm1hYyI6ImIzYjBiYzM2YjBlMjkxNDAzMjZlYzM5YWJmMWNhOGEzMDJkY2FjMzFiNGQwMGM0NGFlYTRkMTVlMzNhZGU1N2EifQ=='

    Vue.http.headers.common['token'] = docCookies.getItem("token");
    var commentApp = new Vue({
        el : "#distribution-app",
        data : {
            disList : [],
            tips : ''
        },
        mounted : function () {
            var data = JSON.parse(window.localStorage.getItem('sendObj'));
            //测试用账户
            var data = {};
            data.logistics_NO = '382351534';
            data.company_code = 'tnt';
            //测试账户
            this.tips = '正在加载...请稍候...';
            this.$http.post(apiUrl + 'pages/logistics/getLogisticsInfo',data).then(function (res) {
                console.log(res);
                if(res.data && res.data.code === 200){
                    this.disList = res.data.data.data;
                }else{
                    this.tips = res.data.message.message;
                }
            },function (err) {
                this.tips = '加载失败';
                console.log(err)
            })
        }
    });

</script>
</body>
</html>