<#extend#>public/domain/domain_extend.html</#extend#>
<!--商城css-->
<link rel="stylesheet" href="{{PATH_TML}}css/home.css" />
<link rel="stylesheet" href="{{PATH_TML}}css/common.css"/>
<link rel="stylesheet" href="{{PATH_TML}}css/shopping.css"/>
<!--文章，动态css-->
<link rel="stylesheet" href="{{PATH_TML}}css/article.css"/>
<link rel="stylesheet" href="{{PATH_TML}}css/act.css"/>
<div class="dynamic-content">
    <div v-for="item in list_data">
        <!--文章-->
        <div v-if="item.dynamic_type == 1" class="art-temp1">
            <div class="art-left">
			<span>
				<a :href="'/' + item.domain + '/wecard'">
					<img class="lazy" :src="item.avatar | imgSet(36, 36)" style="width: 0.36rem; height: 0.36rem; border-radius: 0.36rem;" />
				</a>
			</span>
            </div>
            <div class="art-right">
                <span class="art-title">{{item.nickname}}</span>
                <p>{{item.motto}}</p>
                <a href="'/' + item.domain + '/article/' + JSON.parse(item.other).weid">
                    <div class="art-content">
                        <span><img class="lazy" :src="JSON.parse(item.other).cover" width="88" /></span>
                        <span class="art-des-text">
						<strong>{{JSON.parse(item.other).title | limitLen(0,10)}}</strong>
						<pre>{{JSON.parse(item.other).summary | limitLen(0,40)}}</pre>
					</span>
                    </div>
                </a>
                <div class="art-other">
                    <span>{{JSON.parse(item.other).updated_at | formateTime('HM')}}</span>
                    <span></span>
                </div>
            </div>
        </div>
        <!--活动-->
        <div v-if="item.dynamic_type == 3">
            <div class="act">
                <div class="act-avatar">
                    <a :href="'/' + item.domain + '/wecard'">
                        <img class="lazy" :src="item.avatar | img_src(60,60)" width="60" height="60" />
                    </a>
                </div>
                <div class="all">
                    <div class="act-info">
                        <ul>
                            <li class="act-title">{{item.nickname}}</li>
                            <li class="act-intro">{{item.motto}}</li>
                        </ul>
                        <div class="act-hot"><span>热门</span></div>
                    </div>
                    <a :href="'/' + item.domain + '/activity-detail/' + JSON.parse(item.other).weid">
                        <div class="act-content">
                            <div class="act-cover"><img class="lazy" :src="JSON.parse(item.other).cover | imgSet(110, 69, 1)" width="110" height="69" /></div>
                            <div class="act-cont">
                                <ul>
                                    <li class="act-cont-title">
                                        <p>{{JSON.parse(item.other).title}}</p>
                                        <p>免费</p>
                                    </li>
                                    <li class="act-cont-summary">{{JSON.parse(item.other).Sponsor}}</li>
                                    <li class="act-cont-time">
                                        <p>{{JSON.parse(item.other).updated_at | formateTime('MDHM') }} 开讲</p>
                                        <p>{{JSON.parse(item.other).area_name}}</p>
                                    </li>
                                    <li class="act-cont-info"></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <div class="act-other">
                        <p>{{JSON.parse(item.other).updated_at | formateTime('HM') }}</p>
                        <img src="/common/img/review.svg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <!--商城-->
        <div v-if="item.dynamic_type == 4" id="container" class="section">
            <slide>
                <slide class="li_img_wap">
                    <a href="'/' + item.domain + '/wecard'">
                        <img class="lazy" :src="item.avatar | imgSet(36, 36)" width="60" height="60">
                    </a>
                </slide>
                <slide class="li_info">
                    <h2>{{item.nickname}}</h2>
                    <h3>{{item.motto}}</h3>
                    <div class="lii_img">
                        <img class="lazy" v-for="x in JSON.parse(item.other).picture.split(',')" :src="x | imgSet(102, 97, 1)" width="102" height="97" />
                    </div>
                    <div class="lii_sold">
                        <a href="'/' + item.domain + '/wemall/goods/' + JSON.parse(item.other).weid">
                            <slide class="li_img_wap">
                                <img class="lazy" :src="JSON.parse(item.other).cover | imgSet(55, 55, 1)" />
                            </slide>
                            <slide class="li_info">
                                <h3>{{JSON.parse(item.other).title}}</h3>
                                <p class="lii_sold"><span> 已售：{{JSON.parse(item.other).sales_num}} </span><span> 收藏：{{JSON.parse(item.other).collections}} </span></p>
                                <div class="lii_price">￥：<span>{{JSON.parse(item.other).price}}</span></div>
                            </slide>
                        </a>
                    </div>
                    <div class="lii_eval">
                        <span class="lii_time">{{JSON.parse(item.other).updated_at | formateTime('HM')}}</span>
                        <img src="/common/img/review.svg" alt="" style="width: 0.16rem;height: 0.16rem;">
                    </div>
                </slide>
            </slide>
        </div>
    </div>
</div>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data : {
            list_data:[],
            params : {
                page : 1,
                limit : 10,
                page_count : 0,
                type : 2,
                dynamic_type : 0,
            },
            dom : '#app'
        },
        mounted() {
            this.$nextTick(()=>{
                this.data_list();
            });
        },
        methods:{
            // 使用common_page 方法必须定义data方法 以及对象 params
            data(params , call){
                $mob_ajax.dynamic(params , call);
            },
            data_list() {
                $mob_ajax.common_page(this , this.params);
            }
        }
    });
</script>