<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title></title>
	<link rel="stylesheet" href="{{PATH_TML}}css/common.css"/>
    <link rel="stylesheet" href="{{PATH_TML}}lib/weui.css" />
    <link rel="stylesheet" href="{{PATH_TML}}css/info.css"/>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="{{PATH_TML}}lib/jquery.min.js"></script>
	<script src="{{PATH_TML}}js/vue.min.js"></script>
	<script src="{{PATH_CONFIG}}"></script>
	<link rel="stylesheet" href="{{PATH_TML}}js/layui/css/layui.css"/>
	<script src="{{PATH_TML}}js/layui/layui.js"></script>
</head>
<body>
<div id="app" class="box">
	<div class="myInfo">
		<span class="img"><img :src="avatar" alt=""/></span>
		<span>
			<p class="name">{{nickname}}</p>
			<p class="wid">WEID：{{domain}}</p>
		</span>
	</div>
	<div class="des">
		<div>
			<label>功能介绍</label>
			<span style="display:inline-block;width: 73%;">{{motto}}</span>
		</div>
		<div class="img-div">
			<label>账号主体</label>
			<span><img src="/common/img/idcard.png" width="25" alt=""/>{{account}}</span>
		</div>
		<div class="cert">
			<label>认证信息</label>
			<span>{{cert}}</span>
		</div>
		<!--<div>
			<label>所在地</label>
			<span style="padding-left: 0.13rem;">陕西&nbsp;&nbsp;西安</span>
		</div>-->
	</div>

	<div class="des">
		<div class="work">
			<label>经营范围</label>
			<span>{{work}}</span>
		</div>
	</div>
	
	<!--<div class="user_select">
		<div>
			<label>接收文章推送</label>
            <input class="weui-switch" type="checkbox" checked="checked"/>
		</div>
		<div>
			<label>置顶公众号</label>
			<input class="weui-switch" type="checkbox"/>
		</div>
	</div>-->
	<div class="des">
		<a :href="wepage">
			<div>
			<label>
				我的微主页
			</label>
			</div>
		</a>
		<div>
		<label>
			<a>查看历史消息</a>
		</label>
		</div>
		<div class="wecard">
		<label>
			<a>查看我的微名片</a>
		</label>
		</div>
	</div>

	<!--<div class="des">
		<div>
			<label>
				<a>申请查看手机号</a>
			</label>
		</div>
	</div>-->


	<!--<div class="history" style="display: flex;">
		<label>
			功能模块
		</label>
		<label style="display: flex">
			<img src="{{PATH_TML}}wepage/img/tb2.png" alt=""/>
			<img src="{{PATH_TML}}wepage/img/tb3.png" alt=""/>
			<img src="{{PATH_TML}}wepage/img/tb4.png" alt=""/>
			<img src="{{PATH_TML}}wepage/img/tb5.png" alt=""/>
		</label>
	</div>-->
	<div class="foot">
		<div>
			<p class="enter">
				<button @click="enjoy" data-method="notice" class="layui-btn" style="position: absolute; background: transparent;width: 100%; left: 0; display: none;"></button>
				{{status}}
			</p>
			<p>投诉</p>
		</div>		
	</div>
</div>	
<script>
	const wxlogin = (openid, ref) => {
		//微信登录
		$.ajax({
			url: apiUrl + 'wxlogin',
			type: 'POST',
			async: false,
			data: {
				openid: openid,
				ref_url: window.location.pathname,
				ref_type: 2,
				ref_id: window.location.pathname.split('/')[2],
				domain: ref.domain
			},
			success: function (data) {
				//alert(JSON.stringify(data))
				localStorage.setItem('weid', data.data.weid);
				localStorage.setItem('token', data.token);
				localStorage.setItem('activation', data.data.activation_status);
				ref.activation = data.data.activation_status;
				if (ref.activation == 4 || ref.activation == null || ref.activation == '') {
					alert('ref.act:' + ref.activation)
					$(".layui-btn").show();
				}
				if (data.code == 200) {
					if (isNull(data.token) == false) { //非空
						localStorage.setItem('token-date', new Date().getTime())
						localStorage.setItem('user-token', data.token);
					}
				}
			}
		})
	}

	const init = function(url, ref) {
		$.ajax({
			url: url,
			type: 'get',
			success: function(data){
				console.log(data);
				if (data.data.user.avatar != null) {
					ref.avatar = 'http://images.new.wezchina.com/' + data.data.user.avatar;
				}
				$('title').text(data.data.user.nickname + '的微名片')
				ref.nickname = data.data.user.nickname;
				ref.domain = data.data.user.domain;
				ref.motto = data.data.user.motto;
				ref.wepage = '/' + ref.domain + '/';

				let title = ref.nickname;
				let summary = ref.motto;
				let cover = ref.avatar;

				isFollow('circel/if_follow', ref.domain, ref);

				if (is_weixn()) {
//					alert(1)
					var oldTime = localStorage.getItem('setopenid-date');
					if (!isExpire(oldTime)) { //没过期
						//var usertoken = localStorage.getItem('user-token');
						var usertoken = localStorage.getItem('setopenid');
						if (usertoken == 'true') {
							openid = getUrlParam("openid");
//							alert('openid:' + openid)
							if (openid != null) {
								localStorage.setItem('openid', openid);
								wxlogin(openid, ref);
							} else {
								let openid = localStorage.getItem('openid');
								wxlogin(openid, ref);
							}
//							alert('store openid:' + localStorage.getItem('openid'));
						}
					} else {
						//微信未跳转时
//						alert(2)
						localStorage.setItem('setopenid', true);
						localStorage.setItem('setopenid-date', new Date().getTime())
						window.location.href = encodeURI(apiUrl + '/openid?url=' + window.location.href);
					}
				} else {
					window.location.href = '/login';
				}

				$.ajax({
					url: apiUrl + 'wxjssdk',
					type: 'POST',
					data: {
						currenturl: window.location.href
					},
					success: function(data) {
						if (data.code == 200) {
//							console.log(data)
							wx.config({
								debug: false,
								appId: data.data.appId,
								timestamp: data.data.timestamp,
								nonceStr: data.data.nonceStr,
								signature: data.data.signature,
								jsApiList: ["onMenuShareTimeline", "onMenuShareAppMessage"]
							});

							wx.ready(function() {
								var link = window.location.href;
								wx.onMenuShareTimeline({
									title: title,
									// 分享标题
									link: link,
									// 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
									desc: summary,
									//分享描述
									imgUrl: cover,
									// 分享图标
									success: function() {
										// 用户确认分享后执行的回调函数
									},
									cancel: function() {
										// 用户取消分享后执行的回调函数
									}
								});
								wx.onMenuShareAppMessage({
									title: title,
									// 分享标题
									desc: summary,
									// 分享描述
									link: link,
									// 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
									imgUrl: cover,
									// 分享图标
									type: '',
									// 分享类型,music、video或link，不填默认为link
									dataUrl: '',
									// 如果type是music或video，则要提供数据链接，默认为空
									success: function() {
										// 用户确认分享后执行的回调函数
									},
									cancel: function() {
										// 用户取消分享后执行的回调函数
									}
								});
							})
						}
					}
				})
			}
		})
	}

	//获取参数
	function getUrlParam(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
		var r = window.location.search.substr(1).match(reg); //匹配目标参数
		if (r != null) return unescape(r[2]);
		return null; //返回参数值
	}

	//判断为空
	function isNull(data) {
		return (data == "" || data == undefined || data == null || data == 'null') ? true: false;
	}

	//判断是否在微信中打开
	function is_weixn() {
		var ua = navigator.userAgent.toLowerCase();
		if (ua.match(/MicroMessenger/i) == "micromessenger") {
			return true;
		} else {
			return false;
		}
	}

	//检查openid是否过期(有效期1天)
	const isExpire = function(oldTime) {
		var day = 86400000;
		var now = new Date().getTime();
		if (oldTime != null) {
			if (now - oldTime < 86400000) {
				return false;
			} else {
				localStorage.removeItem('setopenid-date')
				localStorage.removeItem('user-token')
				return true;
			}
		} else {
			return true;
		}
	}

	//关注
	const follow = function(url, domain, ref) {
		$.ajax({
			url: apiUrl + url,
			type: 'POST',
			data: {
				'domain': domain,
				'type': 2
			},
			headers: {
				'Token': window.localStorage.getItem("token")
			},
			success: function(data) {
				console.log(data)
				if (data.code == 200) {
					ref.status = '已关注';
					ref.state = 'true';
					alert('已关注')
					layer.msg("关注成功", {
						time: 1500
					});
				} else {
					layer.msg(data.message, {
						time: 1500
					})
				}
			},
			error: function(xhr) {
				console.log(xhr)
			}
		})
	}

	//取消关注
	const cancelFollow = function(url, domain, ref) {
		$.ajax({
			url: apiUrl + url,
			type: 'POST',
			data: {
				'domain': domain,
				'type': 2
			},
			headers: {
				'Token': window.localStorage.getItem("token")
			},
			success: function(data) {
				console.log(data)
				if (data.code == 200) {
					ref.status = '关注';
					ref.state = 'false';
					alert('取消关注')
					layer.msg("取消关注成功", {
						time: 1500
					})
				} else {
					console.log(data.message)
				}
			},
			error: function(xhr) {
				console.log(xhr)
			}
		})
	}

	const isFollow = function(url, domain, ref) {
		$.ajax({
			url: apiUrl + url,
			type: "POST",
			data: {
				'domain': domain
			},
			headers: {
				'Token': window.localStorage.getItem("token")
			},
			success: function(data) {
				console.log(data);
				if (data.code == 200) {
//					alert('isFollow:' + data.data)
					if (data.data == 1) {
						ref.state = true;
						ref.status = '已关注';
					} else {
						ref.state = false;
						ref.status = '关注';
					}
				}
			}
		})
	}

	const getChecknum = (phone) => {
		$.ajax({
			url: CODES,
			dataType: 'json',
			type: 'post',
			data: {'phone': phone},
			success: function(data){
				console.log(data);
			},
			error: function(err){
				console.log(err);
			}
		})
	}

	const tologin = (phoneNum, checkNum, weid, ref) => {
		$.ajax({
			url:  apiUrl + 'userAct',
			type: 'post',
			data: {
				'phone': phoneNum,
				'code': checkNum,
				'weid': weid,
				'type': 1,
				'from_type': 2
			},
			success: function(data){
				console.log(data);
//                    alert(2)
				if (data.code == 200) {
					layer.msg('激活成功', {
						time: 1500
					})
					$(".layui-btn").hide();
//                        alert('token:' + data.token);
					localStorage.setItem('token', data.token);
					localStorage.setItem('activation', 3);
					ref.activation = 3;
				} else {
					layer.msg(data.message, {
						time: 1500
					})
				}
			},
			error: function(err){
				console.log(err);
			}
		})
	}

	new Vue({
		el: '#app',
		data: {
			activation: '',
			avatar: '',
			nickname: '',
			domain: '',
			account: '个人',
			cert: '官方认证',
			motto: '暂无内容',
			work: '互联网',
			wepage: '',
			state: false, //未关注
			status: '关注'
		},
		created: function(){
			var _self = this;
			var platuserid = window.location.pathname.split('/')[2];
			init(apiUrl + 'circel/wcard/' + platuserid, _self);
		},
		mounted: function(){
			this.$nextTick(function () {
//				this.
			})
		},
		methods: {
			care: function(){
				let _self = this;
				$(".enter").text("进入公众号");
			},
			enjoy: function(){
				let _self = this;
				if (_self.activation == 4 || _self.activation == null || _self.activation == '') {
					layui.use('layer', function(){ //独立版的layer无需执行这一句
						var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
						//触发事件
						var active = {
							setTop: function(){
								var that = this;
							}
							,notice: function(){
								layer.open({
									type: 1
									,title: false //不显示标题栏
									,closeBtn: false
									,area: ['320px', '250px']
									,shade: 0.8
									,id: 'LAY_layuipro' //设定一个id，防止重复弹出
									,btn: ['返回', '激活']
									,btnAlign: 'c'
									,moveType: 1 //拖拽模式，0或者1
									,content:
										`
										<div id="inner">
										<p style="font-size: 16px; margin-top: 25px; text-align: center;">请激活您的账号</p>
										<div id="login-info">
											<ul>
												<li id="phonenum">
													<span>+86 <img src="/common/img/downarrow.png" alt=""/></span>
													<input type="text" placeholder="请输入手机号码" maxlength="11" id="phone" v-model="phone" />
												</li>
												<li id="checknum">
													<input type="text" placeholder="请输入手机验证码" maxlength="6" id="check" v-model="check" />
													<span @click="getCheck">{{ info }}</span>
												</li>
											</ul>
										</div>
										</div>
										`
									,success: function(layero){
										$("#layui-layer1").css('overflow', 'hidden');
										$(".layui-layer-btn1").css({
											'border-color': '#1E9FFF',
											'background-color': '#1E9FFF',
											'color': '#fff'
										})

										$(".layui-layer-btn0").css({
											'border': '1px solid #dedede',
											'background-color': '#fff',
											'color': '#333',
											'margin-right': '30px'
										})

										$("#phone").keydown(function(evt){
											switch (evt.keyCode){
												case 13: $("#check").select();
											}
										});

										$("#check").keydown(function(evt){
											switch (evt.keyCode){
												case 13: tologin(phone, check, weid, _self);
											}
										});

										new Vue({
											el: '#inner',
											data: {
												phone: '',
												check: '',
												info: '获取验证码',
												lock: false,
												backurl: '',
												isCheck: false,
												weid: '',
												token: ''
											},
											created: function() {
												let self = this;
												self.backurl = sessionStorage.getItem('currentPage');
												self.weid = localStorage.getItem('weid');
												self.token = localStorage.getItem('token');
												//alert(localStorage.getItem('token'))
												//alert(localStorage.getItem('weid'))

												$("#phonenum").keydown(function(evt){
													switch (evt.keyCode){
														case 13: $(".checknum").select();
													}
												});

												$("#checknum").keydown(function(evt){
													switch (evt.keyCode){
														case 13: tologin(phone, check, weid, _self);
													}
												});

												$('.layui-layer-btn1').click(function(){
													let phonenum = $('#phone').val();
													let checknum = $('#check').val();
													if (/^1[3|4|5|7|8][0-9]{9}$/.test(phonenum)) {
														if (/^[0-9]{6}$/.test(checknum)) { //发送手机和验证码验证成功
															tologin(phonenum, checknum, self.weid, _self);
														} else {
															layer.msg("手机验证码输入错误", {
																time: 1500
															})
														}
													} else {
														layer.msg("请输入正确的手机号码", {
															time: 1500
														})
													}
												})
											},
											methods: {
												getCheck: function() {
													let self = this;
													let count = 59;
													let phonenum = self.phone;
													if (/^1[3|4|5|7|8][0-9]{9}$/.test(phonenum)) {
														getChecknum(phonenum);
														if (!self.lock) {
															let evt = setInterval(function () {
																self.lock = true;
																if (count > 0) {
																	self.info = count-- + '秒';
																} else {
																	self.info = '重新发送验证码';
																	self.lock = false;
																	clearInterval(evt);
																}
															}, 1000)
														}
													} else {
														layer.msg("请输入正确的手机号码", {
															time: 1500
														})
													}
												},
												login: function() {
													let self = this;
													let phonenum = self.phone;
													let checknum = self.check;
												}
											}
										})
									}
								});
							}
						};

						$('.layui-btn').on('click', function(){
							var othis = $(this), method = othis.data('method');
							active[method] ? active[method].call(this, othis) : '';
						});
					});
				} else {
					alert('req follow' + _self.state)
					if (!_self.state) {
						alert('follow')
						follow('circel/relationship', _self.domain, _self);
					} else {
						alert('cancel')
						cancelFollow('circel/quxiao', _self.domain, _self);
					}
				}
			}
		}
	})
</script>
</body>
</html>