<!--
 * Created by weifeng on 2017/11/12.
-->

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title> 收货地址 </title>
    <link rel="shortcut icon" id="favicon" href=""/>

    <link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/shopping-pay-address.css"/>

    <script type="text/javascript" src="{{PATH_TML}}js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{PATH_CONFIG}}"></script>
    <script type="text/javascript" src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
    <script type="text/javascript" src="{{PATH_TML}}js/vue.min.js"></script>
    <script type="text/javascript" src="{{PATH_TML}}js/vue-resource.min.js"></script>
</head>
<body>
<div id="addressApp" v-cloak>
    <!-- 收货地址头部开始 -->
    <header class="address_header">
        <nav class="address_nav">
            <a href="javascript:void(0)" onclick="javascript:history.back(-1)">
                <li class="address_btn0 address_icon_img_clear"></li>
            </a>
            <a href="javascript:void(0)">
                <li class="address_nav_title"> 收货地址</li>
            </a>
            <a href="javascript:void(0)">
                <!-- <li class="address_icon_img address_icon_img_menu"></li> -->
            </a>
        </nav>
    </header>
    <!-- 收货地址头部结束 -->

    <!-- 收货地址内容开始 -->
    <section class="address_section">
        <slide class="address_show background" v-for="(addr,index) in addrList">
            <!--<slide class="address_show_img address_btn0"></slide>-->
            <label :for="index" class="address_show_img address_btn0" :class="{'checked_img': checked === addr.weid}">
                <input type="radio" v-model="checked" :id="index" :value="addr.weid" @click="selectDefault(addr)">
            </label>
            <slide class="address_show_info">
                <li> {{addr.province_name + addr.area_name + addr.county_name + addr.detail}}</li>
                <li> {{addr.name + ' ' + addr.telophone}}</li>
            </slide>
            <slide class="address_icon_edit address_btn6" @click="operate(addr,'modify')"></slide>
            <slide class="address_icon_edit" @click="operate(addr,'delete')">×</slide>
        </slide>
        <div class="address_create" @click="operate()">
            <div> 新增收货地址</div>
            <div class="address_receiving address_btn5"></div>
        </div>
    </section>
</div>
<script>
//    Vue.http.headers.common['token'] = 'eyJpdiI6IlwvTFZlRU5lQ2FlMHE3MW16dkFmNUVnPT0iLCJ2YWx1ZSI6Ijc2ZWt3M1o5U2RcL2tWNTlYazBSVDVsMDIwaHpcL2dWZ2VwSVY1V2hib3o0RmxTMzBvU2o1SEMyZ2U2UjRVV0xielFBWlROb1ArbGhyRTY3VHBXTlwvenZwUXF6aHBpUmROeFJJNE5CRUh2YyswPSIsIm1hYyI6ImIzYjBiYzM2YjBlMjkxNDAzMjZlYzM5YWJmMWNhOGEzMDJkY2FjMzFiNGQwMGM0NGFlYTRkMTVlMzNhZGU1N2EifQ=='

    Vue.http.headers.common['token'] = window.localStorage.getItem("token");

    var app = new Vue({
        el: "#addressApp",
        data: {
            addrList: [],
            checked: ''
        },
        mounted: function () {
           this.init()
        },
        methods: {
            init : function () {
                this.$http.get(apiUrl + 'users/address/list').then(function (res) {
                    console.log(res);
                    if(res.data && res.data.code === 200){
                        this.addrList = res.data.data.list;
                    }
                })
            },
            selectDefault :function (addr) {
                this.checked = addr.weid;
                var data = {"default_weid" : this.checked};
                this.$http.post(apiUrl+'users/address/setNotDefault',data);
                window.location.href = "/shopping/order"
            },
            operate : function (addr,oper) {
                var self = this;
                var data = addr ? addr : {};
                if(oper !== 'delete'){
                    window.localStorage.setItem('modify',JSON.stringify(data));
                    window.location.href = '/my-shop-car-address'
                }else{
                    layer.confirm('确认删除该条地址吗？', {
                        title: false,
                        btn: ['确定','取消']
                    }, function(index){
                        self.$http.get(apiUrl + 'users/address/destroy/' + addr.weid).then(function (res) {
                            if(res.data && res.data.code === 200){
                                layer.close(index);
                                this.init();
                            }else{
                                layer.msg('删除失败');
                            }
                        })
                    });

                }

            }
        }
    })

</script>
</body>
</html>