<!--发现——商品-->
<#extend#>public/domain/domain_extend.html</#extend#>
<link rel="stylesheet" href="{{PATH_TML}}css/home.css" />
<link rel="stylesheet" href="{{PATH_TML}}css/common.css"/>
<link rel="stylesheet" href="{{PATH_TML}}css/shopping.css"/>
<div class="section">
<slide v-for="item in list_data">
	<slide class="li_img_wap">
		<a href="'/' + item.domain + '/wecard'">
			<img class="lazy" :src="item.avatar | img_src(36, 36)" width="60" height="60">
		</a>
	</slide>
	<slide class="li_info">
		<h2>{{item.nickname}}</h2>
		<h3>{{item.motto}}</h3>
		<div class="lii_img">
			<img class="lazy" v-for="x in JSON.parse(item.other).picture.split(',')" :src="x | img_src(102, 97, 1)" width="102" height="97" />
		</div>
		<div class="lii_sold">
			<a href="'/' + item.domain + '/wemall/goods/' + JSON.parse(item.other).weid">
				<slide class="li_img_wap">
					<img class="lazy" :src="JSON.parse(item.other).cover | img_src(55, 55, 1)" />
				</slide>
				<slide class="li_info">
					<h3>{{JSON.parse(item.other).title}}</h3>
					<p class="lii_sold"><span> 已售：{{JSON.parse(item.other).sales_num}} </span><span> 收藏：{{JSON.parse(item.other).collections}} </span></p>
					<div class="lii_price">￥：<span>{{JSON.parse(item.other).price}}</span></div>
				</slide>
			</a>
		</div>
		<div class="lii_eval">
			<span class="lii_time">{{JSON.parse(item.other).updated_at | formateTime('HM')}}</span>
			<img src="/common/img/review.svg" alt="" style="width: 0.16rem;height: 0.16rem;">
		</div>
	</slide>
</slide>
</div>
<script type="text/javascript">
    new Vue({
        el : '#app',
        data : {
            list_data:[],
            params : {
                page : 1,
                limit : 10,
                page_count : 0,
                type : 2,
                dynamic_type : 4,
            },
            dom : '#app'
        },
        mounted() {
            this.$nextTick(()=>{
                this.data_list();
            });
        },
        methods:{
            // 使用common_page 方法必须定义data方法 以及对象 params
            data(params , call){
                return $mob_ajax.dynamic(params , call);
            },
            data_list() {
                $mob_ajax.common_page(this , this.params);
            }
        }
    })
</script>