<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title> 评价 </title>

        <link href="{{PATH_TML}}wepage/css/store-comment.css" rel="stylesheet">

        <script src="{{PATH_TML}}wepage/js/jquery-3.2.1.min.js"></script>
        <script src="{{PATH_CONFIG}}"></script>
        <script src="{{PATH_TML}}wepage/js/vue.min.js"></script>
        <script src="{{PATH_TML}}wepage/js/vue-resource.min.js"></script>
    </head>
    <body>
        <div id="comment-app" v-cloak>
            <header>
                <span> 评价 </span>
                <a class="back" href="javascript:void(0)" onclick="javascript:history.back(-1)"></a>
            </header>
            <div class="list-content" v-if="!comList.length">
                <p class="no-comment">暂无评价</p>
            </div>
            <div class="list-content" v-if="comList.length > 0">
                <div v-for="c in comList">
                    <div class="list-top">
                        <div class="head-img">
                            <label>
                                <img :src="'http://images.new.wezchina.com/'+c.avatar" alt="">
                                <a>{{c.nickname}}</a>
                            </label>
                            <span>{{c.created_at | timeFormat}}</span>
                        </div>
                        <div class="main">
                            <div>
                                <span class="star" :class="{'red-star' : c.grade >=1}"></span>
                                <span class="star" :class="{'red-star' : c.grade >=2}"></span>
                                <span class="star" :class="{'red-star' : c.grade >=3}"></span>
                                <span class="star" :class="{'red-star' : c.grade >=4}"></span>
                                <span class="star" :class="{'red-star' : c.grade >=5}"></span>
                            </div>
                            <p class="comment">{{c.content}}</p>
                            <!--<ul>-->
                                <!--<li><img src="{{PATH_TML}}wepage/img/slice.jpg" alt=""></li>-->
                                <!--<li><img src="{{PATH_TML}}wepage/img/slice.jpg" alt=""></li>-->
                                <!--<li><img src="{{PATH_TML}}wepage/img/slice.jpg" alt=""></li>-->
                            <!--</ul>-->
                            <!--<p class="text unique">购买日期：2017-07-28 15:37:44</p>-->
                            <!--<p class="text">颜色：3段2700克</p>-->
                        </div>
                    </div>
                    <div class="count">
                        <span><i></i>({{c.likes ? c.likes : 0}})</span>
                    </div>
                </div>
            </div>
            <p class="loading-text">{{loadingText}}</p>
        </div>
        <script>
            var commentApp = new Vue({
                el : "#comment-app",
                data : {
                    "comList" :[],
                    "loadingText" : '',
                    "isBottom" : true
                },
                mounted : function () {
                    var data = {
                        "goods_id" : window.location.pathname.split('/').pop(),
//                        "goods_id" : "4ba726b0-af15-11e7-90db-c7d4b6d354de",
                        "limit" : 10,
                        "page" : 1
                    };
                    this.$http.post(apiUrl +'goods/comment/list',data).then(function (res) {
                        console.log(res);
                        this.comList = res.data.data.list
                    });
                    window.addEventListener('scroll',this.handleScroll)
                },
                methods : {
                    handleScroll : function () {
                        var self = this;
                        if(window.pageYOffset + window.innerHeight === document.documentElement.scrollHeight && this.isBottom){
                            var data = {
                                "goods_id" : window.location.pathname.split('/').pop(),
                                "limit" : 10,
                                "page" : (self.comList.length/10)+1
                            };
                            this.isBottom = false;
                            this.loadingText = '加载中...';
                            this.$http.post(apiUrl +'goods/comment/list',data).then(function (res) {
                                console.log(res);
                                self.loadingText = '';
                                if(res.data.code === 200){
                                    var appendData = res.data.data.list;
                                    if(!appendData.length) {
                                        self.loadingText = '已无更多数据';
                                    }else{
                                        for(var i=0;i<appendData.length;i++){
                                            self.comList.push(appendData[i])
                                        }
                                        self.isBottom = true;
                                    }
                                }else{
                                    self.loadingText = '数据加载出错';
                                }

                            })
                        }
                    }
                }
            });
            Vue.filter('timeFormat',function (val) {
                var ind = val.indexOf(' ');
                if(ind){
                    return val.substring(0,ind)
                }
            })
        </script>
    </body>
</html>