a {
    color: #555;
}

a:hover {
    color: #da0000;
    text-decoration: none;
}

.news_menu a.logoImg {
    margin-top: -7px;
}

#head {
    /*position: fixed;*/
    width: 1100px;
    height: 235px;
    margin-left: 90px;
    background: white;
    border-bottom: 1px solid #eeeeee;
    /*box-shadow: 5px 0 10px #eeeeee;*/
    z-index: 10;
    /*background: url(/common/img/1506618834113.png) no-repeat center;*/
    /*background-size: 100%;*/
    float: left;
}

#body {
    position: relative;
    width: 1100px;
    height: 100%;
    /*top: 100px;*/
    left: 90px;
    min-height: 760px!important;
    margin: 0 auto;
    padding-top: 10px;
    background: white;
    float: left;
}

li {
    list-style-image: url("/common/img/index_05.jpg");
    line-height: 35px;
    font-size: 14px;
}

li:hover {
    cursor: pointer;
    color: #da0000;
}

#footer {
    /*position: fixed;*/
    width: 100%;
    height: 100px;
    background: white;
    border-top: 1px solid #eeeeee;
    box-shadow: -5px 0 10px #eeeeee;
    bottom: 0;
}

#nav {
    position: relative;
    height: 38px;
    margin-left: 10px;
    margin-right: 10px;
    /*padding-top: 25px;*/
    border-bottom:2px solid #da0000;
    box-shadow: 0px 3px 0px #eeeeee;
}

.nav span{
    position: relative;
    border-right: 2px solid grey;
    height: 15px;
    margin-top: 12px;
    padding-left: 25px;
    padding-right: 15px;
    line-height: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    float: left;
}

.content:hover, .simple:hover, .adv:hover {
    cursor: pointer;
    color: #da0000;
}

.bread {
    line-height: 20px!important;
    font-size: 12px!important;
    font-weight: 500!important;
    border-right: 0!important;
    float: right!important;
}

.bread {
    cursor: pointer;
}

.zs {
    position: relative;
    float: left;
    width: 180px;
    text-align: center;
    color: #fff;
    font: bold 16px/37px " Î¢ÈíÑÅºÚ";
    background: url(/common/img/index_01.jpg) no-repeat center;
    background-size: 100%;
}

#title {
    position: relative;
    width: 420px;
    float: left;
}

.top {
    height: 35px;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    color: #fff;
    font: bold 16px/37px " Î¢ÈíÑÅºÚ";
    font-weight: 600;
    background: url(/common/img/index_02.jpg) no-repeat center;
    background-size: 100%;
}

.intro {
    height: 570px;
    margin-left: 10px;
    padding-top: 21px;
    text-align: center;
    border: 1px solid #eeeeee;
}

#content {
    width: 660px;
    height: 605px;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid #eeeeee;
    float: left;
}

.magazine {
    width: 158px;
    height: 195px;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 10px;
    text-align: center;
    float: left;
}

.magazine img {
    border: 1px solid #da0000;
    padding: 5px;
}

.magazine img:hover {
    cursor: pointer;
}

.ivu-icon {
    padding-top: 5px;
    font-size: 21px!important;
}

.left {
    position: relative;
    width: 262px;
    height: 175px;
    margin-top: 50px;
    margin-left: 10px;
    float: left;
}

.left-head {
    height: 35px;
    color: #fff;
    font: bold 16px/37px " Î¢ÈíÑÅºÚ";
    padding-left: 10px;
    background: url(/common/img/index_03.jpg) no-repeat center;
    background-size: 100%;
}

.left-body {
    height: 140px;
    border: 1px solid #eeeeee;
}

.right {
    position: relative;
    /*width: 702px;*/
    height: 412px;
    /*margin-top: 50px;*/
    /*margin-left: 15px;*/
    margin-top: -8px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.right-head {
    width: 180px;
    height: 35px;
    color: #fff;
    font: bold 16px/37px " Î¢ÈíÑÅºÚ";
    text-align: center;
    background: url(/common/img/index_04.jpg) no-repeat center;
    background-size: 100%;
    display: none;
}

.right-line {
    /*border-bottom:2px solid #da0000;*/
    /*box-shadow: 0px 3px 0px #eeeeee;*/
}

.right-body {
    height: auto;
    /*border: 1px solid #eeeeee;*/
    padding: 25px;
    text-align: justify;
    text-indent: 30px;
    line-height: 35px;
    color: #333333;
}