* {
    margin:0;
    padding:0;
}

.article {
    /*position: fixed;*/
    position: absolute;
    width: 1100px;
    height: auto;
    left: 90px;
    top: 0;
    bottom: 0;
    /*overflow-y: auto;*/
}
#art-info{margin-top:24px;}
.user-head{
    margin-top:-64px;
}
#friend .nav-tabs>li>a {

    border-radius: 0;width: 100%;
}
#friend .nav-tabs>li
{
        width: 50%;
    text-align: center;
        background-color: #f5f7f9;
    border: 1px solid #dcdcdc;
    border-width: 1px 0;
}
#friend .nav-tabs>li.active
{
border:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        /*border-width: 0 1px;*/
        /*border-color: transparent;*/
}
.nav-tabs>li>a:hover {
    border-color:transparent;
}
.fri-sty.nav-tabs {
    /*border: none;*/
    border-width: 0 1px;
}
.oline-0 {
    width: 100%;
    /*height: 50px;*/
    /*border-bottom: 1px solid #eeeeee;*/
}

.ocont-0 {
    width: 100%;
    /*height: 40px;*/
    border-bottom: #eee8d5;
}
.ocont-0,.oline-0{zoom:1;}
.ocont-0:after,.oline-0:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
.vren_message{
    /*display:inline-block;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    /*border-bottom: 1px solid #eee;*/
    display: none;
}

.ocont-0 div:nth-child(1) {
    width: 32%;
    height: 30px;
    border-right: 1px solid #eeeeee;
    line-height: 23px;
    text-align: center;
    font-size: 14px;
    color: #878787;
    float: left;
}

.ocont-0 div:nth-child(1) span {
    width: 90%;
    height: 25px;
    /*border: 1px solid #afafaf;*/
    border-radius: 1px;
    display: inline-block;
}

.ocont-0 div:nth-child(2) {
    width: 36%;
    height: 30px;
    border-right: 1px solid #eeeeee;
    line-height: 23px;
    text-align: center;
    font-size: 14px;
    color: #878787;
    float: left;
}

.ocont-0 div:nth-child(2) span {
    width: 90%;
    height: 25px;
    margin-top: -2px;
    display: inline-block;
}

.ocont-0 div:nth-child(2) span img {
    display: none;
}

.ocont-0 div:nth-child(3) img {
    margin-left: 25px;
    margin-top: 2px;
    line-height: 25px;
    text-align: center;
}

.ocont-0 div:nth-child(4) {
    width: 100%;
    /*line-height: 35px;*/
    line-height: 20px;
    padding-left: 0;
    float: left;
    border-bottom: 1px solid #eee;
}

.oline-1 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eeeeee;
    display: block;
}

.oline-1 p {
    vertical-align: middle;
    font-size: 14px;
    display: inline;
}

.oline-1 span:nth-child(2){
    width: 90%;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #eeeeee;
    display: inline-block;
}

.oline-2 {
    width: 100%;
    /*height: 140px;*/
    padding-top: 15px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    display: block;
}

.oline-2 span:nth-child(1){
    width: 7%;
    height: auto;
    margin-left: 3px;
    vertical-align: top;
    display: inline-block;
}

.oline-2 span:nth-child(2){
    width: 90%;
    /*height: auto;*/
    margin-bottom: 10px;
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    /*max-height: 100px;*/
    overflow: hidden;
    text-overflow:ellipsis;
    /*white-space: nowrap;*/
    text-align: justify;
    line-height: 24px;
    padding-left: 2px;
}

.oline-3 div:nth-child(1){
    width: 165px;
    height: 165px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #eeeeee;
    float: left;
}

.oline-3 div:nth-child(2){
    width: 120px;
    height: 90px;
    padding-left: 8px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    float: left;
    margin-left:0;
}
.oline-3 p{margin:7px 0;}
.oline-3 p:nth-child(2), .oline-3 p:nth-child(3) {
    color: #007cd3;
}
.oline-3 img{margin-bottom:4px;}
#more {
    width: 100%;
    height: 50px;
    border-top: 1px solid #eeeeee;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}
.ocont-0 img {
    width: initial;
}
#huiyuanrengzheng {
    width: 82px;
    height: 25px;
    line-height: 24px;
    display: block;
    border: 1px solid #ff9900;
    background: #fff1e0;
    margin-left:0;
    border-radius: 3px;
    color: #ff9900;
    font-size: 14px;
    text-decoration: none;
}
#huiyuanrengzheng img {
    width: 14px;
    height: 14px;
}
#other{
    margin-bottom: 20px;
}

.other {
    height: auto;
}
.fans-head, .friends-head {

    padding: 2px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border:none;
    /*border-left: 1px solid #dcdcdc !important;*/
    border-radius: 4px 4px 0 0;
}
.oline-3 canvas{margin-top:10px;}
/*#friend .panel-body{padding:15px 0;}*/
/*#fans,#friends{padding:0 15px;}*/