* {
  font-family: "微软雅黑", "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", sans-serif;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.p100 {
  width: 100%;
  max-width: 100%;
}
.p0 {
  padding: 0 ;
}
.z {
  float: left;
}
.y {
  float: right;
}
.page-default .top-banner {
  height: 200px;
  background-size: cover;
  margin-top: 25px;
}
.page-default .top-banner .top {
  height: 160px;
  padding-top: 20px;
}
.page-default .top-banner .top .text {
  float: right;
  margin-top: 124px;
}
.page-default .top-banner .top .text .title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.page-default .top-banner .top .text .summary {
  line-height: 30px;
}
.page-default .top-banner .top .page-top-cate {
  width: 80%;
  padding: 5% 15%;
  height: 160px;
  background-color: #333;
  opacity: 0.6;
}
.page-default .top-banner .top .page-top-cate a {
  color: #fff;
  height: 30px;
  line-height: 30px;
  display: block;
  text-decoration: none;
}
.page-default .top-banner .top .page-top-cate a:hover {
  padding-left: 5px;
}
.page-default .right-box {
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
}
.page-default .b-r {
  border-right: 1px solid #ccc;
}
.page-default .right-card .top {
  height: 135px;
}
.page-default .right-card .top img {
  height: 135px;
  width: 100%;
}
.page-default .right-card .avatar {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 50%;
  margin-left: -55px;
  top: 50px;
  border-radius: 50%;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(230, 230, 233, 0.498039);
  border-image: initial;
}
.page-default .right-card .center {
  text-align: center;
  font-size: 20px;
  padding: 30px 0;
}
.page-default .right-card .bottom {
  text-align: center;
  font-size: 18px;
}
.page-default .right-card .bottom .time {
  font-size: 18px;
}
.page-default .right-intro .top {
  text-align: center;
  margin-top: 20px;
}
.page-default .right-intro .top .row {
  margin-right: 0;
}
.page-default .right-intro .top .row .col-sm-5 {
  padding-right: 0;
}
.page-default .right-intro .top .row .col-sm-5 img {
  width: 72px;
}
.page-default .right-intro .top .row .col-sm-4,
.page-default .right-intro .top .row .col-sm-3 {
  padding: 0;
}
.page-default .right-intro .top .row .col-sm-4 span,
.page-default .right-intro .top .row .col-sm-3 span {
  padding: 0;
}
.page-default .right-intro .center {
  text-align: left;
  padding: 0 10px;
}
.page-default .right-intro .center p {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
.page-default .right-follow .nav-tabs {
  border: none;
}
.page-default .right-follow .nav-tabs li {
  width: 50%;
  border-bottom: none;
  background-color: #f1f1f1;
  text-align: center;
}
.page-default .right-follow .nav-tabs .active a {
  border: none;
}
.page-default .right-follow .tab-pane {
  padding: 20px;
}
.page-default .right-follow .tab-pane .avatar {
  width: 50px;
  height: 50px;
}
.page-default .right-follow .tab-pane .avatar img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
.page-default .right-follow .center {
  padding: 15px;
  text-align: center;
}
.page-default .top_nav {
  width: 100%;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.page-default .top_nav a {
  color: #fff;
}
.page-default .top_nav .menu-nav li {
  float: left;
  border-right: 1px solid #555b66;
}
.page-default .top_nav .menu-nav li a {
  padding: 0 35px;
  line-height: 56px;
  font-size: 18px;
}
.page-default .top_nav .menu-nav li a:hover {
  color: #fff;
}
.page-default .top_nav .menu-nav .last-right {
  border: none;
}
.page-default .page-content {
  padding-top: 30px;
}
.page-default .page-content .right {
  padding-right: 15px;
}
.page-default .page-content .page-crowd-box .top {
  margin-top: 50px;
  margin-bottom: 20px;
}
.page-default .page-content .page-crowd-box .top .slide .big-show {
  width: 100%;
  height: 296px;
}
.page-default .page-content .page-crowd-box .bottom .content {
  line-height: 25px;
  text-indent: 2em;
}
.page-default .page-content .page-crowd-box .bottom .content img {
  max-width: 100%;
}
.page-default .page-content .project-right-item-lists .project-right-item {
  padding: 10px;
}
.page-default .page-content .project-right-item-lists .project-right-item .top {
  font-size: 20px;
  margin: 10px 0 15px 0;
  border-bottom: 1px solid #ccc;
}
.page-default .page-content .project-right-item-lists .project-right-item .deliver {
  margin: 10px 0;
}
.page-default .page-content .project-right-item-lists .project-right-item .content p {
  text-indent: 2em;
}
.page-default .page-content .project-right-item-lists .project-right-item .content .images img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  margin-top: 5px;
}
.page-default .page-content .project-right-item-lists .project-right-item .support {
  margin: 10px 0;
  height: 40px;
}
.page-default .page-content .project-right-item-lists .project-right-item .support a {
  float: right;
}
.page-default .page-content .panel_color {
  border: 1px solid #CCCCCC;
  padding: 20px;
}
.page-default .page-content .panel_color .trends {
  display: inline-flex;
  width: 100%;
}
.page-default .page-content .trends .trends_img {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 50px;
}
.page-default .page-content .trends .trends_img img {
  width: 100%;
  height: 100%;
}
.page-default .page-content .trends .trends_title .trends_title_top .trends_title_text {
  font-size: 15px;
  color: #2b3845;
  font-weight: 400;
}
.page-default .page-content .trends .trends_title .trends_title_top .trends_title_size {
  font-size: 10px;
  color: #ccc;
}
.page-default .page-content .trends .trends_title .trends_title_top .trends_title_color {
  color: #43AC43;
}
.page-default .page-content .trends .trends_title .trends_title_bottom {
  margin-top: 12px;
}
.page-default .page-content .trends .trends_title .trends_title_bottom .trends_title_text {
  font-size: 15px;
  color: #2b3845;
  font-weight: 400;
}
.page-default .page-content .trends .trends_title .trends_title_bottom .trends_title_color {
  color: #43AC43;
}
.page-default .page-content .supporter {
  width: 100%;
  min-height: 60px;
  display: inline-flex;
  margin-left: 20px;
}
.page-default .page-content .supporter .supporter_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
}
.page-default .page-content .supporter .supporter_img img {
  width: 50px;
  height: 50px;
}
.page-default .page-content .supporter .supporter_user .supporter_user_log {
  font-size: 16px;
}
.page-default .page-content .supporter .supporter_user .supporter_user_mid {
  font-size: 14px;
  color: #666;
}
.page-default .page-content .supporter .supporter_user .supporter_user_sm {
  font-size: 12px;
  color: #FF0000;
}
.page-default .page-content .supporter .supporter_user .supporter_user_color {
  font-size: 12px;
  color: #999;
}
.page-default .page-content #content {
  line-height: 25px;
  margin-top: 20px;
}
.page-default .page-content #profile {
  margin-top: 20px;
}
.page-default .page-content .nav-tabs li {
  margin-bottom: -2px;
}
.page-default .show-content img {
  max-width: 100%;
}
.page-default .person-article-lists .row .product-massage {
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  height: 200px;
}
.page-default .person-article-lists .article-item {
  width: 100%;
  margin-top: 0px;
}
.page-default .person-article-lists .article-item .project-lists-one {
  margin-top: 10px;
}
.page-default .person-article-lists .article-item .projet_padding {
  padding-left: 60px;
}
.page-default .person-article-lists .article-cate {
  color: #D02722;
  border: 1px solid #D02722;
  padding: 2px 15px;
}
.page-default .person-article-lists .font-weight {
  font-weight: bold;
}
.page-default .person-article-lists .col-sm-4 a img {
  width: 100%;
}
.page-default .project-time {
  font-size: 20px;
  color: #fefefe;
  position: relative;
  top: -50px;
  left: 90px;
  display: inline-block;
}
.page-default .project-text {
  height: 40px;
  overflow: hidden;
  margin-top: 4px;
  color: #999;
}
.page-default .article-dr {
  color: #999;
}
.page-default .content {
  display: inline-block;
  background: #fff;
  width: 100%;
  padding: 8px;
  padding-top: 5px;
}
.page-default .project-discuss {
  margin: 10px 0px;
}
.page-default .page-content #profile {
  margin-top: 0;
}
.page-default .page-content .right {
  margin: 0;
}
.page-default .article-color i {
  color: #D02722;
  font-style: inherit;
}
.page-default .project-section {
  position: relative;
  height: 210px;
}
.page-default .project-section .yishou {
  z-index: 999;
  position: absolute;
}
.page-default .project-section .logo {
  width: 55px;
  height: 55px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 154px;
  left: 13px;
  overflow: hidden;
}
.page-default .project-username {
  position: absolute;
  top: 183px;
  left: 78px;
  width: 90px;
  height: 20px;
  overflow: hidden;
}
.page-default .project-money {
  margin: 10px  2px;
  background: url('images/shengluehao.png');
}
.page-default .new-list-box .title_a {
  text-decoration: none;
  display: block;
  width: 325px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
}
.page-default .new-list-img {
  width: 150px;
  height: 150px;
}
.page-default .p-l-28 {
  padding-left: 28px;
}
.page-default .new-record {
  position: absolute;
  top: 8px;
  right: 0;
  width: 102px;
  height: 34px;
  margin-right: 15px;
  border-color: #008cee !important;
}
.page-default .new-time {
  width: 120px;
  height: 14px;
}
.page-default .p-t-24 {
  padding: 24px 43px 0 0;
  height: 64px;
  overflow: hidden;
}
.page-default .new-issuser {
  width: 244px;
  height: 14px;
  padding-right: 24px;
  right: 47px;
}
.page-default .p-r-24 {
  padding-right: 24px;
}
.page-default .new-box-show {
  box-shadow: 5px 5px 5px 5px #ccc;
}
.page-default .new-icon {
  display: inline-block;
  width: 18px;
  height: 11px;
}
.page-default .new-title {
  margin-right: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 18px;
}
.page-default .content-padding {
  padding-top: 25px;
}
.index-content .content-padding {
  padding-top: 25px;
}
/*
左侧导航菜单
*/
.panel-default .panel-collapse .panel-body .homemenulist li {
  line-height: 35px;
}
.page-pl {
  padding-left: 50px;
}
.p30 {
  padding-left: 25px;
  padding-right: 25px;
}
.person-article-lists {
  width: 100%;
  padding-right: 15px;
  height: 330px;
}
.person-article-lists .new-list-box {
  box-shadow: 1px 1px 5px 0px #ccc;
  padding-bottom: 27px;
  background: #fff;
}



/*首页项目*/

.person-article-lists .new-list-box .row {
  padding: 30px 0 0 30px;
}
.person-article-lists .new-list-box .row .title a {
  font-size: 20px;
  font-weight: 700;
  width: 325px;
}
.person-article-lists .article-item {
  width: 100%;
 
}
.person-article-lists .article-item .list_a {
  display: block;
}
.person-article-lists .article-item .list_a img {
  width: 287px;
  height: 183px;
}
.person-article-lists .article-item .title{
  margin-bottom: 5px;
}
.person-article-lists .article-item .project-money{
  margin-bottom: 5px;
}
.person-article-lists .article-item .title a {
  text-decoration: none;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 16px;
}
.person-article-lists .article-item .new-record {
  position: absolute;
  top: 8px;
  right: 0;
  width: 102px;
  height: 34px;
  margin-right: 15px;
  border-color: #008cee !important;
}

.person-article-lists .article-item .new-record span {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 18px;
  border-color: #008cee;
  color: #088cee;
  text-align: center;
  line-height: 28px;
  position: absolute;
  right: 20px;
  top: -15px;
}
.person-article-lists .article-item .new-time {
  width: 120px;
  height: 14px;
}
.person-article-lists .article-item .p-t-24 {
  padding: 24px 43px 0 0;
  height: 64px;
  overflow: hidden;
}
.person-article-lists .article-item .p-t-24 a {
  color: #666;
  text-decoration: none;
}
.person-article-lists .article-item .new-issuser {
  margin-top: 28px;
  height: 14px;
  margin-right: 46px;
  right: 47px;
}
.person-article-lists .article-item .article-cate {
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #5c8dcc;
  border-radius: 15px;
  color: #5c8dcc;
  padding: 2px 8px;
  margin-right: 50px;
}
.plat-default .person-article-lists .article-item {
  border: 0;
}
.person-article-lists .article-item .row .col-sm-3 .project-lists-one .article-item-user-image{
  width: 100%;
  height: 20px;
  margin-top: 5px;
}
.person-article-lists .article-item .row .col-sm-3 .project-lists-one .article-item-user-image span{
  float: left;
  width: 20px;
  height: 20px;

}
.person-article-lists .article-item .row .col-sm-3 .project-lists-one .article-item-user-image span img{
  border-radius: 50%;
  width: 100%;
  border: 1px solid #fff;

}
.plat-default .shengluehao {
  background: url('../images/shengluehao.png');
}
.plat-default .shengluehao span {
  background: #fff;
  padding-right: 5px;
}
.plat-default .shengluehao i {
  background: #fff;
  padding-left: 5px;
}
.project-money .shengluehao {
  background: url(/images/shengluehao.png);
}
.project-money span {
  background: #fff;
  padding-right: 5px;
  color: #666;
}
.project-money i {
  background: #fff;
  padding-left: 5px;
}
.person-article-lists .article-item .row .project-lists-one {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px #ccc;
}
.person-article-lists .article-item .row .project-lists-one:hover {
  box-shadow: 1px 1px 8px #007cd3;
}
.person-article-lists .article-item .row .project-lists-one:hover .font-weight{
color: #007cd3;
}

.person-article-lists .article-item .row .project-lists-one:hover .person-left-img{

  transform: scale(1.3);





}
/*.person-article-lists .article-item .row .project-lists-one:hover .person-left-img{*/
 /*width: 120%;*/
  /*height: 160px;*/
/*}*/
.col-sm-4 a img {
  height: 183px;
  width: 100%;
}
.font-weight {
  font-weight: bold;
}
.project-time {
  font-size: 20px;
  color: #fefefe;
  position: relative;
  top: -50px;
  left: 90px;
  display: inline-block;
}
.project-text {
  height: 40px;
  overflow: hidden;
  margin-top: 4px;
  color: #999;
}
.row .pd5 {
  margin-top: 9px;
  padding-left: 30px;
  padding-right: 30px;
}
.plat-default .person-article-lists .article-item .article-cate {
  color: #428bca;
  border: 1px solid #428bca;
  float: right;
  margin-top: -36px;
  text-align: center;
  line-height: 24px;
}
.article-dr {
  color: #999;
}
.content {
  display: inline-block;
  background: #f2f2f2;
  overflow: hidden;
}
.project-discuss {
  margin: 10px 0px;
}
.content {
  background: #fff;
  width: 100%;
  padding: 8px;
  overflow: hidden;
  padding-top: 5px;
}
.plat-default .plat-content .right {
  margin: 0px;
}
.article-color i {
  color: #333;
  font-style: inherit;
}
.project-section {
  position: relative;
  height: 170px;

}

.project-section .yishou {
  position: absolute;
  z-index: 999;
}
.project-section .logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 13px;
  overflow: hidden;
  border: 2px solid #fff;
}
.project-section .xiang-mu-baio-zhi{
  position: absolute;
  right: 10px;
  top:10px;

  width: 68px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 24px;
  color: #fff;

  text-align: center;
  line-height: 24px;
  z-index: 999;
}
.project-username {
  position: absolute;
  top: 145px;
  left: 69px;
  width: 90px;
  height: 20px;
  overflow: hidden;
}
.project-money img {
  margin: 0  2px;
}
.page-default .page-content #profile {
  margin-top: 0px;
}
#wap-article-show .rich_media_title {
  font-size: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: normal;
  width: 100%;
  color: #1a1a1a;
  margin: 0;
}
#wap-article-show .time {
  padding-top: 16px;
  display: block;
}
#wap-article-show img {
  max-width: 100%;
}
#wap-article-show .author {
  margin-left: 20px;
  color: #89b5df;
}
#wap-article-show .rich_media_meta_list {
  padding: 0.3rem 0;
  font-size: 15px;
  color: #C00000;
  text-align: center;
}
.qr_code_pc_outer {
  /* width: 125px;
    position: absolute;
    top: 10px;
    right: 5px;*/
  width: 136px;
  border: 1px solid #f0f0f0;
  padding: 10px 0 5px 3px;
  position: fixed;
}
.qr_code_pc_outer p {
  text-align: center;
  width: 125px;
  font-size: 12px;
}
.person-goods-lists {
  height: 545px;
  /*height: 100%;*/
  width: 100%;
  margin-top: 8px;
}
.person-goods-lists #product {
  height: 318px;
  margin-top: 10px;
  padding-right: 0;
  margin-bottom: 10px;
}
.person-goods-lists #product .project-lists-one {
  border: 1px solid #ccc;
  padding-bottom: 1px;
  box-shadow: none;
}
.person-goods-lists #product .project-lists-one:hover {
  border: 1px solid #f7b026;
}
.person-goods-lists #product .project-lists-one:hover .buy-now{
  display: block;
}
.person-goods-lists .wemall-title {
  padding-bottom: 2%;
  font-size: 30px;
  border-bottom: 1px solid ;
}
.person-goods-lists .row {
  margin-right: 0;
}
.person-goods-lists .product-massage a {
  text-decoration: none;
}
.person-goods-lists .white {
  color: #fff;
}
.person-goods-lists .product-massage {
  position: relative;
}
.person-goods-lists .buy-now {
  width: 100%;
  background-color: #f7b026;
  color: #fff;
  margin: -30px 0px 0px 0px;
  height: 34px;
  z-index: 99;
  border-radius: 0;
  display: none;
  text-align: center;
  line-height: 34px;
  position: absolute;
  top: 110px;
}
.person-goods-lists .m-l-23 {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
  height: 30px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.person-goods-lists .product-price {
  width: 100%;
  height: 29px;
  font-size: 24px;
  color: #d02722;
}
.person-goods-lists .p-l-2 {
  padding-left: 10px;
}
.person-goods-lists .p-r-2 {
  padding-right: 2px;
}
.person-goods-lists .p-t-3 {
  padding: 15px;
  padding-top: 0;
}
.person-goods-lists .shadow-box {
  width: 86%;
  height: 460px ;
  box-shadow: 5px 3px 15px 0 #ccc;
}
.top-line {
  border-top: 3px solid #007cd3;
}
#pcLoginBox {
  width: 60%;
  margin: 20% auto;
  box-shadow: 1px 1px 10px #ccc;
  height: 400px;
  position: relative;
}
#pcLoginBox #pc-login {
  width: 330px;
  margin: 0 auto;
}
#pcLoginBox #pc-login .m0 {
  margin: 0;
}
#pcLoginBox #pc-login .p0 {
  padding: 0;
}
#pcLoginBox #pc-login .bottom .new_wz_log #loding {
  padding-bottom: 18px;
  font-size: 20px;
  width: 100%;
  font-family: "Microsoft Yahei";
  padding-bottom: 20px;
}
#pcLoginBox #pc-login .bottom .new_wz_log #loding .dlr1 {
  padding-bottom: 25px;
  padding-top: 70px;
}
#pcLoginBox #pc-login .bottom .new_wz_log #loding .dlr1 .error_msg {
  color: red;
  font-size: 14px;
}
#pcLoginBox #pc-login .bottom .new_wz_log #loding .form-group {
  padding-bottom: 16px ;
}
#pcLoginBox #pc-login .bottom .new_wz_log #loding .form-group .input-group {
  width: 100%;
}
#pcLoginBox #pc-login .bottom .new_wz_log #loding .form-group .checkbox {
  padding-left: 35px;
  font-size: 14px;
}
#pcLoginBox #pc-login .bottom .new_wz_log .wx_login {
  display: none;
}
.icon-login {
  position: absolute;
  float: right;
  width: 32px;
  height: 32px;
  bottom: 0px ;
  right: 0px;
}
.icon-login span {
  width: 32px;
  height: 32px;
  display: block;
  background: url("https://www.wezchina.com/app/Tpl/wezchina/images/wz_ui/icon-login.png") no-repeat;
  opacity: .6;
}
#buyShow .buy-now-and-clear-save {
  width: 121%;
}
#buyShow .buy-now-and-clear-save span {
  padding-right: 10px;
}
#buyShow .con-FangDa {
  width: 300px;
  height: auto;
  margin: 20px 0px 0 0px;
  background-color: #fff;
  padding-left: 15px;
}
#buyShow .con-fangDaIMg {
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #454545;
}
#buyShow .con-fangDaIMg > img {
  width: 100%;
  height: 100%;
}
#buyShow .magnifyingBegin {
  width: 150px;
  height: 150px;
  left: 0;
  top: 0;
  background-color: #454545;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  cursor: move;
  display: none;
}
#buyShow .magnifyingShow {
  width: 400px;
  height: 400px;
  display: none;
  position: absolute;
  right: -409px;
  top: 0;
  overflow: hidden;
  background-color: #454545;
  z-index: 10;
}
#buyShow .magnifyingShow > img {
  width: 668px;
  height: 668px;
  margin-left: 0;
  margin-top: 0;
}
#buyShow .con-FangDa-ImgList {
  margin-top: 10px;
  height: 54px;
  width: 300px;
  list-style: none;
  padding-left: 0;
}
#buyShow .con-FangDa-ImgList > li {
  margin-right: 7px;
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  border: 2px solid #666;
  background-color: #454545;
  text-align: center;
}
#buyShow .con-FangDa-ImgList > li > img {
  vertical-align: top;
  display: inline;
  width: auto;
  height: 50px;
}
#buyShow .con-FangDa-ImgList > .active {
  border-color: #000;
}
#buyShow .goods-show .top .info .title {
  font-size: 26px;
  margin-top: 10px;
}
#buyShow .collect-num {
  margin-bottom: 14px;
  margin-top: 21px;
}
#buyShow .plat-default .goods-show .top .info .price {
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin: 10px 0;
  margin-top: 13px;
  margin-bottom: 20px;
}
#buyShow .plat-default .goods-show .top {
  overflow: hidden;
  margin-top: 48px;
  margin-bottom: 30px;
}
.attention {
  width: 30px;
}
.price {
  font-size: 16px;
}
#jia,
#jian {
  height: 26px;
  padding-top: 2px;
}
#proDec,
.buyKonw {
  margin-top: 13px;
}
.plat-default .goods-show .top .small .item img {
  width: 100%;
  height: 100%;
}
.plat-default .goods-show .top .small .item {
  float: left;
  width: 75px;
  height: 75px;
}
.plat-default .goods-show .top .small {
  width: 255px;
}
.price-input-style {
  width: 85px;
  height: 36px;
  text-align: center;
}
.main-footer .bottom-plat-logo {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-footer .bottom-plat-logo .bottom-plat-logo-img {
  position: absolute;
  bottom: 0;
}
.main-footer .bottom-plat-logo .bottom-plat-logo-img img {
  width: 150px;
  height: 150px;
}
.user-info {
  margin-top: -3px;
  border: 1px solid #ccc;
  padding: 31px;
  /* width: 74%; */
  /* margin-left: 48px; */
  background: #fff;
  padding-right: 47px;
}
.co-tit {
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  font-size: 18px;
  margin-top: 10px;
}
.add-address {
  display: block;
  color: #ff9c00;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  padding-bottom: 0;
}
.product-buy-list {
  height: 80px;
  width: 98%;
  margin: 30px auto;
}
.product-buy-list > li {
  list-style: none;
}
.product-buy-list li:nth-of-type(1) {
  height: 80px;
}
.product-buy-list li:nth-of-type(4) {
  padding-left: 10%;
}
.amount-num {
  float: left;
  border: 1px solid #e0e0e0;
}
.amount-num input {
  float: left;
  width: 30px;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  margin-top: 1px;
  text-align: center;
  border: 0 none;
}
.amount-num-jian,
.amount-num-jia {
  float: left;
  height: 28px;
  line-height: 28px;
  width: 20px;
  background: #eee;
  color: #666;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}
.product-msg {
  margin-bottom: 50px;
  overflow: hidden;
  padding-left: 33px;
}
.product-msg textarea {
  width: 364px;
  height: 96px;
  resize: none;
}
.product-msg p {
  margin: 18px;
  width: 80px;
  float: left;
}
.pay-list {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #eee;
  margin: 10px 0;
}
.pay-list p {
  padding: 5px 0;
  font-size: 14px;
}
.pay-list .sub {
  height: 35px;
  margin: 15px 0;
}
.pay-list .sub span {
  display: inline-block;
  line-height: 0.5px;
  height: 100%;
}
.address_pop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: block;
}
.product_buy_site input {
  border: 1px solid #d7d7d7;
}
.product_buy_frame {
  width: 709px;
  height: 364px;
  margin: 0 auto;
  background: #fff;
  margin-top: 290px;
  overflow: hidden;
}
.product_buy_title {
  height: 40px;
  width: 709px;
  background-color: #EAEAEA;
}
.product_buy_title span {
  font-size: 16px;
  line-height: 40px;
  margin-left: 16px;
}
.products_buy_exit {
  float: right;
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.product_buy_con {
  height: 313px;
  padding: 23px 23px 35px 19px;
  box-sizing: border-box;
}
.product_buy_item {
  line-height: 25px;
  height: 25px;
  margin-bottom: 22px;
}
.product_buy_item span {
  width: 78px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.product_buy_item span em {
  color: #FF0000;
  margin-right: 5px;
}
.product_buy_input {
  float: left;
  margin-right: 16px;
}
.product_buy_input {
  float: left;
  margin-right: 16px;
}
.product_buy_item .product_buy_btn {
  width: 123px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #FF9C00;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.pay_all {
  padding: 10px 0px;
  font-size: 14px;
  line-height: 24px;
}
.pay_all span {
  float: left;
  border: 1px solid #eee;
  margin: 10px;
  cursor: pointer;
  height: 36px;
  overflow: hidden;
  position: relative;
  width: 138px;
  text-align: center;
  line-height: 36px;
  font-size: 18px;
}
.pay_all span img {
  display: block;
}
.pay_all span.active {
  border-color: #50abf2;
}
.pay_all span.active em {
  display: block;
}
.pay_all span em {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 16px;
  height: 15px;
  background: url("http://corgi.lerzen.com/app/Tpl/wezchina/wemall/images/d.png") no-repeat;
  display: none;
}
.pay-list p {
  margin: 0;
}
.page-goods-index-p-r-2 {
  height: 423px;
}
.page-goods-index-p-r-2 img {
  width: 100%;
  height: 50%;
}
.page-goods-index-p-r-2 .product-price {
  color: #ff0000;
  padding-left: 5px;
}
.page-goods-index-p-r-2 .product-price span{
  color: #999;
  text-decoration: line-through;
  font-size: 14px;
  padding-top: 12px;
  padding-right: 5px;
}
.page-goods-index-p-r-2 .product-price i{
  font-style: normal;
  font-size: 14px;
}
.page-goods-index-p-r-2 .m-1-23-css {
  width: 100%;
  height: 18px;
}
.page-goods-index-p-r-2 .white {
  text-decoration: none;
  color: #fff;
}
.goods-show-info .time {
  font-size: 14px;
  width: 280px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods-show-info .money {
  font-size: 28px;
  color: red;
}
.goods-show-info .title {
  font-size: 25px;
  margin-top: 15px;
  font-weight: 700;
}
.goods-show-info .mark-price {
  height: 12px;
  padding-top: 16px;
  font-size: 10px;
  vertical-align: bottom;
}
.goods-show-info .btn-danger {
  width: 81px;
}
.index-index-date-time .title {
  font-size: 20px;
  font-weight: 700;
}
.index-index-date-time .new-title {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 18px;
  border-color: #008cee;
  color: #088cee;
  text-align: center;
  line-height: 28px;
  position: absolute;
  right: 20px;
  top: -15px;
}
.index-index-date-time .p-t-24 a {
  color: #666;
}
.index-index-date-time .p-r-24 span {
  display: inline-block;
  width: 35px;
}
.index-index-date-time .views {
  display: inline-block;
  width: 35px;
}
.news-index-aeticle-item .title {
  font-size: 20px;
  font-weight: 700;
}
.project-index-article-item .person-left-img {
  width: 100%;
  height: 180px;
}
.project-rightinfo-right-box .top {
  padding-left: 0;
}
.project-rightinfo-right-box .mt20-top {
  padding-top: 26px;
}
.project-rightinfo-right-box .progress {
  margin-bottom: 10px;
  width: 100%;
}
.project-show-project-box-top #panel_top1 {
  border-radius: 0px;
}
.project-show-project-box-top .projectMsg {
  padding-left: 51px;
}
.project-show-project-box-top img {
  margin-bottom: 10px;
  margin-right: 5px;
  display: inline;
}
.project-show-panel-color {
  padding-left: 51px;
}
.project-show-panel-color-2 {
  padding-left: 51px;
}
.project-show-right {
  margin-top: 68px;
}
.person-left-img {
  width: 100%;
  height: 140px;
  position: absolute;
  transition: all 1s;
}
.project-lists-one {
  box-shadow: 0px 1px 2px #ccc;
}
.project-lists-one:hover {
  box-shadow: 0px 1px 5px #f7b026;
}
.project-lists-one:hover .buyShow{
  display: block;
}
.project-lists-one .product-massage .goods-name{
  color: #999;
  font-size: 16px;
  padding-left: 5px;
  margin-top: 10px;
  height: 19px;
  display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.project-lists-one .product-massage .goods-name a{
  color: #333;

}
.huiyuantegong{
  text-align: center;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin: 20px 0 15px 0;
}
.huiyuantegong span{
  font-size: 16px;
  color: #a6a6a6;
  padding: 0 5px;
  line-height: 30px;
}
.project-lists-one .product-massage .goods-main{
  padding-left: 5px;
  height: 33px;
  line-height: 17px;
  overflow: hidden;
  color: #777;
}
.project-lists-one .product-massage .yishouandshoucang{
  height: 32px;
  padding: 0 5px;
  background: #f3f3f3;
  position: relative;
 bottom: -1px;
  border-top: 1px solid #ccc;
  color: #777;
}
.project-lists-one .product-massage .yishouandshoucang span{
  color: #f7b026;
  font-weight:600;

}
.project-lists-one .product-massage .yishouandshoucang div{
  height: 32px;
  line-height: 32px;
}
.article_lists {
  padding-top: 20px;
}
.article_lists .article_area {
  margin-top: 10px;
  padding: 30px 10px;
  box-shadow: 1px 1px 5px 0px #ccc;
  background: #fff;
}
.article_lists .article_area .article_content .col-sm-8 {
  padding-left: 35px;
}
.article_lists .article_area .article_content .article_img {
  display: block;
}
.article_lists .article_area .article_content .article_img img {
  width: 200px;
  height: 150px;
}
.article_lists .article_area .article_content .article_title {
  width: 60%;
}
.article_lists .article_area .article_content .article_title a {
  display: block;
  line-height: 34px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.article_lists .article_area .article_content .article_category {
  width: 23%;
}
.article_lists .article_area .article_content .article_category .article_logo {
  display: block;
  width: 100px;
  height: 34px;
  line-height: 28px;
  color: #428bca;
  border: 1px solid #428bca;
  border-radius: 18px;
  text-align: center;
  padding: 2px 8px;
  float: right;
}
.article_lists .article_area .article_content .article_time {
  color: #999;
  font-size: 13px;
  margin-top: 3px;
}
.article_lists .article_area .article_content .article_summary {
  height: 40px;
  overflow: hidden;
  margin-top: 6px;
}
.article_lists .article_area .article_content .article_summary a {
  height: 50px;
  color: #666;
  text-decoration: none;
  display: block;
  white-space: pre-line;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.article_lists .article_area .article_content .article_all a {
  text-decoration: none;
}
.a-none {
  text-decoration: none !important;
}
.a-none:hover {
  text-decoration: none !important;
}
.p-r-0 {
  padding-right: 0;
}
.project-show-panel-color .trends:first-child {
  margin: 0 0 0 0;
  padding: 20px 0 0 0;
}
.project-show-panel-color .trends {
  margin: 20px 0 0 0;
  border-top: 1px solid #eee;
  padding: 20px 0 0 0;
}
.project-show-panel-color .trends .trends_title_top_new {
  font-size: 16px;
}
#oderNum {
  width: 95%;
  margin: 0 auto;
  padding-left: 8px;
}
#oderNum h2 {
  padding-left: 45px;
}
#oderNum .oder-msg {
  padding-top: 33px;
}
#oderNum .oder-msg .pay-success {
  font-size: 20px;
}
#oderNum .oder-msg .oder-num {
  height: 50px;
  font-size: 20px;
  color: red;
}
#oderNum #wxzhifu {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
#oderNum #wxzhifu .erweima {
  padding-left: 110px;
}
#oderNum #wxzhifu .saoyisao {
  width: 100%;
}
#oderNum #wxzhifu .saoyisao div {
  width: 50px;
  height: 50px;
  margin-left: 55px;
}
#oderNum #wxzhifu .saoyisao div img {
  width: 100%;
  height: 100%;
}
#oderNum #wxzhifu .saoyisao p {
  padding-top: 6px;
}
#successPay {
  display: none;
  margin: 200px auto;
  margin-left: 33%;
  font-size: 25px;
  font-weight: 600;
  color: #7ECF04;
  line-height: 60px;
}
#successPay i {
  font-size: 130px;
  color: #7ECF04;
  margin-left: 52px;
  margin-right: 35px;
  display: block;
}
#successPay .phonenum-and-news {
  color: #000;
  font-size: 14px;
  font-weight: 100;
  margin-left: -107px;
  margin-top: -33px;
}
#successPay .back-shouye {
  font-size: 15px;
  padding-left: 72px;
  margin-top: -27px;
}
#splith {
  width: 50%;
  position: fixed;
  top: 0;
  left: 1050px;
  height: 100%;
  background-image: url('../static/pc/plat/images/dibu.jpg');
}
.faburen {
  margin-top: 0;
}
.goods-height {
  height: 150px !important;
}
#splith .bottom-plat-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 200px;
  display: none;
}
#splith .bottom-plat-logo img {
  margin-top: 0;
  width: 70px;
  height: 70px;
}
#splith .bottom-plat-logo .tousu {
  border-bottom: 1px solid #ccc;
}
#splith .bottom-plat-logo .y {
  background: #c7c7c5;
}
#splith .bottom-plat-logo .y img {
  width: 54px;
  height: 50px;
}
#page-two-back-top {
  position: fixed;
  z-index:1000;
  bottom: 40px;
  right: 55px;
  width: 54px;
  height: 50px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#plat-two-back-top {
  position: fixed;
  z-index:1000;
  bottom: 40px;
  right: 55px;
  width: 54px;
  height: 50px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.c-bai {
  color: #ccc !important;
}
.weizhuye-activity{
  display: none;
}
.weizhuye-activity > p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.weizhuye-activity .line {
  width: 98%;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 15px;
}
.weizhuye-activity .little-title span {
  float: left;
  width: 74px;
  border-radius: 36px;
  font-size: 14px;
  color: #007cd3;
  height: 24px;
  border: 1px solid #007cd3;
  line-height: 24px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
}
.weizhuye-activity .person-article-lists .col-sm-3 .project-lists-one:hover {
  border-color: #f7b026;
  box-shadow: 1px 1px 8px #f7b026;
}
.weizhuye-activity .person-article-lists .col-sm-3 .project-lists-one:hover .person-left-img{
  transform: scale(1.3);
}
.weizhuye-activity .person-article-lists .col-sm-3 .project-lists-one:hover .font-weight{
  color: #007cd3;
}
.weizhuye-activity .person-article-lists .col-sm-3 .project-section .biaoti {
  position: absolute;
  left: 10px;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 10px;
  width: 66px;
  height: 22px;
  text-align: center;
  display: block;
  line-height: 21px;
  border-radius: 11px;
  z-index: 999;
}
.weizhuye-activity .person-article-lists .col-sm-3 .project-section .shijian {
  position: absolute;
  top: 146px;
  right: 15px;
  font-size: 13px;
  color: #999;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content {
  padding-bottom: 0;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .title {
  margin-bottom: 5px;
  height: 25px;
  overflow: hidden;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .title a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .jutishijian {
  color: #b3b3b4;
  margin-bottom: 12px;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .jutishijian i {
  margin-right: 10px;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .biaoqian {
  height: 22px;
  margin-bottom: 12px;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .biaoqian span {
  display: block;
  float: left;
  color: #666;
  width: 66px;
  height: 22px;
  text-align: center;
  line-height: 21px;
  border-radius: 11px;
  background: #e5e5e5;
  margin-right: 5px;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .biaoqian:before {
  clear: both;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .didian {
  color: #b3b3b4;
  margin-bottom: 7px;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .didian i {
  margin-right: 10px;
  vertical-align: super;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .didian .address{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  display: -moz-inline-grid;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 150px;
}
.weizhuye-activity .person-article-lists .col-sm-3 .content .didian .y {
  color: #f7b026;
}
.shijian{
  position: absolute;
  top: 146px;
  right: 15px;
  font-size: 13px;
  color: #999;
}