@charset "utf-8";
*{
    font-family: "微软雅黑","PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei",sans-serif;
}

@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1489717635668'); /* IE9*/
    src: url('iconfont.eot?t=1489717635668#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1489717635668') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1489717635668') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1489717635668#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yingpian:before { content: "\e6a3"; }

.icon-procedures:before { content: "\e60e"; }

.icon-shouye:before { content: "\e605"; }

.icon-presell:before { content: "\e623"; }

.icon-time:before { content: "\e614"; }

.icon-mingpian:before { content: "\e615"; }

.icon-wo:before { content: "\e60f"; }

.icon-yanzhengma:before { content: "\e64c"; }

.icon-shoucang:before { content: "\e892"; }

.icon-zhongchouxuanzhong:before { content: "\e64f"; }

.icon-yonghuzhongxinshanghuidongtai:before { content: "\e620"; }

.icon-wozhichideicon:before { content: "\e62f"; }

.icon-fabu:before { content: "\e626"; }

.icon-huodong:before { content: "\e637"; }

.icon-fabuwenzhang:before { content: "\e671"; }

.icon-icon-net2:before { content: "\e600"; }

.icon-xiaoxixuanzhong01:before { content: "\e621"; }

.icon-2:before { content: "\e67b"; }

.icon-mingpian1:before { content: "\e6ef"; }

.icon-xieliuyan:before { content: "\e695"; }

.icon-jine:before { content: "\e616"; }

.icon-liulanliang:before { content: "\e653"; }

.icon-shoujihaoma:before { content: "\e701"; }

.icon-law:before { content: "\e60c"; }

.icon-huodong1:before { content: "\e682"; }

.icon-weibiaoti1:before { content: "\e608"; }

.icon-jiaoyibaozhang:before { content: "\e688"; }

.icon-xiehui1:before { content: "\e625"; }

.icon-guoji:before { content: "\e631"; }

.icon-weibiaoti3:before { content: "\e696"; }

.icon-quanzi-copy:before { content: "\e602"; }

.icon-gouxuan:before { content: "\e604"; }

.icon-icon-baoyou-red-copy:before { content: "\e504"; }

.icon-yijianfankui:before { content: "\e502"; }

.icon-wenzhang:before { content: "\e606"; }

.icon-icon-test:before { content: "\e729"; }

.icon-didian:before { content: "\e63f"; }

.icon-huodong2:before { content: "\e609"; }

.icon-discover:before { content: "\e503"; }

.icon-jianjie:before { content: "\e610"; }

.icon-biaodan:before { content: "\e650"; }

.icon-baoming:before { content: "\e619"; }

.icon-jiuzhufuwu:before { content: "\e60a"; }

.icon-shangpin:before { content: "\e68f"; }

.icon-shenqing:before { content: "\e60d"; }

.icon-ziliaoshenpi:before { content: "\e62d"; }

.icon-Shape:before { content: "\e62a"; }

.icon-huiyiwenjian:before { content: "\e65a"; }



.container
{
    width: 100%;
}

.container-fluid
{
    width: 1200px;
}


#index-search
{
    position: relative;
}
#index-search div
{
    height: 100%;
    width: 300px;
    position: absolute;
    z-index: 99999999;
    left: 8em;
    top: 0em;
    background: white;
}

#index-search div input
{
    border: 0px;
    font-size: 1.5em;
    font-family: 微软雅黑;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

#index-search div .index-search-button
{
    background: #489ddd;
    position: absolute;
    top: 2em;
    left: 12em;
    width: 2em;
    height: 1.5em;
    display:none;
}

.index-nav
{
    position: fixed;
    left: 0;
    width: 90px;
    height: 100%;
    background: #ececec;
    z-index: 999;
}

#logo
{
    margin: 0;
    padding: 0;
    background: #004f88;
}
#logo a
{
    position: relative;
    overflow: hidden;
}
#logo a img
{
    display: block;
    width: 100%;
    height: 90px;
}
.index-nav-esse
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.index-nav-esse li
{
    text-align: center;
}
.index-nav-esse li a
{
    position: relative;
    display: block;
    padding-top: 80px;
    width: 100%;
    height: 0;
    line-height: 100%;
    overflow: hidden;
    color: #555;
}

.index-nav-esse li a span
{
    display: table-cell;
    position: absolute;
    top: 50%;
    left: 0;
    color: #565656;
    margin-top: -20px;
    width: 100%;
    line-height: 1.1em;
    font-size: 2em;
    color: #929292;
}

.index-nav-esse .avatar img{
    display: table-cell;
    position: absolute;
    top: 31%;
    left: 28%;
    width: 40px;
    height: 40px;
    border:1px solid #ccc;
    border-radius: 50%;
}
.index-nav-esse li a span strong
{
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 1.1em;
    line-height: 1.1em;
    font-size: 16px;
}

.index-content
{
    overflow: auto;
    overflow-x: hidden;
    margin-left: 90px;
    width: 1110px;
    height: 100%;
    /*background: #ececeb;*/
    /*padding:0 5px 0px;*/

}
#layoutContainer{
    overflow: hidden;
}



#gongshanglian {
    position: fixed;
    left: 90px;
    width: 1275px;
    height: 100%;
}
#gongshanglian dl {
    position: relative;
    margin: 0;
    zoom: 1;
}
#gongshanglian dl:before,
#gongshanglian dl:after {
    content: '\0020';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#gongshanglian dl:after {
    clear: both;
}
#gongshanglian dl dt {
    position: relative;
    float: left;
    width: 105px;
    cursor: pointer;
}
#gongshanglian dl dt.xinwen {
    background: url('images/index_bg1.png');
}
#gongshanglian dl dt.fuwu {
    background: url('images/index_bg1.png');
}
#gongshanglian dl dt.gongshanglian {
    background: url('images/index_bg2.png');
}
#gongshanglian dl dt.sushang {
    background: url('images/index_bg3.png');
}
#gongshanglian dl dt.active {
    display: none;
}
#gongshanglian dl dt h2 {
    position: absolute;
    left: 0;
    bottom: 20%;
    margin: 0 15% .5em;
    padding-top: 1em;
    width: 70%;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    border-top: 2px solid #fff;
}
#gongshanglian dl dt .nav {
    position: absolute;
    bottom: 5%;
    margin: 0 15%;
    width: 70%;
    height: 15%;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: normal;
}
#gongshanglian dl dt .nav a {
    display: block;
    color: #ddd;
}
#gongshanglian dl dd {
    display: none;
    float: left;
    margin: 0;
    width: 960px;
}
#gongshanglian dl dd.active {
    display: block;
}
#gongshanglian dl dd.xinwen {
    zoom: 1;
}
#gongshanglian dl dd.xinwen:before,
#gongshanglian dl dd.xinwen:after {
    content: '\0020';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#gongshanglian dl dd.xinwen:after {
    clear: both;
}


#gongshanglian dl dd.xinwen .index-top
{
    height: 350px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#gongshanglian dl dd.xinwen .list-left
{
    width: 470px;
    height: 350px;
    padding: 0;
    overflow: hidden;
}
#gongshanglian dl dd.xinwen .list-left .list-left-top
{
    height: 250px;
    width: 470px;
    margin-bottom:15px;
    padding: 0;
    overflow: hidden;
}


#myCarousel .carousel-indicators li
{
    background: white;
    display: inline-block;
    width:  10px;
    height: 10px;
    border: 1px solid white;
    margin-right: 7px;
}
#myCarousel .carousel-indicators .active
{
    background: rgb(252,17,75);
    display: inline-block;
    width:  10px;
    height: 10px;
    border: 1px solid rgb(252,17,75);
    margin-right: 7px;
}
#gongshanglian dl dd.xinwen .list-left .list-left-top .myslide
{
    height: 250px;
    padding: 0;
    margin:0;
}
#gongshanglian dl dd.xinwen .list-left .list-left-top .myslide img
{
    width: 100%;
    position: relative;
}

#gongshanglian dl dd.xinwen .list-left .list-left-top .myslide .slide-info
{
    position: absolute;
    bottom: 0%;
    background: black;
    width: 100%;
    height: 40px;
    opacity: 0.6;
    /* bottom: 0px; */
}
#gongshanglian dl dd.xinwen .list-left .list-left-top .myslide .slide-text
{
    position: absolute;
    bottom:12px;
    left: 10px;

}
#gongshanglian dl dd.xinwen .list-left .list-left-top .myslide .slide-text a
{
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    margin-left: 10px;
}
#gongshanglian dl dd.xinwen .list-left .list-left-top .carousel-indicators
{
    left: 415px;
    bottom: -2px;
}

.myCarousel-left
{
    position: absolute;
    width: 40px;
    height: 74px;
    background: url(images/focus_btn.png) no-repeat;
    top: 127px;
    margin-top: -37px;
    left: 0;
    background-position: 0 -74px;
    cursor: pointer;
    display: none;
}

.myCarousel-left:hover
{
    background-position:0 0;
}

.myCarousel-right
{
    position: absolute;
    width: 40px;
    height: 74px;
    background: url(images/focus_btn.png) no-repeat;
    top: 127px;
    margin-top: -37px;
    right: 0;
    background-position: -40px -74px;
    cursor: pointer;
    display: none;
}

.myCarousel-right:hover
{
    background-position:-40px 0;
}


#gongshanglian dl dd.xinwen .list-left .list-left-bottom
{
    padding: 0;
    margin: 0;
    height: 100px;
    width: 470px;
    float: left;


}


/*#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box*/
/*{*/
/*width: 100px;*/
/*height: 100px;*/
/*padding: 0;*/
/*margin: 0;*/
/*position: relative;*/
/*float: left;*/
/*overflow: hidden;*/
/*}*/

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box { width:100px; height:100px;float:left; }
#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box ul{float:left; width:100px;  background:url(images/xzzbj.png) repeat-y right top; height:100px;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box ul li{list-style:none;float:left; width:100px; height:30px; text-align:center; font-family:"微软雅黑"; margin-bottom: 10px; background:url(images/wxz.png) no-repeat right top; margin-left:-40px;padding-left: 0px }
#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box ul li a{text-decoration: none; font-size:13px; color:#666666; line-height:30px; display:block; width:80px;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box ul li.at{font-size:14px; color:#fff; line-height:30px;  background:url(images/xz.png) no-repeat right top;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box ul li.at a{ color:#fff;}



#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_nr{width:360px; float:right;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_lb{width:370px;float:left;height: 100px;overflow: hidden;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_lb ul{width:360px; float:left;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_lb ul li{list-style:none;margin-left:-30px;width:360px;float:left;line-height: 30px;margin-bottom: 2px;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_lbt{float:left;font-family:"微软雅黑";display: block;width: 270px;height: 20px;line-height: 13px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_lbt a{font-size: 14px;color:#333333;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_lbt a:hover{ color:#f00; text-decoration:underline;}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom  .zsyw_lsj{float:right;width:75px;font-size: 14px;/* line-height: 10px; */color:#666666;text-align:right;font-family:Arial, Helvetica, sans-serif;line-height: 20px;height: 20px;}



#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box .d1
{

    display: block;
    width: 100%;
    height: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: url("images/wxz.png") no-repeat;
    position: absolute;
    top: 10%;
    z-index: 999;
    background-size: 100%;

}

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box .d2
{

    display: block;
    width: 100%;
    height: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: url("images/wxz.png") no-repeat;
    position: absolute;
    top: 40%;
    z-index: 999;
    background-size: 100%;
}

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box .d3
{

    display: block;
    width: 100%;
    height: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: url("images/wxz.png") no-repeat;
    position: absolute;
    top: 70%;
    z-index: 999;
    background-size: 100%;
}


#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box .active
{

    display: block;
    width: 100%;
    height: 30%;
    list-style: none;
    background: url("images/xz.png") no-repeat;
    background-size: 100%;
}

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box  .line
{
    display: block;
    width: 10%;
    height: 115%;
    border-right: 2px solid #59beff;
    position: absolute;
    left: 85%;
    z-index: -9999;
}


#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box .active  span
{

    color: white;
    width: 100%;
    height: 40%;
}

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-left-box div span
{
    float: left;
    color: black;
    font-size:17px;
    line-height: 2;
    padding-left: 8%;
    cursor: pointer;
    overflow: hidden;
}


#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-right-box
{
    width: 370px;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
    overflow: hidden;
}

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-right-box  .item-list .list-group
{
    background: none;
    margin: 0 0 0 6%;
}

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-right-box  .item-list .list-group-item
{
    border:0;
    padding:16.5px 0 0 0;
    position: relative;
    background: none;
}


#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-right-box  .item-list .list-group-item .title
{
    margin: 0;
    color: black;
    font-size:1.2em;
    font-family: 微软黑体;
    text-indent:2em;
    overflow: hidden;
    line-height: 1.0;
}
#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-right-box  .item-list .list-group-item .title a
{
    color:#010101;
    text-decoration:none
}

#gongshanglian dl dd.xinwen .list-left .list-left-bottom .bottom-right-box  .item-list .list-group-item .time
{
    margin: 0;
    color: black;
    font-size: 1.2em;
    font-family: 黑体;
    padding: 1%;
    overflow: hidden;
    line-height: 0.6;
    margin-right:0px;
    position: absolute;
    right: 0;
}






/*#gongshanglian dl dd.xinwen .list-right*/
/*{*/
/*height: 100%;*/
/*padding: 0;*/
/*}*/
/*#gongshanglian dl dd.xinwen .list-right .list-right-top*/
/*{*/
/*height: 26%;*/
/*padding: 1% 3% 0 3%;*/
/*border-top: 0.3em solid #489ddd;*/
/*overflow: hidden;*/
/*}*/

/*#gongshanglian dl dd.xinwen .list-right .list-right-top h3*/
/*{*/
/*margin: 2% 0 0 0;*/
/*color: #067ad0;*/
/*font-family: 黑体;*/
/*font-size: 24px;*/
/*font-weight: bold;*/
/*}*/
/*#gongshanglian dl dd.xinwen .list-right .list-right-top p*/
/*{*/
/*margin: 0;*/
/*color: black;*/
/*font-size: 16px;*/
/*font-family: 黑体;*/

/*padding: 1px;*/
/*text-indent:2em;*/
/*overflow: hidden;*/
/*line-height: 1.6;*/
/*}*/

/*#gongshanglian dl dd.xinwen .list-right .p-more*/
/*{*/
/*color: black;*/
/*font-size: 16px;*/
/*font-family: 微软雅黑;*/
/*padding: 1%;*/
/*text-indent:2em;*/
/*overflow: hidden;*/
/*line-height: 1.6;*/
/*color: #489ddd;*/
/*margin:0 0.5em 0 0;*/
/*}*/


/*#gongshanglian dl dd.xinwen .list-right  .list-right-bottom*/
/*{*/
/*height: 74%;*/
/*padding: 1% 3% 0 3%;*/
/*overflow: hidden;*/
/*}*/


/*#gongshanglian dl dd.xinwen .list-right  .ul-nav*/
/*{*/
/*width: 100%;*/
/*font-family: 微软雅黑;*/
/*color: #b4b4b4;*/
/*border-bottom:1px solid #b4b4b4 ;*/

/*}*/
/*#gongshanglian dl dd.xinwen .list-right  .ul-nav li*/
/*{*/
/*width: 25%;*/
/*margin: 0;*/
/*text-align: center;*/
/*color: #b4b4b4;*/
/*}*/
/*#gongshanglian dl dd.xinwen .list-right  .ul-nav li a*/
/*{*/
/*color: #b4b4b4;*/
/*font-size: 20px;*/
/*font-weight: bold;*/
/*}*/

/*#gongshanglian dl dd.xinwen .list-right  .ul-nav li a:hover*/
/*{*/
/*color: black;*/
/*border-bottom:2px solid #489ddd;*/
/*border-radius:0;*/
/*background: none;*/
/*}*/

/*#gongshanglian dl dd.xinwen .list-right  .ul-nav .active a*/
/*{*/
/*color: black;*/
/*border-bottom:2px solid #489ddd;*/
/*border-radius:0;*/
/*}*/
/*#gongshanglian dl dd.xinwen .list-right  .ul-nav .active a*/
/*{*/
/*color: black;*/
/*border-bottom:2px solid #489ddd;*/
/*border-radius:0;*/
/*background: none;*/
/*}*/



/*#gongshanglian dl dd.xinwen .list-right  .item-list .list-group*/
/*{*/
/*background: none;*/
/*}*/

/*#gongshanglian dl dd.xinwen .list-right  .item-list .list-group-item*/
/*{*/
/*border:0;*/
/*padding:1.3% 0 0 0;*/
/*position: relative;*/
/*background: none;*/
/*}*/


/*#gongshanglian dl dd.xinwen .list-right  .item-list .list-group-item .title*/
/*{*/
/*margin: 0;*/
/*color: black;*/
/*font-size:16px;*/
/*font-family: 微软黑体;*/
/*text-indent:2em;*/
/*overflow: hidden;*/
/*line-height: 1.0;*/
/*}*/
/*#gongshanglian dl dd.xinwen .list-right  .item-list .list-group-item .title a*/
/*{*/
/*color:#010101;*/
/*text-decoration:none*/
/*}*/

/*#gongshanglian dl dd.xinwen .list-right  .item-list .list-group-item .time*/
/*{*/
/*margin: 0;*/
/*color: #010101;*/
/*font-size: 16px;*/
/*font-family: 黑体;*/
/*padding: 1%;*/
/*overflow: hidden;*/
/*line-height: 0.6;*/
/*margin-right:0px;*/
/*position: absolute;*/
/*right: 0;*/
/*}*/

#gongshanglian li
{
    list-style: none;
}
#gongshanglian a
{
    text-decoration:none;
}
#gongshanglian dl dd.xinwen .list-right {width:490px;height: 350px;overflow: hidden;border-top: 5px solid #007cd3;}
#gongshanglian dl dd.xinwen .list-right .syzx_rtj{ width:450px; height:100px;float:left;overflow: hidden;}
#gongshanglian dl dd.xinwen .list-right .syzx_rtj h1{ width:450px; float:left; font-family:"微软雅黑"; margin-bottom:4px;margin-top: -5px;*border-top:5px solid #007cd3 }
#gongshanglian dl dd.xinwen .list-right .syzx_rtj h1 a{ font-size:20px; color:#007cd3;}
#gongshanglian dl dd.xinwen .list-right .syzx_rtj p{ width:450px; float:left; font-size:14px; color:#333333; line-height:22px; height:66px; font-family:"微软雅黑";}
#gongshanglian dl dd.xinwen .list-right .syzx_rtj p a{ color:#79c8ff;}
#gongshanglian dl dd.xinwen .list-right .syzx_rtj p a:hover{color: #007cd3;}
#gongshanglian dl dd.xinwen .list-right .syzx_rnew{height: 250px;width:450px;float:left;overflow: hidden;}
#gongshanglian dl dd.xinwen .list-right .rnew_dh{ width:450px;height: 33px; float:left; margin:10px 0px 5px;}
#gongshanglian dl dd.xinwen .list-right .rnew_dh ul{float:left; width:450px; height:32px; border-bottom:#dadada 1px solid;}
#gongshanglian dl dd.xinwen .list-right .rnew_dh ul li{ list-style:none;float:left; width:90px; height:30px; text-align:center; font-family:"微软雅黑";}
#gongshanglian dl dd.xinwen .list-right .rnew_dh ul li a{font-size:16px; color:#666; line-height:30px; display:block; font-weight:bold; }
#gongshanglian dl dd.xinwen .list-right .rnew_dh ul li.at{float:left;font-size:16px;height: 32px; color:#000; font-weight:bold; line-height:30px; border-bottom:#79c8ff 3px solid;}
#gongshanglian dl dd.xinwen .list-right .rnew_dh ul li:first-child{margin-left:-40px;}

#gongshanglian dl dd.xinwen .list-right .rnew_dh ul li.at a{ color:#000;}
#gongshanglian dl dd.xinwen .list-right .rnew_lb li{margin-left: -40px;}
#gongshanglian dl dd.xinwen .list-right .rnew_lb{width:450px;height: 200px;float:left;overflow: hidden;}
#gongshanglian dl dd.xinwen .list-right .rnew_lb ul{width:450px;float:left;height: 200px;overflow: hidden;}
#gongshanglian dl dd.xinwen .list-right .rnew_nr {height: 234px}
#gongshanglian dl dd.xinwen .list-right .rnew_lb ul li{width:450px;float:left;line-height: 25px;}
#gongshanglian dl dd.xinwen .list-right .rnew_ldl{ float:left; font-family:"微软雅黑"; margin-right:5px; font-size:14px; color:#4fb7ff;cursor: context-menu;}
#gongshanglian dl dd.xinwen .list-right .rnew_lbt{ float:left; font-family:"微软雅黑";}
#gongshanglian dl dd.xinwen .list-right .rnew_lbt a{ font-size:14px; color:#333333;}
#gongshanglian dl dd.xinwen .list-right .rnew_lbt a:hover{ color:#f00; text-decoration:underline;}
#gongshanglian dl dd.xinwen .list-right .rnew_lsj{ float:right; width:75px; font-size:12px; color:#666666; text-align:right; font-family:Arial, Helvetica, sans-serif;}
#gongshanglian dl dd.xinwen .list-bottom
{
    height: 22%;
    padding:0 0 0 0 ;

}
#gongshanglian dl dd.xinwen .list-bottom .brand ul
{

    padding: 0px;
    margin: 0px;

}


.syztjj{ width:935px; float:left; margin-top:12px;}
.syztjj_lf{ width:475px; float:left; margin-top:1px;}
.syztjj_lgr{ width:107px; float:left; height:45px; line-height:45px; font-size:16px;font-weight:bold; color:#fff; text-align:center; background:#65b552; margin-right:15px;}
.syztjj_lgr a{font-size:16px; color:#fff;width: 100%;height: 100%;display: block;}
.syztjj_lgr:hover{background: #57a046;}
.syztjj_lblb{ line-height:45px;width:107px; float:left; height:45px; font-size:16px;font-weight:bold; color:#fff; text-align:center; background:#0058dc; margin-right:15px;}
.syztjj_lblb a{font-size:16px; color:#fff;width: 100%;height: 100%;display: block;}
.syztjj_lblb:hover{background: #0346ab;}
.syztjj_lor{ width:107px; float:left; height:45px; line-height:45px; font-size:16px;font-weight:bold; color:#fff; text-align:center; background:#ffa54e; margin-right:15px;}
.syztjj_lor a{font-size:16px; color:#fff;width: 100%;height: 100%;display: block;}
.syztjj_lor:hover{background: #e69342;}
.syztjj_lbl{ width:107px; float:left; height:45px; line-height:45px; font-size:16px;font-weight:bold; color:#fff; text-align:center; background:#79c8ff;}
.syztjj_lbl a{font-size:16px; color:#fff;width: 100%;height: 100%;display: block;}
.syztjj_lbl:hover{background: #5cafe8;}


.demozt{width:458px; float:right; position:relative;}
/* scrollbox */
.scrollbox{position:relative;width:460px;height:47px;overflow:hidden;}
.scrollbox ul{position:absolute;left:0px;top:0px;margin-left: -40px}
.scrollbox li{float:left;width:460px;height:45px;overflow:hidden; padding:1px 0px;}
.scrollbox li a{float:left;display:inline-block;width:140px;height:45px;overflow:hidden;margin-left:10px;}
.scrollbox li a img{display:block;width:135px;height:45px;background:#eee;}

#splith
{
    position: fixed;
    right: 0;
    height: 100%;
    background-image: url('./images/dibu.jpg');
}





#gongshanglian dl dd.xinwen .list-bottom  .brand-1 li
{
    float: left;
    width: 22.5%;
    padding-right: 0.5em;
    overflow: hidden;
    list-style: none;
    display: block;
    margin-right: 3.2%;
}
#gongshanglian dl dd.xinwen .list-bottom  .brand-1 li:last-child
{
    margin-right: 0;
}
#gongshanglian dl dd.xinwen .list-bottom  .brand-2 li
{
    float: left;
    width: 100%;
    padding-right: 0.5em;
    list-style: none;
}
#gongshanglian dl dd.xinwen .list-bottom  .brand-3 li
{
    float: left;
    width: 100%;
    padding-right: 0.5em;
    list-style: none;
}
#gongshanglian dl dd.xinwen .list-bottom  .brand-4 li
{
    float: left;
    width: 100%;
    padding-right: 0.5em;
    list-style: none;
}
#gongshanglian dl dd.xinwen .list-bottom .brand li img
{
    height: 100%;
}

#gongshanglian dl dd.xinwen .list-bottom .brand
{
    padding: 3% 0 0 0;

}

#gongshanglian dl dd.xinwen .list-bottom .brand-slide
{
    width: 14%;
    margin-left: 2%;
}
#gongshanglian dl dd.xinwen .list-bottom .ad
{
    padding: 0 0 0 0;
}

#gongshanglian dl dd.xinwen .list-bottom .ad img
{
    padding: 0 0 0 0;
    width: 100%;
}



#gongshanglian dl dd.xinwen .index-bottom
{
    height: 308px;
    padding: 0;
}

#gongshanglian dl dd.xinwen .index-bottom .index-bottom-top
{
    height: 85px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom
{
    height: 54%;
    padding: 0;
    margin: 10px 0 0 0;
    /*overflow: hidden;*/
    bottom: 0;
    background: #e9e9eb;
}

#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .peobox
{
    height: 155px;
    padding: 0;
    margin: 0 0 0 0;
    overflow: hidden;
    bottom: 0;
    position: relative;
}

#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .splithbox
{
    height: auto;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
    bottom: 0;
    position: relative;
    text-align: center;
    background: #eee;
    /*background: rgb(0,76,139);*/
}
#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .splithbox img
{
    text-align: center;
    width: 960px;
    margin-top: -35%;

}
#gongshanglian dl dd.xinwen .index-top-background-box
{
    background: url(images/main-top.png) ;
    width: 100%;
    height: 424px;
}

#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .bottom-left
{
    height: 100%;
    width: 148px;
    float: left;
    color: white;
    font-family: 微软雅黑;
    font-size: 1.5em;
    margin: -4px 0 0 0;
}
#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .bottom-left span
{
    display: block;
    background: #59beff;
    text-align: center;
    padding-top: 29px;
    margin-top: 0;
    width: 21%;
    font-size: 18px;
    height: 202px;
    float: left;
}
#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .bottom-left .bottom-left-right
{
    display: block;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 80%;
    float: left;
    text-align: center;
    background: white;
}

#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .bottom-left-pic-box
{
    background: white;
    border:1px solid #c7c8cc;
    padding: 4px;
    margin: 8px 0 0 38px;
    overflow: hidden;
    width: 104px;
    height: 146px;
    text-align: center;
    position: relative;
}


#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .bottom-left .bottom-left-right img
{
    height: 100px;
    width: 80px;
}
#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .bottom-left .leader-title
{
    color:rgb(101,105,115);
    font-size:14px;
}
#gongshanglian dl dd.xinwen .index-bottom .index-bottom-bottom .bottom-left  strong
{
    color: #c8c8c8;
    font-size: 14px;
    text-align: center;
    margin-left: 0.6em;
    position: absolute;
    bottom: 2px;
    left: 1.6em;
    font-weight: normal;
}





#gongshanglian dl dd.fuwu {
    zoom: 1;
}
#gongshanglian dl dd.fuwu:before,
#gongshanglian dl dd.fuwu:after {
    content: '\0020';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#gongshanglian dl dd.fuwu:after {
    clear: both;
}
#gongshanglian dl dd.fuwu .fuwu-yinshang {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    overflow: hidden;
}
#gongshanglian dl dd.fuwu .fuwu-yinshang .image {
    height: 75%;
}
#gongshanglian dl dd.fuwu .fuwu-yinshang .image img {
    display: block;
    width: 100%;
}
#gongshanglian dl dd.fuwu .fuwu-yinshang .bar {
    position: relative;
    height: 25%;
    background: #888;
}

#gongshanglian dl dd.gongshanglian {
    zoom: 1;
}
#gongshanglian dl dd.gongshanglian:before,
#gongshanglian dl dd.gongshanglian:after {
    content: '\0020';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#gongshanglian dl dd.gongshanglian:after {
    clear: both;
}
#gongshanglian dl dd.gongshanglian .gongshanglian-suzhou {
    position: relative;
    float: left;
    width: 55%;
    height: 50%;
    overflow: hidden;
}
#gongshanglian dl dd.sushang:after {
    clear: both;
}
#gongshanglian dl dd.sushang .sushang-qiyejia {
    float: left;
    width: 50%;
    height: 100%;
}

#code {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
}
.zuzhi{
    width: 960px;
    height: 100%;

}
.zuzhi .zuzhi-top{
    width: 100%;
    height: 481px;
    background: url(images/zuzhi-top.png);
    overflow: hidden;
}
.zuzhi .zuzhi-top .chuanchengbainian{
    margin: 50px auto;
    height: 70px;
    width: 365px;


}
.zuzhi .zuzhi-top .chuanchengbainian img{
    float: left;
}
.zuzhi .zuzhi-top .chuanchengbainian span{
    padding-left: 20px;
}
.zuzhi .zuzhi-top .chuanchengbainian p{
    width: 270px;
    float: right;
    height: 42px;
    font-size: 34px;
    font-family: "微软雅黑";
    font-weight: 400;
    margin-top: 6px;
}
.zuzhi .zuzhi-top .shanghuijieshao{
    margin-top: 194px;
    height: 126px;
    width: 837px;
    position: relative;
    margin-left: 62px;
}
.zuzhi .zuzhi-top .shanghuijieshao .list {
    width:102px;
    margin-right: 3px;
    float: left;
    height: 100%;
}
.zuzhi .zuzhi-top .shanghuijieshao .list .sub{
    position: absolute;
    display: none;
    background: #333;
    width: 100%;
    height: 85px;
    left: 0;
    top: 42px;
    z-index: 1;
    line-height: 85px;
}
.zuzhi .zuzhi-top .shanghuijieshao .list .sub a{
    margin-left: 10px;
    color: #fff;
}
.zuzhi .zuzhi-top .shanghuijieshao .list .sub a i{
    font-size: 14px;
    margin-right: 5px;
}
.zuzhi .zuzhi-top .shanghuijieshao .list:hover .sub{
    display: block;
}
.zuzhi .zuzhi-top .shanghuijieshao .list:hover p::before{
    display: block;
}
.zuzhi .zuzhi-top .shanghuijieshao i{
    font-size: 47px;
    color: #fff;
    margin-left: 24px;
    margin-top: 17px;
}
.zuzhi .zuzhi-top .shanghuijieshao div p{
    text-align: center;
    padding-top: 10px;
    color: #fff;
    height: 46px;
    margin: 0;
    position: relative;
}.zuzhi .zuzhi-top .shanghuijieshao div p::before{
     position: absolute;
     width:0px;

     border-left:solid 10px rgba(0,0,0,0);
     border-right:solid 10px rgba(0,0,0,0);
     left: 41px;
     top: 42px;
     z-index: 111;
     content: "";
     display: none;
 }
.zuzhi .zuzhi-top .shanghuijieshao .m0{
    margin: 0;
}
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(1){
    background: rgba(42,104,149,.9);
}
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(2){
    background: rgba(42,104,149,.9);
}
/*.zuzhi .zuzhi-top .shanghuijieshao .diyidier{
    background: rgba(42,104,149,.9);

}*/
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(1) p::before{
    border-top:solid 10px rgba(42,104,149,.9);
}
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(2) p::before{
    border-top:solid 10px rgba(42,104,149,.9);
}
.zuzhi .zuzhi-top .shanghuijieshao div:nth-child(3),.zuzhi .zuzhi-top .shanghuijieshao div:nth-child(4){
    background: rgba(41,122,137,.9);

}
/*.zuzhi .zuzhi-top .shanghuijieshao .disandisi p::before{
	border-top: solid 10px rgba(41,122,137,.9);
}*/
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(3) p::before{
    border-top: solid 10px rgba(41,122,137,.9);
}
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(4) p::before{
    border-top: solid 10px rgba(41,122,137,.9);
}

.zuzhi .zuzhi-top .shanghuijieshao div:nth-child(5),.zuzhi .zuzhi-top .shanghuijieshao div:nth-child(6){
    background: rgba(84,137,174,.9);

}
/*.zuzhi .zuzhi-top .shanghuijieshao .diwudiliu p::before{
	border-top:solid 10px rgba(84,137,174,.9) ;
}*/
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(5) p::before{
    border-top:solid 10px rgba(84,137,174,.9) ;
}
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(6) p::before{
    border-top:solid 10px rgba(84,137,174,.9) ;
}

.zuzhi .zuzhi-top .shanghuijieshao div:nth-child(7),.zuzhi .zuzhi-top .shanghuijieshao div:nth-child(8){
    background: rgba(113,166,81,.9);

}
/*.zuzhi .zuzhi-top .shanghuijieshao .diqidiba p::before{
	border-top:solid 10px rgba(113,166,81,.9);
}*/
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(7) p::before{
    border-top:solid 10px rgba(113,166,81,.9);

}
.zuzhi .zuzhi-top  .shanghuijieshao div:nth-child(8) p::before{
    border-top:solid 10px rgba(113,166,81,.9);

}
.zuzhi .zuzhi-bottom{
    height: 203px;
    width: 100%;
    background: #4e687b;
    position: relative;

}
.zuzhi .zuzhi-bottom .fazhanbaogao{
    position: absolute;
    top: -37px;
    height: 200px;
    width: 837px;

    margin-left: 62px;
}
.zuzhi .zuzhi-bottom .fazhanbaogao p{
    font-size: 18px;
    color: #fff;
    font-weight: 600;width: 100%;
    height: 37px;

}

.zuzhi .zuzhi-bottom .fazhanbaogao .title{
    padding: 8px 0 0 10px;
    margin: 0;
    font-size:16px ;font-weight: 100;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .diyi{
    background: #fff;
}.zuzhi .zuzhi-bottom .fazhanbaogao .diyi p{
     background: rgba(43,119,132,0.75);

 }
.zuzhi .zuzhi-bottom .fazhanbaogao .dier{
    background: #b8d1e3;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier p{
    background: rgba(36,99,151,.75);
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row{
    height: 81px;
    padding: 0;
    text-align: center;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row p{
    background: none;
    font-size: 14px;
    color: #155c9a;
    text-align: center;
    margin-bottom: 0;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row i{
    color: #246397;
    font-size: 32px;
    margin-top: 6px;
    display: block;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row .col-sm-4{
    border-right:1px solid #fff;
    padding: 0;
    height: 100%;
    border-bottom: 1px solid #fff;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row .col-sm-4:last-child{
    border-right: 0;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row .col-sm-6 i{
}

.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row .col-sm-6{
    border-right: 1px solid #fff;
    padding: 0;
    height: 100%;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row .col-sm-6:last-child{
    border-right: 0;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .dier .row li:hover{
    background-color: #cfe3f1;
}




.zuzhi .zuzhi-bottom .fazhanbaogao .disan .shiye{
    position: absolute;
    width: 92px;
    height: 80px;
    top: 117px;
    left: 583px;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .disan .lunbo{
    width: 100%;
    height: 164px;
    background-size:100% ;
    float: none;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .disan p{
    background: rgba(80,133,170,.75);
}
.zuzhi .zuzhi-bottom .fazhanbaogao .disan span{
    display: block;
    font-family: "微软雅黑";
    font-size: 14px;
}

.zuzhi .zuzhi-bottom .fazhanbaogao div{
    position: relative;
    width: 279px;
    float: left;
    height: 100%;
}

.zuzhi .zuzhi-bottom .fazhanbaogao .carousel{

    z-index: 0;
}

.zuzhi .zuzhi-bottom .fazhanbaogao .btn-look{
    position: absolute;
    background-color: #c56b38;
    border: 0;
    color: #fff;
    outline: none;
    padding: 6px 12px;
    bottom: 50px;
    left: 24px;
    border-radius: 4px;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .btn-look:hover{
    background-color: #a55426;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .btn-info{
    position: absolute;
    background-color: #3c59a4;
    border: 0;
    color: #fff;
    outline: none;
    padding: 6px 12px;
    bottom: 50px;
    left: 24px;
    border-radius: 4px;
}
.zuzhi .zuzhi-bottom .fazhanbaogao .btn-info:hover{
    background-color: #264288;
}
.m0{
    margin: 0;
}

.gongshanglian{
    height: 974px;
    overflow: auto;

}
.home{
    height:1080px;
    width: 960px;
    overflow: auto;
    background:#fff;
}
#goodsBox{
    height: 100%;
}

.huzhu{
    height:1080px;width: 960px;overflow-y: auto;overflow-x: hidden; background:#fff;position: absolute;left:210px;
        padding-bottom: 50px;
}
.goodsBox{
    height: 1080px;
    left: 315px;
    width: 960px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    background: #fff;
    /*padding-bottom: 50px;*/
}
.huzhu .huzhu-top-img{
    width: 100%;
    height: 235px;
    position: relative;
    background: url(/common/img/012.jpg) no-repeat center;
    background-size: 100%;
}
 .huzhu .huzhu-top-img .huzhu-top-img-title{
    position: absolute;
    width: 366px;
    height: 160px;
    /*background: rgba(255,255,255,.26);*/
    z-index: 222;
    left: 292px;
    top:30px;
}
 .huzhu .huzhu-top-img .huzhu-top-img-title p{
    text-align: center;
    color: #fff;
}
 .huzhu .huzhu-top-img .huzhu-top-img-title .t1{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
 .huzhu .huzhu-top-img .huzhu-top-img-title .t2{
    font-size: 24px;

}

.huzhu-top .big-title, .huzhu .huzhu-top .little-title{
    margin-top: 20px;
    margin-left: 15px;
}
.huzhu-top .big-title span{
    float: left;
    width: 90px;
    border-radius: 36px;
    font-size: 16px;
    color: #fff;
    height: 32px;
    background: #007cd3;
    line-height: 32px;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}
.huzhu .line{
    border-bottom: 1px solid #ccc;
    margin-left: 15px;
    width: 930px;
    margin-top: 20px;
    margin-bottom: 10px;
}
 .huzhu .huzhu-top .big-title #huodong-btn{
 background:#d5d5d5;
 color:#555;
 }
 .huzhu .huzhu-top .little-title span{
    float: left;
    width: 74px;
    border-radius: 36px;
    font-size: 14px;
    color: #007cd3;
    height: 24px;
    border: 1px solid #007cd3;
    line-height: 24px;
    text-align: center;
    margin-right: 20px;
}
 .huzhu .huzhu-top .little-title .title-active{
    border: 0;
    background: rgb(74, 162, 224);
    color: rgb(255, 255, 255);
}
.main-footer
{
    position: fixed;
    left: 1050px;
    top:0;
    width: 315px;
    height: 100%;
}

.main-footer .list
{
    float: left;
    padding: 0px;
    margin: 0px;
    width: 105px;
    height: 100%;
}
.main-footer .foot-item1
{
    background: url(images/index_bg1.png);
}
.main-footer .foot-item2
{
    background: url(images/index_bg2.png);
}
.main-footer .foot-item3
{
    background: url(images/index_bg3.png);
}


.slideBox{ width:100%; height:100%; overflow:hidden; position:relative; border:1px solid #ddd;  }
.slideBox .hd{ height:2em; overflow:hidden; position:absolute; right:3%; bottom:0; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left; padding: 0; margin: 0  }
.slideBox .hd ul li{ color:#59beff;float:left; margin-right:10px;  width:1.5em; height:1.5em; line-height:1.3em; text-align:center; background:#fff; cursor:pointer;list-style: none; border-radius: 50%;border:1px solid #59beff}
.slideBox .hd ul li.on{ background:#59beff; color:#fff; }
.slideBox .bd ul {padding: 0;margin:0}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; list-style: none }
.slideBox .bd img{display:block;  }


/* 本例子css */
.picScroll-left
{
    width: 809px;
    height: 148px;
    background: #e9e9eb;
    overflow: hidden;
    position: relative;
    border: 1px solid #e9e9eb;
    margin-top: 3px;
}

.picScroll-left .prev
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    z-index: 99;
    color: #fff;
    height: 150px;
    line-height: 10em;
    background:rgba(0,0,0,0.5);
}
.picScroll-left .next
{
    position: absolute;
    left: 779px;
    top: 0px;
    width: 20px;
    z-index: 99;
    color: #fff;
    background: rgba(0,0,0,0.5);
    height: 150px;
    line-height: 10em;
}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin-right: 4px; float:left; _display:inline; overflow:hidden; text-align:center; border: 1px solid #ccc; }
.picScroll-left .bd ul li .pic{ text-align:center;    padding: 5px; background: #fff; }
.picScroll-left .bd ul li .pic img{ width:93px; height:115px; display:block;  padding:2px;  }
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{ line-height:20px; background:#fff;   }
.picScroll-left .bd ul li .title a{ color: #c8c8c8   }


.project-support{


    margin: 80px auto;
    border: 1px solid #ccc;

    padding: 20px 20px 30px 20px;
}
.project-support .m0{
    margin: 0;
}
.project-support .p0{
    padding: 0;
}
.project-support .title{
    width: 100%;
    height: 40px;
    font-size: 25px;
}
.project-support .main-msg{
    text-indent: 2em;
    padding-left: 10px;
}
.project-support .images{
    width: 100%;
    height: 180px;

}
.project-support .images img{
    width: 100%;
    height: 160px;
    margin: 10px;
}
.project-support .support-pay-now{
    width: 200px;
    float: right;
}
.project-support .support-pay-now .y{
    padding-bottom: 10px;
    padding-top: 10px;
    float: right;
}
.project-support .support-pay-now .y input{
    width: 60px;
}
.project-support .support-pay-now span{
    width: 60px;
    display: inline-block;
    text-align: center;
}
#splith
{
    width: 50%;
    position: fixed;
    top: 0;
    left: 1183px;
    height: 100%;
    background-image: url('./images/dibu.jpg');
}
#splith-main
{
    width: 50%;
    position: fixed;
    top: 0;
    left: 1365px;
    height: 100%;
    background-image: url('./images/dibu.jpg');
}
#splith-main img{
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 70px;
    height: 70px
}
.carousel-indicators li{
    background: #073B6D;
    border: none;
}

.carousel-indicators .active{
    width: 10px;
    height: 10px;
    border: none;
    margin: 1px;
}
/*支持项目列表*/
.translate-box{margin: 60px 20px 60px;}
.translate-title{display: block;margin-bottom: 30px;}
.translate-list{position: relative;border: 1px solid rgb(204, 204, 204);}
.love-support-title{margin: 30px 20px 0;font-size: 17px;font-weight: bold;}
.love-support-dis{margin: 50px 20px 0;}
.love-support-money{border: 1px solid #c9c9c9;display: inline-block;width: 140px;height: 40px;margin: 30px 0 0 20px;text-align: center;line-height: 40px;font-size: 18px;cursor: pointer;}
.love-choice{border: 1px solid #ff0000;color: #ff0000;}
.love-input{display: inline-table;width: 250px;top: 11px;margin-left: 20px;}
.love-input input{height: 41px;}
.love-message{margin: 20px;}
.love-content{margin-left: 20px;width: 742px;resize: none;margin-bottom: 30px;}
.support-btn{transition: background-color 0.5s;position: absolute;bottom: 30px;right: 20px;width: 200px;height: 42px;outline: none;border: 0;background-color: #10a951;color: #fff;border-radius: 2px;font-size: 18px;}
.support-btn:hover{background-color: #118a44;}
.translate-money{margin: 30px 20px 30px;}
.translate-price{color: #ff0000;font-size: 20px;font-weight: bold;}
.translate-money span:nth-child(2){color: #666;font-size: 12px;}
.translate-certificate{margin: 0 20px 20px;font-weight: bold;}
.translate-dis{position: relative;margin-left: 20px;}
.translate-freight{margin: 0 20px 20px;}
.address-hide-list{display: none;}
.address-show-list{display: block;margin-bottom: 60px;}
.address-active .address-default{border: 1px solid #ff0000;}
.address-active span img{display: block;}
.address-active .address-default2{color: #ff0000;}
.address-list{display: inline-block;}
.address-list:not(:first-child){display: block;margin-top: 10px;margin-left: 60px;}
.address-list:last-child{display: inline-block;margin-top: 10px;margin-left: 60px;}
.address-default{position: relative;width: 140px;height: 30px;display: inline-block;vertical-align: middle;margin-left: 25px;text-align: center;line-height: 30px;}
.address-default img{position: absolute;bottom: 0;right: 0;display: none;}
.address-default2{margin: 0 55px 0 10px;}
.add-address{color: #007cd3;cursor: pointer;position: absolute;right: 20px;bottom: 5px;}
.translate-number-box{margin-left: 25px; display: inline-block;border: 1px solid #ccc;}
.translate-number-box button{border: 0;outline: none;background-color: #e9e9e9;color: #999999;width: 30px;height: 30px;}
.translate-number-box input{width: 40px;text-align: center;border: 0;}
.support-btn1{transition: background-color 0.5s;position: absolute;top: 30px;right: 20px;width: 200px;height: 42px;outline: none;border: 0;background-color: #10a951;color: #fff;border-radius: 2px;font-size: 18px;}
.support-btn1:hover{background-color: #118a44;}
.address-show-btn{top: initial;bottom: 30px;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance: none !important;}
input[type="number"]{-moz-appearance:textfield;}
.project-section .yishou {
  position: absolute;
    top: 13px;
    left:0px;
    transform: rotate(-45deg);
    color: #fff;
    background: #eb8410;
    padding: 4px 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    z-index: 999;
    min-width: 56px;
    text-align:center;
}
.project-section .yishou span.span_left{
   width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 30px solid #eb8410;
    position: absolute;
    left: -29px;
    top: 0px;

}
.project-section .yishou span.span_right{
   width: 0;
    height: 0;
    border-right: 31px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 30px solid #eb8410;
    position: absolute;
    right: -30px;
    top: 0px;

}
.page-goods-index-p-r-2 .product-price span{font-size:12px;}