*{
    margin:0;
    padding:0;
}
body{
    color: #333;
    box-sizing: border-box;
}
body::-webkit-scrollbar-thumb {
    background: #d96;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #fec;
}
ul,li{
    list-style: none;
}
/*a{*/
    /*text-decoration: none;*/
/*}*/
b{
    font-weight:normal;
}
.head{
    height:55px;
    line-height: 55px;
    padding:0 10px;
    min-width:918px;
}
.head .logo{
    display: inline-block;
    vertical-align: middle;
    width:106px;
}
.head input{
    width:424px;
    height:34px;
    line-height:34px;
    border:1px solid #b6b6b6;
    outline: none;
    padding-left:10px;
    vertical-align: middle;
}
.head div:first-child a{
    display: inline-block;
    width:100px;
    height:36px;
    line-height:36px;
    text-align: center;
    color: #fff;
    background-color: #3385ff;
    margin-left:-4px;
    vertical-align: middle;
    cursor: pointer;
}
.head div:last-child span{
    display: inline-block;
    margin:0 10px;
    font-size:12px;
    text-decoration: underline;
}
.classify{
    /*width:100%;*/
    background-color: #f8f8f8;
    height:38px;
    line-height:38px;
    padding-left:121px;
    min-width:1160px;
}
.classify ul li{
    display: inline-block;
    padding:0 10px;
    color: #666;
    font-size:14px;
    cursor: pointer;
}
.classify ul li.active{
    color: #323232;
    border-bottom:2px solid #38f;
}
.tips{
    font-size:12px;
    color: #999;
    height:42px;
    line-height:42px;
    width:538px;
    margin-left:121px;
}
.content{
    padding-left:121px;
    width:1212px;
    overflow: hidden;
}
.content>div{
    float: left;
}
.content>.right{
    float: right;
    border-left:1px solid #e1e1e1;
    width:384px;
    padding-left:40px;
    font-size:14px;
}
.content .left .column{
    width:538px;
    margin-bottom:10px;
    font-size:13px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.content .left .column>a{
    display: block;
    font-size:medium;
    margin-bottom:5px;
}
.content .left .column div img{
    display: inline-block;
    width:121px;
    height:75px;
    margin-right:10px;
}
.content .left .column div:last-child{
    overflow: hidden;
}
.content .left .column div:last-child>span{
    float: left;
    font-size:12px;
    color: #999;
}
.content .left .column div:last-child>span:last-child{
    float: right;
}
.content .left .column div p{
    display: inline-block;
    vertical-align: top;
}
.content .left .column div p label a{
    width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:13px;
    color: green;
}.content .left .column div p label span{
     font-size:13px;
     color: #666;
}
.content .left .column div p>span{
    height: 60px;
    display: inline-block;
}
.content .left .column .has-img p{
    width: 74%;
}
.content .right div{
    margin-bottom:10px;
}
.content .right div p{
    color: #ff7900;
    font-size:16px;
    margin-bottom:10px;
    padding-left:26px;
}
.content .right div ul li{
    height:30px;
    line-height: 30px;
    width:120px;
    padding-left:26px;
}
.content .right div ul li:hover,.content .right div ul li.active{
    background: #79c8ff;
    color: #fff;
}
.content .left>ul{
    margin-top:20px;
}
.content .left>ul li{
    width: 34px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e1e2e3;
    cursor: pointer;
    margin-right:9px;
    text-align: center;
    display: inline-block;
}
.content .left>ul li:first-child,.content .left>ul li:last-child{
    width:68px;
}
.content .left>ul li a{
    font-size:14px;
    text-decoration: none;
    color: rgb(0,0,238);
}
.content .left>ul li:hover{
    background: #f2f8ff;
    border: 1px solid #38f;
}
.li-active{
    border-bottom: 2px solid dodgerblue;
}
.non-btn{
    background-color: #eee;
}
.content .left>ul .selected-page,.content .left>ul .selected-page:hover{
    border:none;
    background: none;
}
.content .left>ul .selected-page a{
    color: #333;
    font-weight: bold;
}
.foot{
    background: #f5f6f5;
    border-top: 1px solid #ebebeb;
    text-align: left;
    height: 42px;
    line-height: 42px;
    margin-top: 40px;
    width:100%;
    position: fixed;
    left:0;
    bottom:0;
    font-size:12px;
    box-sizing: border-box;
    padding-left:100px;
}
.foot span{
    margin-right:20px;
}

/*loading加载样式*/
.spinner {
    margin: 100px auto 0;
    width: 150px;
    text-align: center;
}

.spinner > div {
    width: 30px;
    height: 30px;
    background-color: #79c8ff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}