<#extend#>public/coc/coc_extend.html</#extend#>
<script type="text/javascript">
    show.footer = 'no';
    show.header = 'no';
    if($app.get_query_string('from') == 'weplats') {
        show.footer = 'yes';
    }
</script>
<link rel="stylesheet" href="{{PATH_TML}}views/css/Plat.news.detail.css">

<div class="clear"></div>
<div id="read" style="background-color:#fff">
    <div class="read-title">
        <p class="title" v-html="news_detail.title"></p>
    </div>
    <div class="auth-info">
        <div class="auth-original" style="" v-if="news_detail.is_original == 1">原创</div>
        <div class="auth-date">{{news_detail.publish_time | formateString(3)}}</div>
        <div class="auth-name" style="display: none;"></div>
        <div class="auth-publisher" style="margin-right: 0.08rem;" v-html="news_detail.publisher"></div>
        <div class="auth-main">
            <a :href="'/'+channels+'/'+category.domain" style="color: #607fa6; text-decoration: none;" v-html="category.title"></a>
        </div>
    </div>
    <div id="read-art" v-html="news_detail.content"></div>
    <div id="footer_bottom" style="display: none;">
        <div class="read-org" style="">
            <a :href="news_detail.source_url">阅读原文</a>
        </div>
        <div class="read-count">阅读 <span>{{news_detail.views}}</span></div>
        <div class="read-like" @click="zan()">
            <img src="/common/img/like.png" alt="" />
            <span class="like-count">{{news_detail.praise_num}}</span>
        </div>
        <div class="read-complain">投诉</div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            news_detail: {},
            category : '',
            zan_true : '',
            plats_info: plats_info,
            channels : $app.get_router(1),
            id : $app.get_router('pop'),
        },
        mounted: function() {
            ajax.get('cms/detail/'+this.id).then((res) => {
                if (res.data && res.code === 200) {
                    this.news_detail = res.data;
                    this.category = res.data.category;
                    plats.title = res.data.category.title;
                    $app.set_title(this.news_detail.title);
                    $('#footer_bottom').show(500);

                    // 增加微信分享代码
                    var share = {
                        'title' : this.news_detail.title ,
                        'link' : all_domian + this.channels + '/' +  this.news_detail.weid,
                        'desc' : this.news_detail.summary ,
                        'imgUrl' : $app.qiniu(this.news_detail.thumb_image),
                    };
                    $wx.share(share); 
                    
                }
            });
        },
        methods: {
            zan(){
                if(is_login == 'no') {
                    mb_login();
                    return false;
                }
                ajax.post('cms/contents/praise', {"content_id": this.id}).then((res) => {
                    if (res.data && res.code === 200) {
                        this.zan_true = res.data.praise;
                        if(!this.zan_true) {
                            this.news_detail.praise_num -= 1;
                            mb_message('取消点赞');
                            return false;
                        }
                        this.news_detail.praise_num += 1;
                        mb_message('成功点赞');
                    }
                });
            }
        }
    })
</script>