<!-- <!DOCTYPE html>
<html>

    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}views/css/organize.css" />

        <script src="/common/js/jquery-3.2.1.min.js"></script> 
        <script src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
        <script src="{{PATH_CONFIG}}"></script>
        <script src="{{PATH_TML}}views/js/organize.js"></script>
    </head>

    <body>
        组织部分开始
        <ul class="list-article-ul"></ul>
        组织部分结束
    </body>

</html> -->



<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="icon" href="" id="public_icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <script charset="utf-8" type="text/javascript" src="/common/js/jquery-3.2.1.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{PATH_CONFIG}}"></script>
        <script charset="utf-8" type="text/javascript" src="{{PATH_TML}}views/js/news_detail.js" ></script>
        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <!-- <script charset="utf-8" type="text/javascript" src="{{PATH_TML}}viewsm/js/back_top.js"></script> -->

        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}views/css/news_detail.css" />

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <!-- 新闻详情开始手机端 -->
        <div class="page-content flex">
            <div id="default404"><img src="/common/img/default404.png" width="100%" alt=""></div>
            <div class="page-left">
                <!-- <div id="plat-two-back-top"><img src="/common/img/gotop.png"></div> -->
            </div>
        </div>
        <!-- 新闻详情结束 -->
    </body>

</html>