<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>
        <link rel="stylesheet" href="{{PATH_TML}}css/header.css">
        <link rel="stylesheet" href="{{PATH_TML}}css/footer.css">
        <script src="/common/public/js/app.js"></script>
        <script src="/common/iview/vue.min.js"></script>
        <!-- <script src="/common/iview/vue.js"></script> -->
        <script src="/common/iview/axios.min.js"></script>
        <script src="/common/iview/libs/util.js"></script>
        <script src="/common/iview/libs/filter.js"></script>
        <script src="/common/public/js/model/sub_ajax.js"></script>
        <script src="{{PATH_TML}}js/jquery-3.2.1.js"></script>
        <script src="{{PATH_TML}}js/nav.js"></script>
    </head>
    <body>
        <div id="header">
            <header>
                <main>
                    <div class="head-left">
                        <a href="">
                            <img :src="plats_info.logo | img_src" alt="">
                        </a>
                    </div>
                    <div class="head-middle">
                        <img src="{{PATH_TML}}image/logo_by.png" alt="">
                    </div>
                    <div class="head-right">
                        <div class="hr-top">
                            <aside v-for="(item, index) in qrcode" @mouseenter="hide(item)" @mouseleave="show(item)">
                                <span>{{item.title}}</span>
                                <div v-show="item.ok">
                                    <img :src="item.image" v-if="index==0">
                                    <img :src="item.image | href" v-else>
                                </div>
                            </aside>
                        </div>
                        <div action="" class="search search-box">
                            <input type="text" placeholder="搜索..." name="s" v-model="searchText" @keyup.enter="goSearchOpen()">
                            <input type="submit" value="搜索" name="submit" @click="goSearchOpen()">
                        </div>
                    </div>
                </main>
            </header>
            <nav>
                <main>
                    <ul class="big-nav">
                        <li><a :href="all_domian">首页</a></li>
                        <li v-for="(item, index) in channel" @mouseenter="visible(item)" @mouseleave="channel_show(item)">
                            <a :href="item.domain | href">{{item.title}}</a>
                            <ul class="nav-list" v-if="item.ok">
                                <li v-for="(value, key) in item.children"><a :href="'/'+item.old_domain+'/'+value.domain | href">{{value.title}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </main>
            </nav>
        </div>

        <div id="content_app">
            {{extend-content}}
        </div>    
            
        <footer id="footer">
            <main>
                <ul class="footer-nav">
                    <li><a :href="all_domian">首页</a></li>
                    <li v-for="(item, index) in foot_channel"><a :href="item.domain | href">{{item.title}}</a></li>
                </ul>
                <div class="fo-bo">
                    <div class="fo-bl">
                        <img src="{{PATH_TML}}image/flogo.png" alt="">
                    </div>
                    <div class="fo-bm" v-html="footer.copyright"></div>
                    <div class="fo-br">
                        <img :src="footer.code_id" alt="">
                    </div>
                </div>
            </main>
        </footer>

        <script>
            var header = new Vue({
                el: '#header',
                data: {
                    sub_aside : [],   //侧导航接口
                    sub_aside_info : {},
                    sub_rcon : [],    //右侧展示接口
                    channel_domain : $app.get_router(1), // 频道个性域名
                    cate_domain : $app.get_router(2), // 分类个性域名
                    cate_info : {}, // 分类详细信息
                    limit : 10,
                    page : ($app.get_query_string('page')) ? $app.get_query_string('page') : 1,
                    total : 0,
                    total_page : 0,
                    page_show : [],
                    searchText : '',
                    channel: [],
                    qrcode: [
                        {ok: false, title: "手机版", image: "/api//file/qrcode?margin=2&url="+window.location.href},
                        {ok: false, title: "微信", image: plats_info.wx_qrcode? plats_info.wx_qrcode : ''},
                        {ok: false, title: "微博", image: plats_info.wb_qrcode? plats_info.wx_qrcode : ''},
                    ]
                },
                mounted: function() {
                    //$app.set_title('风采页面');
                    this.$nextTick(()=>{
                        ajax.get('scms/channelAndCate').then((res)=>{
                            if(res.code == 200) {
                                var result = res.data.list;
                                result.forEach(function(value, key) {
                                    value.old_domain = value.domain;
                                    if(value.url_cate_id != null)
                                    {
                                        for(var item of value.children)
                                        {
                                            if(item.weid == value.url_cate_id)
                                            {
                                                value.domain = value.domain + '/' + item.domain;
                                            }
                                        }
                                    }
                                    value.ok = false;
                                });

                                this.channel = result;
                                footer();
                            }
                        })
                    });
                },
                methods: {
                    page_fun(index) {
                        var url = this.channel_domain +'/'+this.cate_domain + '?page=' + index;
                        $app.open_page(url);
                    },
                    visible(item) {
                        item.ok = true;
                    },
                    channel_show(item) {
                        item.ok = false;
                    },
                    hide(item) {
                        item.ok = true;
                    },
                    show(item) {
                        item.ok = false;
                    },
                    goSearchOpen: function() {
                        window.location.href = all_domian +"sub_search?q="+ this.searchText;
                    }
                }
            });
            function footer()
            {
                var footer = new Vue({
                    el: "#footer",
                    data: {
                        host        : window.location.host,
                        href        : window.location.href,
                        foot_channel: header.channel,
                        footer      : {},
                        // footer      : plats_info,
                    },
                    mounted: function() {
                        // ajax.get('scms/setting/show').then((res)=>{
                        //     if(res.code == 200) {
                        //         console.log("风采页面",res.data);
                        //     }
                        // })
                        var result = plats_info;
                        result.code_id = '/api/file/qrcode?margin=2&url=' + this.href;
                        if(!result.copyright) {
                            result.copyright = `
                            <span class="fo-son">上海市浙江商会(www.zccs.org)@2008-2012 All Rights Reserved </span>
                            <a href="" class="fo-son">沪ICP备17020763号-1</a>
                            <span class="fo-son">Email：shzjsh@yahoo.com.cn</span>
                            <div class="fo-son">
                                <span>Tel：021-50939588</span>
                                <span>Fax：021-50939388</span>
                            </div>
                            <span class="fo-son">地址：上海市浦东大道900号华辰金融大厦25楼</span>`
                        }
                        this.footer = result;
                        console.log(this.footer);
                    }
                })
            }


        </script>
    </body>
</html>