<!--
 * Created by weifeng on 2017/11/12.
-->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="icon" href="" id="public_icon" />

        <script src="/common/js/jquery-3.2.1.min.js"></script>
        <script src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
        <script src="{{PATH_CONFIG}}"></script>
        <script src="{{PATH_TML}}js/modal_login.js"></script>
        <script src="{{PATH_TML}}js/paging.js"></script>

        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}font/iconfont.css" />
        <!-- <link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/news_base.css" /> -->
        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}assets/list/special/css/special.css" />
        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/paging.css" />
        <link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/modal_login.css" />
    </head>

    <body>
        <!-- 登录部分 -->
        <div class="modal_login" id="modal_login"></div>
        <!-- 专题新闻开始 -->
        <div class="special-header">
            <div class="special-top">
                <div class="header-logo"></div>
                <ul class="special-title-list"></ul>
                <div class="soso">
                    <input type="text" name="" class="soso-input" placeholder="输入关键词" />
                    <button class="soso-submit"></button>
                </div>
            </div>
        </div>
        <div class="special-content">
            <div class="special-main-page clearfix">
                <div class="special-right">
                    <div class="special-content-info"></div>
                </div>
                <div class="special-left">
                    <div class="special-nav-info"></div>
                </div>
            </div>
            <div class="special-focus">
                <h2>专题聚焦</h2>
                <div class="special-box">
                    <div class="special-box-left"></div>
                    <div class="special-box-right">
                        <div class="special-headline"></div>
                        <div class="special-scrollable"><ul></ul></div>
                        <div class="box" id="box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special-footer">
            <footer>
                <div class="footer-nav">
                    <a href="javascript:void(0)">咨询与建议</a>
                    <a href="javascript:void(0)">站点地图</a>
                    <a href="javascript:void(0)">联系我们</a>
                </div>
                <div class="copyright">
                    <p>全球秦商大会组委会 陕西省秦商联合会 | 地址：西安市新城大院省政府院内综合楼B101 邮编：710006</p>
                    <p>办公电话：029-87298395 87298138 | 传真：029-87298138 电子邮件: sxsqslhh@163.com | 项目热线：+86-029-87298395（办公室） 项目邮箱：sxsqslhh@163.com</p>
                    <p>版权所有 陕西省秦商联合会 | 网站备案信息：<a href="javascript:void(0)" id="copy_icp"></a></p>
                </div>
                <div class="_ideConac"><img src="/common/img/default_red_copy.png" alt=""></div>
            </footer>
        </div>
        <script src="{{PATH_TML}}assets/list/special/js/special.js"></script>
    </body>
</html>