<#extend#>public/sub_extend.html</#extend#>
<link rel="stylesheet" href="{{PATH_TML}}css/list.css">
<link rel="stylesheet" href="{{PATH_TML}}css/fengcai.css">
<script src="/common/iview/iview.min.js"></script>

<div class="list1">
    <main>
        <div class="seat">
            <img src="{{PATH_TML}}image/fanhui.png" alt="">
            当前位置在：
            <a :href="all_domian">首页</a>
            > {{sub_aside_info.title}} > {{cate_info.title}}
        </div>
        <div class="main-big">
            <div class="main">
                <h2>
                    <strong>{{sub_aside_info.title}}</strong>
                    <span>{{sub_aside_info.init_type}}</span>
                </h2>
                <ul class="aside">
                    <li :class="{cenav_cur : item.domain==cate_domain}" v-for="item in sub_aside"><a :href="channel_domain+'/'+item.domain | href">{{item.title}}</a></li>
                </ul>
                <div class="company">
                    <p>电话：029-853363598</p>
                    <p>传真：029-853363598</p>
                    <p>地址：陕西省西安市高新区绿地领海大厦</p>
                </div>
            </div>
            <div class="list-big">
                <div class="title">
                    <span>{{cate_info.title}}</span>
                </div>
                <div class="fengcai" v-if="sub_rcon.length > 0">
                    <ul class="rongyu">
                        <li v-for="item in sub_rcon">
                            <a :href="channel_domain+'/'+item.weid | href">
                                <img :src="item.thumb_image | img_src(130,130)" alt="">
                            </a>
                            <div class="rongyu-left">
                                <h2>{{item.title}}</h2>
                                <p>{{item.summary| limitLen(0,50)}}</p>
                                <div class="gengduo">
                                    <a :href="channel_domain+'/'+item.weid | href">查看更多</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="fenye" v-if="total > limit">
                        <a @click="page_fun(1);" v-if="page>1" style="cursor:pointer">首页</a>
                        <a style="cursor:pointer" v-if="page>1" @click="page_fun(parseInt(page - 1));" >上一页</a>
                        <a style="cursor:pointer" :class="{'pageT' : page == index}" v-for="index in page_show" @click="page_fun(index);" >{{index}}</a>
                        <a v-if="page<total_page" style="cursor:pointer" @click="page_fun(parseInt(page) + 1);" >下一页</a>
                        <a v-if="page<total_page" style="cursor:pointer" @click="page_fun(total_page);" >尾页</a>
                    </div>
                </div>
                <div class="null-block" v-if="sub_rcon.length <= 0">
                       最近没有新鲜事，去其他地方逛逛吧！
                </div>
            </div>
        </div>
    </main>
</div>

<script>
var app = new Vue({
    el: '#content_app',
    data: {
        sub_aside : [],   //侧导航接口
        sub_aside_info : {},
        sub_rcon : [],    //右侧展示接口
        channel_domain : $app.get_router(1), // 频道个性域名
        cate_domain : $app.get_router(2), // 分类个性域名
        cate_info : {}, // 分类详细信息
        limit : 10,
        page : ($app.get_query_string('page')) ? $app.get_query_string('page') : 1,
        total : 0,
        total_page : 0,
        page_show : []
    },
    mounted: function() {
        //$app.set_title('风采页面');
        this.$nextTick(()=>{
            //左侧频道相关
            $sub_ajax.cate(this.channel_domain,(res)=>{
                this.sub_aside_info = res.data;
                $sub_ajax.cate_tree({channel : this.sub_aside_info.weid} , (res)=>{
                    this.sub_aside = res.data;
                    for(var item of this.sub_aside)
                    {
                        if(item.domain == this.cate_domain)
                        {
                            this.cate_info = item;
                            $app.set_title(this.sub_aside_info.title + '-' + item.title);
                            break;
                        }
                    }
                });
            });

            // 右侧新闻中心
            $sub_ajax.cms_content({cate_id : this.cate_domain , limit : this.limit , page : this.page} , (res)=>{
                this.sub_rcon = res.data.list;
                this.total = res.data.total;
                //this.total = 100;
                this.total_page = Math.ceil(this.total / this.limit);
                //this.page_show = (this.total_page - this.page > 6 ) ? 6 : this.total_page ;
                var left = ( (this.page -3) > 0 ) ? this.page -3 : 1;
                var right = ( (this.page + 3) < this.total_page ) ? this.page + 3 : this.total_page;

                for (var i = left; i < right + 1 ; i++) {
                    this.page_show.push(i);
                }
            });
            
        });
    },
    methods: {
        page_fun(index) {
            var url = this.channel_domain +'/'+this.cate_domain + '?page=' + index;
            $app.open_page(url);
        }
    }
});
</script>