body {background-color: #fff;}
.iconfont {font-size: 15px;margin-right: 5px;}
img {width: 100%;}
/*底部信息*/
.vote-footer-box {color: #666;text-align: center;background-color: #F5F5F5;padding: 20px 0;}
.vote-footer-link {margin-top: 10px;}
.vote-footer-link a {color: #666;}
/*登录弹框*/
.modal .modal-dialog{margin-top: 50%;width: 80%;margin-left: 10%;}
.modal .input-w{height: 206px;border-radius: 6px;display: block;width: initial;margin-top: initial;margin-left: initial;position: initial;}
.modal .input1{margin-top: 30px;height: 40px;border: none;border-radius: 4px;padding-left: 8px;margin-bottom: 0;}
.modal .input2{width: 52%;height: 40px;border: none;border-radius: 4px;padding-left: 8px;margin-bottom: 0;}
.modal .input3{height:39px;background-color: #ff605d;color: #fff;font-size: 14px;width: 44%;margin-top: 10px;}
/*操作栏*/
.home{position: fixed;bottom: 120px;right: 0;background-color: #ec5f38;color: #fff;height: 40px;width: 40px;text-align: center;border-radius: 2px;padding-top: 4px;}
.home a{color: #fff;}
.home span{display: block;font-size:12px;}
.paiming{position: fixed;bottom: 75px;right: 0;background-color: #F7B824;color: #fff;height: 40px;width: 40px;text-align: center;border-radius: 2px;padding-top: 4px;}
.paiming a{color: #fff;}
.paiming span{display: block;font-size:12px;}
.guize{position: fixed;bottom: 30px;right: 0;background-color: #24b5f7;color: #fff;height: 40px;width: 40px;text-align: center;border-radius: 2px;padding-top: 4px;}
.guize a{color: #fff;}
.guize span{display: block;font-size:12px;}
.lheight{line-height:24px;}
/*点击查看全文*/
#click{display: block;text-align: center;margin-top: 10px;}
/*广告位*/
.ad-box{padding: 0 10px;margin-top: 30px;}
.ad-img{margin-bottom: 5px;}
/*加载更多*/
.layui-flow-more {margin-top: 40px;width: 100%;display: inline-block;}