/*标题*/
.vote-title{margin: 10px 10px 20px;font-size: 16px;color: #333;}
.vote-statistics{text-align: center;background-color: #e60000;margin: 0 10px;border-radius: 5px;color: #fff;padding: 7px 0;font-size: 12px;}
.vote-statistics-1{display: block;}
.vote-statistics-2{display: block;margin-top: 5px;}
.vote-statistics-border{border-left: 1px solid;border-right: 1px solid;}
.condition-1{margin: 25px 20px 0;}
.condition-2{margin-top: 10px;}
.condition-3{margin-top: 10px;}
.condition-3 p{color: #333;}
.search-1{margin: 20px 10px 5px;}
.search-2{padding-right: 10px;}
.search-2 input{margin-bottom: 0;height: 30px;line-height: 30px;}
.search-3{height: 30px;padding: 0 15px;background-color: #e60000;}
.search-3:active{background-color: #ec7063;}
.search-3 i{font-size: 14px;}
/*投票规则*/
.vote-box{margin: 0 10px;}
.rule-title{color: #e60000;border-bottom: 2px solid #e60000;padding-bottom: 5px;margin-bottom: 10px;}