/*标题*/
.vote-title {margin: 10px 10px 20px;font-size: 16px;color: #333;}
.vote-statistics {text-align: center;background-color: #e60000;margin: 0 10px;border-radius: 5px;color: #fff;padding: 7px 0;font-size: 12px;}
.vote-statistics-1 {display: block;}
.vote-statistics-2 {display: block;margin-top: 5px;}
.vote-statistics-border {border-left: 1px solid;border-right: 1px solid;}
.condition-1 {margin: 25px 10px 0;}
.condition-2 {margin-top: 10px;}
.condition-2 a{color: #337ab7;}
.condition-3 {display: none;margin-top: 10px;}
.condition-3 a{color: #337ab7;}
.icon-downarrow{font-weight: bold;color: #e60000;cursor: pointer;}
.icon-toparrow{font-weight: bold;color: #e60000;cursor: pointer;}
.search-1 {margin: 20px 10px 5px;}
.search-2 {padding-right: 10px;}
.search-2 input {margin-bottom: 0;height: 30px;line-height: 30px;}
.search-3 {height: 30px;padding: 0 15px;background-color: #e60000;}
.search-3:active {background-color: #ec7063;}
.search-3 i {font-size: 14px;}
/*投票列表*/
.vote-box {margin: 0 10px;}
.vote-list:nth-child(2n+1) {padding-right: 5px;margin-top: 15px;}
.vote-list:nth-child(2n) {padding-right: 5px;margin-top: 15px;}
.vote-list-bgc {background-color: #ececec;}
@media screen and (max-width: 320px) {
    .vote-list-bgc img {height: 98px;}
}
@media screen and (max-width: 375px) and (min-width: 321px) {
    .vote-list-bgc img {height: 117px;}
}
@media screen and (max-width: 414px) and (min-width: 376px) {
    .vote-list-bgc img {height: 130px;}
}
.vote-list-title {padding: 10px 10px 0;color: #333;height: 48px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.vote-list-btn {text-align: center;margin-top: 10px;padding: 0 10px;}
.vote-list-btn button {width: 100%;color: #fff;padding: 3px 0;background-color: #e60000;}
.vote-list-btn button:hover{background-color: #c70202;}
.vote-list-btn a {width: 85%;color: #fff;padding: 3px 0;background-color: #e60000;display: block;margin: 0 auto;border-radius: 3px;}
.vote-list-btn button:active {background-color: #ec7063;}
.vote-list-btn a:active {background-color: #ec7063;}
.vote-list-btn button i {font-size: 14px;}
.vote-list-btn a i {font-size: 14px;}
.vote-list-num {text-align: center;padding: 10px;color: #333;}