.about{
    width: 100%;
    height: auto;
    background: #fff;
    position: absolute;
    top: 0;
    bottom:0;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
.header{
    width: 100%;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
}
.back{
    width: 0.2rem;
    height: 100%;
    background-image: url("/common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    float: left;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.header h3{
    font-size: 0.2rem;
    line-height: 0.44rem;
    color:#000;
    font-weight: 500;
    text-align: center;
    padding-right: 0.4rem;
}
.ico{
    width: 100%;
    height:1.8rem;
    padding-top: 0.3rem;
}
.ico-son{
    width: 1.4rem;
    height: 1.4rem;
    border: 0.01rem solid #EDEDED;
    border-radius: 0.05rem;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-list{
    width: 100%;
    height: auto;
    border-top: 1px solid #EDEDED;
}
.about-list p{
    padding: 0.1rem 0.12rem;
    height: auto;
    line-height: 0.25rem;
    font-size: 0.18rem;
    color: #2F2F2F;
}
