.content{
    width: 100%;
    height: auto;
    background: #fff;
}
.head{
    width: 100%;
    height: 0.44rem;
    display: block;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
    margin-bottom: 0.1rem;
    position: relative;
}
.back{
    width: 0.2rem;
    height: 100%;
    background-image: url("/common/img/2018-01-03_182646.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    float: left;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.sousuo{
    width:80%;
    height: 0.3rem;
    border: 0.01rem solid #EDEDED;
    outline: none;
    padding-left: 0.12rem;
    float: right;
    display: block;
    border-radius: 0.5rem;
    margin-top: 0.07rem;
    margin-right: 0.12rem;
    font-size: 0.12rem;
    background: #EAEAEA;
}
.cont-list{
    padding: 0 0.12rem;
    background: #fff;
}
.content li{
    padding: 0.1rem 0;
    height:auto;
    border-bottom: 0.01rem solid #DDDDDD;
    position: relative;
}
.content li:last-of-type{
    border-bottom: none;
}
.cont-left{
    width:70%;
    height:auto;
}
.time{
    width: 100%;
    height: auto;
    color: #a1a1a1;
    font-size: 0.12rem;
    line-height: 0.22rem;
}
.cont-left h4{
    width: 100%;
    height:auto;
    font-size: 0.15rem;
    font-weight: 600;
    margin: 0.03rem 0;
    color: #000;
    line-height: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cont-left p{
    width: 100%;
    height:0.38rem;
    overflow: hidden;
    font-size: 0.13rem;
    color:#333;
    line-height: 0.2rem;

}
.operate{
    width: 100%;
    height: 0.15rem;
}
.operate span{
    width: auto;
    float: left;
    color: #a1a1a1;
    font-size: 0.12rem;
    line-height: 0.22rem;
}
.cont-right{
    width: 0.8rem;
    height:0.8rem;
    border-radius: 0.03rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.4rem;
}
.cont-right img{
    width: 100%;
    height: 100%;
    border-radius: 0.03rem;
    display: block;
}
.cont-end{
    width: 100%;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.1rem;
    color: #000000;
}