*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eeeeee;
	font-size: 0.14rem;
}

.art-temp1,.art-temp2{
	padding: 0.12rem 0.1rem;
	border-bottom: 0.01rem solid #e6e6e6;
	display: table;
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
}
.art-left{
	display: table-cell;
	vertical-align: top;
}
.art-left span{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 0.18rem;
	/*background: url("/common/img/slice.jpg") no-repeat center center;*/
	/*background-size: cover;*/
	margin-right: 0.22rem;
}
.art-right{
	display: table-cell;
	padding-top: 0.1rem;
}
.art-right .art-title{
	color: #6d82c0;
	margin: 0.1rem 0;
}
.art-right p{
	width: 2.46rem;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	margin-top: 0.12rem;
	margin-bottom: 0.1rem;
}
.art-temp1 .art-right .art-content{
	height: 0.8rem;
	background-color: #f0f0f0;
	margin-bottom: 0.13rem;
	display: table;
	padding:0.05rem;
	width: 2.9rem;
	box-sizing: border-box;
}
.art-content span{
	display: table-cell;
	vertical-align: middle;
}
.art-content span:first-child{
	width: 0.8rem;
	/*background: url('/common/img/vote_front_cover.png') no-repeat center center;*/
	background-size: cover;
}
.art-content img{
	/*width: 0.8rem;*/
	height: 0.7rem;
	background-size: cover;
	display: block;
}
.art-content span:last-child{
	font-size: 0.12rem;
	padding: 0 0.1rem;
	display: inline-block;
}
.art-content span:last-child strong{
	font-size:0.14rem;
	color: #4c4c4c;
}
.art-content span:last-child pre{
	white-space: pre-wrap;
	margin-top:0.08rem;
	font-size:0.12rem;
	color: #666666;
}
.art-other{
	overflow: hidden;
	width: 2.94rem;
}
.art-other span{
	float: left;
	color: #999999;
	font-size: 0.12rem;
}
.art-other span:last-child{
	float: right;
	width: 0.16rem;
	height: 0.18rem;
	background-image: url("/common/img/review.svg");
	margin-top: 0.02rem;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.art-temp2 .art-right .art-content{
	width: 2.52rem;
	margin-bottom: 0.13rem;
	overflow: hidden;
}

.art-temp2 .art-content img{
	display: block;
	width: 0.8rem;
	height: 0.78rem;
	float: left;
	margin-right: 0.04rem;
	margin-bottom: 0.04rem;
}