#title, #login {
    position: fixed;
    width: 100%;
    height: 0.44rem;
    top: 0;
    font-size: 0.16rem;
    color: #4d4d4d;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

#login {
    border-bottom: none!important;
    background: #ffffff;
}

#login-title {
    display: flex;
    justify-content: space-around;
}

#login-title img {
    margin-top: 0.8rem;
}

#login-info {
    /*margin: 0.45rem 0.275rem;*/
    margin: 0.15rem 0.275rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-info-1 {
    margin: 0.1rem 0.275rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-bt {
    position: relative;
    width: 3.2rem;
    height: 0.44rem;
    margin-top: 0.32rem;
    font-size: 0.17rem;
    color: white;
    border-radius: 0.05rem;
    background: #25c3fe;
    line-height: 0.44rem;
    text-align: center;
}

#login-info ul {
    width: 100%;
    /*margin-top: 0.4rem;*/
 }

#login-info-1 ul {
    width: 100%;
    margin-top: 0.4rem;
}

#phonenum, #checknum, #forget {
    position: relative;
    width: 100%;
    height: 0.49rem;
    border-bottom: 1px solid #eeeeee;
    /*font-size: 0.14rem;*/
    color: #25c3fe;
    display: flex;
    align-items: center;
}

#phonenum-1, #checknum-1, #forget {
    position: relative;
    width: 100%;
    height: 0.49rem;
    border-bottom: 1px solid #eeeeee;
    font-size: 0.15rem;
    color: #25c3fe;
    display: flex;
    align-items: center;
}

#phonenum img {
    width: 0.12rem;
    transform: rotate(180deg);
}

#checknum {
    justify-content: space-between;
}

#phonenum-1 img {
    width: 0.12rem;
    transform: rotate(180deg);
}

#checknum-1 {
    justify-content: space-between;
}

#forget {
    border: none;
    font-size: 0.12rem;
    color: #999999;
    justify-content: space-between;
}

#phonenum input {
    margin-left: 0.225rem;
    border: none;
    outline: none;
    color: #999999;
}

#checknum input {
    border: none;
    outline: none;
    color: #999999;
}

#phonenum-1 input {
    margin-left: 0.225rem;
    border: none;
    outline: none;
    color: #999999;
    font-size: 0.15rem;
}

#checknum-1 input {
    border: none;
    outline: none;
    color: #999999;
    font-size: 0.15rem;
}

#goback {
    width: 0.11rem;
    height: 0.17rem;
    margin-left: 0.18rem;
    margin-top: 0.02rem;
}

/*#user {
    margin-right: 0.18rem;
}*/

.act-content {
    display: flex;
    background: #ffffff;
    padding: 0.15rem 0 0.15rem 0.05rem;
    padding-left: 0.12rem;
    margin-right: 0;
    border-bottom: 1px solid #e6e6e6;
}

.act-cont {
    width: auto;
    font-size: 0.13rem;
}

.art-content {
    display: flex;
    padding: 0.15rem 0.1rem 0.15rem 0.12rem;
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
}

.act-cont-time, .act-cont-info {
    font-size: 0.12rem;
}

.art-content img {
    width: 1rem;
    height: 0.625rem;
    display: block;
    margin-top:0.05rem;
}
.art-content span:first-child{
    width: 1rem;
}
.art-content span:last-child {
    font-size: 0.14rem;
}
.art-content span:last-child pre{
    color: #999999;
}
.art-content span:last-child strong{
    color: #4d4d4d;   
}
#container {
    padding-top: 0!important;
    /*background: white;*/
}

#carousel {
    width: 100%;
    /*height: 1.5rem;*/
    /*margin-top: 0.4rem;*/
    display: flex;
}

.swiper-slide img {
    width: 3.75rem;
    height: 1.9rem;
    display: block;
}

#art-type, #art-rcmd {
    margin-bottom: 0.1rem;
    background: #fafafa;
    /*background: linear-gradient(#ffffff, #eeeeee);*/
}
#art-type ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.125rem 0.35rem;
}

#art-type ul li img {
    /*border-radius: 0.45rem;*/
    /*border: 1px solid #e6e6e6;*/
    width: 0.3rem;
    height: 0.3rem;
    display: block;
}

#art-type ul li p {
    font-size: 0.12rem;
    color: #333333;
    padding: 0.06rem 0 0 0.035rem;
}

#art-rcmd ul {
    display: flex;
    /*background: white;*/
    margin-bottom: 0.05rem;
    /*padding: 0.03rem;*/
}

#art-rcmd ul li {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.05rem;
    font-size: 0.14rem;
    color: white;
}

#art-rcmd ul li p {
    padding-left: 0.05rem;
}

#art-rcmd ul li:nth-child(1) {
    /*background: #ffa383;*/
    /*margin-right: 0.05rem;*/
}

#art-rcmd ul li:nth-child(2) {
    /*background: #44d0cd;*/
}

#art-rcmd ul li img{
    display: block;
    width: 1.74rem;
    height: 0.6rem;
}

.latest {
    height: 0.4rem;
    background: #ffffff;
    align-items: center;
    display: flex;
    font-size: 0.15rem;
    color: #333333;
    border-bottom: #d2d2d2;
    margin-bottom: 0.01rem;
    padding-left: 0.12rem;
}

/**
 * Created by weifeng on 2017/11/15.
 */

.my_container > .lii_sold { padding: 0.15rem 0.05rem 0.15rem 0.12rem; border-bottom: 1px solid #eee; background-color: #fff; }
.my_container > .lii_sold > a { display: flex; color: #333; }
.my_container > .lii_sold > a > slide.li_img_wap { display: inline-flex; align-items: center; }
.my_container > .lii_sold > a > slide.li_img_wap > img { width: 1rem; height: 0.625rem; margin: 0 0.10rem 0 0; background-color: #fff; }
.my_container > .lii_sold > a > slide.li_info { overflow: hidden; }
.my_container > .lii_sold > a > slide.li_info > h3 { height: 0.16rem; max-height: 0.32rem; padding: 0.025rem 0.05rem 0.025rem 0; font-size: 0.13rem; font-weight: unset;color: #4d4d4d; overflow-y: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
.my_container > .lii_sold > a > slide.li_info > .lii_price { font-size: 0.15rem; color: #f63434; margin-top: 0.04rem; }
.my_container > .lii_sold > a > slide.li_info > .lii_sold1 { font-size: 0.12rem;  color: #999999; }
.my_container > .lii_sold span { padding-right: 0.1rem; }
/*.section > slide > slide.li_info > .lii_sold { padding: 0.1rem 0; background-color: #eee; width: 2.88rem; }
.section > slide > slide.li_info > .lii_sold > a { display: flex; color: #333; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_img_wap { display: inline-flex; align-items: center; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_img_wap > img { width: 0.48rem; height: 0.48rem; border: 1px solid #eee; margin: 0 0.05rem 0 0.10rem; background-color: #fff; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info { overflow: hidden; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > h3 { height: 0.16rem; max-height: 0.32rem; padding-right: 0.05rem; color: #4d4d4d; font-size: 0.12rem; font-weight: unset; overflow-y: hidden; white-space: nowrap; text-overflow: ellipsis; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > .lii_price { font-size: 0.15rem; color: #f63434; }
.section > slide > slide.li_info > .lii_sold > a > slide.li_info > .lii_sold1 { font-size: 0.12rem; color: #999999; }
.section > slide > slide.li_info > .lii_sold span { padding-right: 0.1rem; }
.section > slide > slide.li_info > .lii_eval { display: flex; justify-content: space-between; align-items: center; padding: 0.10rem 0.15rem 0.05rem 0; color: #9b9b9b; }*/
