.content{
    width: 100%;
    height: auto;
    background: #fff;
}
.iconfont{
    font-size: 0.15rem;
    color: #B7B7BF;
}
form{
    width: 100%;
    height: 0.44rem;
    display: block;
    border-bottom: 0.01rem solid #EDEDED;
    background: #fff;
    margin-bottom: 0.1rem;
    position: relative;
}
.back{
    width: 0.2rem;
    height: 100%;
    float: left;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}
.icon-fanhui{
    text-align:left;
    line-height:0.44rem;
    font-weight: 600;
}
.sousuo{
    width:80%;
    height: 0.3rem;
    border: 0.01rem solid #EDEDED;
    outline: none;
    padding-left: 0.12rem;
    float: right;
    display: block;
    border-radius: 0.5rem;
    margin-top: 0.07rem;
    margin-right: 0.12rem;
    font-size: 0.12rem;
    background: #EAEAEA;
}
.s-sub{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 0.07rem;
    right: 0.12rem;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: url("../common/img/find.png") no-repeat 0.05rem 0.1rem;
}
.cont-list{
    padding: 0 0.12rem;
    background: #fff;
}
.content li{
    padding: 0.1rem 0;
    height:auto;
    border-bottom: 0.01rem solid #DDDDDD;
    position: relative;
}
.content li:last-of-type{
    border-bottom: none;
}
.cont-left{
    width:82%;
    height:auto;
}
.time{
    width: 100%;
    height: auto;
    color: #B4B4B4;
    font-size: 0.06rem;
}
.cont-left h4{
    width: 100%;
    height: auto;
    font-size: 0.13rem;
    font-weight: 500;
    margin: 0.03rem 0;
    color: #2F2F2F;
}
.operate{
    width: 100%;
    height: 0.15rem;
}
.operate span{
    width: auto;
    float: left;
    color: #B4B4B4;
    font-size: 0.06rem;
}
.cont-right{
    width: 0.5rem;
    height:0.5rem;
    border-radius: 0.03rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.25rem;
}
.cont-right img{
    width: 100%;
    height: 100%;
    border-radius: 0.03rem;
    display: block;
}
.cont-end{
    width: 100%;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.1rem;
    color: #000000;
}