html{
    font-size:26.66vw;
}
*{
    margin:0;
    padding:0;
}
body{
    font-size:0.14rem;
    background-color: #e8e8ed;
    min-height: 100%;
}
[v-cloak] {
    display:none;
}
body::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
header{
    width:100%;
    height:0.45rem;
    line-height:0.45rem;
    background: linear-gradient(180deg,#fff,#efefef);
    text-align: center;
    position: fixed;
    z-index: 99;
}
header a{
    display: inline-block;
    width:0.42rem;
    height:0.45rem;
    position: absolute;
    left:0;
    top:0;
}
header a:after{
    content: '';
    display: block;
    width:0.12rem;
    height:0.12rem;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top:50%;
    left:0.18rem;
    margin-top:-0.06rem;
}
header span{
    font-size:0.16rem;
    color: #333;
}
section {
    position: relative;
    top: 0.45rem;
    z-index: 80;
    background-color: #fff;
    padding: 0.1rem;
}

.distri-container{
    background: #fff;
    padding: 0 0.1rem 0 0.2rem;
    margin: 0.15rem 0;
    color: #999;
    font-size: 0.12rem;
    position: relative;
}

.disList:not(:last-child)::before {
    position: absolute;
    content: "";
    left: -0.15rem;
    top: 0.2rem;
    width: 1px;
    height: 100%;
    background-color: #3985ff;
    background: linear-gradient(#3985ff, #87b4fb, #c9deff);
}

.distri-container > div{
    padding: 0.05rem 0;
}
.distri-container > div > aside{
}
.distri-container > div:first-child > aside{
    color: orange;
    font-size: 0.1rem;
}
.distri-container > div > aside:first-child{
    min-width: 0.75rem;
    margin-right:0.1rem;
    color: #333;
    font-size:0.12rem;
}
.distri-container > div > aside:last-child{
    min-width: 2rem;
    font-size: 0.1rem;
}
.tips{
    text-align: center;
}

.bution_box {
    display: flex;
    justify-content: flex-start;
    padding: 0.1rem;
    margin: 0 -0.1rem;
    border-bottom: 1px solid #e5e5e5;
}

.bution_box .bution {
    flex: 1;
}

.bution_box .bution_num {
    flex: 4;
}

.shop_box_list {
    padding: 0.1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.12rem;
    border-bottom: 1px solid #e5e5e5;
}

.shop_box_list > li {
    width: 50%;
    min-height: 1.2rem;
    height: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shop_box_list > li:hover {
    background-color: #e5e5e5;
    box-shadow: inset 0px 0px 6px 1px #e5e5e5;
}

.shop_box_list > li > img {
    width: 90%;
    height: 70%;
}

.shop_box_list > li > div {
    padding: 0.05rem 0;
}

.disList {
    position: relative;
}

.disList > i {
    position: absolute;
    z-index: 1;
    content: "";
    left: -0.2rem;
    top: 0.13rem;
    display: block;
    width: 0.08rem;
    height: 0.08rem;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #3985ff;
}

.disList > i::after {
    position: absolute;
    top: 0.01rem;
    left: 0.01rem;
    content: "";
    width: 0.06rem;
    height: 0.06rem;
    background: #3985ff;
    border-radius: 6px;
    z-index: 1;
}

.disList_orange > i {
    border: 1px solid #fb8a00;
}

.disList_orange > i::after {
    background-color: #fb8a00;
}

.disList_orange > aside:first-child {
    color: #e4393c!important;
}

.disList_orange::before {
    background-color: #fb8a00!important;
    background: linear-gradient(#fb8a01, #ffc681, #fff7ed)!important;
}