body,ul,li{
    margin:0;
    padding: 0;
    font-size:0.14rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ticket-content{
    padding:20px;
}
.toolbar{
    width:100%;
    height:8px;
    background-color: deepskyblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
.info{
    margin:0 6px;
    margin-top:-3px;
}
.info>.qr,.info>.des,.info>ul{
    background: url('/common/img/ticket-logo.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.qr{
    background-color: #fff;
    padding:20px 0;
    -webkit-border-radius: 0 0 16px 16px;
    -moz-border-radius: 0 0 16px 16px;
    border-radius: 0 0 16px 16px;
    text-align: center;
}
.qr div{
    display: inline-block;
    width:120px;
    height:120px;
    margin 0 auto;
    background: gray;
    margin-bottom:10px;
}
.des{
    padding:0 20px;
    background-color: #fff;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    border-radius: 16px 16px 0 0;
}
.des h3{
    font-size:16px;
    padding-top:20px;
    font-weight:normal;
    border-top:1px dashed #dbdbdb;
}
.des p{
    font-size:12px;
    color: #a1a1a1;
}
.des>p.time{
    margin:10px 0;
}
.des>p.time+p{
    padding-bottom:20px;
    border-bottom:1px solid #ececec;
}
.info ul{
    padding:20px;
    background-color: #fff;
}
.info ul li{
    font-size:14px;
    padding:5px 0;
}
.info ul li i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain !important;
    vertical-align: middle;
    margin-right: 8px;
}