body,ul,li{
    margin:0;
    padding: 0;
    font-size:0.14rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ticket-content{
    padding:0.2rem;
}
.toolbar{
    width:100%;
    height:0.08rem;
    background-color: deepskyblue;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;

}
.info{
    margin:0 0.06rem;
    margin-top:-0.03rem;
}
.info>.qr,.info>.des,.info>ul{
    background: url('/common/img/ticket-logo.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.qr{
    background-color: #fff;
    padding:0.2rem 0;
    -webkit-border-radius: 0 0 0.16rem 0.16rem;
    -moz-border-radius: 0 0 0.16rem 0.16rem;
    border-radius: 0 0 0.16rem 0.16rem;
    text-align: center;
}
.qr div{
    display: inline-block;
    width:1.2rem;
    height:1.2rem;
    margin: 0 auto;
    background: gray;
    margin-bottom:0.1rem;
}
.des{
    padding:0 0.2rem;
    background-color: #fff;
    -webkit-border-radius: 0.16rem 0.16rem 0 0;
    -moz-border-radius: 0.16rem 0.16rem 0 0;
    border-radius: 0.16rem 0.16rem 0 0;
}
.des h3{
    font-size:0.16rem;
    padding-top:0.2rem;
    font-weight:normal;
    border-top:1px dashed #dbdbdb;
}
.des p{
    font-size:0.12rem;
    color: #a1a1a1;
}
.des>p.time{
    margin:0.1rem 0;
}
.des>p.time+p{
    padding-bottom:0.2rem;
    border-bottom:1px solid #ececec;
}
.info ul{
    padding:0.2rem;
    background-color: #fff;
}
.info ul li{
    font-size:0.14rem;
    padding:0.05rem 0;
}
.info ul li i{
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    background-size: contain !important;
    vertical-align: middle;
    margin-right: 0.08rem;
}