html{
    font-size:26.66vw;
}
*{
    margin:0;
    padding:0;
}
body{
    font-size:0.14rem;
    background-color: #e8e8ed;
}
[v-cloak] {
    display:none;
}
body::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
header{
    width:100%;
    height:0.45rem;
    line-height:0.45rem;
    background: linear-gradient(180deg,#fff,#efefef);
    text-align: center;
    position: fixed;
}
header a{
    display: inline-block;
    width:0.42rem;
    height:0.45rem;
    position: absolute;
    left:0;
    top:0;
}
header a:after{
    content: '';
    display: block;
    width:0.12rem;
    height:0.12rem;
    border-top:1px solid #848689;
    border-left:1px solid #848689;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top:50%;
    left:0.18rem;
    margin-top:-0.06rem;
}
header span{
    font-size:0.16rem;
    color: #333;
}
.comment-container{
    padding-top:0.45rem;
}
.comment-container>div{
    background: #fff;
    margin-bottom:0.1rem;
    padding:0 0.1rem 0.1rem;
}
.good{
    padding:0.1rem 0;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
}
.good img{
    display: inline-block;
    width:0.4rem;
    height:0.4rem;
    vertical-align: middle;
    margin-right:0.1rem;
}
.good span{
    display: inline-block;
    vertical-align: middle;
}
.good .star{
    height:0.12rem;
    width:0.14rem;
    background: url("../img/comment-star.png") repeat-x 0 0;
    -webkit-background-size: 0.15rem 0.22rem;
    background-size: 0.15rem 0.22rem;
}
.good .not-red{
    background-position: 0 -0.1rem;
}
textarea{
    width:100%;
    height:1rem;
    outline:none;
    padding-top:0.1rem;
    margin-bottom: 0.1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    resize: none;
}
.comment-container>.commit-btn{
    padding:0.1rem;
    margin-bottom:0;
    text-align: right;
    color: orange;
}

/*----*/

.hide {
    display: none!important;
}

#imglabel {
    display: flex;
    flex-wrap: wrap;
}

.imgmore {
    width: 66px;
    height: 66px;
    box-shadow: inset 0px 0px 0px 1px #ccc;
    margin: 0px 5.5px 5.5px 0;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.more {
    background: url(/common/img/img-1.png) no-repeat center center;
    background-size: 90%;    
}

.imgmore img {
    width: 90%;
    height: 90%;
}

.imgmore:nth-child(5n) {
    margin-right: 0;
}

.img-val {
    width: 66px;
    height: 66px;
    opacity: 0;
}

/*----*/

.demo-upload-list{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-right: 4px;
}
.demo-upload-list img{
    width: 100%;
    height: 100%;
}
.demo-upload-list-cover{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}
.demo-upload-list:hover .demo-upload-list-cover{
    display: block;
}
.demo-upload-list-cover i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}