.mes ul{
    background: #fff;
}
.mes ul li{
    /*height:0.5rem;*/
    display: table;
    width:100%;
    line-height: 0.5rem;
}
.mes ul li span,.mes ul li .me-right{
    display: table-cell;
    vertical-align: middle;
}
.mes ul li span{
    width:100%;
    overflow: hidden;
}
.mes ul li span a{
    font-size:0.14rem;
    color: #333333;
    width:84%;
    border-bottom: 1px solid #D2D2D2;
}
.mes ul li:last-child>span>a{
    border:none;
}
.mes ul li span i,.mes ul li span a{
    float: left;
    display: inline-block;
}
.mes ul li span i{
    width:0.35rem;
    height:0.35rem;
    -webkit-border-radius: 0.17rem;
    -moz-border-radius: 0.17rem;
    border-radius: 0.17rem;
    margin:0 0.12rem;
    margin-top:0.08rem;
    background:  no-repeat center center;
    -webkit-background-size: 50%;
    background-size: 50%;
}
.mes ul li .me-right{
    width:0.14rem;
    height:0.2rem;
    margin-top:0.14rem;
}