/**
 * Created by weifeng on 2017/11/12.
 */

@charset "utf-8";

a { display: inline-block; }
.mall { width: 100%; background-color: #f2f2f2; margin-bottom: 0.5rem; }
.menu { height: 0.41rem; margin-bottom: 0.03rem; background-color: #fff; border-bottom: 1px solid #eee; font-size: 0.13rem; right: auto; overflow-x: scroll; overflow-y: hidden; -webkit-overflow-scrolling: touch; z-index: 1;  }
.menu > ul { height: 0.4rem; display: inline-flex; }
.menu > ul > li { height: 0.4rem; min-width: 0.62rem; font-size: 0.12rem; line-height: 0.4rem; text-align: center; border-right: 1px solid #f3f1f1; }
.menu > ul > li:last-child { border-right: none; }

.shop { font-size: 0.14rem; color: #333; }
.shop > ul > a { width: 100%; background-color: #fff; height: 1rem; border-bottom: 1px solid #f2f2f2; }
.shop > ul > a > div { display: flex; color: #333; height: 1rem; }
.shop > ul > a > div > slide.li_img_wap {  }
.shop > ul > a > div > slide.li_img_wap > img { width: 0.8rem; height: 0.8rem; padding: 0.1rem; }
.shop > ul > a > div > slide.li_info { flex: 1; font-size: 0.12rem; padding: 0 0.10rem; }
.shop > ul > a > div > slide.li_info > h3 { font-size: 0.12rem; font-weight: 400; padding-top: 0.1rem; margin-bottom: 0.04rem; overflow-y: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.shop > ul > a > div > slide.li_info > .lii_price { color: #f00; }
.shop > ul > a > div > slide.li_info > .lii_sold { padding-top: 0.05rem; padding-left: 0; border-bottom: none; }
.shop > ul > a > div > slide.li_info > .lii_sold span { padding-right: 0.1rem; }

/**
 * Created by public on 2017/11/16.
 */

#carousel { width: 100%; height: 1.9rem; margin-top: 0.45rem; display: flex; }
.swiper-slide img { width: 100%; height: 1.9rem; display: block; }
#art-type { margin-bottom: 0.1rem; background: white; display: none; }
#art-type ul { display: flex; justify-content: space-between; align-items: center; padding: 0.12rem 0.2rem; }
#art-type ul li img { border-radius: 0.45rem; border: 1px solid #e6e6e6; width: 0.35rem; height: 0.35rem; display: block; }
#art-type ul li p { font-size: 0.12rem; padding: 0.06rem 0 0 0.06rem; }
.mall { margin-bottom: 0.5rem; }