*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { width: 0; height: 0; }

html {
    font-size: 26.66vw;
}

html, body {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    text-align: justify;
    font-size: 0.14rem;
    font-family: -apple-system-font,"PingFang SC","Helvetica Neue","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}
header{
    width:100%;
    height:45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    border-bottom:1px solid #e4e4e4;
    font-size:16px;
}
.swiper-container{
    width:100%;
    height:200px;
}
.swiper-slide img{
    display: block;
    width:100%;
}
.gonggao div,.new-center div{
    background-color: #fff;
    margin:10px 0;
    overflow: hidden;
    padding:10px;
    box-sizing: border-box;
}
.gonggao div img,.new-center div img{
    display: inline-block;
    vertical-align: middle;
    width:60px;
    height:60px;
    margin-right:6px;
}
.gonggao div span,.new-center div span{
    display: inline-block;
    vertical-align: middle;
    width:80%;
}
.gonggao div p{

}
.gonggao>p,.new-center>p{
    background-color: #fff;
    height:40px;
    line-height:40px;
    padding-left:20px;
    box-sizing: border-box;
    border-left:2px solid red;
    margin-top:10px;
    font-size:0.16rem;
}
footer{
    position: fixed;
    left:0;
    bottom:0;
    background: #fff;
}
footer ul li{
    display: inline-block;
    width:90px;
    height:44px;
    text-align: center;
    line-height:44px;
    border-right:1px solid #dfdfdf;
}
footer ul li:last-child{
    border:none;
}
footer ul li.active{
    border-bottom:2px solid #00c9ff;
}