	* {
		margin: 0;
		padding: 0;
	}
	
	html {
		font-size: 26.66vw;
	}
	
	html,
	body {
		width: 100%;
		height: 100%;
		text-align: justify;
		font-family: -apple-system-font, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	}
	
	a {
		text-decoration: none;
		color: black;
		display: inline-block;
	}
	
	ul {
		list-style: none;
	}
	
	.clearfix:after {
		content: "";
		display: block;
		clear: both;
		height: 0;
	}
	
	.clearfix {
		zoom: 1;
	}
	
	.viewport {
		max-width: 880px;
		margin: auto;
	}
	
	.header {
		width: 100%;
		height: 0.99rem;
		font-size: 0.14rem;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#b7e1ff), to(#ffffff));
		border-bottom: #004fa0 2px solid;
	}
	
	.content {
		font-size: 0.14rem;
	}
	
	.syflbg {
		background-color: #f4f4f4;
		padding: 0.24rem 0.12rem;
	}
	
	.syfl {
		margin: 0 auto 0.12rem;
	}
	
	.syfl>a {
		width: 1.09rem;
		height: 1.196rem;
		float: left;
		background-color: #47a9ee;
		color: #fff;
		margin: 0 0.12rem 0.12rem 0;
		border-radius: 3px;
		display: flex;
		/*justify-content: center;*/
		align-items: center;
		flex-direction: column;
	}
	
	.syfl>a>img {
		width: 0.72rem;
		height: 0.72rem;
		margin-top: 0.12rem;
	}
	
	.syfl>a>span {
		width: 100%;
		height: 0.2rem;
		margin-top: 0.03rem;
		text-align: center;
	}
	
	.syfl>a:nth-child(3n) {
		margin-right: 0;
	}
	
	.sous {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.sous>div {
		border-radius: 3px;
	}
	
	.sous>div:nth-child(1) {
		width: 2.45rem;
		padding: 4px;
		border: 1px solid #699cbf;
	}
	
	.sous>div:nth-child(2) {
		width: 0.82rem;
		border: 1px solid #006fbd;
	}
	
	.sous>div:nth-child(1) input {
		width: 100%;
		height: 0.3rem;
		/*text-indent: 0.05rem;*/
		outline: none;
		border: none;
		background-color: #fff;
		color: #b9b9b9;
	}
	
	.sous>div:nth-child(2) div {
		width: 100%;
		height: 0.38rem;
		background-color: #006fbd;
		background-image: url(../img/sea.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 0.22rem;
		border: none;
	}
	
	.banner,
	.detail,
	.service {
		margin-top: 0.18rem;
	}
	
	.banner {
		margin-top: 0.14rem;
	}
	
	.banner h2,
	.detail h2,
	.service h2 {
		position: relative;
		height: 0.31rem;
		line-height: 0.31rem;
		padding: 0 0.12rem 0 0.23rem;
		color: #007cd3;
		font-size: 0.2rem;
		font-weight: normal;
	}
	
	.banner h2 {
		margin-bottom: 0.06rem;
	}
	
	.detail h2,
	.service h2 {
		border-bottom: 3px solid #ebebeb;
	}
	
	.detail h2:after,
	.service h2:after {
		position: absolute;
		content: " ";
		left: 0.23rem;
		bottom: 0;
		width: 0.8rem;
		height: 3px;
		margin-bottom: -0.03rem;
		border-bottom: 3px solid #3285d9;
	}
	
	.banner h2:before,
	.detail h2:before,
	.service h2:before {
		position: absolute;
		content: " ";
		width: 0.06rem;
		height: 0.19rem;
		left: 0.12rem;
		bottom: 0.03rem;
		background-color: #b6b6b6;
	}
	
	.carousel {
		width: 100%;
		height: 2.11rem;
		background-image: url(../img/bg1.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	.sytjlb {
		padding: 0 0.12rem;
		font-size: 0.16rem;
	}
	
	.sytjlb>li {
		border-bottom: 1px dotted #b3b3b3;
	}
	
	.sytjlb>li>a {
		width: 100%;
		height: 0.45rem;
		padding: 0.15rem 0 0.1rem 0;
	}
	
	.sytjlb>li>a {
		line-height: 20px;
	}
	
	.sytjlb>li>a>div:nth-child(1)>span:nth-child(1) {
		color: #666;
		margin-right: 0.05rem;
	}
	
	.sytjlb>li>a>div:nth-child(1)>span:nth-child(2) {
		color: #0064aa;
	}
	
	.sytjlb>li>a>div:nth-child(2) {
		margin-top: 0.06rem;
		color: #c8c8c8;
		font-size: 0.12rem;
		float: right;
	}
	
	.recommend {
		padding: 0 0.12rem 0 0.12rem;
		margin: 0.14rem auto;
	}
	
	.recommend>a {
		width: 1.09rem;
		height: 0.34rem;
		float: left;
		background-color: #47a9ee;
		color: #fff;
		margin: 0.05rem 0.12rem 0.05rem 0;
	}
	
	.recommend>a:nth-child(3n) {
		margin-right: 0;
	}
	
	.recommend>a>img {
		width: 100%;
		height: 0.32rem;
	}
	
	.sykjfw_mar {
		margin: 0.24rem auto;
		padding: 0 0.12rem;
		display: flex;
		justify-content: space-between;
		font-size: 0.12rem;
	}
	
	.sykjfw_mar>a {
		width: 0.61rem;
		height: 0.68rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	.sykjfw_mar>a>img {
		width: 0.45rem;
		height: 0.45rem;
		margin-bottom: 0.06rem;
	}
	
	.sykjfw_mar>a>span {
		width: 100%;
		text-align: center;
		height: 0.2rem;
	}
	
	.footer {
		height: 1.29rem;
		padding: 0.24rem 0.12rem;
		margin: 0 auto;
		background-color: #e4e4e4;
		font-size: 0.12rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #666;
	}
	
	.fooder_pc {
		height: 0.36rem;
		text-align: center;
	}
	
	.fooder_pc>img {
		width: 0.33rem;
		height: 0.36rem;
		margin: 0 0.2rem;
	}
	
	.fooder_tel {
		height: 0.2rem;
		margin: 0.14rem auto 0;
		text-align: center;
	}
	
	.fooder_tel>a {
		margin: 0 0.1rem 0;
	}