<#extend#>public/domain/domain_extend.html</#extend#>

<link rel="stylesheet" href="/resource/wetpl/default/wap/css/act.css"/>
<link rel="stylesheet" href="/resource/wetpl/default/wap/css/article.css"/>
<link rel="stylesheet" href="/resource/wetpl/default/wap/css/shopping.css"/>

<div class="latest">最新推荐</div>
<div id="container" class="my_container">
    <div v-for="item in list_data">
        <a :href="item.domain + '/article/' + item.relation_id  | href"  v-if="item.dynamic_type == 1">
            <div class="art-content" >
                <span><img class="lazy" :src="JSON.parse(item.other).cover | img_src(110, 69, 1)" width="110" height="69" /></span>
                <span style="padding: 0.1rem 0.1rem 0.15rem 0.25rem !important;" class="art-des-text">
                    <strong>{{JSON.parse(item.other).title}}</strong>
                    <pre>{{ item.motto}}</pre>              
                </span>
            </div>
        </a>
<!--         <div class="lii_sold" v-if="item.dynamic_type == 4">
            <a :href="item.domain + '/wemall/goods/' + item.relation_id  | href">
                <slide class="li_img_wap">
                    <img class="lazy" :src="JSON.parse(item.other).cover | img_src(110, 69, 1)" width="110" height="69" />
                </slide>
                <slide class="li_info">
                    <h3>{{JSON.parse(item.other).title}}</h3>
                    <p class="lii_sold1"><span> 已售：{{JSON.parse(item.other).sales_num}} </span><span> 收藏：{{JSON.parse(item.other).comment_num}} </span></p>
                    <div class="lii_price">￥：<span>{{JSON.parse(item.other).price}}</span></div>
                </slide>
            </a>
        </div> -->
        <a v-if="item.dynamic_type == 3" :href="item.domain + '/activity/' + item.relation_id  | href">
        <div class="act-content" style="background: #fff;width: 100%; height:90px;">
            <div class="act-cover">
                <img class="lazy" :src="JSON.parse(item.other).cover | img_src(110, 69, 1)" width="110" height="69" />

            </div>
            <div class="act-cont">
                <ul>
                    <li class="act-cont-title">
                        <p>{{JSON.parse(item.other).title}}</p>
                        <p>免费</p>
                    </li>
                    <li class="act-cont-summary">
                        <p>{{JSON.parse(item.other).Sponsor}}</p>
                    </li>
                    <li class="act-cont-time">
                        <p>{{JSON.parse(item.other).updated_at | formateTime('MDHM') }} 开讲</p>
                        <p>{{JSON.parse(item.other).area_name}}</p>
                    </li>
                    <li class="act-cont-info"></li>
                </ul>
            </div>
        </div>
        </a>
    </div>
</div>

<script type="text/javascript">
	new Vue({
    	el: '#app',
    	data : {
    		list_data:[],
    		params : {
    			page : 1,
	    		limit : 10,
	    		page_count : 0,
	    		type : 1,
	    		dynamic_type : 0,
    		},
    		dom : '#app'
    	},
        mounted() {
        	this.$nextTick(()=>{
        		this.data_list();
        	});
        },
        methods:{
        	// 使用common_page 方法必须定义data方法 以及对象 params
        	data(params , call){
        		return $mob_ajax.dynamic(params , call);
        	},
        	data_list() {
        		$mob_ajax.common_page(this , this.params);
        	}
        }
    });
</script>