body{background: #f2f2f2;}
.container{
    max-width: 750px;
    font-family: PingFangSC-Regular;
    color:#000;
    padding: 0;
}
img{max-width:100%;-webkit-touch-callout:default;}
.header img,.header-img{width:80px;border-radius: 50%;height:70px;}
.header{padding:15px;    border-bottom: 1px solid #ddd;}
.header .media-heading{margin-top:15px;}
.cont_intro{ 
    background: #fff;
    padding:0 15px;
}
.intro{color:#999;}
.cont_intro_label{padding:0;}
.cont_intro_text{padding-right:0;color:#999;}
.cont_intro_div{border-bottom:1px solid #eee;padding:15px 0;}
.cont_foot,.intro_listory{margin:15px 0;}
.btn_focus,.btn_focus:hover,.btn_focus:focus,.btn_focus:active{background:#1cac19;outline: none;    color: #fff;    width: 90%;}
.intro_listory a,.cont_intro a{color:#999;    width: 100%;    display: inline-block;}
.span_icon img{width:16px; height:16px; margin-right:10px;}


