<#extend#>public/extend/index_extend.html</#extend#>
<script src="/common/js/jquery-3.2.1.min.js"></script>
<script src="/common/layer-v3.0.3/layer-v3.0.3/layer/layer.js"></script>
<script src="{{PATH_CONFIG}}"></script>
<script src="{{PATH_TML}}js/modal_login.js"></script>
<script src="{{PATH_TML}}assets/show/default/js/news_detail.js" ></script>
<script src="{{PATH_TML}}assets/show/default/js/back_top.js"></script>

<link rel="stylesheet" type="text/css" href="{{PATH_TML}}font/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/news_base.css" />
<link rel="stylesheet" type="text/css" href="{{PATH_TML}}assets/show/default/css/news_detail01.css" />
<link rel="stylesheet" type="text/css" href="{{PATH_TML}}css/modal_login.css" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<div id="container" style="width: 1200px;margin: 0 auto;height: 800px;overflow: hidden">
    <div class="page-content flex">
    <div id="default404"><img src="/common/img/default404.png" width="100%" alt=""></div>
    <div class="page-left">
        <div class="prompt-info"> 关注成功！ </div>
        <div id="plat-two-back-top"><img src="/common/img/gotop.png"></div>
    </div>
    <div class="page-right">
        <div class="qr_code_pc_outer">
            <p>微信扫一扫</p>
            <p>查看或分享给好友</p>
        </div>
    </div>
    </div>
</div>