<link rel="stylesheet" href="../../../css/list.css">
<#extend#>public/extend/index_extend.html</#extend#>

<!-- 新问中心开始 -->
<div id="container" style="width: 1200px;margin: 0 auto">
    <link rel="stylesheet" href="{{PATH_TML}}css/list.css">
    <link rel="stylesheet" href="{{PATH_TML}}css/detail.css">
    <script src="/common/iview/iview.min.js"></script>

    <div class="list1" v-html="datas">

    </div>

    <script>
        var apps = new Vue({
            el: '#app',
            data: {
                datas:[],
            },
            mounted: function() {
                //$app.set_title('风采页面');
                this.$nextTick(()=>{
                    // 右侧详情展示
                    var get_param = window.location.pathname.split('/').pop();
                    ajax.get(CMS_DETAIL + get_param).then((res)=>{
                        if(res.code === 200) {
                            this.datas = res.data.content;
                            console.log(this.datas)
                        }
                    });


                    // ajax.get('cms/setting/show').then((res)=>{
                    //     if(res.code == 200) {
                    //         var result = res.data;
                    //         this.left = result;
                    //         console.log(this.left);
                    //     }
                    // })

                });
            },
            methods: {
                zan(){
                    if(is_login == 'no') {
                        mb_login();
                        return false;
                    }
                    ajax.post('cms/contents/praise', {"content_id": this.cate_domain}).then((res) => {
                        if (res.data && res.code === 200) {
                            this.zan_true = res.data.praise;
                            if(!this.zan_true) {
                                this.news_detail.praise_num -= 1;
                                mb_message('取消点赞');
                                return false;
                            }
                            this.news_detail.praise_num += 1;
                            mb_message('成功点赞');
                            $(this).css({"background":"url(/common/img/zan.png) no-repeat 13px 0px"})
                        }
                    });
                }

            }
        });
    </script>
</div>
<!-- 新闻中心结束 -->
