<link rel="stylesheet" href="../../../css/list.css">
<#extend#>public/extend/index_extend.html</#extend#>

<!-- 新问中心开始 -->
<div id="container" style="width: 1200px;margin: 0 auto">
    <link rel="stylesheet" href="{{PATH_TML}}css/list.css">
    <link rel="stylesheet" href="{{PATH_TML}}css/detail.css">
    <script src="/common/iview/iview.min.js"></script>

    <div class="list1">
        <main>
            <div class="seat">
                <img src="{{PATH_TML}}image/fanhui.png" alt="">
                当前位置在：
                <a :href="all_domian">首页</a>
                > {{sub_aside_info.title}} > {{cate_info.title}}
            </div>
            <div class="main-big">
                <div class="main">
                    <h2>
                        <strong>{{sub_aside_info.title}}</strong>
                        <span>{{sub_aside_info.ename}}</span>
                    </h2>
                    <ul class="aside">
                        <li :class="{cenav_cur : item.domain==cat_par}" v-for="item in sub_aside"><a :href="channel_domain+'/'+item.domain | href">{{item.title}}</a></li>
                    </ul>
                    <div class="company">
                        <p>电话：{{left.tel}}</p>
                        <p>传真：{{left.fax}}</p>
                        <p>地址：{{left.addre}}</p>
                    </div>
                </div>
                <div class="list-big">
                    <div class="detail-list">
                        <h2>{{detail.title}}</h2>
                        <div class="det_btn">
                            <span>来源：</span>
                            <span>作者：{{detail.publisher}}</span>
                            <span>时间：{{detail.publish_time}}</span>
                        </div>
                        <div class="det_con" v-html="detail.content"></div>
                        <div class="del_hot">
                            <span>阅读 {{detail.views}}</span>
                            <span class="del_zan" @click="zan()">{{detail.praise_num}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        var apps = new Vue({
            el: '#app',
            data: {
                sub_aside : [],   //侧导航接口
                sub_aside_info : {},
                channel_domain : $app.get_router(1), // 频道个性域名
                cate_domain : $app.get_router(2), // 分类个性域名
                detail : {},
                cate_info:{},
                cat_par : {},  //父集分类
                left : {},
            },
            mounted: function() {
                //$app.set_title('风采页面');
                this.$nextTick(()=>{
                    // 右侧详情展示
                    ajax.get('/cms/detail/'+this.cate_domain).then((res)=>{
                        if(res.code === 200) {
                            this.cat_par=res.data.category.domain;
                            var result = res.data;
                            this.cate_info=result.category.title
                            this.detail = result;
                            $app.set_title(this.detail.title + ' - ' + plats_info.title);
                        }
                    });

                    //左侧频道相关
                    $sub_ajax.cate(this.channel_domain,(res)=>{
                        console.log('res:', res)
                        this.sub_aside_info = res.data;
                        $sub_ajax.cate_tree({channel : this.sub_aside_info.weid} , (res)=>{
                            this.sub_aside = res.data;
                            for(var item of this.sub_aside)
                            {
                                if(item.title == this.cate_info)
                                {
                                    this.cate_info = item;
                                    break;
                                }
                            }
                        });
                    });


                    ajax.get('cms/setting/show').then((res)=>{
                        if(res.code == 200) {
                            var result = res.data;
                            this.left = result;
                            console.log(this.left);
                        }
                    })

                });
            },
            methods: {
                zan(){
                    if(is_login == 'no') {
                        mb_login();
                        return false;
                    }
                    ajax.post('cms/contents/praise', {"content_id": this.cate_domain}).then((res) => {
                        if (res.data && res.code === 200) {
                            this.zan_true = res.data.praise;
                            if(!this.zan_true) {
                                this.news_detail.praise_num -= 1;
                                mb_message('取消点赞');
                                return false;
                            }
                            this.news_detail.praise_num += 1;
                            mb_message('成功点赞');
                            $(this).css({"background":"url(/common/img/zan.png) no-repeat 13px 0px"})
                        }
                    });
                }

            }
        });
    </script>
</div>
<!-- 新闻中心结束 -->
