<#extend#>public/extend/index_extend.html</#extend#>
<script src="{{PATH_TML}}assets/show/default/js/news_detail.js" ></script>
<link rel="stylesheet" type="text/css" href="{{PATH_TML}}font/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{{PATH_TML}}assets/show/default/css/news_detail01.css" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<style>
    html, body { position: unset !important; }
    .animsition, .animsition-overlay {opacity: 1;}
    .fixeds{
        position: fixed;
        top:60px;
        left: 1283px;
    }
    .page-details{
        width: 800px!important;
    }
</style>
<div id="container" style="width:1200px;min-height:640px;background:white;margin:0 auto;overflow: hidden">
    <div class="page-content flex" style="margin: 0 auto">
    <div id="default404"><img src="/common/img/default404.png" width="100%" alt=""></div>
    <div class="page-left" style="width: 800px;">
        <div class="prompt-info"> 关注成功！</div>
        <div id="plat-two-back-top"><img src="/common/img/gotop.png"></div>
    </div>
    <div class="page-right" style="width: 220px;height: auto;overflow: hidden;margin-top: 60px;">
        <div class="qr_code_pc_outer" id="ema" style="">
            <p>微信扫一扫</p>
            <p>查看或分享给好友</p>
        </div>
    </div>
    </div>
</div>
<script>

</script>