.date {
    line-height: 24px;
    text-align: center;
}

.day-art:hover {
    border: 1px solid #007fff;
    cursor: pointer;
}

.day-cover {
    width: 240px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
    /*border: 1px solid #eee;*/
    float: left;
    background: url(/common/img/p2240269659.jpg) no-repeat center;
    background-size: 100%;
}

.day-title {
    width: 400px;
    height: 40px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    /*border-bottom: 1px solid #EEEEEE;*/    
    float: left;
}

.day-summary {
    width: 400px;
    height: 110px;
    margin-left: 15px;
    text-align: justify;
    /*border: 1px solid #eee;*/
    word-wrap:break-word;
    float: left;
    overflow-y: scroll;
}

.day-info {
    width: 400px;
    height: 20px;
    margin-left: 15px;
    font-size: 15px;
    float: left;
}

.day-info img {
    vertical-align: middle;
}

.day-type {
    width: 70px;
    height:21px;
    border: 1px solid white;
    border-radius: 18px;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 12px;
}