	/*个人认证模块*/

			#my-bag {
				color: red;
				background: #f7f7f7;
			}

			#top {
				background: url(../img/top.png) no-repeat center;
				background-size: 100% 100%;
			}

			.con-hd {
				/*width: 900px;*/
				/*margin-left: 20px;*/
				/*margin-top: 20px;*/
				padding-bottom: 20px;
				background-color: #FFF;
			}
			
			.breadcrumb>li+li:before {
				padding: 0 5px;
				color: #FFF;
				content: ">";
			}
			
			.container-fluid {
				background: #CCC;
			}
			
			.breadcrumb {
				background: transparent;
				margin-bottom: 0;
			}
			
			.breadcrumb li a {
				color: #FFF!important;
			}
			
			.navbar {
				min-height: 30px;
			}
			
			.control-label {
				color: rgba(51, 51, 51, 0.8)!important;
			}
			
			.form-horizontal {
				padding-right: 100px;
				padding-left: 15px;
			}
			
			.upload-l {
				width: 150px;
				height: 150px;
				border: 1px solid #CCC;
				text-align: center;
				line-height: 145px;
			}
			
			.btn-upload {
				background: #CCC;
				border: none;
			}
			
			.input-lg {
				font-size: 16px;
			}
			
			/*a {
				color: #FFF!important;
			}
			
			a:hover {
				color: #FFF!important;
			}*/
			#Recharge,#Withdrawals{
				color: #FFF!important;
			}
			#Recharge:hover,#Withdrawals:hover {
				color: #FFF!important;
			}
			
			.icon-7,
			.icon-qianbao {
				font-size: 40px;
			}
			
			.we-bom {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 76.9%;
				background-color: #F4C467;
				border-radius: 0 0 10px 10px;
				margin-left: 15px;
				line-height: 40px;
				display: flex;
				padding-left: 20%;
			}
			
			.left-cic {
				float: left;
				cursor: pointer;
			}
			
			.right-cic {
				float: right;
				cursor: pointer;
			}
			
			.we-btn {
				padding-left: 30px;
				padding-top: 20px;
			}
			
			.we-btn button {
				width: 100px;
			}
			
			.we-btn button:last-child {
				margin-left: 20px;
			}
			
			.we-mon {
				width: 120px;
				height: 120px;
				background: url(../img/icon-account-member.png) no-repeat center center;
				position: absolute;
				left: 13px;
				top: -5px;
			}
			
.breadcrumb {
    /*padding: 5px 15px!important;*/
    
}
.navbar {
    border-radius: 0;
}

