* {
  padding: 0;
  margin: 0;
}
#layui-layer-iframe100001 {
  height: 550px;
}
.clon1 {
    width: 560px;
    border-bottom: 2px solid #ececec;
    position: absolute;
    top: 38px;
    z-index: -1;
}
.clon2 {
  width: 560px;
  border-bottom: 2px solid #ececec;
  position: absolute;
  top: 40px;
  z-index: -1;
}
.signBox {
  width: 600px;
  height: 550px;
  border-radius: 2px;
  position: relative;
}
.signBox .sign_head {
    width: 600px;
    /* height: 170px; */
    border-bottom: 1px solid #c9c9c9;
    padding: 0px 20px 0;
    position: relative;
    top: 22px;
}
.signBox .sign_head .sign_head_title {
  width: 104px;
  height: 40px;
  text-align: right;
  line-height: 40px;
  font-size: 18px;
  background: url("/common/img/sign1.png") no-repeat left center;
  border-bottom: 2px solid #007cd3;
}
.signBox .sign_head .sign_head_contain {
    width: 560px;
    /* height: 108px; */
    color: #555;
    // padding-top: 20px;
}
.signBox .sign_head .sign_head_contain p {
  padding-left: 26px;
  font-size: 14px;
  margin-bottom: 20px;
}
.signBox .sign_head .sign_head_contain .act_title {
  font-size: 16px;
  color: #111;
  margin: 17px 0;
  padding: 0;
}
.signBox .sign_head .sign_head_contain .act_ttt {
  background: url("/common/img/bia.png") no-repeat left center;
}
.signBox .sign_head .sign_head_contain .act_ttt .act_time {
  margin-right: 25px;
}
.signBox .sign_head .sign_head_contain .act_dress {
  background: url("/common/img/dwe.png") no-repeat left center;
}
.signBox .sign_section {
width: 600px;
    height: 306px;
    border-bottom: 1px solid #dcdcdc;
    padding: 2px 20px 0;
    position: relative;
    top: 22px;
}
.signBox .sign_section .sign_section_title {
  width: 104px;
  height: 40px;
  text-align: right;
  line-height: 40px;
  font-size: 18px;
  background: url("/common/img/true.png") no-repeat left center;
  border-bottom: 2px solid #007cd3;
}
.signBox .sign_section .sign_section_contain {
  width: 560px;
  height: 240px;
}
.signBox .sign_section .sign_section_contain .sign_input {
  padding-left: 34px;
  margin-bottom: 20px;
}
.signBox .sign_section .sign_section_contain .sign_input .text {
  width: 336px;
  height: 38px;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
}
.signBox .sign_section .sign_section_contain .sign_input .text input {
  border: 0;
  height: 36px;
  width: 100%;
  padding-left: 10px;
  background: #f5f5f5;
}
.signBox .sign_section .sign_section_contain .sign_input .text input :-webkit-input-placeholder {
  color: #f00;
}
.signBox .sign_section .sign_section_contain .sign_name {
  background: url("/common/img/sign2.png") no-repeat 2px center;
  margin-top: 20px;
}
.signBox .sign_section .sign_section_contain .sign_phone {
  background: url("/common/img/sign3.png") no-repeat 3px center;
  width: 456px;
  height: 38px;
}
.signBox .sign_section .sign_section_contain .sign_phone .text {
  float: left;
  margin-right: 10px;
}
.signBox .sign_section .sign_section_contain .sign_phone button {
  width: 108px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background: #fbba4c;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  border: 0;
}
.signBox .sign_section .sign_section_contain .sign_yz .text {
  width: 218px;
  float: left;
  margin-right: 10px;
}
.signBox .sign_section .sign_section_contain .sign_yz button {
  display: block;
  width: 109px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background: #007cd3;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  border: 0;
}
.signBox .sign_section .sign_section_contain .sign_zw {
  background: url("/common/img/sign4.png") no-repeat left center;
}
.signBox .sign_section .sign_section_contain .sign_com {
  background: url("/common/img/sign.png") no-repeat left center;
}
.signBox .sign_foot {
    height: 78px;
    position: relative;
    top: 20px;
}
.signBox .sign_foot span {
        display: block;
    font-size: 18px;
    background: #007cd3;
    width: 190px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    position: absolute;
    top: 24px;
    right: 20px;
    border-radius: 4px;
}
.right-intro .top {
    padding: 20px 10px 10px 10px;
    background: #f5f5f5;
}
.right-intro .top .row {
    margin: 0;
    text-align: center;
}

.activity-detail .top .row {
    margin-bottom: 40px !important;
}
.project-box {
    width: 97%;
    position: relative;
}

.project_t {
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.project_t li {
    float: left;
    text-align: center;
}

.project_t li a {
    display: block;
    padding: 16px 0;
    width: 140px;
    text-align: center;
    font-size: 16px;
    color: #6f7a7e;
    border-right: 1px solid #ccc;
}
.project_t li.active a {
    color: #007cd3!important;
    font-weight: 600;
}
.user-head{display:inline-block;}
.activity-main-center .project-box .show-content .actvity-supporter .supporter_img {
    width: 80px;
    height: 100px;
}
.activity-main-center .project-box .show-content .actvity-supporter .supporter_img img {
    width: 80px;
    height: 80px;
}
.page-default .page-content .panel_color {
    border: 1px solid #CCCCCC;
    padding: 20px;
}
#panel_top1{
    height: auto;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 0;
    border-top: none;
        margin-bottom: 10px!important;
}
.right-box {
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    width: 320px;
}
.oline-3 div:nth-child(1) {
      margin-left: 27px;

}
.oline-detail p:nth-child(2), .oline-detail p:nth-child(3) {
    color: #007cd3;
}

.oline-detail p {
    margin: 7px 0;
}
.oline-detail div:nth-child(2) {
    width: 120px;
    height: 110px;
    margin-left: 35px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 600;
    float: left;
}
.oline-detail div:nth-child(1) {
      margin-left: 27px!important;

}
.oline-detail div:nth-child(1) {
    width: 110px;
    height: 110px;
    margin-top: 26px;
    margin-left: 12px;
    text-align: center;
    line-height: 110px;
    border: 1px solid #eeeeee;
    float: left;
}
.container{max-width:1100px;}
.ticket-title{
  padding:10px 0 10px 36px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.ticket-name{
    padding: 10px 0 10px 35px;
    font-size: 14px;
    font-weight: 600;
}
.ticket-phone{
    padding: 0px 0 0px 35px;
    font-size: 14px;
    font-weight: 600;
}
.ticket-position{
    padding: 10px 0 0px 35px;
    font-size: 14px;
    font-weight: 600;
}
.ticket-company{
    padding: 10px 0 10px 35px;
    font-size: 14px;
    font-weight: 600;
}
.ticket-box{
      width: 70%;
    margin: 41px auto;
    /* padding: 41px 0; */
    // background: #f6f6f6;
    border-radius: 20px;
    position:relative;
}
.ticket-qr{
    text-align: center;
    padding-top: 20px;
    paddign-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    // background: #f6f6f6;
}
.ticket-time{
    /* padding: 0px 0 10px 33px; */
    width: 82%;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 10px;
}
.ticket-addr{
    padding: 0px 0 0px 36px;
    font-size: 14px;
    font-weight: 600;
}
.t_blank{
width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    background: #007cd3;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
.ticket-box-top{
    text-align: left;
    padding-top: 11px;
    padding-bottom: :10px;
    padding-bottom: 20px;
    border-radius: 14px;
    background: #f6f6f6;
    border-bottom:1px solid #ccc;
}
.ticket-box-bottom{
    text-align: left;
    padding-top: 20px;
    border-radius: 14px;
    padding-bottom: 20px;
    background: #f6f6f6;
}
.ticket-box i{
  color:#007cd3;
}
@media (min-width: 992px){

.container {
    width: 1100px!important;
}
}
@media (min-width: 768px){

.container {
    width: 1000px;
}
}
.winning-class {
            background: transparent !important;
            border: none;
            box-shadow: 0px 0px 0px rgba(0,0,0,.3);
  }
  .sign_telphone{
        display: inline-block;
       width: 12px;
    height: 13px;
    /* height: 19px; */
    // background: url(/common/img/sign2.png) no-repeat 0px center;
    // background-size: 100%;

        background: url(/common/img/sign3.png) no-repeat 0px center;
        background-size: 100%;
  }
  .sign_ticname{
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 18px;
    background: url(/common/img/sign2.png) no-repeat 0px center;
    background-size: 100%;
  }
  .sign-ticzw{
      display: inline-block;
      width: 13px;
    height: 13px;
    /* height: 19px; */
    // background: url(/common/img/sign2.png) no-repeat 0px center;

        background: url(/common/img/sign4.png) no-repeat 0px center;
        background-size: 100%;
  }
  .sign-ticcom{
        display: inline-block;
       width: 13px;
    height: 13px;
    /* height: 19px; */
    // background: url(/common/img/sign2.png) no-repeat 0px center;
    // background-size: 100%;
        background: url(/common/img/sign.png) no-repeat 0px center;
        background-size: 100%;
  }
  .layui-layer-setwin .layui-layer-close2 {
    position: absolute;
    right: 14px!important;
    top: 7px!important;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -149px -31px;
    _display: none;
}

  .mp:hover {
      cursor: pointer;
  }

  .mp ul {
      width: 100%;
      /*height: 60px;*/
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
  }

  .mp ul li {
      height: 45px;
      margin: 8px 15px;
      /*padding: 5px 7px;*/
      border: 2px solid #DDDDDD;
      border-radius: 3px;
      /*background: #007cd3;*/
      display: inline-block;
      z-index: 5;
  }

  .mp ul li img {
      display: inline-block;
      width: 15px;
      height: 21px;
      margin-top: 10px;
      margin-left: 5px;
      z-index: -5;
  }

  .mp ul li div {
      padding-top: 1px;
      height: 41px;
      color: #555;
      z-index: -5;
      float: left;
  }

  #p1 {
      padding-right: 5px;
  }

  #p2 {
      border-left: 2px dotted #ddd;
  }

  .price {
      margin-top: -31px;
      font-size: 30px!important;
      color: #5f5f5f;
      z-index: -5;
  }

  .free {
      font-size: 24px!important;
      color: #ffb03f;
      padding-top: 3px;
      margin-left: -5px;
      padding-bottom: 5px;
  }

  .tkname, .tkdscp {
      padding-left: 6px!important;
      padding-right: 5px!important;
  }

  .tkdscp {
      margin-top: -20px;
      z-index: -5;
  }

  #tickets span {
      display: inline-block;
  }

  #num {
      width: 54px;
      height: 30px;
      text-align: center;
  }

  #mins, #adds {
      font-size: 21px;
      padding: 5px;
  }