 <a  v-if="formItem.edition_id!=''"><Tag color="blue" type="border">价格 :{{editionDetail.price}} 元</Tag><Tag v-if="editionDetail.time > 0" color="blue" type="border">时长 :{{editionDetail.time}} 年</Tag><Tag v-if="editionDetail.time == 0" color="blue" type="border">时长 :永久</Tag></a>
 <br>
 <br>
 <form-item  v-if="formItem.edition_id!=''" prop="is_check" :rules="{required: true, message: '必须同意服务协议!', trigger: 'blur'}">
    <Checkbox true-value="true" v-model="formItem.is_check" label="check" style="font-size: 14px;">我已阅读并同意微众服务协议</Checkbox>
    <a @click="agreement=true">阅读</a>
</form-item>


<form-item  v-if="formItem.edition_id!=''" >
    <i-button type="primary" @click="confirm_open();">立即开通</i-button>
</form-item>