<Modal v-model="agreement">
    <p>
        服务协议,内容正在整理中
    </p>
</Modal>

<!-- <Modal v-model="confirm_order"
	   @on-ok="handleSubmit"
>
   <Card :bordered="false">
        <p slot="title">信息确认</p>
        <ul>
            <li>
                <a>主体信息:</a>
                <span>
                   {{confirm.zhutiu}}
                </span>
            </li>
            <li>
                <a>版本信息:</a>
                <span>
                   {{confirm.banben}}
                </span>
            </li>
            <li>
                <a>域名信息:</a>
                <span>
                   {{confirm.domain}}
                </span>
            </li>
            <li>
                <a>开通名称:</a>
                <span>
                   {{confirm.name}}
                </span>
            </li>
            <li>
                <a>价格信息:</a>
                <span>
                   {{confirm.price}}
                </span>
            </li>
            <li>
                <a>服务时间:</a>
                <span>
                   {{confirm.time}}
                </span>
            </li>
        </ul>
    </Card>
</Modal> -->