html,body{
  width: 100%;
  height: 100%;
  background:url(../img/index-bg.jpg) center no-repeat;

}
@keyframes  mymove1{
  0% {top:120px;left: 30px;transform:rotate(0deg);}
  100% {top:610px;left: 30px;transform:rotate(-180deg);}
}
@keyframes  mymove2{
  0% {top:120px;left: 85px;transform:rotate(0deg);}
  100% {top:610px;left: 85px;transform:rotate(-180deg);}
}
@keyframes  mymove3{
  0% {top:120px;left: 180px;transform:rotate(0deg);}
  100% {top:610px;left: 180px;transform:rotate(-180deg);}
}
@keyframes  mymove4{
  0% {top:120px;left: 220px;transform:rotate(0deg);}
  100% {top:610px;left: 220px;transform:rotate(-180deg);}
}
@keyframes  mymove5{
  0% {top:120px;left: 280px;transform:rotate(0deg);}
  100% {top:610px;left: 280px;transform:rotate(-180deg);}
}
@keyframes  mymove6{
  0% {top:120px;left: 120px;transform:rotate(0deg);}
  100% {top:610px;left: 120px;transform:rotate(-180deg);}
}
@keyframes  mymove7{
  0% {top:120px;left: 250px;transform:rotate(0deg);}
  100% {top:610px;left: 250px;transform:rotate(-180deg);}
}
.container{
  width: 1200px;
  height: 100%;
  margin:0 auto;
  //background:forestgreen;
  .left{
    width: 597px;
    height: 100%;
    float: left;

    //background:orange;
    .phone{
      position: relative;
      background: url(../img/iphone.png) no-repeat;
      background-size: 100%;
      background-position: left top;
      width: 350px;
      height: 750px;
      padding: 70px 0;
      margin-top: 50px;
      .phone-header{
        background: url(../img/wechat-header.jpg) no-repeat;
        background-size: 100%;
        background-position: left top;
        width: 90%;
        margin: 0 auto;
        height: 22px;
        padding-top: 15.8%;
        text-align: center;
        h4{
          color: #f0f0f0;
          width: 65%;
          font-size: 14px;
          margin: 0 auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 400;
          margin-top: -21px;
        }
      }
      .phone-content{
        display: table;
        width: 90%;
        height: 88%;
        margin: 0 auto;
        border: 0;
      }
      .img1{width:50px;height:50px;position:absolute;animation:mymove1 4s infinite;}
      .img2{width:30px;height:30px;position:absolute;animation:mymove2 7s infinite;}
      .img3{width:40px;height:40px;position:absolute;animation:mymove3 8s infinite;}
      .img4{width:50px;height:50px;position:absolute;animation:mymove4 10s infinite;}
      .img5{width:30px;height:30px;position:absolute;animation:mymove5 8s infinite;}
      .img6{width:40px;height:40px;position:absolute;animation:mymove6 6s infinite;}
      .img7{width:25px;height:25px;position:absolute;animation:mymove7 9s infinite;}

    }
  }
  //.right{
  //  width: 597px;
  //  height: 100%;
  //  float: right;
  //  text-align: center;
  //  background:hotpink;
  //}
  .vote-code{width: 250px;border-radius: 5px;margin-top: 160px;}
  .vote-right{width: 597px;height: 100%;display: inline-block;float: right;text-align: center;}
  .vote-right a{text-decoration: initial;font-size: 14px;color: #FBB808;margin-top: 20px;display: block;}
  .vote-right a:hover{color: #fbed50;}
  .vote-right p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
  }
}